<dom-module id="cells-myb-transaction-item-styles"><template><style>
:host {
  display: block;
  font-family: var(--cells-fontDefault, --fontDefault);
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

:host {
  --cells-atom-date-wrapper: { margin: rem(4px) 0 0 rem(2px); color: var(--cells-KM12_colour); @apply(--cells-text-size-s); }; }
  :host cells-date-range::before {
    content: "(";
    @apply (--cells-text-size-m-mini); }
  :host cells-date-range::after {
    content: ")";
    @apply (--cells-text-size-m-mini); }

:host(cells-myb-transaction-item) {
  @apply (--cells-myb-transaction-item); }
  :host(cells-myb-transaction-item) section {
    min-height: 4.375rem;
    margin-left: 1.875rem;
    padding: 0.3125rem 1.875rem 0.3125rem 0;
    border-bottom: 0.0625rem solid var(--cells-myb-ui-theme-color-BBVA-100);
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-tap-highlight-color: transparent; }
  :host(cells-myb-transaction-item) .date-weekday {
    @apply (--cells-text-size-m-mini);
    text-transform: lowercase; }
  :host(cells-myb-transaction-item) .date-day {
    @apply (--cells-text-size-m-maxi);
    margin-right: 0.5rem; }
  :host(cells-myb-transaction-item) .date-detail {
    @apply (--cells-text-size-m-mini);
    margin-right: 0; }
  :host(cells-myb-transaction-item) .date-month {
    @apply (--cells-text-size-m-maxi);
    margin-right: 0.5rem; }
  :host(cells-myb-transaction-item) .item-card {
    width: 3.25rem;
    margin-left: 2rem;
    @apply (--cells-myb-transaction-item-card); }
  :host(cells-myb-transaction-item) .card-pan {
    @apply (--cells-text-size-m-mini); }
  :host(cells-myb-transaction-item) .sale {
    margin-left: 2rem;
    color: var(--cells-myb-ui-theme-color-dark-grey, #666);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    @apply (--cells-myb-transaction-item-operation-sale); }
  :host(cells-myb-transaction-item) .refund {
    margin-left: 2rem;
    color: var(--cells-myb-ui-theme-color-red, #F35E61);
    @apply (--cells-myb-transaction-item-operation-refund); }
  :host(cells-myb-transaction-item) .cancelled {
    margin-left: 2rem;
    color: var(--cells-myb-ui-theme-color-BBVA-300, #D3D3D3);
    @apply (--cells-myb-transaction-item-operation-cancelled); }
  :host(cells-myb-transaction-item) .range {
    margin: 0.25rem 0 0 0.125rem;
    @apply (--cells-text-size-m-mini); }

</style></template></dom-module>