@import 'bower_components/cells-sass/main';

:host {
  cells-date-range::before {
    content: "(";
    @apply(--cells-text-size-m-mini);
  }
  cells-date-range::after {
    content: ")";
    @apply(--cells-text-size-m-mini);
  }
  --cells-atom-date-wrapper: unquote("{
    margin: rem(4px) 0 0 rem(2px);
    color: var(--cells-KM12_colour);
    @apply(--cells-text-size-s);
  }");
}
:host(cells-myb-transaction-item) {
  section {
    min-height: rem(70px);
    margin-left: rem(30px);
    padding: rem(5px) rem(30px) rem(5px) 0;
    border-bottom: rem(1px) solid var(--cells-myb-ui-theme-color-BBVA-100);
    align-items: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  .date-weekday {
    @apply (--cells-text-size-m-mini);
    text-transform: lowercase;
  }

  .date-day {
    @apply(--cells-text-size-m-maxi);
    margin-right: rem(8px);
  }

  .date-detail {
    @apply(--cells-text-size-m-mini);
    margin-right: 0;
  }

  .date-month {
    @apply(--cells-text-size-m-maxi);
    margin-right: rem(8px);
  }

  .item-card {
    width: rem(52px);
    margin-left: rem(32px);
    @apply(--cells-myb-transaction-item-card);
  }

  .card-pan {
    @apply(--cells-text-size-m-mini);
  }

  .sale {
    margin-left: rem(32px);
    color: var(--cells-myb-ui-theme-color-dark-grey, #666);
    transform: rotate(180deg);
    @apply(--cells-myb-transaction-item-operation-sale);
  }

  .refund {
    margin-left: rem(32px);
    color: var(--cells-myb-ui-theme-color-red, #F35E61);
    @apply(--cells-myb-transaction-item-operation-refund);
  }

  .cancelled {
    margin-left: rem(32px);
    color: var(--cells-myb-ui-theme-color-BBVA-300, #D3D3D3);
    @apply(--cells-myb-transaction-item-operation-cancelled);
  }

  .range {
    margin: rem(4px) 0 0 rem(2px);
    @apply(--cells-text-size-m-mini);
  }


  @apply(--cells-myb-transaction-item);
}