<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../coronita-icons/coronita-icons.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../cells-atom-amount/cells-atom-amount.html">
<link rel="import" href="../cells-atom-date/cells-atom-date.html">
<link rel="import" href="../cells-molecule-mask/cells-molecule-mask.html">
<link rel="import" href="../cells-date-range/cells-date-range.html">
<link rel="import" href="cells-myb-transaction-item-styles.html">

<!--
Transaction item that fills transaction history

Example:

```html
    <section class="layout horizontal flex" on-click="_getItemClicked">
        <cells-atom-date
            date="[[ transaction.postedDate ]]"
            format="HH:mm"
            utc>
        </cells-atom-date>

        <template
            is="dom-if"
            if="{{ !transaction._isRefund }}">
            <cells-atom-icon
                icon="[[ transactionSaleIcon ]]"
                class="sale">
            </cells-atom-icon>
        </template>

        <template
            is="dom-if"
            if="{{ transaction._isRefund }}">
            <cells-atom-icon
                icon="[[ transactionRefundIcon ]]"
                class="flex refund">
            </cells-atom-icon>
        </template>

        <template
            is="dom-if"
            if="{{ transaction.operationCancelled }}">
            <cells-atom-icon
                icon="[[ transactionCancelIcon ]]"
                class="flex cancelled">
            </cells-atom-icon>
        </template>

        <template is="dom-if"
          if="{{ _hasCard }}">
            <cells-molecule-mask
                masked
                value="[[ transaction.card.pan ]]"
                mask-chars="•"
                visible-chars="4">
            </cells-molecule-mask>
        </template>

        <template is="dom-if" if="{{ !_hasCard }}">
            <span class="flex item-card">
                [[ t('cells-myb-transaction-item-cash') ]]
            </span>
        </template>

        <article class="flex layout vertical end item-amount">
            <cells-atom-amount
                class$="item-amount__total {{ _getClasses(transaction) }}"
                amount="[[ transaction.localAmount.amount ]]"
                currency-code="[[ transaction.localAmount.currency ]]">
            </cells-atom-amount>
        </article>
    </section>
```

## Styling

The following custom properties and mixins are available for styling:

| Transaction-item property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-myb-transaction-item  | empty mixin     | {}             |

| Transaction-item-card property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-myb-transaction-item-card  | empty mixin     | {}             |

| Transaction-item-operation property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-myb-transaction-item-operation-sale  | empty mixin     | {}            |
| --cells-myb-transaction-item-operation-refund  | empty mixin     | {}            |
| --cells-myb-transaction-item-operation-cancelled  | empty mixin     | {}            |

@demo demo/index.html
-->
<dom-module id="cells-myb-transaction-item">
  <template>
    <style include="iron-flex iron-flex-alignment cells-myb-transaction-item-styles cells-myb-transaction-item-shared-styles"></style>
    <section class="layout horizontal flex" on-click="_getItemClicked">
      <!-- Detail -->
      <template is="dom-if" if="{{ _selectedView.detail }}">
        <div class="flex layout horizontal">
          <cells-atom-date
            class="date-detail"
            date="[[ transaction.postedDate ]]"
            format="[[ _transactionFormat.item ]]"
            utc-offset="0">
          </cells-atom-date>
          <template
            is="dom-if"
            if="{{ !transaction._isRefund }}">
            <cells-atom-icon
              icon="[[ transactionSaleIcon ]]"
              class="sale">
            </cells-atom-icon>
          </template>

          <template
            is="dom-if"
            if="{{ transaction._isRefund }}">
            <cells-atom-icon
              icon="[[ transactionRefundIcon ]]"
              class="refund">
            </cells-atom-icon>
          </template>

          <template
            is="dom-if"
            if="{{ transaction.operationCancelled }}">
            <cells-atom-icon
              icon="[[ transactionCancelIcon ]]"
              class="cancelled">
            </cells-atom-icon>
          </template>

          <template is="dom-if"
            if="{{ _hasCard }}">
            <cells-molecule-mask
              class="card-pan"
              masked
              value="[[ transaction.card.pan ]]"
              mask-chars="•"
              visible-chars="4">
            </cells-molecule-mask>
          </template>

          <template is="dom-if" if="{{ !_hasCard }}">
            <span class="item-card">
              [[_translatePaymentMethod(transaction.paymentMethod.id)]]
            </span>
          </template>
        </div>

        <div class="flex layout vertical end">
          <cells-atom-amount
            class$="item-amount__total {{ _getClasses(transaction) }}"
            amount="[[ transaction.localAmount.amount ]]"
            currency-code="[[ transaction.localAmount.currency ]]"
            separator="-">
          </cells-atom-amount>
        </div>
      </template>

      <!-- Day -->
      <template is="dom-if" if="{{ _selectedView.daily }}">
        <div class="flex layout horizontal">
          <cells-atom-date
            class="date-day"
            date="[[ transaction.beginDate ]]"
            format="[[ _transactionFormat.range.start ]]"
            utc-offset="0">
          </cells-atom-date>
          <cells-atom-date
            class="date-weekday"
            date="[[ transaction.beginDate ]]"
            format="[[ _transactionFormat.range.end ]]"
            utc-offset="0">
          </cells-atom-date>
        </div>

        <div class="flex layout vertical end">
        <cells-atom-amount
          class="item-amount__total"
          amount="[[ transaction.sales.0.amount ]]"
          currency-code="[[ transaction.sales.0.currency ]]"
          separator="-">
        </cells-atom-amount>
        </div>
      </template>

      <!-- Range -->
      <template is="dom-if" if="{{ _selectedView.range }}">
        <div class="flex layout horizontal">
          <cells-atom-date
            class="date-day"
            date="[[ transaction.beginDate ]]"
            format="[[ _transactionFormat.range.start ]]"
            utc-offset="0">
          </cells-atom-date>
          <cells-atom-date
            class="date-weekday"
            date="[[ transaction.beginDate ]]"
            format="[[ _transactionFormat.range.end ]]"
            utc-offset="0">
          </cells-atom-date>
        </div>

        <div class="flex layout vertical end">
        <cells-atom-amount
          class="item-amount__total"
          amount="[[ transaction.sales.0.amount ]]"
          currency-code="[[ transaction.sales.0.currency ]]"
          separator="-">
        </cells-atom-amount>
        </div>
      </template>

      <!-- Month -->
      <template is="dom-if" if="{{ _selectedView.monthly }}">
        <div>
          <cells-atom-date
            class=date-month
            date="{{ transaction.beginDate }}"
            format="[[ _transactionFormat.item ]]"
            utc-offset="0">
          </cells-atom-date>
          <cells-date-range
            hidden$={{hiddenRange}}
            class="range"
            date-multiple="{{ _transactionRange }}"
            format-multiple="{{ _transactionFormat.range }}"
            separator="-">
          </cells-date-range>
        </div>

        <div class="flex layout vertical end">
          <cells-atom-amount
            class="item-amount__total"
            amount="[[ transaction.sales.0.amount ]]"
            currency-code="[[ transaction.sales.0.currency ]]"
            separator="-">
          </cells-atom-amount>
        </div>
      </template>

      <!-- Year -->
      <template is="dom-if" if="{{ _selectedView.yearly }}">
        <div>
          <cells-atom-date
            class=date-month
            date="{{ transaction.beginDate }}"
            format="[[ _transactionFormat.item ]]"
            utc-offset="0">
          </cells-atom-date>
          <cells-date-range
            hidden$={{hiddenRange}}
            class="range"
            date-multiple="{{ _transactionRange }}"
            format-multiple="{{ _transactionFormat.range }}"
            separator="-">
          </cells-date-range>
        </div>

        <div class="flex layout vertical end">
          <cells-atom-amount
            class="item-amount__total"
            amount="[[ transaction.sales.0.amount ]]"
            currency-code="[[ transaction.sales.0.currency ]]"
            separator="-">
          </cells-atom-amount>
        </div>
      </template>
    </section>
  </template>
  <script src="cells-myb-transaction-item.js"></script>
</dom-module>
