<link rel="import" href="../polymer/polymer.html">


<link rel="import" href="cells-molecule-date-input-styles.html">
<link rel="import" href="../moment-element/moment-element.html">

<!--
This component draws a date input where you can select a date. It uses the
native input type="date".

The component has a `date` property which contains the actual input value.

Example:

```html
<cells-molecule-date-input></cells-molecule-date-input>
```

### Allow past dates

```html
<cells-molecule-date-input allow-past-date></cells-molecule-date-input>
```

Otherwise, by default past dates are blocked

### Minimum and maximum date

Set properties with `DD-MM-YYYY` or `DD/MM/YYYY` format.

```html
<cells-molecule-date-input min-date="01/01/2055"></cells-molecule-date-input>
<cells-molecule-date-input max-date="12/12/2055"></cells-molecule-date-input>
```

Set property format, by default 'DD/MM/YYYY' (Spanish).

```html
<cells-molecule-date-input format="MM/DD/YYYY"></cells-molecule-date-input>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|-----------------|-----------------|----------------|
| --date-input-wrapper      | empty mixin for your own styles on date-input element     |     |
| --cells-molecule-date-input     | empty mixin for your own styles on :host     | {} |
| --cells-molecule-date-input-native           | empty mixin for .date__input | {} |
| --cells-molecule-date-input-disabled-before  | empty mixin for .date.disabled:before | {} |
| --cells-molecule-date-input-disabled         | empty mixin for .date.disabled | {} |
| --cells-molecule-date-input-disabled-bg-color | empty mixin for .date.disabled background color | #fff |
| --cells-molecule-date-input-icon | empty muxin for .date__icon | {} |

@demo demo/index.html
@hero cells-molecule-date-input.jpg
-->
<dom-module id="cells-molecule-date-input">
  <template>
    <style include="cells-molecule-date-input-styles cells-molecule-date-input-shared-styles"></style>
    <moment-element id="lib"></moment-element>
    <label class$="date [[_checkedDisabled(disabled)]]" id="inputDate"
      on-click="_onClick">
      <span class="date__value">[[_parseDateToFormat(showDate)]]</span>
      <content></content>
      <input id="field" class="date__input"
        type="date"
        min$="[[_parseDate(minDate)]]"
        max$="[[_parseDate(maxDate)]]"
        value="{{_fieldValue::change}}"/>
      <cells-atom-icon class$="date__icon icon-size-[[iconSize]]"
        aria-hidden="true"
        icon="{{icon}}"></cells-atom-icon>
    </label>
  </template>
  <script src="cells-molecule-date-input.js"></script>
</dom-module>
