<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="../cells-heading/cells-heading.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../cells-input-validations-behavior/cells-input-validations-behavior.html">
<link rel="import" href="../cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="cells-credentials-form-styles.html">

<!--

This component provides a form with basic user-password authentication.

It uses `cells-molecule-input` to present an ID field and a password field. ID field can receive a clear field icon; password field can receive both a clear field and a toggle password icon.

```html
<cells-credentials-form clear-id-icon="coronita:close"
  clear-pwd-icon="coronita:close" toggle-pwd-icon="coronita:visualize"
  toggle-pwd-icon-toggled="coronita:hide"></cells-credentials-form>
```

The form will show a "Did you forget your password?" button. You can show also a "Are you not an user? Register" button adding the `register` attribute.

```html
<cells-credentials-form register clear-id-icon="coronita:close"
  clear-pwd-icon="coronita:close" toggle-pwd-icon="coronita:visualize"
  toggle-pwd-icon-toggled="coronita:hide"></cells-credentials-form>
```

Also, using the `autofocus` attribute, the user Id field will receive focus when the page is loaded.

```html
<cells-credentials-form autofocus clear-id-icon="coronita:close"
  clear-pwd-icon="coronita:close" toggle-pwd-icon="coronita:visualize"
  toggle-pwd-icon-toggled="coronita:hide"></cells-credentials-form>
```

Tapping any of the buttons will fire an event. Activating the submit button will fire an event passing the user Id and user Password field values as payload. The submit button will be disabled until both fields are filled.

The component uses the attribute `user-name`, with the user name as value, to treat the user as already logged. This will hide the userId field and show a user greeting and a "change user" button above the password field.

```html
<cells-credentials-form user-name="John" clear-pwd-icon="coronita:close"
  toggle-pwd-icon="coronita:visualize" toggle-pwd-icon-toggled="coronita:hide"></cells-credentials-form>
```

## Icons

Since this component uses icons, it will need an [iconset](https://bbva.cellsjs.com/guides/best-practices/cells-icons.html) in your project as an [application level dependency](https://bbva.cellsjs.com/guides/advanced-guides/application-level-dependencies.html). In fact, this component uses an iconset in its demo.

## Styling

The following custom properties and mixins are available for styling:

| Custom property                                                         | Description                                                   | Default                  |
|:------------------------------------------------------------------------|:--------------------------------------------------------------|:-------------------------|
| --cells-credentials-form-input-min-height                               | min height for input fields                                   | 60px (3.75rem)           |
| --cells-credentials-form-input-field-withcontent                        | empty mixin for input fields content                          | {}                       |
| --cells-credentials-form-input-wrapper                                  | empty mixin for input field wrapper div                       | {}                       |
| --cells-credentials-form                                                | empty mixin for component                                     | {}                       |
| --cells-credentials-form-inputs-input                                   | empty mixin for cells-molecule-input                          | {}                       |
| --cells-credentials-form-inputs-input-withcontent                       | empty mixin for cells-molecule-input[has-content]             | {}                       |
| --cells-credentials-form-inputs                                         | empty mixin for cells-molecule-input wrapper                  | {}                       |
| --cells-credentials-form-submit-button                                  | empty mixin for submit button                                 | {}                       |
| --cells-credentials-form-submit                                         | empty mixin for submit button wrapper                         | {}                       |
| --cells-credentials-form-extra-actions                                  | empty mixin for extra actions aside                           | {}                       |
| --cells-credentials-form-extra-actions-logged                           | empty mixin for extra actions with :host([is-logged])         | {}                       |
| --cells-credentials-form-actions-buttons                                | empty mixin for action buttons                                | {}                       |
| --cells-credentials-form-actions                                        | empty mixin for action buttons wrappers                       | {}                       |
| --cells-credentials-form-forgotten-pwd                                  | empty mixin for forgotten password button wrapper             | {}                       |
| --cells-credentials-form-change-user                                    | empty mixin for change user button wrapper                    | {}                       |
| --cells-credentials-form-register-is-logged                             | empty mixin for register button wrapper if user is logged     | {}                       |
| --cells-credentials-form-register                                       | empty mixin for register button wrapper                       | {}                       |
| --cells-credentials-form-user-image                                     | empty mixin for user image                                    | {}                       |
| --cells-credentials-form-user-greeting                                  | empty mixin for user greeting text                            | {}                       |
| --cells-credentials-form-user-name                                      | empty mixin for user name text                                | {}                       |
| --cells-credentials-form-user                                           | empty mixin for user wrapper                                  | {}                       |
| --cells-credentials-form-fake-selector-bg-color                         | background color for .fake-selector                           | var(--bbva-100, #F4F4F4) |
| --cells-credentials-form-fake-selector-focus                            | empty mixin for document type selector focus                  | {}                       |
| --cells-credentials-form-fake-selector                                  | empty mixin for document type selector                        | {}                       |
| --cells-credentials-form-fake-selector-modal-icon-color                 | color for .modal-icon                                         | var(--bbva-white, #fff)  |
| --cells-credentials-form-fake-selector-modal-icon                       | empty mixin for selector dropdown icon                        | {}                       |
| --cells-credentials-form-fake-selector-label-color                      | fake-selector selected label color                            | var(--bbva-500, #666666) |
| --cells-credentials-form-fake-selector-label-selected-color             | fake-selector selected label selected color                   | var(--bbva-400, #BDBDBD) |
| --cells-credentials-form-fake-selector-label                            | empty mixin for selector label                                | {}                       |
| --cells-credentials-form-fake-selector-placeholder-color                | font color of fake-selector placeholder                       | var(--bbva-white, #fff)  |
| --cells-credentials-form-fake-selector-placeholder-selected-icon-color  | icon color in fake-selector placeholder when is selected icon | var(--bbva-white, #fff)  |
| --cells-credentials-form-fake-selector-placeholder                      | empty mixin for selector placeholder                          | {}                       |
| --cells-credentials-form-form                                           | empty mixin for form tag                                      | {}                       |

@demo demo/index.html
@hero cells-credentials-form.png
-->
<dom-module id="cells-credentials-form">
  <template>
    <style include="cells-credentials-form-styles cells-credentials-form-shared-styles"></style>

    <form action="" on-submit="_doCredentialsUserPwd" class="credentials-form" on-keypress="_onKeyPress">

      <template is="dom-if" if="[[userName]]">
        <div class="credentials-form__user">
          <template is="dom-if" if="[[userAvatar]]">
            <img class="credentials-form__user__image" src$="[[userAvatar]]" alt="">
          </template>
          <cells-heading level="[[headingLevel]]">
            <span class="credentials-form__user__greeting">[[t('cells-credentials-form-greeting', labelGreeting)]]</span>
            <span class="credentials-form__user__name">[[userName]]</span>
          </cells-heading>
        </div>

        <div class="credentials-form__change-user">
          <cells-st-button class="transparent">
            <button on-tap="_changeUser" type="button">[[t('cells-credentials-form-change-user', labelLogout)]]</button>
          </cells-st-button>
        </div>
      </template>

      <div class="credentials-form__inputs">
        <template is="dom-if" if="[[!userName]]">
          <template is="dom-if" if="[[documentType]]">
            <button id="documentTypeSelector" class="fake-selector" on-tap="_openDocumentTypeSelector" type="button">
              <div class="header-texts">
                <span id="label" class="label selected">[[t('cells-credentials-form-user-document-type')]]</span>
                <span class="placeholder">[[t(documentType.name)]]</span>
              </div>
              <iron-icon icon="coronita:unfold" class="modal-icon"></iron-icon>
            </button>
          </template>
          <cells-molecule-input
            id="user-input-id"
            value="{{_userId}}"
            type="[[inputUserOptions.inputType]]"
            bind-value="{{_getMasked(_userId, inputUserOptions.mask, inputUserOptions.maskEnabled)}}"
            label="[[t('cells-credentials-form-user-id', labelUserId)]]"
            icon="[[clearIdIcon]]"
            icon-label="[[t('cells-credentials-form-user-id-clear-icon', labelUserIdClearIcon)]]"
            auto-validate="[[inputUserOptions.autoValidate]]"
            input-status-validate="[[inputUserOptions.inputStatusValidate]]"
            custom-pattern="[[inputUserOptions.customPattern]]"
            allowed-value="[[_getPattern(inputUserOptions.allowedValue)]]"
            error-message="[[_getErrorMessages(inputUserOptions.errorMessage)]]"
            error-message-icon="[[inputUserOptions.errorMessageIcon]]"
            max-length="[[inputUserOptions.maxLength]]">
          </cells-molecule-input>
        </template>
        <cells-molecule-input
          id="user-input-pwd"
          value="{{userPassword}}"
          label="[[t('cells-credentials-form-user-password', labelPassword)]]"
          type="password"
          icon="[[togglePwdIcon]]"
          extra-icon="[[clearPwdIcon]]"
          icon-toggled="[[togglePwdIconToggled]]"
          icon-label="[[t('cells-credentials-form-user-password-toggle-icon', passwordInputToggleIconLabel)]]"
          extra-icon-label="[[t('cells-credentials-form-user-password-clear-icon', passwordInputClearIconLabel)]]">
        </cells-molecule-input>
      </div>

      <aside class="credentials-form__extra-actions">
        <div class="credentials-form__submit">
          <cells-st-button class="secondary">
            <button id="loginBtn" type="submit" disabled$="[[!_isSubmitEnabled]]">[[t('cells-credentials-form-button-login', labelLogin)]]</button>
          </cells-st-button>
        </div>
        <p class="credentials-form__forgotten-pwd">
          <cells-st-button class="transparent">
            <button on-tap="_onForgetPwd" type="button">{{t('cells-credentials-form-forgotten-pwd', labelForgetPassword)}}</button>
          </cells-st-button>
        </p>
        <template is="dom-if" if="[[register]]">
          <p class="credentials-form__register">{{t('cells-credentials-form-new-user', labelNewUser)}}
            <cells-st-button class="transparent">
              <button on-tap="_doRegister" type="button">{{t('cells-credentials-form-register', labelRegister)}}</button>
            </cells-st-button>
          </p>
        </template>
      </aside>
    </form>
  </template>
  <script src="cells-credentials-form.js"></script>
</dom-module>
