<dom-module id="cells-molecule-date-input-styles"><template><style>
:host {
  display: block;
  font-family: var(--cells-fontDefault, --fontDefault);
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

:host {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  line-height: 1;
  outline: 0;
  cursor: pointer;
  @apply (--cells-input--date);
  @apply (--cells-input--date-decorator);
  @apply (--cells-input--s);
  @apply (--cells-molecule-date-input); }

:host(.error) {
  background-image: none;
  @apply (--cells-input--error);
  @apply (--cells-molecule-date-input-error); }

:host(:active) {
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  opacity: .5; }

.date,
.placeholder {
  cursor: pointer;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 0.75em;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  @apply (--cells-fontDefaultNormal);
  @apply (--cells-molecule-date-input-date); }
  .date.disabled,
  .placeholder.disabled {
    @apply (--cells-molecule-date-input-disabled); }
    .date.disabled:before,
    .placeholder.disabled:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .5;
      background: var(--cells-molecule-date-input-disabled-bg-color, #fff);
      z-index: 2;
      @apply (--cells-molecule-date-input-disabled-before); }
  .date__value,
  .placeholder__value {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .date__icon,
  .placeholder__icon {
    @apply (--cells-molecule-date-input-icon); }
  .date__input,
  .placeholder__input {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0;
    @apply (--cells-molecule-date-input-native); }
    .date__input::-webkit-outer-spin-button, .date__input::-webkit-inner-spin-button, .date__input::-webkit-clear-button,
    .placeholder__input::-webkit-outer-spin-button,
    .placeholder__input::-webkit-inner-spin-button,
    .placeholder__input::-webkit-clear-button {
      -webkit-appearance: none;
      display: none; }
    .date__input::-webkit-calendar-picker-indicator,
    .placeholder__input::-webkit-calendar-picker-indicator {
      height: 100%;
      width: 100%;
      opacity: 0; }

:host(.focus) #icon {
  @apply (--cells-molecule-date-input-focus-icon); }

:host(.focus) .date__value {
  @apply (--cells-molecule-date-focus-date-value); }

:host(.focus) .placeholder__value {
  @apply (--cells-molecule-date-focus-placeholder); }

:host(.focus)::content .description {
  @apply (--cells-molecule-date-focus-content-description); }

.date__value {
  @apply (--cells-molecule-date-value); }
  .date__value.disabled {
    @apply (--cells-molecule-date-value-disabled); }

.placeholder__value {
  @apply (--cells-molecule-date-input-placeholder); }
  .placeholder__value.disabled {
    @apply (--cells-molecule-date-input-placeholder-disabled); }

</style></template></dom-module>