@import "bower_components/cells-sass/main";
:host {
  position: relative;
  display: flex;
  overflow: hidden;
  line-height: 1;
  outline: 0;
  cursor:pointer;
  @apply(--cells-input--date);
  @apply(--cells-input--date-decorator);
  @apply(--cells-input--s);
  @apply(--cells-molecule-date-input);
}

:host(.error) {
  background-image: none;
  @apply(--cells-input--error);
  @apply(--cells-molecule-date-input-error);
}

:host(:active) {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -ms-tap-highlight-color: rgba(0,0,0,0);
      tap-highlight-color: rgba(0,0,0,0);
  opacity: .5;
}

.date,
.placeholder {
  cursor: pointer;
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 0.75em;
  align-items: center;
  @apply(--cells-fontDefaultNormal);
  @apply(--cells-molecule-date-input-date);

  &.disabled {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .5;
      background: var(--cells-molecule-date-input-disabled-bg-color, #fff);
      z-index: 2;
      @apply(--cells-molecule-date-input-disabled-before);
    }
    @apply(--cells-molecule-date-input-disabled);
  }

  &__value{
    flex:1;
  }

  &__icon {
    @apply(--cells-molecule-date-input-icon);
  }

  &__input {
    cursor:pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0;
    @apply(--cells-molecule-date-input-native);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button,
    &::-webkit-clear-button {
      -webkit-appearance: none;
      display: none;
    }

    &::-webkit-calendar-picker-indicator {
      height: 100%;
      width: 100%;
      opacity: 0;
    }

  }
}

:host(.focus) {

  #icon {
    @apply(--cells-molecule-date-input-focus-icon);
  }
  .date__value {
    @apply(--cells-molecule-date-focus-date-value);
  }

  .placeholder__value {
    @apply(--cells-molecule-date-focus-placeholder);
  }
}

:host(.focus)::content .description {
  @apply(--cells-molecule-date-focus-content-description);
}


.date__value {
  @apply(--cells-molecule-date-value);

  &.disabled {
    @apply(--cells-molecule-date-value-disabled);
  }
}

.placeholder__value {
  @apply(--cells-molecule-date-input-placeholder);

  &.disabled {
    @apply(--cells-molecule-date-input-placeholder-disabled);
  }
}
