<dom-module id="demo-styles"><template><style is="custom-style">
 :host{
   font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
        text-align: center;
 }
 html,
body {
    height: 100%;

  }

  body {
    margin: 0;
  }

  @media (max-width: 768px) {
    body {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    *,
    *:before,
    *:after {
      -webkit-tap-highlight-color: transparent;
    }
    .hidden-mobile {
      display: none !important;
    }
    cells-demo-mobile ::content .selectors {
      display: none;
    }
  }

  .chart-1 {
      --cells-3d-horizontal-bar-chart-background-color: #FFFFFF;
      --cells-3d-horizontal-bar-chart-bar-left-color: #2A86CA;
      --cells-3d-horizontal-bar-chart-bar-right-color: #F4F4F4;
      --cells-3d-horizontal-bar-chart-shadow-opacity: 0.5;
      --cells-3d-horizontal-bar-chart-shadow-left-color: #121212;
      --cells-3d-horizontal-bar-chart-shadow-right-color: #121212;
  }
  .chart-2 {
      --cells-3d-horizontal-bar-chart-background-color: #004481;
      --cells-3d-horizontal-bar-chart-bar-left-color: #6FBBFF;
      --cells-3d-horizontal-bar-chart-bar-right-color: #4DA1ED;
      --cells-3d-horizontal-bar-chart-shadow-opacity: 1;
      --cells-3d-horizontal-bar-chart-shadow-left-color: #313C46;
      --cells-3d-horizontal-bar-chart-shadow-right-color: #313C46;
  }
  .chart-3 {
      --cells-3d-horizontal-bar-chart-background-color: #004481;
      --cells-3d-horizontal-bar-chart-bar-left-color: #2DCCCD;
      --cells-3d-horizontal-bar-chart-bar-right-color: #F4F4F4;
      --cells-3d-horizontal-bar-chart-shadow-opacity: 0.3;
      --cells-3d-horizontal-bar-chart-shadow-left-color: #FFFFFF;
      --cells-3d-horizontal-bar-chart-shadow-right-color: #FFFFFF;
  }
  .chart-4 {
      --cells-3d-horizontal-bar-chart-background-color: #565656;
      --cells-3d-horizontal-bar-chart-bar-left-color: #2DCD44;
      --cells-3d-horizontal-bar-chart-bar-right-color: #CD8A2D;
      --cells-3d-horizontal-bar-chart-shadow-opacity: 1;
      --cells-3d-horizontal-bar-chart-shadow-left-color: #7FEC71;
      --cells-3d-horizontal-bar-chart-shadow-right-color: #ECB971;
  }
  .chart-5 {
      --cells-3d-horizontal-bar-chart-bar-left-color: #620093;
      --cells-3d-horizontal-bar-chart-bar-right-color: #B655E5;
  }

  .control-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
  }

  cells-3d-horizontal-bar-chart {
    width: 100%;
    margin-bottom: 5%;
    padding:2%;
  }

  paper-slider{
    width: 350px;
    min-width: 50%;
  }

  p{
    opacity: 0.8;
  }

  </style>
</template>
</dom-module>