<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>Demo cells-myb-transaction-history</title>

    <script>
      /* this script must run before Polymer is imported */
      window.Polymer = {
        dom: 'shadow',
        lazyRegister: true,
        useNativeCSSProperties: true
      };
    </script>
    
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../cells-myb-ui-theme/cells-myb-ui-theme.html">
    <link rel="import" href="../../cells-demo-lang-switcher/cells-demo-lang-switcher.html">
    <link rel="import" href="../../iron-ajax/iron-ajax.html">
    <link rel="import" href="../../cells-atom-icon/cells-atom-icon.html">
    <link rel="import" href="../../cells-demo-mobile/cells-demo-mobile.html">
    <link rel="import" href="../../coronita-icons/coronita-icons.html">
    <link rel="import" href="../cells-myb-transaction-history.html">
    <link rel="import" href="css/demo-styles.html">

  </head>
  <body unresolved ontouchstart>
    <template is="dom-bind" id="tbind">
    
      <cells-demo-lang-switcher></cells-demo-lang-switcher>
        
        <iron-ajax auto url="mocks/operation-list.json" handle-as="json" last-response="{{ transactions }}"></iron-ajax>
        <iron-ajax auto url="mocks/operation-list-balance.json" handle-as="json" last-response="{{ transactionsBalance }}"></iron-ajax>
        <cells-demo-mobile>
          <div class="statics">
            <h3>Detail View</h3>
            <cells-myb-transaction-history
              period="detail"
              class="demo"
              total-elements=3
              transactions="[[ transactions.data ]]">
            </cells-myb-transaction-history>
          </div>
          <div class="statics">
            <h3>Day View</h3>
            <cells-myb-transaction-history
              period="daily"
              class="demo"
              total-elements=3
              transactions="[[ transactionsBalance.data ]]">
            </cells-myb-transaction-history>
          </div>
          <div class="statics">
            <h3>Day View</h3>
            <cells-myb-transaction-history
              transactions="[[ transactionsBalance.data ]]"
              total-elements=3
              period="monthly"
              class="demo">
            </cells-myb-transaction-history>
          </div>
        </cells-demo-mobile>
    </template>
    <script src="js/demo.js"></script>
  </body>
</html>
