@import "bower_components/cells-sass/main";

:host {
  --cells-atom-date-wrapper: unquote("{
    font-family: var(--cells-fontQuaternary);
    line-height: 1.1;
    color: var(--cells-myb-ui-theme-color-yellowish, #B79E5E);
    @apply(--cells-text-size-m);
  }");

  --cells-date-range: unquote("{
    margin: 3.125rem 0;
    font-family: var(--cells-fontQuaternary);
    line-height: 1.1;
    color: var(--cells-myb-ui-theme-color-yellowish, #B79E5E);
    @apply(--cells-text-size-m);
  }");

  .loading .wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
  }

  iron-collapse {
    transition-duration: var(--iron-collapse-transition-duration, 300ms);
    -webkit-transition-duration: var(--iron-collapse-transition-duration, 300ms);
  }
  .subheader-background-wrapper {
    background-color: #E9E9E9;
    padding: 0.625rem;
    .subheader-wrapper {
      background-color: #FFFFFF;
      border-radius: 0.125rem;
      box-shadow: 0 0 0.3125rem 0.0625rem rgba(0,0,0,0.15);
      position: relative;
      .subheader-total-operation {
        &::first-letter {
          text-transform: capitalize;
          @apply(--cells-myb-subheader-operation-first-letter);
        }
        .loading {
          position: absolute;
          background-color: var(--cells-myb-subheader-loading-background, #FFFFFF);
          height: 100%;
          width: 100%;
          z-index: 10000;
          @apply(--cells-myb-subheader-loading);
        }
        .subheader-total-operation-top {
          @apply(--layout-vertical);
          @apply(--layout-center-center);
          @apply(--cells-myb-subheader-operation-top);
        }
        .subheader-total-operation-bottom {
          @apply(--layout-vertical);
          @apply(--layout-center-center);
          .subheader-percent-wrapper {
            display: flex;
            margin: 0 0 3.125rem 0;
            cells-atom-icon {
              font-size: 1.1rem;
              vertical-align: bottom;
            }
            .subheader-percent-value {
              font-family: var(--cells-fontSecondary);
              margin: 0 .4rem 0 .4rem;
              @apply (--cells-myb-subheader-percent-value);
              @apply(--cells-text-size-m-mini);
            }
            .subheader-from-date {
              font-family: var(--cells-fontDefault);
              color: var(--cells-subheader-from-date-color, #666666);
              @apply(--cells-text-size-m-mini);
              @apply(--cells-myb-subheader-from-date);
            }
            .increase {
              color: var(--cells-myb-subheader-increase-color, #48AE64);
            }
            .decrease {
              color: var(--cells-myb-subheader-decrease-color, #F25E61);
            }
            @apply(--cells-myb-subheader-percent-wrapper);
          }
          .subheader-see-more {
            font-family: var(--cells-fontSecondary);
            margin-bottom: 1.875rem;
            color: var(--cells-subheader-see-more-color, #2A86CA);
            @apply(--cells-text-size-m-mini);
            @apply(--cells-myb-subheader-see-more);
          }
          @apply(--cells-myb-subheader-operation-bottom);
        }
        @apply(--cells-myb-subheader-total-operation);
      }

      .collapsible-content {
        height: auto;
        @apply(--layout-vertical);
        .subheader-full-info {
          font-family: var(--cells-fontDefault);
          padding: 0 1.25em 1.25em 1.25em;
          color: var(--cells-subheader-collapsible-content-color, #121212);
          .flex-child {
            @apply(--layout-flex);
            .operation-quantities {
              padding-left: 0.4rem;
              font-family: var(--cells-fontDefaultItalic);
              color: var(--cells-subheader-operation-quantities-color, #666666);
              @apply(--cells-text-size-s);
              @apply(--cells-myb-subheader-operation-quantities);
            }
          }
          .subheader-sales,
          .subheader-refund,
          .subheader-fees,
          .subheader-total {
            line-height: 1.1;
            margin-bottom: 0.75rem;
            @apply(--cells-text-size-m-mini);
            @apply(--layout-horizontal);
            @apply(--cells-myb-subheader-full-info-detail);
          }
          .subheader-sales {
            @apply(--cells-myb-subheader-full-info-sales);
          }
          .subheader-refund {
            @apply(--cells-myb-subheader-full-info-refund);
          }
          .subheader-fees {
            @apply(--cells-myb-subheader-full-info-fees);
          }
          .subheader-total {
            font-family: var(--cells-fontSecondary);
            cells-atom-amount {
              font-family: var(--cells-fontSecondary);
            }
            @apply(--cells-myb-subheader-full-info-total);
          }
          @apply(--cells-myb-subheader-full-info);
        }
        @apply(--cells-myb-subheader-collapsible-content);
      }
      @apply(--cells-myb-subheader-wrapper);
    }
    @apply(--cells-myb-subheader-background-wrapper);
  }
  @apply(--cells-myb-subheader);
}
