<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-spinner-stripes/cells-spinner-stripes.html">
<link rel="import" href="../cells-atom-amount/cells-atom-amount.html">
<link rel="import" href="../cells-atom-icon/cells-atom-icon.html">
<link rel="import" href="../cells-date-range/cells-date-range.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-collapse/iron-collapse.html">
<link rel="import" href="moment-import.html">
<link rel="import" href="cells-myb-subheader-styles.html">

<!--
`<cells-myb-subheader>`.

Example:

```html
<cells-myb-subheader></cells-myb-subheader>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-myb-subheader-scope      | scope description | default value  |
| --cells-myb-subheader  | empty mixin     | {}             |
| --cells-myb-subheader-total-operation  | empty mixin     | {}             |
| --cells-myb-subheader-operation-top  | empty mixin     | {}             |
| --cells-myb-subheader-operation-bottom  | empty mixin     | {}             |
| --cells-myb-subheader-from-date  | empty mixin     | {}             |
| --cells-myb-subheader-see-more  | empty mixin     | {}             |
| --cells-myb-subheader-collapsible-content  | empty mixin     | {}             |
| --cells-myb-subheader-full-info  | empty mixin     | {}             |
| --cells-myb-subheader-full-info-detail  | empty mixin     | {}             |
| --cells-myb-subheader-full-info-sales-refund  | empty mixin     | {}             |
| --cells-myb-subheader-full-info-sales  | empty mixin     | {}             |
| --cells-myb-subheader-full-info-refund  | empty mixin     | {}             |
| --cells-myb-subheader-full-info-fees  | empty mixin     | {}             |

@demo demo/index.html
-->
<dom-module id="cells-myb-subheader">
  <template>
  <style include="iron-flex iron-flex-alignment cells-myb-subheader-styles cells-myb-subheader-shared-styles"></style>
    <div class="subheader-background-wrapper">
      <div class="subheader-wrapper">

        <section class="subheader-total-operation">
          <div class="loading" hidden$="[[!loadingState]]" >
            <div class="wrapper">
              <cells-spinner-stripes></cells-spinner-stripes>
            </div>
          </div>

          <article class="subheader-total-operation-top">
            <cells-date-range
               date-multiple="[[ dateRange.date ]]"
               format-multiple="[[ dateRange.format ]]"
               separator="[[ dateRange.separator ]]">
            </cells-date-range>

            <cells-atom-amount
              class="subheader-total-operation-amount"
              amount="[[ mainAmount.amount ]]"
              currency-code="[[ mainAmount.currency ]]">
            </cells-atom-amount>
          </article>

          <article class="subheader-total-operation-bottom">
              <div class="subheader-percent-wrapper">
                  <template is="dom-if" if="{{ _showPercentage }}">
                    <cells-atom-icon
                      icon="[[ _percentageStatIcon.icon ]]"
                      class$="[[ _percentageStatIcon.class ]]">
                    </cells-atom-icon>
                    <span class$="[[ _percentageStatIcon.class ]] subheader-percent-value">[[ _percentageStatFormat ]]</span>
                  </template>
                  <span class="subheader-from-date">[[ t(operationStats.fromDateText) ]]</span>
              </div>
              <span class="subheader-see-more" on-click="toggleSeeMore">[[ t(seeDetails) ]]</span>
          </article>
        </section>

        <iron-collapse id="collapse" opened="{{ isOpenedSeeMore }}">
          <section class="collapsible-content">
            <section class="subheader-full-info">
              <template is="dom-repeat" items="[[operationStats.stats]]">
                <article class$="[[ item.class ]]">
                  <span class="flex-child">
                    [[ t(item.literal) ]]
                    <template is="dom-if" if="[[item.total]]">
                      <span class="operation-quantities">([[ item.total ]])</span>
                    </template>
                  </span>
                  <cells-atom-amount
                    class="subheader-total-amount"
                    amount="[[ item.amount ]]"
                    currency-code="[[ item.currency ]]">
                  </cells-atom-amount>
                </article>
              </template>
            </section>
          </section>
        </iron-collapse>
      </div>
    </div>
  </template>
  <script src="cells-myb-subheader.js"></script>
</dom-module>
