<link rel="import" href="../cells-global-apis-behaviors.html">
<link rel="import" href="../../polymer/polymer.html">

<!--
 This component is just for testing purposes (by importing cells-image-ccds-behavior,
 the behavior to be tested, in this component)
-->

<dom-module id="behavior-test-component">
  <template></template>
  <script>
  Polymer({

    is: 'behavior-test-component',

    behaviors: [
      CellsBehaviors.CellsGlobalApisHandleRequest,
      CellsBehaviors.CellsGlobalApisHandleRequestSign,
      CellsBehaviors.CellsGlobalApisHandleRequestError
    ],

    properties: {}

  });
  </script>
</dom-module>