<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../cells-middle-modal/cells-middle-modal.html">
<link rel="import" href="../cells-welcome-slider/cells-welcome-slider.html">
<link rel="import" href="cells-welcome-middle-modal-styles.html">
<!--
`<cells-welcome-middle-modal>` description.

Example:

```html
<cells-welcome-middle-modal></cells-welcome-middle-modal>
```

## Icons

Since this component uses icons, it will need an [iconset](https://bbva.cellsjs.com/guides/best-practices/cells-icons.html) in your project as an [application level dependency](https://bbva.cellsjs.com/guides/advanced-guides/application-level-dependencies.html). In fact, this component uses an iconset in its demo.

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:---------------|
| --cells-welcome-middle-modal  | Mixin applied to :host     | {}  |
| --cells-fontDefault  | Font family of :host    | sans-serif  |

@demo demo/index.html
-->
<dom-module id="cells-welcome-middle-modal">
  <template>
    <style include="cells-welcome-middle-modal-styles cells-welcome-middle-modal-shared-styles"></style>
      <cells-middle-modal open="[[open]]" id='middle-modal' aria-label="Welcome modal">
        <div class="body">
          <cells-welcome-slider autoplay="[[autoplay]]"
             show-register-button="[[showRegisterButton]]"
             show-legal-terms="[[showLegalTerms]]"
             show-arrows="[[showArrows]]"
             disable-swipe="[[disableSwipe]]"
             slides="[[slides]]">
           </cells-welcome-slider>
        </div>
      </cells-middle-modal>
  </template>
  <script src="cells-welcome-middle-modal.js"></script>
</dom-module>
