<dom-module id="cells-welcome-middle-modal-styles"><template><style>
@charset "UTF-8";
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-welcome-middle-modal; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  box-sizing: inherit; }

cells-welcome-slider {
  position: relative;
  height: auto;
  --cells-full-screen-slider: { height: auto; padding-top: 10px; @apply --cells-welcome-middle-modal-full-screen-slider; };
  --cells-full-screen-slider-slide-wrapper: { height: auto; margin-top: 350px; @apply --cells-welcome-middle-modal-slide-wrapper; };
  --cells-full-screen-slider-slide-title: { font-size: 26px; margin: 0 0 30px; line-height: 1.2; @apply(--cells-fontDefaultBold); @apply --cells-welcome-middle-modal-slide-title; };
  --cells-full-screen-slider-slide-text: { font-size: 16px; line-height: 1.43; @apply --cells-welcome-middle-modal-slide-text; };
  --cells-full-screen-slider-pager: { margin: 450px 0 220px; @apply --cells-welcome-middle-modal-slide-pager; };
  --cells-full-screen-slider_canvas-height: 275px;
  @apply (--cells-welcome-middle-modal-slider); }

cells-middle-modal {
  overflow: hidden;
  --cells-middle-modal-md-overlay-opacity: 0.9;
  --cells-middle-modal-md-overlay: { background-color: rgb(7, 33, 70); @apply --cells-welcome-middle-modal-md-overlay; };
  --cells-middle-modal-desktop-md-content-max-width: 100%;
  --cells-middle-modal-md-content-padding:  0;
  --cells-middle-modal-md-modal: { width: 50%; @apply --cells-welcome-middle-md-modal; };
  --cells-middle-modal-desktop-md-content--body: { padding: 0; width: auto; @apply --cells-welcome-middle-modal-md-content; };
  --cells-welcome-slider_actions: { margin: 0 auto; width: auto; @apply --cells-welcome-middle-modal-actions; };
  --cells-welcome-slider_actions__btn: { height: 50px; width: 144px; background-color: var(--bbva-dark-teal, #02A5A5); margin: 0 10px 10px 0; @apply --cells-welcome-middle-modal-actions-btn; };
  @apply (--cells-welcome-middle-modal-modal); }

/**
 * Empty mixins to set outline for :focus and :active states.
 * These mixins are meant to be set in an application's theme.
 * --cells-global-focus, --cells-global-active
 */
*:focus {
  @apply --cells-global-focus; }

*:active {
  @apply --cells-global-active; }

button:active {
  @apply --cells-global-active; }

</style></template></dom-module>