<custom-style>
  <style is="custom-style">
    body { margin: 0; }

    cells-demo-mocker-selector {
      --cells-demo-mocker-selector-paper-dropdown: {
        margin-bottom: 0;
      };
    }

    /* demos */
    body:not(.outer) {
      background-color: #F4F4F4;
    }
  </style>
</custom-style>
