<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../cells-atom-icon/cells-atom-icon.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="../cells-heading/cells-heading.html">
<link rel="import" href="cells-middle-modal-styles.html">

<!--
# cells-middle-modal

`cells-middle-modal` shows a modal window aligned at the center of the screen. 

## Try it

__Simple example__
```html
<cells-middle-modal id='modal-example' aria-label="Lorem ipsum">
    Lorem-ipsum
</cells-middle-modal>
```

__Complex example__ 
```html
<cells-middle-modal id='modal-example' aria-labelledby="modal-aria-label" click-on-close close-icon='coronita:close' focus-target="btn1">
    <div class="header" id="modal-aria-label"> My Header </div>
    <div class="body"> My Body </div>
    <div class="buttons"> 
        <button id="btn1"/> 
        <button id="btn2"/> 
    </div> 
</cells-middle-modal>
```

You can use helper classes inside the component content:
 - __header__  sets default color and size for headers
 - __body__ sets default padding and margin for bodies
 - __buttons__ aligns horizontally your buttons

## Customize it

__Close on click in the overlay__
Use the property `close-on-click` to allow the modal to hide itself when the overlay is clicked

__Close icon__
Use property `close-icon` to provide a close icon at the top-right of the modal

__Header with background color__
Use property `main-header-text` to show a text as a header with colored background on the top of the modal

## Handle it

Set the boolean property `open` to true or false to open or close the modal.

Buttons inside light DOM with attribute `data-action="hide"` also close the modal by setting `open` to false.

```html
<cells-middle-modal>
  <button data-action="hide">Close</button>
</cells-middle-modal>
```

## Accessibility

The component applies a "dialog" aria role to the modal by default. You can pass a `role` attribute to change it to "alertdialog" if you need it.

You __must__ provide either an `aria-label` or `aria-labelledby` attribute to the component, as well as an `aria-describedby` attribute if necessary.

An open dialog can be closed using ESC key.

Also, an open dialog traps focus inside it. `focus-target` attribute should be used to pass the Id of the modal content element which should receive focus when the modal is opened. If `close-icon` is provided and `focus-target` is not, focus will be set to the close icon.

When using `main-header-text` attribute, its text will receive a `role=heading` attribute and an `aria-level=1` attribute. You can set a different aria-level using `heading-level` attribute and passing a number to it. In case you don't want that text to behave as a heading, role and aria-level will be entirely removed passing a 0 value to `heading-level`.

Examples of accessible dialogs:

__Accessible dialog modal__
```html
<cells-middle-modal aria-labelledby="aria-text" close-icon="coronita:GM02" main-header-text="Help" heading-level="2">
    <div class="header" id="aria-text">Action result</div>
    <p class="body">Thank you for your message. You'll receive a confirmation in your mail address soon.</p>
</cells-middle-modal>
```

__Accessible alertdialog modal__
```html
<cells-middle-modal role="alertdialog" aria-label="Action confirmation" aria-describedby="aria-text" focus-target="btn-no">
    <p class="body" id="aria-text">Are you sure you want to execute this action?</p>
    <div class="buttons">
        <ul>
            <li><button type='button' id="btn-no">No</button></li>
            <li><button type='button'>Yes</button></li>
        </ul>
    </div>
</cells-middle-modal>
```

## Icons

Since this component uses icons, it will need an [iconset](https://bbva.cellsjs.com/guides/best-practices/cells-icons.html) in your project as an [application level dependency](https://bbva.cellsjs.com/guides/advanced-guides/application-level-dependencies.html). In fact, this component uses an iconset in its demo.

## Styling

The following custom properties and mixins are available for styling:

| Custom property                                       | Description                                               | Default        |
|:-----------------------------------------------------:|:---------------------------------------------------------:| :-------------:|
| --cells-middle-modal                                  | Mixin applied to host                                     | {}             |
| --cells-middle-modal-md-modal-max-width               | Modal max-width                                           | rem(1140px)    |
| --cells-middle-modal-md-modal-min-width               | Modal min-width                                           | rem(300px)     |
| --cells-middle-modal-md-modal                         | Mixin applied to ".md-modal"                              | {}             |
| --cells-middle-modal-open                             | Mixin applied to "[open]" element                         | {}             |
| --cells-middle-modal-md-overlay-background-color      | Overlay background color                                  | #121212        |
| --cells-middle-modal-md-overlay                       | Mixin applied to ".md-overlay"                            | {}             |
| --cells-middle-modal-md-overlay-opacity               | Overlay opacity                                           | 0.6            |
| --cells-middle-modal-md-overlay-open                  | Mixin applied to [open] ~ .md-overlay                     | {}             |
| --cells-middle-modal-md-wrapper-color                 | Modal content color                                       | #666           |
| --cells-middle-modal-md-wrapper-background-color      | Modal background color                                    | #fff           |
| --cells-middle-modal-md-wrapper-border-radius         | Modal border-radius                                       | 1px            |
| --cells-middle-modal-md-wrapper                       | Mixin applied to ".md-wrapper"                            | {}             |
| --cells-middle-modal-md-content-padding               | Modal padding                                             | 1.25em 1em 1.875em |
| --cells-middle-modal-md-content                       | Mixin applied to ".md-content"                            | {}             |
| --cells-middle-modal-md-content__btn-close-horizontal | Horizontal position for close button                      | 1em      |
| --cells-middle-modal-md-content__btn-close-top        | Top position for close button                             | 1.25em      |
| --cells-middle-modal-md-content__btn-close            | Mixin applied to ".``md-content__btn-close`"              | {}             |
| --cells-middle-modal-close-icon-color                 | Color for close icon                                      | #2a86ca        |
| --cells-middle-modal-md-content--icon-close           | Mixin applied to ".md-content .icon-close"                | {}             |
| --cells-middle-modal-with-close-md-content-padding    | Modal padding when close icon is shown                    | 4.75em 1em 1.875em |
| --cells-middle-modal-with-close-md-content            | Mixin applied to ".md-content" with close icon            | {}             |
| --cells-middle-modal-main-header-color                | Modal main header color                                   | {#fff}         |
| --cells-middle-modal-main-header-background-color     | Modal main background color                               | {#d8be75}      |
| --cells-middle-modal-main-header                      | Mixin applied to ".main-header"                           | {}             |
| --cells-middle-modal-main-header-text-size            | Modal main header text size                               | rem(24px)      |
| --cells-middle-modal-main-header-heading              | Mixin applied to ".main-header #heading"                  | {}             |
| --cells-middle-modal-main-header-with-close-icon      | Mixin applied to ".with-close-icon .main-header #heading" | {}             |
| --cells-middle-modal-main-header-text-md-content      | Mixin applied to ".main-header-text .md-content"          | {}             |
| --cells-middle-modal-main-header-md-content__btn-close-horizontal | Horizontal position for close button on main-header-text | 1.5em          |
| --cells-middle-modal-main-header-md-content__btn-close-top | Top position for close button on main-header-text | 1.5em          |
| --cells-middle-modal-main-header-text-md-content__btn-close | Mixin applied to ".main-header-text .``md-content__btn-close``"          | {}             |
| --cells-middle-modal-main-header-text-close-icon-color | Color for close icon on main-header-text | #fff           |
| --cells-middle-modal-main-header-text-md-content--icon-close | Mixin applied to ".main-header-text .md-content .icon-close"          | {}             |
| --cells-middle-modal-content                          | Mixin applied to ::content                                | {}             |
| --cells-middle-modal-content-header-color             | Modal content header text color                           | #121212        |
| --cells-middle-modal-content-header-text-size         | Modal content header text size                            | rem(24px)      |
| --cells-middle-modal-md-content--header               | Mixin applied to ".md-content .header"                    | {}             |
| --cells-middle-modal-content-body-color               | Modal content body text color                             | #121212        |
| --cells-middle-modal-content-body-text-size           | Modal content body text size                              | rem(13px)      |
| --cells-middle-modal-content-body-line-height         | Modal content body text line height                       | rem(18px)      |
| --cells-middle-modal-md-content--body                 | Mixin applied to ".md-content .body"                      | {}             |
| --cells-middle-modal-md-content--buttons              | Mixin applied to ".md-content .buttons"                   | {}             |
| --cells-middle-modal-md-effect                        | Mixin applied to ".md-effect-3 .md-content"               | {}             |
| --cells-middle-modal-md-effect--open                  | Mixin applied to ".md-effect-3[open] .md-content"         | {}             |
| --cells-middle-modal-desktop-md-content-max-width     | Modal content max width over 767px                        | rem(550px)     |
| --cells-middle-modal-desktop-md-content               | Mixin applied to ".md-content" over 767px                 | {}             |
| --cells-middle-modal-desktop-md-content__btn-close    | Mixin applied to ".``md-content__btn-close`" over 767px   | {}             |
| --cells-middle-modal-desktop-with-close-md-content    | Mixin applied to ".md-content" with close icon over 767px | {}             |
| --cells-middle-modal-desktop-md-content--header       | Mixin applied to ".md-content .header" over 767px         | {}             |
| --cells-middle-modal-desktop-md-content--body         | Mixin applied to ".md-content .body" over 767px           | {}             |
| --cells-middle-modal-desktop-md-content--buttons      | Mixin applied to ".md-content .buttons" over 767px        | {}             |

@demo demo/index.html
@hero cells-middle-modal.jpg
-->
<dom-module id="cells-middle-modal">
  <template>
    <style include="cells-middle-modal-styles cells-middle-modal-shared-styles"></style>

    	<div id="dialog" class="md-modal md-effect" tabindex="-1">

        <div class$="md-wrapper [[_mainHeaderClass(mainHeaderText)]]">

          <template is="dom-if" if="[[mainHeaderText]]">
            <div class="main-header">
              <cells-heading id="heading" level="[[headingLevel]]">[[mainHeaderText]]</cells-heading>
            </div>
          </template>

          <div id="content" class="md-content">
            <template is="dom-if" if="[[closeIcon]]">
              <cells-st-button class="transparent">
                <button id="btn-close" on-click="_onClickClose" aria-label$="[[t('cells-middle-modal-cancel', 'Cancel')]]" class="md-content__btn-close">
                  <cells-atom-icon icon="{{closeIcon}}" class="icon-close icon-size-16" aria-hidden="true"></cells-atom-icon>
                </button>
              </cells-st-button>
            </template>
            <slot></slot>
          </div>

        </div>

    	</div>

    	<div class="md-overlay" aria-hidden="true" on-click="_onClick"></div>
  </template>
  <script src="cells-middle-modal.js"></script>
</dom-module>
