<custom-style>
  <style is="custom-style">
    html, body { height: 100%; }

    body {
      margin: 0;
      font-family: var(--cells-fontDefault, sans-serif);
      background-color: #fafafa;
    }

    cells-skeleton-item {
      margin: 20px;
    }
  </style>
</custom-style>
