<custom-style>
  <style is="custom-style">
    body {
      margin: 0;
      font-family: sans-serif;
    }

    body:not(.outer) {
      padding: 30px;
    }

    /* demo cases */
    .default-layout {
      background-color: #F4F4F4;
    }

  </style>
</custom-style>
