<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title>Demo cells-3d-horizontal-bar-chart</title>
  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="../../polymer/polymer.html">
  <link rel="import" href="../cells-3d-horizontal-bar-chart.html">
  <link rel="import" href="../../paper-slider/paper-slider.html">
</head>
<link rel="import" href="css/demo-styles.html">

<body unresolved ontouchstart>
  <dom-module id="cells-3d-horizontal-bar-chart-demo">
    <template>
      <style include="demo-styles"></style>
      <div class="control-panel">
        <div>
          <p>Left side Data:</p>
          <paper-slider class="element" value="{{dataLeft}}" max="150" editable pin pointerDown></paper-slider>
        </div>
        <div>
          <p>Right side Data:</p>
          <paper-slider class="element" value="{{dataRight}}" max="150" editable></paper-slider>
        </div>
      </div>
      <div>
        <p>Default properties</p>
        <cells-3d-horizontal-bar-chart class="chart-1" data-left="{{dataLeft}}" data-right="{{dataRight}}" animated>
        </cells-3d-horizontal-bar-chart>
        <p>start-point: 50%, chart-height: 70, animation-time: 2000</p>
        <cells-3d-horizontal-bar-chart class="chart-2" data-left="{{dataLeft}}" data-right="{{dataRight}}"
                                        start-point="50"
                                        chart-height="70" animation-time="2000" animated>
        </cells-3d-horizontal-bar-chart>
        <p>start-point: 90%, bar-stroke: 25, chart-height: 50, animation-time: 2600</p>
        <cells-3d-horizontal-bar-chart class="chart-3" data-left="{{dataLeft}}" data-right="{{dataRight}}"
                                        chart-height="50" start-point="90" bar-stroke="25" animation-time="2600" animated>
        </cells-3d-horizontal-bar-chart>
        <p>start-point: 0%, bar-stroke: 8, chart-height: 20, animation-time: 3500</p>
        <cells-3d-horizontal-bar-chart class="chart-4" data-left="{{dataLeft}}" data-right="{{dataRight}}"
                                        start-point="0" bar-stroke="8"
                                        chart-height="20" animation-time="3500" animated>
        </cells-3d-horizontal-bar-chart>
        <p>start-point: 0%, bar-stroke: 30, chart-height: 30, animation-time: 5000</p>
        <cells-3d-horizontal-bar-chart class="chart-5" data-left="{{dataLeft}}" data-right="{{dataRight}}"
                                        start-point="0" bar-stroke="30"
                                        chart-height="30" animation-time="5000" animated>
        </cells-3d-horizontal-bar-chart>
      </div>
    </template>
    <script src="js/demo.js"></script>
  </dom-module>
  <cells-3d-horizontal-bar-chart-demo></cells-3d-horizontal-bar-chart-demo>
</body>

</html>