<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-ajax-behavior/cells-ajax-behavior.html"/>
<!--
`<cells-psv-generic-dp>`.

  [![v0.1.0](https://img.shields.io/badge/version-0.1.0-brightgreen.svg)](https://globaldevtools.bbva.com/bitbucket/projects/BBVACELLSAPI/repos/cells-psv-generic-dp/browse?at=refs%2Ftags%2F0.1.0)

Allows to perform an AJAX request for PSV application.

Example:

```html
<cells-psv-generic-dp
  id="myDataProvider"
  endpoint="http://some_host"
  path="some_endpoint_path"
  query-params="{'key':'value'}"
  body="{'key':'value'}"
  method="GET">
</cells-psv-generic-dp>
```

```javascript
myEl.$.myDataProvider.generateRequest().then(
  function(response) {
    //this is for success
    //to get lastResponse object, parse `request` argument or use `myEl.getLastResponse()`
  },
  function(err) {
    //this is for errors
    //to get request payload, use `myEl.getLastResponse()`
  }
);
```

## Dependencies

- [cells-ajax-behavior](https://globaldevtools.bbva.com/bitbucket/projects/CBH/repos/cells-ajax-behavior/browse)

## Styling

This component has no visual representation.

@demo demo/index.html
-->
<dom-module id="cells-psv-generic-dp">
  <template>
    <style>
      :host {
        display: none;
      }
    </style>
  </template>
  <script src="cells-psv-generic-dp.js"></script>
</dom-module>
