<dom-module id="cells-welcome-slider-styles"><template><style>
:host {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: var(--cells-fontDefault, sans-serif);
  --cells-full-screen-slider_canvas-width: var(--cells-welcome-slider_canvas-width, auto);
  --cells-full-screen-slider_canvas-height: var(--cells-welcome-slider_canvas-height, 36vh);
  @apply --cells-welcome-slider; }

:host([hidden]) {
  display: none; }

.actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1.875rem;
  @apply --cells-welcome-slider_actions; }
  .actions__btn {
    margin-right: .625rem;
    min-width: auto;
    @apply --cells-fontDefaultBold;
    @apply --cells-welcome-slider_actions__btn; }
    .actions__btn:last-child {
      margin-right: 0; }
    .actions__btn:only-of-type {
      max-width: 50%;
      margin: auto; }

.btn--transparent {
  @apply --cells-fontDefaultBold; }

.footer {
  padding: 4vh 0;
  @apply --cells-welcome-slider_footer; }
  .footer__btn {
    vertical-align: bottom;
    @apply --cells-fontDefaultBold;
    @apply --cells-welcome-slider_footer__btn; }

.legal-notice {
  font-size: 0.8125rem;
  margin: 0;
  @apply --cells-fontDefault;
  @apply --cells-welcome-slider_legal-notice; }

</style></template></dom-module>