@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  position: relative;

  --cells-product-card-color: var(--cells-product-card-list-card-color, #fff);
  --heading-title-color: var(--cells-product-card-list-heading-color, #fff);
  --cells-product-card-balances-amount: unquote("{
    color: var(--cells-product-card-list-amount-color, #fff);
    @apply(--cells-product-card-list-amount);
  }");
  @apply(--cells-product-card-list);
}

:host([hidden]), [hidden] {
  display:none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.header {
  padding: rem(15px) rem(20px);
  @apply(--cells-product-card-list-header);
}

.inline {
  position: absolute;
  transform: translate(-50%, 50%);
  left: 50%;
  top: 50%;
  --cells-icon-message-error: unquote("{
    @apply(--cells-product-card-list-error-message);
  }");
}

.card-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  @apply(--cells-product-card-list-list);
}

.card-list-item {
  flex: 0 0 100%;
  @apply(--cells-product-card-list-list-item);
}

.card-item {
  padding: 2rem 0;
  margin: 0 rem(16px) rem(16px);
  background-color: var(--cells-product-card-list-item-bg-color, #004481);
  box-shadow: var(--cells-product-card-list-item-box-shadow, 0px 4px 8px 0 rgba(0, 0, 0, 0.3));
  @apply(--cells-product-card-list-item);
}

.card-item:active {
  background-color: var(--cells-product-card-list-item-bg-color, #1464A5);
  @apply(--cells-product-card-list-item-active);
}

.default-skeleton[visible] {
  height: 100vh;
  @apply(--cells-product-card-list-default-skeleton);
}

@media (min-width: 576px) and (max-width: 991px) {
  .card-list-item {
    flex-basis: 50%;
    @apply(--cells-product-card-medium-list-item);
  }
}

@media (min-width: 992px) {
  .card-list-item {
    flex-basis: 25%;
    @apply(--cells-product-card-large-list-item);
  }
}
