<link rel="import" href="../cells-atom-amount/cells-atom-amount.html">
<link rel="import" href="../cells-atom-subheader/cells-atom-subheader.html">
<link rel="import" href="../cells-icon-message/cells-icon-message.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../cells-product-card/cells-product-card.html">
<link rel="import" href="../cells-skeleton-cards-page/cells-skeleton-cards-page.html">
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-product-card-list-styles.html">
<!--
`<cells-product-card-list>` displays a list of accounts or movements using `<cells-product-card>`.

The skeleton or loader element can be shown by setting the boolean property `loading` to `true`.
Also, the default skeleton component can be replaced by a custom one provided in a slot with name `loader`.

Example:

```html
<cells-product-card-list></cells-product-card-list>
```

Example with a custom skeleton:

```html
<cells-product-card-list loading>
  <custom-skeleton slot="loader"></custom-skeleton>
</cells-product-card-list>
```

## Icons

Since this component uses icons, it will need an [iconset](https://bbva.cellsjs.com/guides/best-practices/cells-icons.html) in your project as an [application level dependency](https://bbva.cellsjs.com/guides/advanced-guides/application-level-dependencies.html). In fact, this component uses an iconset in its demo.

## Styling

The following custom properties and mixins are available for styling:

| Custom property                            | Description                                 |             Default              |
|:-------------------------------------------|:--------------------------------------------|:--------------------------------:|
| --cells-product-card-list-card-color       | Card text color                             |               #fff               |
| --cells-product-card-list-heading-color    | List heading color                          |               #fff               |
| --cells-product-card-list-subheader-color  | Subheader text color                        |               #fff               |
| --cells-product-card-list-amount-color     | Amount text color                           |               #fff               |
| --cells-product-card-list-amount           | Mixin applied to amount                     |                {}                |
| --cells-product-card-list                  | Mixin applied to :host                      |                {}                |
| --cells-product-card-list-header           | Mixin applied to the header                 |                {}                |
| --cells-product-card-list-error-message    | Mixin applied to error message              |                {}                |
| --cells-product-card-list-list             | Mixin applied to the list                   |                {}                |
| --cells-product-card-list-list-item        | Mixin applied to list li items              |                {}                |
| --cells-product-card-list-item-bg-color    | Background color for list                   |             #004481              |
| --cells-product-card-list-item-box-shadow  | Box shadow for card                         | 0px 4px 8px 0 rgba(0, 0, 0, 0.3) |
| --cells-product-card-list-item             | Mixin applied to list item                  |                {}                |
| --cells-product-card-list-item-bg-color    | List item background color                  |             #1464A5              |
| --cells-product-card-list-item-active      | Mixin applied to list item when active      |                {}                |
| --cells-product-card-list-default-skeleton | Mixin applied to the default skeleton       |                {}                |
| --cells-product-card-medium-list-item      | Mixin applied to list item on medium screen |                {}                |
| --cells-product-card-large-list-item       | Mixin applied to list item on large screen  |                {}                |

@demo demo/index.html
@hero cells-product-card-list.png
@composer
@description List of accounts or movements listed with cards.
@type UI
@platforms android, ios, desktop
@family cells-catalog-distributors-family
-->
<dom-module id="cells-product-card-list">
  <template>
    <style include="cells-product-card-list-styles cells-product-card-list-shared-styles"></style>

    <slot name="loader">
      <cells-skeleton-cards-page class="default-skeleton" visible="[[loading]]" repeat="4"></cells-skeleton-cards-page>
    </slot>

    <template is="dom-if" if="[[!loading]]">
      <template is="dom-if" if="[[error]]">
        <div class="error-message">
          <slot name="error-content">
            <cells-icon-message class="inline" type="error" icon="[[errorIcon]]" icon-size="26" message="[[t(errorMessage, errorMessage)]]">
            </cells-icon-message>
          </slot>
        </div>
      </template>
      <template is="dom-if" if="[[!error]]">
        <cells-atom-subheader class="header" heading-level="[[headingLevel]]">
          <span class="heading">[[titulo]]</span>
          <template is="dom-if" if="[[balance.amount]]">
            <cells-atom-amount
              amount="[[balance.amount]]"
              scale="[[balance.scale]]"
              currency-code="[[balance.currency]]"
              local-currency="[[localCurrency]]">
            </cells-atom-amount>
          </template>
        </cells-atom-subheader>

        <ul class="card-list">
          <template is="dom-repeat" items="[[items]]">
            <li class="card-list-item">
              <cells-product-card
                class="card-item"
                on-tap="_onItemTap"
                heading-level="[[_listItemHeadingLevel]]"
                heading="[[item.name]]"
                balances='[[_getBalance(item)]]'
                currency-code="[[_getCurrencyCode(item)]]"
                local-currency="[[localCurrency]]"
                min-width-for-row-layout="600"
                product-iban="[[item.description.value]]"
                image-src="[[item.imgSrc]]">
              </cells-product-card>
            </li>
          </template>
        </ul>
      </template>
    </template>
  </template>
  <script src="cells-product-card-list.js"></script>
</dom-module>
