<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-router-behavior/cells-router-behavior.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../cells-atom-icon/cells-atom-icon.html">

<!--
## Description

This component it's the simple button of cells-menu-web. This component are included in this component.

Example:

```html
<cells-menu-web-item item="item"></cells-menu-web-item>
```

## Styling

You can use the class as icon

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-menu-web-scope      | scope description | default value  |
| --cells-menu-web  | empty mixin  | {}             |
| --cells-menu-web-item__button | empty mixin for button | {} |
| --cells-menu-web-item__button--hover  | empty mixin for button:hover | {} |
| --cells-menu-web-item__button--primary  | empty mixin for .item--primary button | {} |
| --cells-menu-web-item__button-icon--primary | empty mixin for .item--primary button .icon | {} |
| --cells-menu-web-item__button--secondary  | empty mixin for .item--secondary button | {} |
| --cells-menu-web-item__button-icon--secondary | empty mixin for .item--secondary button .icon | {} |

@demo demo/index.html
-->
<dom-module id="cells-menu-web-item">
  <style>
    button{
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: .5rem;
      border: 0;
      background: transparent;
      outline: none;
      cursor: pointer;
      @apply(--cells-menu-web-item__button);
    };
    button:hover{
      @apply(--cells-menu-web-item__button--hover);
    }
    :host(.item--primary) button{
      color: var(--cells-KMW_colour, #FFFFFF);
      @apply(--cells-menu-web-item__button--primary);
    };
    :host(.item--primary) button .icon{
      margin: 0 1rem 0 0;
      @apply(--cells-menu-web-item__button-icon--primary);
    };
    :host(.item--secondary) button{
      color: var(--cells-KM1_colour, #333333);
      @apply(--cells-menu-web-item__button--secondary);
    };
    :host(.item--secondary) button .icon{
      margin: 0 .5rem 0 0;
      @apply(--cells-menu-web-item__button-icon--secondary);
    };
  </style>
  <template>
    <button on-click="_onClickBtn">
      <template is="dom-if" if="[[_checkedValue(item.icon)]]">
        <cells-atom-icon icon="[[item.icon.code]]" class$="icon icon-size-[[item.icon.size]]"></cells-atom-icon>
      </template>
      <span>[[t(item.key)]]</span>
    </button>
  </template>
</dom-module>
<script>
(function() {
  'use strict';

  Polymer({

    is: 'cells-menu-web-item',

    behaviors: [
      CellsBehaviors.i18nBehavior,
      Polymer.CellsRouterBehavior
    ],

    properties: {
      /**
      * Item to render
      * @type {Obejct}
      * ```
      * {
      *   key: 'awards',                      // Key to translate, ex. 'cells-menu-web-my-accounts'
      *   link: true,                         // Boolean, it's a external link (Optional)
      *   href: 'https://www.bancomer.com',   // Url to redirect (Page or url)
      *   target: '_blank',                   // Redirect options, ex. '_blank' (Optional)
      *   icon: {                             // Icon to show in the link (Optional)
      *     code: 'icons:A05',                // Icon code of cells-icons component
      *     size: 10                          // Icon size
      *   }
      * }
      * ```
      */
      item: {
        type: Object
      }
    },
    /*
    * Event on click in button menu
    */
    _onClickBtn: function(e) {
      var node = this.item;
      if (node.link) {
        this._redirectTo(node.href, node.target);
      } else {
        this.setUrl(node.href);
      }
    },
    /*
    * Go to external link
    */
    _redirectTo: function(href, blank) {
      if (blank) {
        window.open(href, blank);
      } else {
        window.location.href = href;
      }
    },
    /*
    * Checked value to Boolean
    */
    _checkedValue: function(val) {
      return Boolean(val);
    },
    /*
    * Translate key of item
    */
    translate: function(str, lang) {
      return this.t('cells-menu-web-' + str, lang);
    }
  });
}());
</script>