<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../cells-amount-behavior.html">

<script>
  Polymer({
    is: 'simple-element',
    behaviors: [
      CellsBehaviors.AmountBehavior
    ]
  });
</script>
