:host {
  opacity: 0;
  will-change: transform;
}
:host([state="cached"]:not(.static)) {
  display: none;
}
:host(.template-is-visible:not([state="cached"])) {
  z-index: 99;
  opacity: 1;
}
:host(.static) {
  opacity: 1;
}

:host(.template-animation-is-animating) {
  overflow: hidden;
}

:host(.template-animation-moveFromRight),
:host(.template-animation-moveToLeft),
:host(.template-animation-moveFromLeft),
:host(.template-animation-moveToRight),
:host(.template-animation-moveFromBottom),
:host(.template-animation-moveToTop),
:host(.template-animation-moveFromTop),
:host(.template-animation-moveToBottom),
:host(.template-animation-static) {
  animation-duration: var(--cells-template-animation-duration, 230ms);
  animation-delay:  0.16ms;
  animation-timing-function: var(--cells-template-animation-timing-function, ease-in-out);
  animation-fill-mode: both;
}

/* horizontal */
:host(.template-animation-moveFromRight) {
  animation-name: moveFromRight;
}

:host(.template-animation-moveToLeft) {
  animation-name: moveToLeft;
}

:host(.template-animation-moveFromLeft) {
  animation-name: moveFromLeft;
}

:host(.template-animation-moveToRight) {
  animation-name: moveToRight;
}

/*vertical*/
:host(.template-animation-moveFromBottom) {
  animation-name: moveFromBottom;
}

:host(.template-animation-moveToTop) {
  animation-name: moveToTop;
}

:host(.template-animation-moveFromTop) {
  animation-name: moveFromTop;
}

:host(.template-animation-moveToBottom) {
  animation-name: moveToBottom;
}

/* horizontal key*/
@keyframes moveFromRight {
  from {
    transform: translateX(100%);
    z-index: 100;
  }
}

@keyframes moveToLeft {
  to {
    transform: translateX(-32%);
    z-index: 1;
  }
}

@keyframes moveFromLeft {
  from {
    transform: translateX(-100%);
    z-index: 100;
  }
}

@keyframes moveToRight {
  to {
    transform: translateX(32%);
    z-index: 1;
  }
}

/*vettical key*/
@keyframes moveFromBottom {
  from {
    transform: translateY(100%);
     z-index: 100;
  }
  to {
    z-index: 100;
  }
}

@keyframes moveToTop {
  to {
    transform: translateY(-100%);
  }
}

@keyframes moveFromTop {
  from {
    transform: translateY(-100%);
  }
}

@keyframes moveToBottom {
  from { z-index: 100; }
  to {
    transform: translateY(100%);
    z-index: 100;
    opacity: 0.96;
  }
}

/* static */
:host(.template-animation-static) {
  opacity: 1;
  animation-name: static;
  animation-duration: 0.1ms;
  animation-delay: 0.1ms;
  z-index: 99;
}

@keyframes static {
  from {
    transform: translateZ(0);
  }
  to {
    transform: translateZ(0);
  }
}
