<dom-module id="my-greeting">

  <template>
    <style>
      :host {
        display: block;
        padding: 2em 0;
        width: 40%;
        margin: auto;
        margin-bottom: 2rem;
      }

      label,
      input {
        display: block;
      }

      input {
        font-family: inherit;
        display: block;
        cursor: pointer;
        width: 100%;
        background-color: transparent;
        border: none;
        background-color: rgba(255,255,255, .5);
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom: solid 2px #9b9b9b;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 1px;
        text-align: center;
        color: #4a4a4a;
        padding: 1em 0;
        margin-bottom: .5rem;
      }
      input:focus{
        outline: none;
      }

      label {
        color: #9b9b9b;
        text-align: center;
        cursor: pointer;
      }

      button {
        display: block;
        margin: 1em 0;
      }
    </style>
    <input id="for-input" value="{{greeting::input}}"/>
    <label for="for-input">El texto que escribas modificará el título.</label>
  </template>

  <script>
    (function() {
      Polymer({
        is: 'my-greeting',

        properties: {
          greeting: {
            type: String,
            value: 'Bienvenido',
            notify: true
          }
        }


      });
    }());

  </script>

</dom-module>
