<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>cells-product-summary Demo</title>
    <script>
      window.Polymer = { dom: 'shadow', lazyRegister: true, useNativeCSSProperties: true };
      window.I18nMsg = {};
      window.I18nMsg.url = '../locales';
    </script>
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../../coronita-icons/coronita-icons.html">
    <link rel="import" href="../../cells-demo-helper/cells-demo-helper.html">
    <link rel="import" href="../../cells-demo-mocker-selector/cells-demo-mocker-selector.html">
    <link rel="import" href="../../cells-meter/cells-meter.html">
    <link rel="import" href="../cells-product-summary.html">
    <link rel="import" href="css/demo-styles.html">
  </head>
  <body unresolved ontouchstart class="outer">
    <cells-demo-helper i18n available-themes='["cells-coronita-theme"]' events='["cells-product-summary-more-info", "cells-product-summary-optional-items-key-icon"]'>
      <cells-demo-case heading="Product card" description="Different products rendered in a card. Use the selector in the demo frame to change the product type.">
        <template>
          <dom-bind>
            <template is="dom-bind" id="demo0">
              <!-- Data in demo/mocks.json -->
              <cells-demo-mocker-selector
                limit="8"
                label="Product type"
                selected="{{selected}}"
                json-file="mocks.json">
              </cells-demo-mocker-selector>

              <cells-product-summary class$="[[selected.class]]" id="component0"
                heading="[[selected.heading]]"
                img-src="[[selected.imgSrc]]"
                icon-code="[[selected.iconCode]]"
                masked-heading="[[selected.maskedHeading]]"
                local-currency="[[selected.localCurrency]]"
                progress-value="[[selected.progressValue]]"
                main-items="[[selected.mainItems]]"
                optional-items="[[selected.optionalItems]]"
                additional-items="[[selected.additionalItems]]"
                loading>
              </cells-product-summary>
            </template>
            <script>
              document.addEventListener('WebComponentsReady', function() {
                var demo = document.querySelector(Polymer.Element ? 'dom-bind' : '#demo0');
                setTimeout(function() {
                  demo.$.component0.onData();
                }, 1000);
              });
            </script>
          </dom-bind>
        </template>
      </cells-demo-case>

      <cells-demo-case heading="Product detail" description="Use the class &quot;full-width&quot; to display the card expanded to the full width without borders and shadow. The &quot;More info&quot; button can be hidden by adding the attribute &quot;hide-more-info-button&quot;.">
        <template>
          <custom-style>
            <style is="custom-style">
              .card-product {
                --cells-product-summary-progress-bar-left-color: #B79E5E;
              }
            </style>
          </custom-style>
          <dom-bind>
            <template is="dom-bind" id="demo2">
              <!-- Data in demo/mocks.json -->
              <cells-demo-mocker-selector
                limit="2"
                offset="8"
                label="Product type"
                selected="{{selected}}"
                json-file="mocks.json">
              </cells-demo-mocker-selector>

              <cells-product-summary class="full-width card-product" id="component2"
                hide-more-info-button
                icon-code="[[selected.iconCode]]"
                local-currency="[[selected.localCurrency]]"
                progress-value="[[selected.progressValue]]"
                main-items="[[selected.mainItems]]"
                optional-items="[[selected.optionalItems]]"
                additional-items="[[selected.additionalItems]]"
                loading>
              </cells-product-summary>
            </template>
            <script>
              document.addEventListener('WebComponentsReady', function() {
                var demo = document.querySelector(Polymer.Element ? 'dom-bind' : '#demo2');
                setTimeout(function() {
                  demo.$.component2.onData();
                }, 1000);
              });
            </script>
          </dom-bind>
        </template>
      </cells-demo-case>

      <cells-demo-case heading="Custom element for the progress bar" description="A custom element for the progress bar can be used by placing it in the component's light DOM with class &quot;progress-bar&quot;.">
        <template>
          <custom-style>
            <style>
              .progress-bar {
                margin: 30px 0;
              }
            </style>
          </custom-style>
          <dom-bind>
            <template is="dom-bind" id="demo1">
              <!-- Data in demo/mocks.json -->
              <cells-demo-mocker-selector hidden
                limit="1"
                offset="4"
                label="Product type"
                selected="{{selected}}"
                json-file="mocks.json">
              </cells-demo-mocker-selector>

              <cells-product-summary id="component1"
                heading="[[selected.heading]]"
                img-src="[[selected.imgSrc]]"
                icon-code="[[selected.iconCode]]"
                masked-heading="[[selected.maskedHeading]]"
                local-currency="[[selected.localCurrency]]"
                progress-value="[[selected.progressValue]]"
                main-items="[[selected.mainItems]]"
                optional-items="[[selected.optionalItems]]"
                additional-items="[[selected.additionalItems]]"
                loading>
                <cells-meter class="progress-bar" slot="progress-bar"
                  value="[[selected.progressValue]]"
                  bar-angle="-30"
                  aria-label$="[[selected.progressValue]]%"
                  animated>
                </cells-meter>
              </cells-product-summary>
            </template>
            <script>
              document.addEventListener('WebComponentsReady', function() {
                var demo = document.querySelector(Polymer.Element ? 'dom-bind' : '#demo1');
                setTimeout(function() {
                  demo.$.component1.onData();
                }, 1000);
              });
            </script>
          </dom-bind>
        </template>
      </cells-demo-case>

      <cells-demo-case heading="Error message">
        <template>
          <dom-bind>
            <template is="dom-bind" id="demo3">
              <!-- Data in demo/mocks.json -->
              <cells-demo-mocker-selector hidden
                limit="1"
                offset="4"
                label="Product type"
                selected="{{selected}}"
                json-file="mocks.json">
              </cells-demo-mocker-selector>

              <cells-product-summary id="component3"
                heading="[[selected.heading]]"
                img-src="[[selected.imgSrc]]"
                icon-code="[[selected.iconCode]]"
                masked-heading="[[selected.maskedHeading]]"
                local-currency="[[selected.localCurrency]]"
                progress-value="[[selected.progressValue]]"
                main-items="[[selected.mainItems]]"
                optional-items="[[selected.optionalItems]]"
                additional-items="[[selected.additionalItems]]"
                error-message="Error: Unable to retrieve the account."
                icon-error="coronita:alert"
                loading>
              </cells-product-summary>
            </template>
            <script>
              document.addEventListener('WebComponentsReady', function() {
                var demo = document.querySelector(Polymer.Element ? 'dom-bind' : '#demo3');
                setTimeout(function() {
                  demo.$.component3.onError();
                }, 1000);
              });
            </script>
          </dom-bind>
        </template>
      </cells-demo-case>

    </cells-demo-helper>
  </body>
</html>
