<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="../cells-atom-icon/cells-atom-icon.html">
<link rel="import" href="../cells-button-group/cells-button-group.html">
<link rel="import" href="../coronita-icons/coronita-icons.html">
<link rel="import" href="../cells-date-range-picker/cells-date-range-picker.html">
<link rel="import" href="../paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../cells-organism-menu-sidebar/cells-organism-menu-sidebar.html">
<link rel="import" href="../cells-iron-transactions-list/cells-iron-transactions-list.html">
<link rel="import" href="../cells-molecule-group-transactions-list/cells-molecule-group-transactions-list.html">
<link rel="import" href="../cells-product-card-list/cells-product-card-list.html">
<link rel="import" href="../nvd3-elements/nvd3-elements.html">
<link rel="import" href="../pf-calendar-events/pf-calendar-events.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="./moment-import.html">

<!--
`<cells-myb-period-balances>` description.

Example:

```html
<cells-myb-period-balances></cells-myb-period-balances>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-myb-period-balances-scope      | scope description | default value  |
| --cells-myb-period-balances  | empty mixin     | {}             |

@demo demo/index.html
-->
<dom-module id="cells-myb-period-balances">
  <template>
  <style>
  section {

margin: 0 auto;
display: flex;
}

.column {
margin: 10px;
flex-grow: 1;
flex-shrink: 1;
flex-basis: 0;
}

section:nth-of-type(5) .column:first-of-type {
flex-grow: 2;
flex-shrink: 2;
flex-basis: 22px;
}

section:nth-of-type(6) .column:nth-of-type(2) {
flex-grow: 4;
flex-shrink: 4;
flex-basis: 66px;
}

/* OTHER STYLES */

html, body {
height: 100%;
box-sizing: border-box;
}

body {
font-family: 'Raleway', sans-serif;
padding: 10px;
background: linear-gradient(135deg, #b04, #f80) fixed;
}

.column {
padding: 5px 0;
background-color: white;
text-align: center;
/*box-shadow: 0px 0px 5px 1px grey;*/
border: 1px solid transparentize(white, 0.25);
background-color: transparentize(white, 0.8);
color: transparentize(white, 0.1);
}
  </style>

  <div slot="main">
    <section>
      <div class="column">
        <cells-product-card-list loading header="mis productos" id="cards"></cells-product-card-list>
      </div>
    </section>

    <section>
<div class="column">
  <div hidden$="false">
    <cells-iron-transactions-list id="transactionsList0" scroll-target="target" scroll-target-type="class" header="transactions" loading>
    </cells-iron-transactions-list>
  </div>
</div>

<div class="column">
  <nvd3-donut
  id="donut"
  data="[[data]]"
  height="300"
  width="400"
  auto-resize
  show-legend
  donut-ratio="0.55"></nvd3-donut>
</div>
<div class="column">
  <pf-calendar-events id="calevents" calendarstyle="material-calendar"></pf-calendar-events>
</div>
  </section>
</div>


  </template>
  <script src="cells-myb-period-balances.js"></script>
</dom-module>
