<dom-module id="cells-myb-period-balances-styles"><template><style>
:host {
  overflow: hidden;
  height: calc(100vh - 120px);
  @apply (--cells-myb-period-balances);
  --cells-myb-transaction-history-ui-header: { padding-bottom: 0.5rem; }; }

.range-buttons-container[showResults='visible'] {
  -webkit-animation: hideButtons .2s linear forwards;
          animation: hideButtons .2s linear forwards; }

.range-buttons-container[showResults='hidden'] {
  -webkit-animation: showButtons .5s linear forwards;
          animation: showButtons .5s linear forwards; }

@-webkit-keyframes hideButtons {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes hideButtons {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes showButtons {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes showButtons {
  0% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#range-selection {
  width: 100vw;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  @apply (--cells-myb-period-balances-range-selection); }

.range-buttons-container {
  width: 100%;
  position: absolute;
  top: calc(100vh - 210px); }

#data-result {
  opacity: 0;
  min-height: calc(100vh - 120px);
  top: calc(100vh - 120px);
  width: 100vw;
  overflow: scroll;
  position: absolute;
  background-color: white;
  z-index: 10;
  @apply (--cells-myb-period-balances-data-result); }
  #data-result .loading {
    margin-top: -2.5rem; }
  #data-result[showResults='hidden'] {
    -webkit-animation: slideDownResults .5s ease forwards;
            animation: slideDownResults .5s ease forwards; }
  #data-result[showResults='visible'] {
    -webkit-animation: slideUpResults .5s ease forwards;
            animation: slideUpResults .5s ease forwards; }

@-webkit-keyframes slideUpResults {
  0% {
    top: calc(100vh - 120px);
    opacity: 1; }
  100% {
    top: 0px;
    opacity: 1; } }

@keyframes slideUpResults {
  0% {
    top: calc(100vh - 120px);
    opacity: 1; }
  100% {
    top: 0px;
    opacity: 1; } }

@-webkit-keyframes slideDownResults {
  0% {
    top: 0px;
    opacity: 1; }
  99% {
    opacity: 1; }
  100% {
    opacity: 0;
    top: calc(100vh - 120px); } }

@keyframes slideDownResults {
  0% {
    top: 0px;
    opacity: 1; }
  99% {
    opacity: 1; }
  100% {
    opacity: 0;
    top: calc(100vh - 120px); } }
  #data-result .upper-link-container {
    padding: 2.5rem 0 1.875rem 0;
    text-align: center;
    vertical-align: middle;
    background: var(--cells-myb-ui-theme-color-BBVA-200);
    color: var(--cells-myb-ui-theme-color-medium-blue);
    font-family: var(--cells-fontSecondary);
    @apply (--cells-text-size-m-mini);
    @apply (--cells-myb-period-balances-upper-link-container); }
  #data-result .upper-link-icon {
    vertical-align: top;
    @apply (--cells-myb-period-balances-upper-link-icon); }

</style></template></dom-module>
