@import "bower_components/cells-sass/mixins";

:host {
  overflow: hidden;
  height: calc(100vh - 120px);
  @apply(--cells-myb-period-balances);
  --cells-myb-transaction-history-ui-header: unquote("{
    padding-bottom: 0.5rem;
  }");
}


.range-buttons-container[showResults='visible'] {
  animation: hideButtons .2s linear forwards;
}

.range-buttons-container[showResults='hidden'] {
  animation: showButtons .5s linear forwards;
}

@keyframes hideButtons {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes showButtons {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#range-selection {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @apply(--cells-myb-period-balances-range-selection);
}

.range-buttons-container {
  width: 100%;
  position: absolute;
  top: calc(100vh - 210px);
}

#data-result {
  opacity: 0;
  min-height: calc(100vh - 120px);
  top: calc(100vh - 120px);

  width: 100vw;
  overflow: scroll;
  position: absolute;
  background-color: white;
  z-index: 10;

  .loading {
    margin-top: rem(-40px);
  }

  &[showResults='hidden'] {
    animation: slideDownResults .5s ease forwards;
  }

  &[showResults='visible'] {
    animation: slideUpResults .5s ease forwards;
  }

  @keyframes slideUpResults {
    0% {
      top: calc(100vh - 120px);
      opacity: 1;
    }
    100% {
      top: 0px;
      opacity: 1;
    }
  }

  @keyframes slideDownResults {
    0% {
      top: 0px;
      opacity: 1;
    }
    99% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: calc(100vh - 120px);
    }
  }

  .upper-link-container {
    padding: rem(40px) 0 rem(30px) 0;
    text-align: center;
    vertical-align: middle;
    background: var(--cells-myb-ui-theme-color-BBVA-200);
    color: var(--cells-myb-ui-theme-color-medium-blue);
    font-family: var(--cells-fontSecondary);
    @apply(--cells-text-size-m-mini);
    @apply(--cells-myb-period-balances-upper-link-container);
  }

  .upper-link-icon {
    vertical-align: top;
    @apply(--cells-myb-period-balances-upper-link-icon);
  }

  @apply(--cells-myb-period-balances-data-result);
}
