@import "bower_components/cells-sass/main";

:host {
  margin: 0;
  padding: 0;
  font-size: rem(14px);
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  color: var(--cells-key-values-color, #121212);
  @apply(--cells-key-values);
}

:host([hidden]), [hidden] { display: none; }

/**
 * Default layout (stacked)
 * key above value
 */
.key {
  color: var(--cells-key-values-key-color, #666);
  margin-bottom: var(--cells-key-values-key-value-margin, rem(5px));
  @apply --cells-key-values-key;
}
.value {
  margin: 0;
  font-size: var(--cells-key-values-value-font-size, 1rem);
  @apply --cells-key-values-value;
}

/**
 * Inline layout
 * value to the right of the key
 */
:host(.inline) {
  display: flex;
  justifiy-content: space-between;
  align-items: baseline;
  @apply --cells-key-values-inline;

  .key {
    flex: 1;
    margin-bottom: 0;
    @apply --cells-key-values-inline-key;
  }
  .value {
    text-align: right;
    display: flex;
    flex-direction: column;
    @apply --cells-key-values-inline-value;

    > div:not(:first-of-type) {
      margin-top: rem(2px);
      margin-bottom: rem(8px);
      color: var(--cells-key-values-key-color, #666);
      @apply --cells-key-values-inline-value-not-first-child;
    }
  }
}

/**
 * Stacked reversed layout
 * Value above key, both centered
 */
:host(.reversed) {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  @apply --cells-key-values-reversed;

  .key {
    margin-bottom: 0;
    @apply --cells-key-values-reversed-key;
  }
  .value {
    text-align: center;
    margin-bottom: var(--cells-key-values-key-value-margin, rem(5px));
    flex-direction: column;
    @apply --cells-key-values-reversed-value;

    > div:not(:first-child) {
      color: var(--cells-key-values-key-color, #666);
      @apply --cells-key-values-reversed-value-not-first-child;
    }

    .value-item-1 {
      margin-top: rem(5px);
      margin-bottom: rem(-3px);
      @apply --cells-key-values-reversed-value-second-child;
    }
  }
}

.value-amount {
  @apply --cells-key-values-value-amount;
}
.value-mask {
  @apply --cells-key-values-value-mask;
}
.value-simple {
  @apply --cells-key-values-value-simple;
}
