<dom-module id="cells-key-values-styles"><template><style>
:host {
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  color: var(--cells-key-values-color, #121212);
  @apply (--cells-key-values); }

:host([hidden]), [hidden] {
  display: none; }

/**
 * Default layout (stacked)
 * key above value
 */
.key {
  color: var(--cells-key-values-key-color, #666);
  margin-bottom: var(--cells-key-values-key-value-margin, 0.3125rem);
  @apply --cells-key-values-key; }

.value {
  margin: 0;
  font-size: var(--cells-key-values-value-font-size, 1rem);
  @apply --cells-key-values-value; }

/**
 * Inline layout
 * value to the right of the key
 */
:host(.inline) {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justifiy-content: space-between;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  @apply --cells-key-values-inline; }
  :host(.inline) .key {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 0;
    @apply --cells-key-values-inline-key; }
  :host(.inline) .value {
    text-align: right;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    @apply --cells-key-values-inline-value; }
    :host(.inline) .value > div:not(:first-of-type) {
      margin-top: 0.125rem;
      margin-bottom: 0.5rem;
      color: var(--cells-key-values-key-color, #666);
      @apply --cells-key-values-inline-value-not-first-child; }

/**
 * Stacked reversed layout
 * Value above key, both centered
 */
:host(.reversed) {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  @apply --cells-key-values-reversed; }
  :host(.reversed) .key {
    margin-bottom: 0;
    @apply --cells-key-values-reversed-key; }
  :host(.reversed) .value {
    text-align: center;
    margin-bottom: var(--cells-key-values-key-value-margin, 0.3125rem);
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    @apply --cells-key-values-reversed-value; }
    :host(.reversed) .value > div:not(:first-child) {
      color: var(--cells-key-values-key-color, #666);
      @apply --cells-key-values-reversed-value-not-first-child; }
    :host(.reversed) .value .value-item-1 {
      margin-top: 0.3125rem;
      margin-bottom: -0.1875rem;
      @apply --cells-key-values-reversed-value-second-child; }

.value-amount {
  @apply --cells-key-values-value-amount; }

.value-mask {
  @apply --cells-key-values-value-mask; }

.value-simple {
  @apply --cells-key-values-value-simple; }

</style></template></dom-module>