<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>Demo cells-psv-generic-dp</title>
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../../cells-demo-helper/cells-demo-helper.html">
    <link rel="import" href="../../cells-demo-dm-helper/cells-demo-dm-helper.html">
    <link rel="import" href="../cells-psv-generic-dp.html">
    <link rel="import" href="css/demo-styles.html">
    <link rel="import" href="../../polymer/polymer.html">
    <link rel="import" href="../../paper-input/paper-input.html">
    <link rel="import" href="../../paper-input/paper-textarea.html">
    <link rel="import" href="../../iron-flex-layout/iron-flex-layout-classes.html">
  </head>
  <body unresolved ontouchstart>
    <cells-demo-helper resizable-viewport-off  events='["request-success", "request-error"'>
      <cells-demo-case heading="Basic" description="A basic generic dp example">
        <template>
          <template is="dom-bind" id="demo-basic-dom-bind">

            <cells-demo-dm-helper json-data="[[results]]" on-do-request="doRequest" dm-methods="[[dmMethods]]">
              <div id="demo1-results-container" slot="component">
                <div class="layout horizontal">
                  <paper-input class="flex" label="Base URL (Service endpoint)" value="{{baseUrl}}"></paper-input>
                  <paper-input class="flex" label="Base Path" value="{{basePath}}"></paper-input>
                </div>
                <div class="layout horizontal">
                  <paper-input class="flex" label="Method" value="{{method}}"></paper-input>
                  <paper-input class="flex" label="Content Type" value="{{contentType}}"></paper-input>
                </div>
                <div class="layout horizontal">
                  <paper-textarea value="{{body}}" class="flex" rows="10" label="Body"></paper-textarea>
                </div>
                <h3>Responses log:</h3>
                <template is="dom-repeat" items="[[responses]]">
                  <pre>{{item}}</pre>
                </template>
              </div>
            </cells-demo-dm-helper>
            <cells-psv-generic-dp
              id="dataProvider"
              endpoint="{{baseUrl}}"
              path="{{basePath}}"
              method="{{method}}"
              body="{{body}}"
              headers="{{headers}}">
            </cells-psv-generic-dp>
          </template>
          <script>
            (function(demo) {
              demo.baseUrl = 'http://localhost:2222/';
              demo.basePath = 'persons/V01/';
              demo.method = 'POST';
              demo.contentType = 'application/json';

              demo.responses = [];

              demo.body = JSON.stringify({
                'codEntalfa': '0182',
                'personId': 1234
              }, null, ' ');

              demo.dmMethods = [ {
                'event': 'do-request',
                'label': 'Do Request',
                'method': 'doRequest()'
              } ];

              demo.doRequest = function() {
                demo.headers = {
                  'Accept': 'application/json, text/javascript, */*; q=0.01',
                  'Content-Type': demo.contentType
                };
                var request = demo.$.dataProvider.generateRequest();
                request.then(
                  function(resp) {
                    demo.results = resp.parseResponse();
                    demo.push('responses', resp.xhr.responseURL);
                    console.log(this.fire);
                    this.dispatchEvent(new CustomEvent('request-success', { bubbles: true}));
                    this.fire('request-success', resp.parseResponse());
                  }.bind(this)
                );
              };

            }(document.getElementById('demo-basic-dom-bind')));
          </script>
        </template>
      </cells-demo-case>
    </cells-demo-helper>
  </body>
</html>
