<!--
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../cells-ajax-behavior.html">

<dom-module id="client-cells-ajax-behavior">
</dom-module>
<script>
  Polymer({
    is: 'client-cells-ajax-behavior',
    behaviors: [ CellsBehaviors.CellsAjaxBehavior ],
    properties: {
      _serviceURL: {
        type: String,
        value: '/users'
      }
    },
    _getRequestProperties: function() {
      return {};
    },
    listeners: {
      'request-in-progress': 'reqInProgressLi',
      'response': 'responseLi'
    },
    reqInProgressLi: function(data) {
      console.log('Request in progress...');
    },
    responseLi: function(data) {
      console.log('REQUEST FINISHED');
      console.dir(data.detail);
    },
    attached: function() {
      console.log('Send Request...');
      var promiseRequest = this.generateRequest();
      promiseRequest
        .then(function(request) {
          console.log('_demo: request went ok | response:', request.response);
        })
        .catch(function(e) {
          console.log('_demo: request went badly | error:', e);
        });
    }
  });
</script>
