<!doctype html>
<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>cells-ajax-behaviors Demo</title>
  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="client-cells-ajax-behavior.html">
  <link rel="import" href="../../iron-list/iron-list.html">

  <style is="custom-style">
    iron-list {
      position:absolute;
      top:10px; left:10px; bottom:10px; right:0;
    }
    .item {
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }
  </style>
</head>

<body unresolved>
  <template is="dom-bind">
    <client-cells-ajax-behavior endpoint="http://jsonplaceholder.typicode.com" last-response="{{data}}"></client-cells-ajax-behavior>

    <iron-list items="[[data]]" as="item">
      <template>
        <div class="item">
          <h3>[[item.name]]</h3>
          <div><strong>Email:</strong> [[item.email]]</div>
          <div><strong>Phone:</strong> [[item.phone]]</div>
          <div><strong>Company:</strong> [[item.company.name]]</div>
        </div>
      </template>
    </iron-list>
  </template>
</body>

</html>