<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-atom-date-styles.html">
<link rel="import" href="./moment-import.html">

<!--
The `<cells-atom-date>` component draws a date in a specific format.

Example:

```html
<cells-atom-date date="2016-08-18" format="MM/YYYY"></cells-atom-date>
```
The `date` attribute is required.

```html
<cells-atom-date date="2016-08-18"></cells-atom-date>
```
If the `format` attribute is not used, the format used is `DD/MM/YYYY`. The values of this attribute are the admitted by `moment.js (see <http://momentjs.com/docs/#/displaying/format/>)

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-atom-date-color | atom date color | #003f8C
| --cells-atom-date  | empty mixin     | {}             |

@demo demo/index.html
@hero Date.svg
-->
<dom-module id="cells-atom-date">
  <template>
    <style include="cells-atom-date-styles cells-atom-date-shared-styles"></style>
    <span>[[_showDate]]</span>
  </template>
  <script src="cells-atom-date.js"></script>
</dom-module>
