<dom-module id="cells-atom-date-styles"><template><style>
:host {
  display: block;
  font-family: var(--cells-fontDefault, --fontDefault);
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

:host {
  color: var(--cells-atom-date-color, #003f8C);
  @apply (--cells-text-size-l-mini);
  @apply (--cells-atom-date); }

</style></template></dom-module>