@import "bower_components/cells-sass/main";

:host {
  display: block;
  font-family: var(--cells-fontDefault, 'sans-serif');
  box-sizing: border-box;
  @apply(--cells-date-range-picker);
}

:host([hidden]) {
  display:none;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.wrapper {
  @apply(--cells-date-range-picker-wrapper);
}

.item {
  @apply(--cells-date-range-picker-item);
}

.description {
  @apply(--cells-date-range-picker-description);
}

.wrapper.focus .description {
  @apply(--cells-date-range-picker-description-focus);
}

.divider {
  @apply(--cells-date-range-picker-divider);
}
