<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../cells-molecule-date-input/cells-molecule-date-input.html">
<link rel="import" href="./moment-import.html">

<link rel="import" href="cells-date-range-picker-styles.html">
<!--
`<cells-date-range-picker>` shows two calendar to select range of dates.

Example:

```html
<cells-date-range-picker
  allow-past-date
  available-weekends
  icon="coronita:calendar"
  icon-size="18"
  format="DD MMMM YYYY"
></cells-date-range-picker>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-date-range-picker-scope      | scope description | default value  |
| --cells-date-range-picker  | empty mixin     | {}             |           |
| --cells-date-range-picker-wrapper | empty mixin |             |           |
| --cells-date-range-picker-item | empty mixin |                |           |
| --cells-date-range-picker-description | empty mixin |         |           |
| --cells-date-range-picker-description-focus | empty mixin |   |           |
| --cells-date-range-picker-divider | empty mixin |             |           |
@demo demo/index.html
-->
<dom-module id="cells-date-range-picker">
  <template>
    <style include="cells-date-range-picker-styles cells-date-range-picker-shared-styles"></style>

    <div class="wrapper">

      <cells-molecule-date-input class="item" id="fromCalendar" lang="[[_lang]]"
        placeholder="[[t('cells-date-range-picker-placeholder')]]"
        icon="[[icon]]"
        icon-size="[[iconSize]]"
        format="[[format]]"
        allow-past-date="[[allowPastDate]]"
        available-weekends="[[availableWeekends]]"
        min-date="[[minDate]]"
        max-date="[[_computeMaxDate(maxDate, to)]]"
        show-date="[[_changeToDateFormat(from)]]">
        <span class="description">[[t('cells-date-range-picker-from')]]</span>
      </cells-molecule-date-input>

      <div class="divider"></div>

      <cells-molecule-date-input class="item" id="toCalendar" lang="[[_lang]]"
        placeholder="[[t('cells-date-range-picker-placeholder')]]"
        icon="[[icon]]"
        icon-size="[[iconSize]]"
        format="[[format]]"
        allow-past-date="[[allowPastDate]]"
        available-weekends="[[availableWeekends]]"
        min-date="[[_computeMinDate(minDate, from)]]"
        max-date="[[maxDate]]"
        show-date="[[_changeToDateFormat(to)]]">
        <span class="description">[[t('cells-date-range-picker-to')]]</span>
      </cells-molecule-date-input>
    </div>

  </template>
  <script src="cells-date-range-picker.js"></script>
</dom-module>
