<dom-module id="cells-molecule-header-shared-styles">
    <template>
        <style>
        :host {
          background-color: var(--cells-myb-ui-theme-color-dark-blue, #043263);

          --cells-molecule-header-title: {
            font-family: var(--cells-fontDefault);
            font-weight: normal;
            color: var(--cells-myb-ui-theme-color-white, #FFFFFF);
            @apply(--cells-text-size-m-maxi);
          };
        }

        :host(.filter-active) .switch-container:before{
             position: absolute;
             content: '';
             background-color:#2DCCCD;
             border-radius:50%;
             opacity:1;
             z-index: 1;
             width: 8px;
             height: 8px;
             margin: -1px 0px 0px -1px;
             border: 1px solid #043263;
             pointer-events: none;
         }

        :host(#cells-template-terms-header) {
          background-color: var(--cells-myb-ui-theme-color-white, #FFFFFF);
          --cells-molecule-header-title: {
            @apply(--cells-text-size-m-maxi);
            color: var(--cells-myb-ui-theme-color-dark-blue, #043263);
          }

          --cells-molecule-header-back-icon: {
            color: var(--cells-myb-ui-theme-color-dark-blue, #043263);
          }
        }

        :host(#cells-template-contact-header) {
          background: var(--cells-myb-ui-theme-color-teal-sales, #02A5A5);
        }

        :host(#cells-template-login-header) {
          background: var(--cells-myb-ui-theme-color-primary, #004481);
        }

        </style>
    </template>
</dom-module>
