<dom-module id="cells-molecule-date-input-shared-styles">
    <template>
        <style>
        :host(#cells-template-manual_statement) {

          --cells-molecule-date-input-date: {
            color: #262726;
          };

          --cells-molecule-date-input: {
            background: #f3f4f3;
            border: none;
            border-bottom: 2px solid #919291;
            height: 60px;
          };

        };
        </style>
    </template>
</dom-module>