<dom-module id="cells-myb-transaction-detail-shared-styles">
    <template>
        <style>
        :host {
            color: var(--cells-myb-ui-theme-color-white, #ffffff);
            text-align: center;

            --cells-molecule-mask__separator: {
                margin-right: 0.1875rem;
                margin-left: 0.3125rem;
            }

            --cells-bottom-modal-footer : {
                display: none;
            }
        }
        </style>
    </template>
</dom-module>