<dom-module id="cells-myb-group-operation-shared-styles">
    <template>
        <style>
        :host([has-data-yearly]) #no-data-yearly,
        :host([has-data-monthly]) #no-data-monthly,
        :host([has-data-daily]) #no-data-daily {
          display: none;
        }
        </style>
    </template>
</dom-module>
