<dom-module id="cells-molecule-slider-shared-styles">
    <template>
        <style>
        :host([has-data-yearly]) #no-data-yearly,
        :host([has-data-monthly]) #no-data-monthly,
        :host([has-data-daily]) #no-data-daily {
          display: none;
        }
        :host {
          transform: translateZ(0);
          -webkit-transform: translateZ(0);

          --cells-molecule-slider-slide: {
            justify-content: flex-start;
            outline: none;
          }

          --cells-molecule-slider-container: {
            min-height: calc(100vh - 60px);
          }
        }
        </style>
    </template>
</dom-module>
