<dom-module id="cells-notifier-shared-styles">
    <template>
        <style>
        :host {
          --iron-overlay-backdrop-background-color: #072146;
          --iron-overlay-backdrop-opacity: 0.9;
          --cells-bottom-modal-footer: {
            display: none;
          };
          --cells-bottom-modal-header-wrapper: {
            display: none;
          };
          --cells-bottom-modal-body: {
            padding: 1.875rem;
          };
          --cells-notifier-icon: {
            margin-bottom: 0;
          };
          --cells-notifier-text:{
            font-family: var(--cells-fontDefault);
            margin: 1.25rem 0;
            @apply(--cells-text-size-m-mini);
          };
          --cells-btn--l: {
            min-height: 2.5rem;
            height: 2.5rem;
          }
          --cells-btn--primary: {
            min-height: 2.5rem;
            min-width: 9rem;
            font-family: var(--cells-fontQuinary);
            color: #FFFFFF;
            border-color: var(--cells-myb-ui-theme-color-medium-blue);
            background-color: var(--cells-myb-ui-theme-color-medium-blue);;
            @apply(--cells-text-size-m-mini);
          };
          --cells-btn--primary-active: {
            min-height: 2.5rem;
            min-width: 9rem;
            font-family: var(--cells-fontQuinary);
            color: #89B1D2;
            border-color: var(--cells-myb-ui-theme-color-medium-blue);
            background-color: #1565A5;;
            @apply(--cells-text-size-m-mini);
          };
        }
        </style>
    </template>
</dom-module>