<dom-module id="cells-welcome-slider-shared-styles">
  <template>
    <style>
      :host {
       --cells-welcome-slider: {
        background-image: url(../img/fractal-bbva-core-blue.svg);
        background-color: var(--cells-myb-ui-theme-color-dark-blue);
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: cover;
       };
        --cells-welcome-slider_actions__btn: {
          font-family: var(--cells-fontQuinary);
          height: 3.125rem;
          color: var(--cells-myb-ui-theme-color-white, #FFFFFF);
          border: none;
          border-radius: 0.0625rem;
          background: var(--cells-myb-ui-theme-color-medium-blue, #237ABA);
          width: 110px;
          @apply(--cells-text-size-m-mini);
        }

        --cells-welcome-slider_footer: {
          color: var(--cells-myb-ui-theme-color-white, #FFFFFF);
          @apply(--cells-text-size-m-mini);
        }

        --cells-welcome-slider_footer__btn: {
          font-weight: normal;
          font-family: var(--cells-fontQuinary);
          text-decoration: none;
          color: var(--cells-myb-ui-theme-color-white, #FFFFFF);
          @apply(--cells-text-size-m-mini);
        }

        --cells-full-screen-slider-slide-title: {
          margin: 0.75rem 0 0 0;
          font-weight: normal;
          font-family: var(--cells-fontQuinary);
        }

        --cells-full-screen-slider-slide-text: {
          margin: 1.25rem 0 1.875rem;
          line-height: 1.5;
        }

        --cells-welcome-slider_legal-notice: {
          @apply --cells-text-size-m-mini;
        }
      }
    </style>
  </template>
</dom-module>
