<dom-module id="cells-key-values-shared-styles">
    <template>
        <style>
        :host {

        	--cells-key-values-content: {
				margin-bottom: 1.5625rem;
				@apply(--cells-text-size-s);
        	};

        	--cells-key-values-key: {
				align-self: flex-start;
                margin: 0 0 0.1875rem 0;
				order: 0;
        	};

        	--cells-key-values-values: {
				align-self: flex-start;
				font-family: var(--cells-fontSecondary);
        	};

        	--cells-molecule-mask: {
        		font-family: var(--cells-fontSecondary);
        	};

        	--cells-molecule-mask__separator: {
				@apply(--cells-text-size-s);
        	};

        	--cells-molecule-mask__number: {
				@apply(--cells-text-size-s);
        	};

            --cells-atom-amount-minus-left: {
                bottom:0.1875rem;
                position: relative;
                font-family: var(--cells-fontSecondary);
            };

            --cells-atom-amount-integer: {
                font-family: var(--cells-fontSecondary);
                @apply(--cells-text-size-m-maxi);
            };

            --cells-atom-amount-separator: {
                display:none;
            };

            --cells-atom-amount-fractional: {
                margin-left: 0.1875rem;
                position:relative;
                bottom: 0.1875rem;
                font-family: var(--cells-fontSecondary);
                @apply(--cells-text-size-s);
            };

            --cells-atom-amount-currency-right: {
                margin-left: 0;
                position:relative;
                bottom: 0.1875rem;
                font-family: var(--cells-fontSecondary);
                @apply(--cells-text-size-s);
                
            };
        }
        </style>
    </template>
</dom-module>