<dom-module id="cells-button-group-shared-styles">
    <template>
        <style>
          :host {
            background-color: #FFFFFF;
            box-shadow: -1px 0px 5px #D0D0D0;
          };

          :host(#go-to-update-app-button) {
            box-shadow: none;
          }

          :host(#go-to-update-app-button) .btn-apply{
            margin: 0;
          };

          .btn-apply,
          .btn-clear {
            height: 3.125rem;
            font-family: var(--cells-fontQuinary);
            border-radius: 1px;
            @apply(--cells-text-size-m-mini);
          }

          .btn-apply:active:not(:disabled), .btn-clear:active:not(:disabled) {
            font-family: var(--cells-fontQuinary);
            @apply(--cells-text-size-m-mini);
          }

          .btn-apply:disabled, .btn-clear:disabled {
            background-color: var(--cells-myb-ui-theme-color-BBVA-200);
            opacity: 1;
          }

          .btn-apply {
            margin: 1.25rem 1.25rem 1.25rem 0.3125rem;
            background-color: #004481;
          }

          .btn-clear {
            margin: 1.25rem 0.3125rem 1.25rem 1.25rem;
            background-color: #237ABA;
          }
        </style>
    </template>
</dom-module>
