<dom-module id="cells-tabs-shared-styles">
    <template>
        <style>
          paper-tab::shadow .tab-content {
            outline: none;
            letter-spacing: normal;
            font-weight: 300 !important;
          }

          :host {
            --cells-tabs-selected-tab: {
              color: #fff;
              border-bottom: 2px solid #fff;
            }

            --paper-tabs-selection-bar: {
              border-bottom: 2px solid #fff;
            }
          }

        </style>
    </template>
</dom-module>
