<dom-module id="cells-organism-menu-sidebar-shared-styles">
  <template>
    <style>
      :host {
        --cells-organism-menu-sidebar-background-user: url(../img/menu_background.png) bottom left no-repeat #043263;

        --cells-organism-menu-sidebar-section-list-user-logged: {
          margin: 5.625rem 0 0;
          padding-left: 3rem;
        };

        --cells-organism-menu-sidebar-header: {
          margin-top:1.25rem;
        };

        --cells-molecule-link-icon: {
          font-family: var(--cells-fontSecondary);
          @apply(--cells-text-size-m-mini);
        };

        --cells-organism-menu-sidebar-footer: {
          padding-left: 3rem;
        };

        --cells-organism-menu-sidebar-user-link: {
          max-width: 100%;
        };

        --cells-organism-menu-sidebar-user-profile: {
          width: 41vw;
          margin-top: .3rem;
          font-family: var(--cells-fontSecondary);
        };

        --cells-organism-menu-sidebar-user-name: {
          font-size: 1.5rem;
          font-family: var(--cells-fontDefault);
        };

        --cells-organism-menu-sidebar-user-avatar: {
          border-radius: 0;
          margin-top: -0.6rem;
        };

      }
    </style>
  </template>
</dom-module>
