<dom-module id="cells-date-range-picker-shared-styles">
    <template>
        <style is="custom-style">
          :host {
            @apply --cells-text-size-s;
            --cells-date-range-picker-wrapper: {
              display: flex;
              justify-content: center;
              margin: 2.5rem 0 2.5rem 0;
            };

            --cells-molecule-date-input: {
              border: 0;
              border-radius: 0;
              background-image: none;
              min-height: auto;
              min-width: 48%;
              max-width: 48%;
              width: 48%;
            };

            --cells-molecule-date-input-date: {
              display: flex;
              flex-direction: column-reverse;
            };

            --cells-molecule-date-input-icon: {
              color: var(--cells-myb-ui-theme-color-grey);
              margin: 0 0 .625rem 0;
            };

            --cells-date-range-picker-description: {
              font-size: 1rem;
              color: var(--cells-myb-ui-theme-color-grey);
              margin: 0 0 1.25rem 0;
            };

            --cells-date-range-picker-divider: {
              width: 1px;
              height: 77px;
              display: block;
              background: var(--cells-myb-ui-theme-color-BBVA-200);
              margin: 0 0.2rem;
              transform: rotate(0deg);
            };

            --cells-molecule-date-input-placeholder: {
              color: var(--cells-myb-ui-theme-color-medium-blue);
              font-family: var(--cells-fontSecondary);
              padding-bottom: 2px;
            };

            --cells-molecule-date-value: {
              color: var(--cells-myb-ui-theme-color-medium-blue);
              font-family: var(--cells-fontSecondary);
              padding-bottom: 2px;
            };

            --cells-molecule-date-input-focus-icon: {
              color: var(--cells-myb-ui-theme-color-primary);
            };

            --cells-molecule-date-focus-content-description: {
              color: var(--cells-myb-ui-theme-color-primary) !important;
            };

            --cells-molecule-date-focus-date-value: {
              color: var(--cells-myb-ui-theme-color-primary);
            };
            --cells-molecule-date-focus-placeholder: {
              color: var(--cells-myb-ui-theme-color-primary);
            };

          }
        </style>
    </template>
</dom-module>
