<dom-module id="cells-full-screen-slider-shared-styles">
  <template>
    <style>
       :host {
        --cells-full-screen-slider-content: {
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: column;
          flex-direction: column;
          -webkit-justify-content: flex-end;
          justify-content: flex-end;
        };
        --cells-full-screen-slider-slide-image: {
          width: auto;
          height: 40vh;
          position: absolute;
          margin: auto;
          left: 0;
          right: 0;
          top: -1.25rem;
        };

        --cells-full-screen-slider-slide-title: {
          @apply --cells-text-size-l-mini;
          line-height: 1.5rem;
          padding: 0 0 1.25rem 0;
          font-weight: normal;
          font-family: var(--cells-fontQuinary);
          margin: 0;
        }

        --cells-full-screen-slider-slide-text: {
          @apply --cells-text-size-m-mini;
          line-height: 1.125rem;
        }

        --cells-full-screen-slider-pager: {
          margin-top: 64vh;
        }
      }
    </style>
  </template>
</dom-module>
