<dom-module id="cells-myb-transaction-history-shared-styles">
    <template>
        <style is="custom-style">
          cells-skeleton-item {
            padding: 0 2rem 0 2rem;
          }

          :host {
            --cells-skeleton-item-title: {
              margin-top: 1.8rem;
              margin-bottom: 1.8rem;
            }

            --cells-skeleton-item-transaction: {
              --cells-skeleton-item-box-width-first-child: 50%;
              --cells-skeleton-item-box-xs-height: 1.2rem;
              --cells-skeleton-item-box-xs-width: 30%;
              margin-bottom: 3.1rem;
            }
          }
        </style>
    </template>
</dom-module>
