<dom-module id="cells-template-coronita-shared-styles">
    <template>
        <style>
        :host(#cells-template-login_corporate){
        --cells-myb-ui-theme-color-primary: #1464A5;
        };

        :host(#cells-template-login_self_employed){
        --cells-myb-ui-theme-color-primary: #004481;
        };

        :host(#cells-template-filters){
        --app__footer-height: auto;
        };

        :host(#cells-template-version_checker){
          --cells-molecule-header-back-icon: {
            display: none;
          };
        };
        </style>
    </template>
</dom-module>
