<dom-module id="cells-contact-list-shared-styles">
    <template>
        <style>
        :host {
            --cells-contact-list: {
              height: calc(100vh - 3.75rem);
              color: var(--cells-myb-ui-theme-color-white, #FFFFF);
              background: var(--cells-myb-ui-theme-color-teal-sales, #02A5A5);
            };

            --cells-contact-item-list: {
              position: initial;
              display: block;
              margin: 0;
              padding: 0 2.1875rem;
            }

            --cells-contact-item-list-title: {
              font-family: var(--cells-fontSecondary);
              line-height: : 1.25rem;
              margin: 0 0 0.3125rem 0;
              @apply(--cells-text-size-s);
            }

            --cells-contact-item-list-primary: {
              font-family: var(--cells-fontSecondary);
              line-height: 1.125rem;
              margin: 0;
              @apply(--cells-text-size-m);
            }

            --cells-contact-item-list-secondary: {
              line-height: 1.125rem;
              margin: 0.3rem 0 0 0;
              opacity: 0.85;
              @apply(--cells-text-size-s);
            }
            --cells-contact-item-list-tertiary: {
              line-height: 1.125rem;
              opacity: 0.85;
              @apply(--cells-text-size-s);
            }

            --cells-contact-item-avatar-url: {
              width: auto;
              height: auto;
              margin-bottom: 0.9375rem;
              border-radius: initial;
            }

            --cells-contact-item-container: {
                text-align: center;
            }
        }
        </style>
    </template>
</dom-module>