<dom-module id="cells-credentials-form-shared-styles">
    <template>
        <style>
        :host {
            --cells-credentials-form-text: {
                display: none;
            }
        }
        </style>
    </template>
</dom-module>