<dom-module id="cells-doc-viewer-shared-styles">
    <template>
        <style>
        cells-atom-html {
            font-family: var(--cells-fontDefault);
            margin-top: 1.875rem;
        }

        cells-atom-html::shadow h1 {
            font-family: var(--cells-fontQuinary);
            font-weight: normal;
            line-height: 1.5rem;
            margin: 0;
            padding: 0;
            @apply(--cells-text-size-l-mini);
        }

        cells-atom-html::shadow strong{
            font-family: var(--cells-fontQuinary);
            font-weight: normal;
        }

        cells-atom-html::shadow p,
        cells-atom-html::shadow li {
            @apply(--cells-text-size-m-mini);
        }

        cells-atom-html::shadow p {
            line-height: 1.25rem;
        }

        cells-atom-html::shadow ol {
            padding-left: 0;
            counter-reset: section;
        }

        cells-atom-html::shadow ol ol {
            padding-left: 1.5125rem;
        }

        cells-atom-html::shadow ol li {
            list-style-type: none;
        }

        cells-atom-html::shadow ol ol ul {
            margin: 0;
            padding: 0;
        }

        cells-atom-html::shadow ol li ol {
            font-family: var(--cells-fontDefault);
            margin-top: 1.25rem;
        }

        cells-atom-html::shadow div > ol > li {
            margin-bottom: 1.875rem;
            @apply(--cells-text-size-m-maxi);
        }

        cells-atom-html::shadow div > ol > li::before {
            line-height: 1.5rem;
            display: inline-block;
            width: 1.3125rem;
            height: 1.3125rem;
            margin-right: 0.3125rem;
            text-align: center;
            background: transparent url('../../cells-doc-viewer/img/triangle.svg') no-repeat left top;
            @apply(--cells-text-size-m);
        }

        cells-atom-html::shadow ol ol ul li::before {
            content: url('../../cells-doc-viewer/img/rectangle.svg');
        }

        cells-atom-html::shadow ol li::before {
            margin-right: .3125rem;
            content: counters(section, '.') ' ';
            counter-increment: section;
        }
        </style>
    </template>
</dom-module>