<dom-module id="cells-spinner-stripes-shared-styles">
    <template>
        <style>
        :host {
          --cells-spinner-stripes: {
            padding: 1.875rem 0 1.875rem;
          };
        }

        :host([paused]) {
          display: none;
        }

        </style>
    </template>
</dom-module>
