<dom-module id="cells-myb-transaction-item-shared-styles">
    <template>
        <style>
            color: var(--cells-myb-ui-theme-color-dark, #121212);
            .item-card {
              font-family: var(--cells-fontDefaultItalic);
              @apply(--cells-text-size-s);
            }

            cells-atom-date {
              --cells-atom-date:{
                font-family: var(--cells-fontDefault);
                margin-top: 0.125rem;
                margin-right: 2rem;
                color: var(--cells-myb-ui-theme-color-dark);
                @apply(--cells-text-size-s);
              };
            }

            .item-day {
                --cells-atom-date:{
                    margin-top: 2px;
                    margin-right: 0.625rem;
                    font-family: var(--cells-fontDefault);
                    color: var(--cells-myb-ui-theme-color-dark);
                    @apply(--cells-text-size-m);
                };
            }
            
            cells-molecule-mask {
                --cells-molecule-mask: {
                    margin-left: 2rem;
                    font-family: var(--cells-fontDefaultItalic);
                    @apply(--cells-text-size-s);
                }

                --cells-molecule-mask__number: {
                    --cells-molecule-mask-number-font-size: @apply(--cells-text-size-s); 
                }    
            }
        </style>
    </template>
</dom-module>