<dom-module id="cells-checkable-list-shared-styles">
    <template>
        <style>
        :host {
          --app__footer-height: 5.625rem;
          --cells-checkable-list-wrapper-title: {
            font-weight: normal;
            font-family: var(--cells-fontQuinary);
          };
          --cells-checkable-item-wrapper-content: {
            line-height: 1.5625rem;
            vertical-align: middle;
          };
          --cells-checkable-list-wrapper: {
            margin-bottom: var(--app__footer-height);
          };
        }
        </style>
    </template>
</dom-module>