<dom-module id="cells-atom-amount-shared-styles">
    <template>
        <style>
        :host(.item-amount__total) {
            line-height: 1.1;
            --cells-atom-amount-integer: {
                @apply(--cells-text-size-l-mini);
            };

            --cells-atom-amount-separator: {
                display:none;
            };

            --cells-atom-amount-fractional: {
                margin-left: 0.1875rem;
                position:relative;
                bottom: 0.25rem;
                @apply(--cells-text-size-m-mini);
            };

            --cells-atom-amount-currency-right: {
                margin-left: 0;
                position:relative;
                bottom: 0.25rem;
                @apply(--cells-text-size-m-mini);
            };
            
            --cells-atom-amount-minus-left: {
                bottom:0.1rem;
                position: relative;
            };
        }

        :host(.transaction-detail__amount) {
            margin-bottom: 0.875rem;
            --cells-atom-amount-integer: {
                @apply(--cells-text-size-xl);
            };

            --cells-atom-amount-fractional: {
                margin-left: 0.1875rem;
                position:relative;
                bottom: 0.6875rem;
                @apply(--cells-text-size-l);
            };

            --cells-atom-amount-separator: {
                display:none;
            };

            --cells-atom-amount-currency-right: {
                margin-left: 0;
                position:relative;
                bottom: 0.6875rem;
                @apply(--cells-text-size-l);
            };

            --cells-atom-amount-minus-left: {
                bottom:0;
                position: relative;
            } ;
        }

        :host(.subheader-total-operation-amount) {
            color: var(--cells-myb-ui-theme-color-dark, #121212);
            font-family: var(--cells-fontDefault);

            --cells-atom-amount-integer: {
                @apply(--cells-text-size-xl-large);
            };

            --cells-atom-amount-fractional: {
                margin-left: 0.1875rem;
                position:relative;
                bottom: 0.625rem;
                @apply(--cells-text-size-l-medium);
            };

            --cells-atom-amount-separator: {
                display:none;
            };

            --cells-atom-amount-currency-right: {
                margin-left: 0;
                position:relative;
                bottom: 0.625rem;
                @apply(--cells-text-size-l-medium);
            };
        };

        :host(.subheader-total-amount) {
            @apply(--cells-text-size-m-mini);
            --cells-atom-amount-currency-right: {
                margin-left: 0;
            };
        };        

        :host(.subheader-percent-value){
            font-family: var(--cells-fontSecondary);
            @apply(--cells-text-size-m-medium);
        };

        :host(.subheader-percent-value) .currency--left {
            display: none;
        };

        :host(.subheader-percent-value) .currency--right {
            display: block;
        };


        :host(.transaction-detail__compared-amount--amount) {
            line-height: 1.1;
            --cells-atom-amount-integer: {
                @apply(--cells-text-size-l);
            };

            --cells-atom-amount-separator: {
                display:none;
            };

            --cells-atom-amount-fractional: {
                margin-left: 0.1875rem;
                position:relative;
                bottom: 0.25rem;
                @apply(--cells-text-size-m-maxi);
            };

            --cells-atom-amount-currency-right: {
                margin-left: 0;
                position:relative;
                bottom: 0.25rem;
                @apply(--cells-text-size-m-maxi);
            };

            --cells-atom-amount-minus-left: {
                bottom:0.1rem;
                position: relative;
            };
        }
        </style>
    </template>
</dom-module>