<dom-module id="cells-st-button-shared-styles">
    <template>
        <style>
        :host {
          --cells-st-button-bg-color: var(--cells-myb-ui-theme-color-medium-blue, #237ABA);
          --cells-st-button: {
            font-family: var(--cells-fontQuinary);
            font-weight: normal;
          };
        }

        </style>
    </template>
</dom-module>S