<dom-module id="transaction-list-shared-styles">
    <template>
        <style>
        :host {
          --cells-molecule-group-transactions-list-group-date: {
              display:none;
          };
        };
        :host(#transactionList-range) {
          --cells-molecule-group-transactions-list-group-date: {
            --cells-molecule-group-transactions-list-date: var(--cells-myb-ui-theme-color-yellowish, #B79E5E);
            display:block;
            text-transform: capitalize;
            @apply(--cells-text-size-m-medium);
            font-family: var(--cells-fontQuaternary);
          };
        }
        </style>
    </template>
</dom-module>