<custom-style>
  <style is="custom-style">
    body {
      margin: 0;
    }

    @media (max-width: 768px) {
      *, *:before, *:after {
        -webkit-tap-highlight-color: transparent;
      }
    }

    .btn-open {
      margin: 10px;
    }
  </style>
</custom-style>
