<custom-style>
<style is="custom-style">
  :root{
    /* All select */
    --cells-select: {
      width: 272px;
      max-width: 100%;
      height: 56px;
      border-bottom: 1px solid var(--bbva-500);
      outline: none;
    };
    --cells-select-header: {
      height: 56px;
    };
    --cells-select-label: {
      display: none;
    };
    --cells-select-options: {
      background-color: var(--bbva-100); 
    };
  }
</style>
</custom-style>