<custom-style>
<style is="custom-style">
  :root{
    /* All buttons */
    --cells-st-button-border-radius: 1px;

    /* Primary button */
    --cells-st-button-bg-color-primary: var(--bbva-medium-blue);
    --cells-st-button-bg-color-primary-hover: var(--bbva-dark-medium-blue);
    --cells-st-button-bg-color-primary-active: var(--bbva-dark-medium-blue);
    --cells-st-button-bg-color-primary-focus: var(--bbva-dark-medium-blue);
    --cells-st-button-text-color-primary: var(--bbva-white);
    --cells-st-button-text-color-primary-hover: var(--bbva-white);
    --cells-st-button-text-color-primary-active: var(--bbva-white);
    --cells-st-button-text-color-primary-focus: var(--bbva-white);

    --cells-st-button-bg-color-primary-disabled: var(--bbva-200);
    --cells-st-button-primary-disabled: {
      color: var(--bbva-400);
    }

    --cells-st-button-primary: {
      width: 196px;
      text-align: center;
    }

    /* Secondary button */
    --cells-st-button-bg-color-secondary: var(--bbva-core-blue);
    --cells-st-button-bg-color-secondary-hover: var(--bbva-dark-core-blue);
    --cells-st-button-bg-color-secondary-active: var(--bbva-dark-core-blue);
    --cells-st-button-bg-color-secondary-focus: var(--bbva-dark-core-blue);
    --cells-st-button-text-color-secondary: var(--bbva-white);
    --cells-st-button-text-color-secondary-hover: var(--bbva-white);
    --cells-st-button-text-color-secondary-active: var(--bbva-white);
    --cells-st-button-text-color-secondary-focus: var(--bbva-white);

    --cells-st-button-bg-color-secondary-disabled: var(--bbva-200);
    --cells-st-button-secondary-disabled: {
      color: var(--bbva-400);
    }

    /* Tertiary button */
    --cells-st-button-bg-color-tertiary: transparent;
    --cells-st-button-bg-color-tertiary-hover: transparent;
    --cells-st-button-bg-color-tertiary-active: transparent;
    --cells-st-button-bg-color-tertiary-focus: none;
    --cells-st-button-text-color-tertiary: var(--bbva-500);
    --cells-st-button-text-color-tertiary-hover: var(--bbva-600);
    --cells-st-button-text-color-tertiary-active: var(--bbva-600);
    --cells-st-button-text-color-focus: var(--bbva-600);

    --cells-st-button-tertiary: {
      transition: background-size 0.25s cubic-bezier(0.61, 0, 0.39, 1);
      background-image: linear-gradient(var(--bbva-600) 2px, var(--bbva-600) 2px);
      background-position: center bottom;
      background-size: 0 2px;
      font-weight: var(--cells-text-weight-normal);
      font-size: 15px;
      color: #000000;
      line-height: 24px;
    }

    --cells-st-button-tertiary-hover: {
      background-size: 100% 2px;
    }

    --cells-st-button-tertiary-selected: {
      color: var(--bbva-600);
      background-size: 100% 2px;
      font-weight: var(--cells-text-weight-medium);
    }

    /* Quaternary button */
    --cells-st-button-bg-color-quaternary: var(--bbva-dark-teal);
    --cells-st-button-bg-color-quaternary-hover: var(--bbva-dark-teal);
    --cells-st-button-bg-color-quaternary-active: var(--bbva-dark-teal);
    --cells-st-button-bg-color-quaternary-focus: var(--bbva-dark-teal);
    --cells-st-button-text-color-quaternary: var(--bbva-white);
    --cells-st-button-text-color-quaternary-active: var(--bbva-white);
    --cells-st-button-text-color-quaternary-focus: var(--bbva-white);

    --cells-st-button-bg-color-quaternary-disabled: var(--bbva-200);
    --cells-st-button-quaternary-disabled: {
      color: var(--bbva-400);
    }

    --cells-st-button-quaternary: {
      width: 196px;
      height: 56px;
      font-size: 15px;
      text-align: center;
    }

    /* Remove outline on focus */
    --cells-st-button: {
      outline: none;
    }

    --cells-st-button-link-hover: {
      color: var(--bbva-core-blue);
    }
  }
</style>
</custom-style>
