<custom-style>
  <style is="custom-style">
:host {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --wombat-onboarding-welcome;
  @apply --cells-font-smoothing; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  box-sizing: inherit; }

@media screen and (min-width: 62em) {
  .cgt {
    max-width: 960px; } }

@media screen and (min-width: 75em) {
  .cgt {
    max-width: 1176px; } }

@-webkit-keyframes floating {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
            animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
            animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
    -webkit-transform: translate(0, 0.5em);
            transform: translate(0, 0.5em); }
  100% {
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%); } }

@keyframes floating {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
            animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
            animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
    -webkit-transform: translate(0, 0.5em);
            transform: translate(0, 0.5em); }
  100% {
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%); } }

.container__background {
  width: 100%;
  height: 100%;
  background-color: var(--bbva-core-blue);
  @apply --wombat-onboarding-welcome-container-background; }
  .container__background .random__icon {
    color: var(--bbva-300);
    z-index: 100;
    position: absolute;
    opacity: 0.20;
    -webkit-animation: floating 5s linear infinite;
            animation: floating 5s linear infinite;
    @apply --wombat-onboarding-welcome-random-icon; }
  .container__background .cgt {
    margin: auto;
    text-align: center;
    @apply --wombat-onboarding-welcome-container; }
    .container__background .cgt .text__container {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 35rem;
      z-index: 200;
      @apply --wombat-onboarding-welcome-text-container; }
      .container__background .cgt .text__container .main__text {
        font-weight: var(--cells-text-weight-light);
        color: var(--bbva-white);
        font-size: 2.25rem;
        letter-spacing: -0.5px;
        line-height: 40px;
        margin-bottom: 2rem;
        @apply --wombat-onboarding-welcome-main-text; }
      .container__background .cgt .text__container .sub__text {
        font-weight: var(--cells-text-weight-normal);
        color: var(--bbva-white);
        font-size: 1.375rem;
        letter-spacing: 0;
        line-height: 30px;
        margin-bottom: 2.375rem;
        @apply --wombat-onboarding-welcome-sub-text; }
      .container__background .cgt .text__container .primary {
        background-color: var(--bbva-medium-blue);
        @apply --wombat-onboarding-welcome-primary; }
      .container__background .cgt .text__container .button__text {
        font-weight: var(--cells-text-weight-bold);
        color: var(--bbva-white);
        font-size: 0.9375rem;
        letter-spacing: 0;
        line-height: 24px;
        @apply --wombat-onboarding-welcome-button-text; }
        </style>
        </custom-style>
