<custom-style>
<style is="custom-style">
  :root{
    --cells-radio-button-icon: {
      flex-direction: row;
      background-color: var(--bbva-core-blue);
    }
    --cells-radio-button-icon-label: {
      margin-left: 20px;
      max-width: 100%;
      text-align: left;
      color: #fff;
      font-weight: 400;
    }
    --cells-radio-button-radio: {
      border: solid 1px var(--bbva-medium-blue);
      transition: background-color 0.25s cubic-bezier(0.61, 0, 0.39, 1);
    }

    --cells-radio-button-icon-check-label-color: #fff;

    --cells-radio-button-radio-size: 56px;
    --cells-radio-button-radio-border-radius: 50%;

    --cells-radio-button-icon-radio-background-color: var(--bbva-navy);
    --cells-radio-button-icon-radio-check-background-color: var(--bbva-medium-blue);

    --cells-radio-group: {
      flex-direction: column;
      background-color: var(--bbva-core-blue);
    }
  }
</style>
</custom-style>
