<custom-style>
<style is="custom-style">
  :root{
    --cells-molecule-input-background-color: var(--bbva-100);
    --cells-molecule-input-disabled-background-color: var(--bbva-100);

    --cells-molecule-input-disabled-field-label-color: var(--bbva-400);
    --cells-molecule-input-field-label-color: var(--bbva-500);
    --cells-molecule-input-field-input-color: var(--bbva-600);

    --cells-molecule-input-wrapper: {
      height: 56px;
      border-bottom: 1px solid var(--bbva-500);
      border-top: 1px solid transparent;
      caret-color: var(--bbva-light-blue);
    }

    --cells-molecule-input-invalid-wrapper: {
      border-bottom: 1px solid var(--bbva-dark-coral);
    }

    --cells-molecule-input-invalid-error-icon-color: var(--bbva-dark-coral);
    --cells-molecule-input-invalid-field-label-color: var(--bbva-dark-coral);

  }
</style>
</custom-style>
