<custom-style>
  <style is="custom-style">
    html {
      background: transparent;
      border: 0;
      box-shadow: none;
      box-sizing: border-box;
      font-size: 100%;
      margin: 0;
      outline: 0;
      padding: 0;
      text-rendering: optimizeLegibility;
      vertical-align: baseline;
      --app__main-padding-bottom: 0;
      -webkit-font-smoothing: antialiased;
    }

    *[hidden] {
      display:none;
    }

    :root{
      /* Override variables */
      --bbva-medium-blue: #237ABA;
      --bbva-dark-gold: #8E7022;
      --bbva-light-coral: #FCDFDF;

      --container-xl: {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 1144px;
      };

      --container-lg: {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 960px;
      };

      --no-select: {
        -webkit-touch-callout: none;
          -webkit-user-select: none;
           -khtml-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
      };
    }
  </style>
</custom-style>