<custom-style>
<style is="custom-style">
  :root{
    --cells-checkbox-button-checkbox-background-color: var(--bbva-100);
    --cells-checkbox-button-icon-color: var(--bbva-core-blue);
    --cells-checkbox-button-icon-color-checked: var(--cells-checkbox-button-icon-color);

    --cells-checkbox-button-icon: {
      width: 0;
      height: 0;
    }
    --cells-checkbox-button-atom-icon-checked: {
      width: 32px;
      height: 32px;
    }

    --cells-checkbox-button-icon_checked: {
      transition: width 0.25s cubic-bezier(0.61, 0, 0.39, 1), height 0.25s cubic-bezier(0.61, 0, 0.39, 1);
      padding: 0;
      display: block;
    }
    --cells-checkbox-button-checkbox: {
      border-radius: 1px;
      border: 1px solid var(--bbva-500);
      box-sizing: content-box;
    }
    --cells-checkbox-button-label-checked: {
      @apply(--cells-fontDefaultMedium)
    }

    --cells-checkbox-group-checkboxes-content: {
      width: auto;
      margin-left: 25px;
      margin-right: 25px;
    }
  }
</style>
</custom-style>
