<dom-module id="cells-molecule-input-shared-styles">
  <template><style>
    :host([readonly]) .field__input {
      color: var(--bbva-500);
    }
    :host([readonly]) .field__label {
      color: var(--bbva-500);
    }
    :host([readonly]) .icon.visible-always {
      pointer-events: none;
    }
    :host([readonly]) .icon.visible-always .transparent button {
      color: var(--bbva-500);
    }
  </style></template>
</dom-module>

<dom-module id="cells-st-button-shared-styles">
  <template><style>
    :host(.link) ::content> :hover:not(:disabled) {
      color: var(--bbva-core-blue);
    }
    :host(.link) ::content> :focus:not(:disabled) {
      color: var(--bbva-dark-core-blue);
    }
  </style></template>
</dom-module>

<dom-module id="cells-template-1-column-right-sidebar-shared-styles">
  <template><style is="custom-style">

<dom-module id="wombat-video-player-shared-styles">
  <template><style>
    :host{
      --wombat-video-player-overlay: {
        z-index: 3;
      }
    }
  </style></template>
</dom-module>

<dom-module id="wombat-smart-campaigns-shared-styles">
  <template><style>
    :host{
      --wombat-smart-campaigns: {
        margin-bottom: -254px;
        position: relative;
        z-index: 2;
      }
    }
  </style></template>
</dom-module>

<dom-module id="wombat-campaign-results-shared-styles">
  <template><style>
    :host{
      --wombat-campaign-results-main-container: {
        height: 808px;
        background-color: #F4F4F4;
      }
      --wombat-campaign-results-chart-container: {
        position: relative;
        top: -80px;
        z-index: 3;
      }
    }
  </style></template>
</dom-module>

<dom-module id="wombat-step-menu-shared-styles">
  <template><style>
    :host{
      --wombat-step-menu: {
        height: 100vh;
        padding-top: 13rem;
        position: fixed;
        width: 16rem;
      }
    }
  </style></template>
</dom-module>

<<<<<<< Updated upstream
<dom-module id="wombat-campaign-results-shared-styles">
  <template><style>
    :host{
      --wombat-campaign-results-main-container: {
        height: 808px;
        background-color: #F4F4F4;
      }
      --wombat-campaign-results-chart-container: {
        position: relative;
        top: -80px;
        z-index: 3;
      }
    }
  </style></template>
=======
<dom-module id="wombat-form-introduction-shared-styles">
  <template><style>
    :host{
      --wombat-form-introduction: {
        padding-top: 13rem;
        padding-bottom: 7.5rem;
      }
    }
  </style></template>
</dom-module>

<dom-module id="wombat-form-contact-shared-styles">
    <template><style>
      :host{
        --wombat-form-contact: {
          padding-top: 7.5rem;
          padding-bottom: 7.5rem;
        }
      }
    </style></template>
  </dom-module>

<dom-module id="wombat-form-features-shared-styles">
  <template><style>
    :host{
      --wombat-form-features: {
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
      }
    }
  </style></template>
</dom-module>

<dom-module id="wombat-form-location-shared-styles">
  <template><style>
    :host{
      --wombat-form-location: {
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
      }
    }
  </style></template>
</dom-module>

<dom-module id="wombat-schedule-form-shared-styles">
  <template><style>
    :host{
      --wombat-schedule-form: {
        padding-top: 7.5rem;
        padding-bottom: 11rem;
      }
    }
  </style></template>
</dom-module>

<dom-module id="wombat-grid-template-shared-styles">
  <template><style>
    :root{
      background-image: linear-gradient(90deg, #004481 calc(50% - 14.5em), white calc(50% - 14.5em));
    }
  </style></template>
>>>>>>> Stashed changes
</dom-module>