@import "bower_components/cells-sass/main";

:host {
  font-family: var(--cells-fontDefault, sans-serif);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  @apply(--cells-button-group);
}