<dom-module id="cells-button-group-styles"><template><style>
:host {
  font-family: var(--cells-fontDefault, sans-serif);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  @apply (--cells-button-group); }

</style></template></dom-module>