<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../cells-atom-button/cells-atom-button.html">

<link rel="import" href="cells-button-group-styles.html">
<!--
`<cells-button-group>` description.

Example:

```html
<cells-button-group></cells-button-group>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-button-group  | Mixin applied to :host     | {}  |
| --cells-fontDefault  | Font family of :host    | sans-serif  |

@demo demo/index.html
-->
<dom-module id="cells-button-group">
  <template>
    <style include="cells-button-group-styles cells-button-group-shared-styles"></style>
    <template is="dom-repeat" items="[[buttons]]" index-as="index">
      <button class$="[[item.class]]" is="cells-atom-button" on-tap="_fireAction" value="[[item.text]]" custom-event$="button-[[index]]-pressed" disabled="[[item.disabled]]">{{t(item.text, 'Button')}}</button>
    </template>
  </template>
  <script src="cells-button-group.js"></script>
</dom-module>
