<dom-module id="cells-navigation-bar-styles"><template><style>
:host {
  display: block;
  height: var(--cells-navigation-bar-height, 3.125rem);
  background-color: var(--cells-navigation-bar-background-color, rgba(255, 255, 255, 0.95));
  box-shadow: 0 0 3px 0 rgba(18, 18, 18, 0.1);
  border-top: 1px solid #E9E9E9;
  font-family: var(--cells-fontDefault, sans-serif);
  position: relative;
  @apply --cells-fontDefaultMedium;
  @apply --cells-navigation-bar; }

:host(.with-bump) {
  box-shadow: none;
  border-top: 0;
  @apply --cells-navigation-bar-bump; }
  :host(.with-bump):before {
    content: '';
    position: absolute;
    width: 60px;
    height: 40px;
    background-color: var(--cells-navigation-bar-background-color, rgba(255, 255, 255, 0.95));
    border-top: 1px solid rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 3px 0 rgba(18, 18, 18, 0.2);
    top: -12px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 50%;
    z-index: -1;
    @apply --cells-navigation-bar-bump-before; }
  :host(.with-bump):after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 3px 0 rgba(18, 18, 18, 0.2);
    border-top: 1px solid #E9E9E9;
    z-index: -2;
    @apply --cells-navigation-bar-bump-after; }

.list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  font-size: 0.6875rem;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  @apply --cells-navigation-bar-list; }
  .list__item {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
    height: var(--cells-navigation-bar-height, 100%);
    @apply --cells-navigation-bar-list-item; }
  .list__link {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    color: var(--cells-navigation-bar-link-color, #BDBDBD);
    @apply --cells-navigation-bar-link; }
    .list__link .notification {
      position: absolute;
      top: 0;
      margin-left: 12px;
      margin-top: -4px;
      color: var(--cells-navigation-bar-notification-color, white);
      background-color: var(--cells-navigation-bar-bg-notification-color, #b92a45);
      width: 12px;
      height: 12px;
      border-radius: 100%;
      text-align: center;
      @apply --cells-navigation-bar-notification; }
    .iron-selected .list__link, .list__link:active, .list__link:focus {
      color: var(--cells-navigation-bar-link-active-color, #004481);
      @apply --cells-navigation-bar-link-active; }
  .list__icon {
    margin-bottom: 0.25rem;
    @apply --cells-navigation-bar-icon; }

</style></template></dom-module>