<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-device-behavior/cells-device-behavior.html">
<link rel="import" href="../cells-credentials-form/cells-credentials-form.html">
<link rel="import" href="../cells-molecule-spinner/cells-molecule-spinner.html">
<link rel="import" href="cells-login-view-styles.html">
<link rel="import" href="../../components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../components/cells-atom-icon/cells-atom-icon.html">
<link rel="import" href="../../components/cells-shadow-query-selector/cells-shadow-query-selector.html">
<link rel="import" href="../../components/wombat-theme/wombat-theme.html">

<!--
`cells-login-view` contains fields, buttons and links to show a complete login process view. It is mainly composed by a header image, `cells-credentials-form` for the login form, and `cells-molecule-spinner` for the waiting animation. The component applies animations to the login form when the inputs are focused.

The component can receive the login event from `cells-credentials-form` and fires it upwards. `loading` boolean attribute can be used to show or hide the spinner.

Register button can be hidden or shown using the `allow-registration` attribute.

Icons can be passed to the component in order to show clear and toggle icons in the inputs fields (as in `cells-credentials-form`), and start/end icons in the spinner (as in `cells-molecule-spinner`).

Example:
```html
<cells-login-view
  allow-registration
  clear-id-icon="coronita:close"
  clear-pwd-icon="coronita:close"
  toggle-pwd-icon="coronita:visualize"
  toggle-pwd-icon-toggled="coronita:hide"
  start-icon="coronita:lock"
  end-icon="coronita:unlock"
  header-image="http://bbva-files.s3.amazonaws.com/cells/assets/glomo/images/access/bg-login.jpg">
</cells-login-view>
```

## Animation in iOS devices
iOS tries to natively center in screen an input field when it's focused and keyboard is shown. So, running translate animations on input fields depending on focus events can cause the input to be non-centered or even off-screen.

To prevent this, `cells-device-behavior` is used to detect iOS devices, and to not apply translate animations in those cases. By default, opacity is changed on the header image when input is focused.

## Icons

Since this component uses icons, it will need an [iconset](https://bbva.cellsjs.com/guides/best-practices/cells-icons.html) in your project as an [application level dependency](https://bbva.cellsjs.com/guides/advanced-guides/application-level-dependencies.html). In fact, this component uses an iconset in its demo.


## Styling

The following custom properties and mixins are available for styling:

Custom property | Description | Default
:--- | :--- | :---
--cells-login-view | Mixin for component | {}
--cells-login-view-background-color | Default background color | var(--bbva-core-blue, #004481)
--cells-login-view-background-image | Default background image | fractal-bbva-core-blue.svg
--cells-login-view-login-form | Mixin for login form | {}
--cells-login-view-login-form-extra-actions | Mixin for extra actions links layer | {}
--cells-login-view-login-form-forgotten-pwd | Mixin for forgotten pasword layer | {}
--cells-login-view-login-form-input-background-color | Inputs background color | var(--bbva-medium-blue, #2A86CA)
--cells-login-view-login-form-input-icon-active-color | Inputs icon color on active | var(--bbva-white, #fff)
--cells-login-view-login-form-input-icon-color | Inputs icon color | var(--bbva-white, #fff)
--cells-login-view-login-form-input-icon-focus-color | Inputs icon color on focus | var(--bbva-white, #fff)
--cells-login-view-login-form-input-icon-hover-color | Inputs icon color on hover | var(--bbva-white, #fff)
--cells-login-view-login-form-input-label | Mixin for inputs label | {}
--cells-login-view-login-form-input-label-color | Inputs label color | var(--bbva-white, #fff)
--cells-login-view-login-form-input-text-color | Inputs text color | var(--bbva-white, #fff)
--cells-login-view-login-form-link-active-color | Color for form links on active | var(--bbva-white, #fff)
--cells-login-view-login-form-link-color | Color for form links | var(--bbva-white, #fff)
--cells-login-view-login-form-link-hover-color | Color for form links on hover | var(--bbva-white, #fff)
--cells-login-view-login-form-links | Mixin for form links | {}
--cells-login-view-login-form-register-color | Color for form register text | var(--bbva-white, #fff)
--cells-login-view-login-form-register-text | Mixin for form register text | {}
--cells-login-view-login-form-submit | Mixin for submit button | {}
--cells-login-view-login-form-submit-disabled-bg-color | Submit button disabled background color | var(--bbva-teal, #2dcccd)
--cells-login-view-login-form-user | Mixin for user greeting and text | {}
--cells-login-view-login-form-user-color | Color for user greeting | var(--bbva-white, #fff)
--cells-login-view-login-header | Mixin for header | {}
--cells-login-view-login-header-before | Mixin for header:before | {}
--cells-login-view-login-header-bg | Mixin for header-bg | {}
--cells-login-view-login-image-height | Header image height | 28vh
--cells-login-view-login-image-height-small | Height of the small image | 27vh
--cells-login-view-login-moveup | Mixin for login when animated | {}
--cells-login-view-login-moveup-form | Mixin for login form not on iOS | {}
--cells-login-view-login-moveup-maximized | Mixin for login when maximized and animated | {}
--cells-login-view-login-moveup-maximized-form | Mixin for login form when maximized and animated | {}
--cells-login-view-login-moveup-maximized-form-form | Mixin for form tag inside login form when maximized and animated | {}
--cells-login-view-login-moveup-maximized-form-register | Mixin for login form register when maximized and animated | {}
--cells-login-view-login-moveup-maximized-header | Empty mixin applied to the maximized header | {}
--cells-login-view-login-moveup-maximized-header-before | Empty mixin applied to the maximized heaer (::before) | {}
--cells-login-view-login-moveup-maximized-header-bg | Mixin for header-bg when maximized and animated | {}
--cells-login-view-login-moveup-maximized-islogged | Mixin for login when maximized, animated and logged | {}
--cells-login-view-login-moveup-maximized-islogged-form | Mixin for login form when maximized, animated and logged | {}
--cells-login-view-login-moveup-maximized-islogged-form-form | Mixin for form tag inside form when maximized, animated and logged | {}
--cells-login-view-login-nonmoveup-maximized | Mixin for login when maximized and on iOS | {}
--cells-login-view-login-nonmoveup-maximized-form | Mixin for login form when maximized and on iOS | {}
--cells-login-view-login-nonmoveup-maximized-form-extra-actions | Mixin for extra actions links layer when maximized and on iOS | {}
--cells-login-view-login-nonmoveup-maximized-header | Mixin for header | {}
--cells-login-view-login-nonmoveup-maximized-header-before | Mixin for header | {}
--cells-login-view-login-nonmoveup-maximized-header-bg | Mixin for header-bg when maximized and on iOS | {}
--cells-login-view-login-view | Mixin for login view | {}
--cells-login-view-spinner | Mixin for spinner view | {}
--cells-login-view-spinner-ring-content-color | Spinner ring content color | rgba(255, 255, 255, .2)
--cells-login-view-spinner-spinner | Mixin for spinner inside spinner view | {}
--cells-login-view-views | Mixin for login view and spinner view | {}



@demo demo/index.html
@hero cells-login-view.png
@composer
@description Login component.
@type UI
@platforms android, ios, desktop
@family cells-catalog-forms-family
-->
<dom-module id="cells-login-view">
  <template>
    <style include="cells-login-view-styles cells-login-view-shared-styles">
    :host{
      width: 100%;
      height: 100%;
      background-color: transparent;
      background-image: var(--cells-login-view-background-image, url("../../resources/images/background.png"));
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
    }
    #credentialsUserPwd {
    	background: #024282;
    	border: 0 none;
    	border-radius: 3px;
    	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
      padding: 20px 30px;
    	box-sizing: border-box;
    	width: 80%;
    	margin: 0 10%;

    	/*stacking fieldsets above each other*/
    	position: relative;
    }
    @-webkit-keyframes floating {
      0% {
        -webkit-animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
                animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0); }
      50% {
        -webkit-animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
                animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
        -webkit-transform: translate(0, 0.5em);
                transform: translate(0, 0.5em); }
      100% {
        -webkit-transform: translate(0, 0%);
                transform: translate(0, 0%); } }

    @keyframes floating {
      0% {
        -webkit-animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
                animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0); }
      50% {
        -webkit-animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
                animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
        -webkit-transform: translate(0, 0.5em);
                transform: translate(0, 0.5em); }
      100% {
        -webkit-transform: translate(0, 0%);
                transform: translate(0, 0%); } }


                .container__background .random__icon {
                  color: var(--bbva-300);
                  z-index: 100;
                  position: absolute;
                  opacity: 0.20;
                  -webkit-animation: floating 5s linear infinite;
                          animation: floating 5s linear infinite;
                  @apply --wombat-onboarding-welcome-random-icon; }

    .container__background {
      width: 100%;
      height: 100%;
      background-color: transparent;
      background-image: var(--cells-login-view-background-image, url("../../resources/images/background.png"));
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;

      @apply --wombat-onboarding-welcome-container-background; }

      .container__background .cgt {
        margin: auto;
        text-align: center;
        @apply --wombat-onboarding-welcome-container; }
        .container__background .cgt .text__container {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          width: 35rem;
          z-index: 200;
          @apply --wombat-onboarding-welcome-text-container; }
          .container__background .cgt .text__container .main__text {
            font-weight: var(--cells-text-weight-light);
            color: var(--bbva-white);
            font-size: 2.25rem;
            letter-spacing: -0.5px;
            line-height: 40px;
            margin-bottom: 2rem;
            @apply --wombat-onboarding-welcome-main-text; }
          .container__background .cgt .text__container .sub__text {
            font-weight: var(--cells-text-weight-normal);
            color: var(--bbva-white);
            font-size: 1.375rem;
            letter-spacing: 0;
            line-height: 30px;
            margin-bottom: 2.375rem;
            @apply --wombat-onboarding-welcome-sub-text; }
          .container__background .cgt .text__container .primary {
            background-color: var(--bbva-medium-blue);
            @apply --wombat-onboarding-welcome-primary; }
          .container__background .cgt .text__container .button__text {
            font-weight: var(--cells-text-weight-bold);
            color: var(--bbva-white);
            font-size: 0.9375rem;
            letter-spacing: 0;
            line-height: 24px;
            @apply --wombat-onboarding-welcome-button-text; }

    </style>
     <!-- <div id="loginView"
      class$="login-view [[_checkedMaximized(maximized)]] [[_checkedUsername(user.username)]] [[_checkIOS(isIOS)]] {{smallThumb}}"
      hidden$="[[loading]]"> -->
      <!-- <template is="dom-if" if="[[headerImage]]">
        <div class="header">
          <img class="header-bg" id="heroImage" src$="[[headerImage]]" alt="[[headerImageAlt]]">
        </div>
      </template> -->

      <div class="container__background">
            <div class="cgt">
              <div class="text__container">
                <div class="main__text">Bienvenido</div>
                <div class="sub__text">añade tus datos para crear la cuenta</div>
                <cells-credentials-form id="credentialsUserPwd"
                  on-login="_doLogin"
                  on-request-change-user="reset"
                  class="form"
                  autofocus="[[autofocus]]"
                  user-name="[[user.username]]"
                  user-id="[[user.userId]]"
                  user-password="[[user.password]]"
                  document-type="[[user.documentType]]"
                  register="[[allowRegistration]]"
                  clear-id-icon="[[clearIdIcon]]"
                  clear-pwd-icon="[[clearPwdIcon]]"
                  toggle-pwd-icon="[[togglePwdIcon]]"
                  toggle-pwd-icon-toggled="[[togglePwdIconToggled]]"
                  on-cells-molecule-input-focus="_onInputFocus"
                  on-cells-molecule-input-blur="_onInputBlur"
                  input-user-options="[[inputUserOptions]]">
                  <slot></slot>
                </cells-credentials-form>
              </div>
            </div>
            <template is="dom-repeat" items="[[randomIcons]]">
              <cells-atom-icon class$="btn-icon random__icon icon-size-[[item.size]]" style$="top:[[item.yCoord]]px;left:[[item.xCoord]]px;animation-delay:[[item.delay]]s;" icon="[[item.icon]]"></cells-atom-icon>
            </template>
          </div>
          <!-- <cells-st-button class="primary">
            <button on-click="submit()">
              <span class="button__text">Enviar</span>
            </button>
          </cells-st-button> -->

    <!-- </div> -->

    <div class="spinner-view" hidden$="[[!loading]]">
      <cells-molecule-spinner id="spinner"
        class="spinner"
        start-icon="[[startIcon]]"
        end-icon="[[endIcon]]"
        finish="[[loadingEnd]]"
        delay="[[loadingDelay]]"
        current-process="[[loadingCurrentProcess]]"
        process="[[loadingProcess]]">
      </cells-molecule-spinner>
    </div>
  </template>
  <script src="cells-login-view.js"></script>
</dom-module>
