<link rel="import" href="../cells-amount-behavior.html">

<dom-module id="demo-component">
  <template>
    <style>
    .option, input {
      font-size: 1rem;
    }
    .option {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 1rem;
    }
    .option--expanded {
      justify-content: space-around;
    }
    input {
      padding: .3rem;
      margin: 0 .8rem;
      width: 10%;
      text-align: right;
    }
    input[name=number] {
      width: 10%;
    }
    input[name=amount], input[name=longnumber] {
      width: 20%;
    }
    .highlights {
      display: flex;
      flex-direction: column;
      text-align: left;
    }
    .highlight {
      color: #F94CC4;
    }
    .highlight::before {
      content: "= ";
      color: initial;
    }
    </style>
    <div class="option option--expanded">
      <input name="amount" id="amountNum" type="number" max="10000000000" value="{{amount::input}}">
      <div class="highlights">
        <span class="highlight">{{_integerParsed}}{{_separator}}{{_fractionalParsed}}</span>
      </div>
      <div class="highlights">
        <label for="amount">
          <code>getIntegerPart({{amount}})</code>
          <span class="highlight">{{_integerParsed}}</span>
        </label>
        <label for="amount">
          <code>getFractionalPart({{amount}})</code>
          <span class="highlight">{{_fractionalParsed}}</span>
        </label>
      </div>
      <p class="explanation">(In order to see the "grouping characters" (hundreds)
        and "separator" (integer from decimal) change on lang, a new amount is set)</p>
    </div>
    <div class="option">
      <label for="currency"><code>getCurrencyAsSymbol</code>(currency,localCurrency)</label>
      <input name="currency" type="text" maxlength="10" value="{{currency::input}}" placeholder="'EUR'">,
      <input name="localCurrency" type="text" maxlength="10" value="{{localCurrency::input}}" placeholder="'MXN'">
      <span class="highlight">{{_currencyParsedAsSymbol}}</span>
      <p>(default is €)</p>
      <p class="explanation">(The localCurrency parameter refer the location EUR=España, MXN=México, CLP=Chile, USD=USA ARS=Argentina)</p>
    </div>
    <div>
      <p>If you provide: <span class="explanation">[[currency]]</span></p>
      <p>to _getTranslationKeyForCurrency you will get: <span class="explanation">[[_keyTranslation]]</span></p>
      </div>
    </div>
  </template>
</dom-module>

<script>
  /* eslint-disable */
  Polymer({
    is: 'demo-component',

    behaviors: [
      CellsBehaviors.AmountBehavior
    ],

    properties: {
      amount: {
        type: Number
      },
      number: {
        type: Number
      },
      decimal: {
        type: Number
      },
      currency: {
        type: String,
        value:''
      },
      localCurrency: {
        type: String,
        value: ''
      },
      _decimalFilled: {
        type: String,
        computed: '_computedDecimalFilled(decimal)'
      },
      _currencyParsedAsSymbol: {
        type: String,
        computed: '_computedCurrencyParsedAsSymbol(currency,localCurrency)'
      },
      _integerParsed: {
        type: Number,
        computed: '_computedIntegerParsed(amount)'
      },
      _fractionalParsed: {
        type: Number,
        computed: '_computedFractionalParsed(amount)'
      },
      _separator: {
        type: String,
        computed: '_computedSeparator(amount)'
      },
      _keyTranslation: {
        type: String,
        computed: '_computedKeyTranslation(currency)'
      }
    },
    _computedDecimalFilled: function(decimal) {
      return this.fillDecimal(decimal);
    },
    _computedCurrencyParsedAsSymbol: function(currency,localCurrency) {
      currency = this._getCurrencyAsSymbol(currency,localCurrency);
      return currency;
    },
    _computedIntegerParsed: function(amount) {
      return this._getIntegerPart(amount, document.documentElement.lang);
    },
    _computedFractionalParsed: function(amount) {
      return this._getFractionalPart(amount);
    },
    _computedSeparator: function(amount) {
      return this._getSeparator(document.documentElement.lang);
    },
    _computedKeyTranslation: function(currency) {
      return this._getTranslationKeyForCurrency(currency);
    }
  });
</script>
