<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-template-animation-behavior/cells-template-animation-behavior.html">
<link rel="import" href="../paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../cells-smooth-scroll-import/cells-smooth-scroll-import.html" />
<link rel="import" href="cells-template-paper-drawer-panel-styles.html">

<!--

## A set of zones elements for your template. It includes:

__cells-template-paper-drawer-panel__ contains a drawer panel and a main panel. The drawer and the main panel are side-by-side with drawer on the left.

  ```app__header``` - A container element for top app.

  ```app__main``` - A container element main content and general manager scroll.

  ```app__footer``` - A container element for bottom app.

  ```app__complementary``` - A container element for drawer. [```Navigation drawer*```](https://www.google.com/design/spec/patterns/navigation-drawer.html)

  ```app__overlay``` - A container element for overlay all content.

  ```app__transactional``` - A container element that positions transverse layers.

[__*The navigation drawer slides in from the left and contains the navigation destinations for your app.__](https://www.google.com/design/spec/patterns/navigation-drawer.html)

Example cells context: *(view demo for declarative app)*
```html
<cells-template-paper-drawer-panel></cells-template-paper-drawer-panel>

<cells-template-paper-drawer-panel right-drawer drawer-width="300px"></cells-template-paper-drawer-panel>
```
## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:---------------|:---------------| :-------------:|
| --app__main-padding-top | padding top scroll section | 0 |
| --app__main-padding-bottom | padding bottom scroll section | 0 |
| --paper-scroll-header-container | {} | display: flex |
| --app__section-zindex | z-index  .app__section | 0  |
| --app__section-bg | background-color  .app__section | #fff  |
| --app__header-zindex | z-index  .app__header | 0  |
| --app__complementary-zindex | z-index  .app__complementary | 0  |
| --app__overlay-zindex | z-index  .app__overlay | 0  |
| --app__transactional-zindex | z-index  .app__transactional | 0  |
| --app__complementary-width | width  .app__complamentary | 100%  |
| --cells-template-paper-drawer-panel | empty mixin for :host | {}  |
| --cells-template-paper-drawer-panel-state-active | empty mixin for :host([state="active"]) | {}  |
| --cells-template-paper-drawer-panel-containersection | empty mixin for .app-container, .app__section | {}  |
| --cells-template-paper-drawer-panel-section | empty mixin for .app__section | {}  |
| --cells-template-paper-drawer-panel-header | empty mixin for .app__header | {}  |
| --cells-template-paper-drawer-panel-relative-main | empty mixin for :host[relative-main] .app__main | {}  |
| --cells-template-paper-drawer-panel-main | empty mixin for .app__main | {}  |
| --cells-template-paper-drawer-panel-header-maincontainer | empty mixin for paper-scroll-header-panel ::content #mainContainer | {}  |
| --cells-template-paper-drawer-panel-maincontainer | empty mixin for :host(.overflow-initial)::content #mainContainer | {}  |
| --cells-template-paper-drawer-panel-complementary | empty mixin for .app__complementary | {}  |
| --cells-template-paper-drawer-panel-overlay | empty mixin for .app__overlay | {}  |
| --cells-template-paper-drawer-panel-transactional | empty mixin for .app__transactional | {}  |


@demo demo/index.html
@hero cells-template-paper-drawer-panel.jpg
@composer
@description Template with Polymer __paper drawer panel__
@type template
@platforms android, desktop, ios
@family cells-catalog-templates-family
-->
<dom-module id="cells-template-paper-drawer-panel">
  <template>
    <style include="cells-template-paper-drawer-panel-styles cells-template-paper-drawer-panel-shared-styles cells-template-animation-behavior-styles"></style>
    <paper-drawer-panel id="app-container" class="app-container" force-narrow right-drawer=[[rightDrawer]] drawer-width=[[drawerWidth]]
      disable-edge-swipe="[[disableEdgeSwipe]]" edge-swipe-sensitivity="[[edgeSwipeSensitivity]]" on-content-scroll="_onContentScroll"
      on-selected-changed="_onSelectedChanged">
      <paper-scroll-header-panel fixed=[[headerFixed]] class="app__section" id="app__section" main>
        <header class="app__header paper-header" id="app__header" hidden$="[[headerHidden]]">
          <content select="[data-select='app__header']"></content>
        </header>
        <div class="app__main app__scroller-list" id="app__main">
          <content select="[data-select=app__main]"></content>
        </div>
        <div class="app__footer" id="app__footer">
          <content select="[data-select=app__footer]"></content>
        </div>
      </paper-scroll-header-panel>
      <aside drawer id="app__complementary" class="app__complementary">
        <content select="[data-select=app__complementary]"></content>
      </aside>
    </paper-drawer-panel>
    <div class="app__overlay" id="app__overlay">
      <content select="[data-select=app__overlay]"></content>
    </div>
    <div class="app__transactional" id="app__transactional">
      <content select="[data-select=app__transactional]"></content>
    </div>
  </template>
  <script>
    Polymer({

      /**
       * Fired when the content has been scrolled.
       *
       * @event template-content-scroll
       */

      is: 'cells-template-paper-drawer-panel',

      hostAttributes: {
        'data-template': true
      },

      behaviors: [
        Polymer.CellsTemplateAnimationBehavior
      ],

      properties: {

        /**
         * If true, position the drawer to the right.
         */
        rightDrawer: {
          type: Boolean,
          value: false
        },

        /**
         * If true, swipe to open/close the drawer is disabled.
         * Default:false
         */
        disableEdgeSwipe: {
          type: Boolean,
          value: false
        },

        /**
         * Hides the header.
         */
        headerHidden: {
          type: Boolean,
          value: false
        },

        /**
         * How many pixels on the side of the screen are sensitive to edge swipes and peek.
         */
        edgeSwipeSensitivity: {
          type: Number,
          value: 20
        },

        /**
         * Choose add css attribute position:relative in main content ('false', or 'true').
         * Default:false
         */
        relativeMain: {
          type: Boolean,
          value: false,
          reflectToAttribute: true
        },

        /**
         * The width of the drawer.
         * Default: 80%
         */
        drawerWidth: {
          type: String,
          value: '80%'
        },

        /**
         * If true, the header is fixed to the top and never moves away.
         */
        headerFixed: {
          type: Boolean,
          value: false
        },

        /**
         * Selected panel: 'drawer' or 'main'.
         */
        selected: {
          type: String,
          value: null,
          notify: true,
          readOnly: true
        },

        /**
         * Notifies if the menu is opened or not.
         */
        menuOpened: {
          type: Boolean,
          value: false,
          notify: true,
          readOnly: true,
          reflectToAttribute: true
        },

        /**
         * Sets wheter to disable scrolling when the menu is opened.
         */
        disableScrollLock: {
          type: Boolean,
          value: false
        },
        /**
         * Footer height in px.
         * Can be set either by using a custom CSS property (--app__footer-height) or by setting
         * footerHeight. Default value for --app__footer-height is 60px.
         */
        footerHeight: {
          type: Number,
          observer: '_updateFooterHeight'
        },
        /**
         * Set to true if the template has footer or coexists with a external footer
         */
        hasFooter: {
          type: Boolean,
          value: false,
          reflectToAttribute: true
        }
      },

      listeners: {
        'overlay-opening': '_removeOverflow',
        'overlay-closed': '_addOverflow',
        'toggle-menu': 'toggleMenu',
        'template-cached': '_resetLayerScroll',
        'change-template-animation': '_onChangeAnimation'
      },

      /**
       * Open/closes the menu panel
       */
      toggleMenu: function() {
        this.$['app-container'].togglePanel();
      },

      _onSelectedChanged: function(e) {
        this.$['app-container'].updateStyles(); // force update!
        this._setSelected(e.detail.value);

        if (e.detail.value === 'drawer') {
          this._setMenuOpened(true);
          if (!this.disableScrollLock) {
            this._removeOverflow();
          }
        } else {
          this._setMenuOpened(false);
          if (!this.disableScrollLock) {
            this._addOverflow();
          }
        }
      },

      /**
       * Add scroll bar
       */
      _addOverflow: function() {
        this.classList.remove('overflow-initial');
      },

      /**
       * Remove scroll bar
       */
      _removeOverflow: function() {
        this.classList.add('custom-transition');
        this.classList.add('overflow-initial');
      },

      /**
       * Move scroll to 0
       */
      _resetLayerScroll: function() {
        Polymer.RenderStatus.afterNextRender(this, function() {
          this.$$('paper-scroll-header-panel').scrollToTop(true);
        });
      },

      _onChangeAnimation: function(ev) {
        ev.stopPropagation();
        this.animationType = ev.detail.animationType;
      },

      _onContentScroll: function(ev) {
        ev.stopPropagation();
        this.fire('template-content-scroll', {
          scrollTop: ev.detail.target.scrollTop,
          target: ev.detail.target
        });
      },

      _updateFooterHeight: function(footerHeight) {
        if (footerHeight) {
          this.customStyle['--app__footer-height'] = footerHeight + 'px';
          this.updateStyles();
        }
      },

      /**
       * Allows to scroll a component into main visible area.
       * <em>payload</em> param MUST BE the HTMLElement desired to scroll.
       *
       * @see {@link http://iamdustan.com/smoothscroll/|smooth scroll poly-fill}
       *
       * @param payload {*}
       */
      scrollItemIntoView: function(payload) {

        if (payload && payload instanceof Event) {
          payload = payload.detail;
        }

        payload = payload && payload.hasOwnProperty('data') ?
          payload.data :
          payload;

        if (payload && payload instanceof HTMLElement) {

          payload.scrollIntoView({
            behavior: 'smooth'
          });

          //Obtain current performance
          var now = window.performance && window.performance.now ?
            window.performance.now.bind(window.performance) :
            Date.now;

          //Obtained from poly-fill
          var SCROLL_TIME = 468;

          //Fire event on calculated time lapse
          setTimeout(
            function() {
              this.fire('cells-scroll-complete', payload);
            }.bind(this),
            (now() / SCROLL_TIME)
          );
        }
      }

      /**
       * Fired on finishing <em>scrollItemIntoView</em>.
       * Event's payload is the scrolled HTMLElement.
       *
       * @event 'cells-scroll-complete'
       */

    });
  </script>
</dom-module>
