<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-psv-generic-dp/cells-psv-generic-dp.html">

<!--
# PSV Login DM

[![v1.0.1](https://img.shields.io/badge/version-1.0.1-brightgreen.svg)](https://globaldevtools.bbva.com/bitbucket/projects/BBVACELLSAPI/repos/cells-psv-login-dm/browse?at=refs%2Ftags%2F1.0.1)

`<cells-psv-login-dm>` provides the methods to perform the login and logout in the PSV application.

## Import

1. Add it to bower dependencies and install it in your project.

    ```json
    {
      ...
      "dependencies": {
        ...

        "cells-psv-loginh-dm": "ssh://git@globaldevtools.bbva.com:7999/bbvacellsapi/cells-psv-login-dm.git"

        ...
      }
      ...
    }
    ```

1. Import the behavior in your component:

    ```html
    <link rel="import" href="../cells-psv-login-dm/cells-psv-login-dm.html">
    ```

## Usage

Include is where ever you want define the service properties and use the login/logout methods.

```html
<cells-psv-login-dm
  id="login-dm"
  base-url="https://bbvalabs.com:8001/TechArchitecture/cl/grantingTicket/"
  base-path=""
  consumer-id="consumerId"
  authentication-type="authType">
</cells-psv-login-dm>
<script>
  var loginDM = document.querySelector('#login-dm');
  loginDM.addEventListener(function(ev) {
    console.log(ev.detail.data);
  });
  var user = {
    userId: 'username',
    password: 'password'
  }
  loginDM.login(user);
</script>
```

You can control the flow of login/logout requests from the events.

- `login-success`
- `login-error`
- `logout-success`
- `logout-error`

-->

<dom-module id="oauth-login-dm">
  <template>
    <cells-psv-generic-dp id="gtRequest"></cells-psv-generic-dp>
    <cells-psv-generic-dp id="jwtRequest" headers="[[ _jwtRequestHeaders ]]"></cells-psv-generic-dp>
  </template>
  <script src="oauth-login-dm.js"></script>
</dom-module>
