<link rel="import" href="../../components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../components/cells-atom-icon/cells-atom-icon.html">
<link rel="import" href="../../components/cells-shadow-query-selector/cells-shadow-query-selector.html">
<link rel="import" href="../../components/wombat-theme/wombat-theme.html">

<dom-module id="register-page">

  <template>
    <style>
    :host {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: block;
      box-sizing: border-box;
      font-family: var(--cells-fontDefault, sans-serif);
      @apply --wombat-onboarding-welcome;
      @apply --cells-font-smoothing; }

    :host([hidden]), [hidden] {
      display: none !important; }

    *, *:before, *:after {
      box-sizing: inherit; }

    @media screen and (min-width: 62em) {
      .cgt {
        max-width: 960px; } }

    @media screen and (min-width: 75em) {
      .cgt {
        max-width: 1176px; } }

    @-webkit-keyframes floating {
      0% {
        -webkit-animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
                animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0); }
      50% {
        -webkit-animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
                animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
        -webkit-transform: translate(0, 0.5em);
                transform: translate(0, 0.5em); }
      100% {
        -webkit-transform: translate(0, 0%);
                transform: translate(0, 0%); } }

    @keyframes floating {
      0% {
        -webkit-animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
                animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0); }
      50% {
        -webkit-animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
                animation-timing-function: cubic-bezier(0.59, 0.11, 0.4, 0.91);
        -webkit-transform: translate(0, 0.5em);
                transform: translate(0, 0.5em); }
      100% {
        -webkit-transform: translate(0, 0%);
                transform: translate(0, 0%); } }


                .container__background .random__icon {
                  color: var(--bbva-300);
                  z-index: 100;
                  position: absolute;
                  opacity: 0.20;
                  -webkit-animation: floating 5s linear infinite;
                          animation: floating 5s linear infinite;
                  @apply --wombat-onboarding-welcome-random-icon; }

    .container__background {
      width: 100%;
      height: 100%;
      background-color: transparent;
      background-image: var(--cells-login-view-background-image, url("../../resources/images/background.png"));
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;

      @apply --wombat-onboarding-welcome-container-background; }

      .container__background .cgt {
        margin: auto;
        text-align: center;
        @apply --wombat-onboarding-welcome-container; }
        .container__background .cgt .text__container {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          width: 35rem;
          z-index: 200;
          @apply --wombat-onboarding-welcome-text-container; }
          .container__background .cgt .text__container .main__text {
            font-weight: var(--cells-text-weight-light);
            color: var(--bbva-white);
            font-size: 2.25rem;
            letter-spacing: -0.5px;
            line-height: 40px;
            margin-bottom: 2rem;
            @apply --wombat-onboarding-welcome-main-text; }
          .container__background .cgt .text__container .sub__text {
            font-weight: var(--cells-text-weight-normal);
            color: var(--bbva-white);
            font-size: 1.375rem;
            letter-spacing: 0;
            line-height: 30px;
            margin-bottom: 2.375rem;
            @apply --wombat-onboarding-welcome-sub-text; }
          .container__background .cgt .text__container .primary {
            background-color: var(--bbva-medium-blue);
            @apply --wombat-onboarding-welcome-primary; }
          .container__background .cgt .text__container .button__text {
            font-weight: var(--cells-text-weight-bold);
            color: var(--bbva-white);
            font-size: 0.9375rem;
            letter-spacing: 0;
            line-height: 24px;
            @apply --wombat-onboarding-welcome-button-text; }

            #msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: #024282;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;

	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}


    </style>


<div class="container__background">
      <div class="cgt">
        <div class="text__container">
          <div class="main__text">Bienvenido</div>
          <div class="sub__text">añade tus datos para crear la cuenta</div>
          <iron-form id="form2">
      <form id="msform" action="/foo" method="get">
        <fieldset>

          <input type="text" name="email" placeholder="Email" />
          <input type="password" name="pass" placeholder="Password" />
          <input type="password" name="cpass" placeholder="Confirm Password" />
          <input type="text" name="twitter" placeholder="Twitter" />
          <input type="text" name="facebook" placeholder="Facebook" />
          <input type="text" name="gplus" placeholder="Google Plus" />
        </fieldset>
      </form>


    </iron-form>
          <cells-st-button class="primary">
            <button on-click="form2.submit()">
              <span class="button__text">Enviar</span>
            </button>
          </cells-st-button>
        </div>
      </div>
      <template is="dom-repeat" items="[[randomIcons]]">
        <cells-atom-icon class$="btn-icon random__icon icon-size-[[item.size]]" style$="top:[[item.yCoord]]px;left:[[item.xCoord]]px;animation-delay:[[item.delay]]s;" icon="[[item.icon]]"></cells-atom-icon>
      </template>
    </div>


  </template>

  <script>
    (function() {
      Polymer({
        is: 'register-page',
        properties: {

          propertyForUseId: {
            type: Number
          },  /**
       * Collection of icons that appear in the background
       */
      coronitaIcons: {
        type: Array,
        observer: '_initializeRandomIcons',
        value: ['coronita:euro',
      'coronita:dollar',
      'coronita:creditcard',
      'coronita:digitalcard',
      'coronita:mobilecashdollar',
      'coronita:wallet',
      'coronita:mobilecasheuro',
      'coronita:place',
      'coronita:exploration',
      'coronita:nearme',
      'coronita:search',
      'coronita:graphics',
      'coronita:mobile',
      'coronita:desktop',
      'coronita:calculator',
      'coronita:support',
      'coronita:videoplayline',
      'coronita:communicationpublic',
      'coronita:weather',
      'coronita:entretainment',
      'coronita:shopping',
      'coronita:sales',
      'coronita:discount',
      'coronita:promotion',
      'coronita:supermarket',
      'coronita:shop',
      'coronita:florist',
      'coronita:coffeshop',
      'coronita:restaurant',
      'coronita:retirement'
      ]
      },

      /**
       * Collection of random icons that appear in the background
       */
      randomIcons: Array
    },

    /**
     * Fire event to go to the next view
     */

    _nextView: function() {
      this.fire('next-view', true);
    },

    _getRandomRoundNum: function(min, max) {
      return Math.floor(this._getRandomNum(min, max));
    },

    _getRandomEvenNum: function(min, max) {
      let rand = this._getRandomRoundNum(min, max);
      return (rand % 2 === 0) ? rand : (rand - 1);
    },

    _getRandomNum: function(min, max) {
      return (Math.random() * (max - min) + min);
    },

    _initializeRandomIcons: function() {
      let maxNumIcons = 50;
      let aux = [];
      let randomNum;
      let randomSize;
      let x;
      let y;
      let randomDelay;
      for (let i = 0; i < maxNumIcons; i++) {
        randomNum = this._getRandomRoundNum(0, this.coronitaIcons.length);

        randomSize = this._getRandomEvenNum(8, 34);
        x = this._getRandomNum(0, this.clientWidth);

        y = this._getRandomNum(0, this.clientHeight);
        randomDelay = this._getRandomNum(0, 2);
        aux[i] = {
          'icon': this.coronitaIcons[randomNum],
          'size': randomSize.toString(),
          'xCoord': x.toString(),
          'yCoord': y.toString(),
          'delay': randomDelay.toString()
        };
      }
      this.set('randomIcons', aux);
    },

        _goToHome: function() {
          this.fire('home-event');
        }

      });
    }());


  </script>

</dom-module>
