<custom-style>
  <style is="custom-style">
    html {
      -webkit-tap-highlight-color: transparent;
    }
    body { margin: 0; }
    html, body {
      height: 100%;
    }
  </style>
</custom-style>
