<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>Demo cells-myb-ui-theme</title>
    
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href='../../theme-base/theme-base.html'>
    <link rel="import" href="../../cells-icons/cells-icons.html">
    <link rel="import" href="../../cells-demo-mobile/cells-demo-mobile.html">
    <link rel="import" href="../cells-myb-ui-theme.html">
    <link rel="import" href="css/demo-styles.html">

  </head>
  <body unresolved ontouchstart>
    <template is="dom-bind" id="tbind">
    
        <cells-demo-mobile>
          <cells-myb-ui-theme class="demo">
            <!-- Just some sample content you can happily erase -->
            <style is="custom-style">
              cells-myb-ui-theme {
                display: flex;
                flex-direction: column;
                text-align: center;
                min-height: 100%;
                font-family: var(--cells-fontDefault);
                color: var(--cells-neutral-color);
                background-color: var(--cells-background-primary);
              }
              svg {
                display: block;
                margin: auto;
                max-width: 30vw;
              }
            </style>
            <input type="text" class="bind-input" value="{{greeting::input}}" placeholder="Try declarative auto binding">
            <span>{{greeting}}</span>
            <svg width="300px" height="300px" viewBox="0 0 300 300" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                  <linearGradient x1="57.3023789%" y1="40.8588327%" x2="17.2765852%" y2="68.5360454%" id="linearGradient-1">
                      <stop stop-color="#333333" stop-opacity="-0.0187904569" offset="0%"></stop>
                      <stop stop-color="#333333" stop-opacity="0.96" offset="100%"></stop>
                  </linearGradient>
                  <linearGradient x1="92.895919%" y1="24.2235891%" x2="7.43773006%" y2="73.3943966%" id="linearGradient-2">
                      <stop stop-color="#563EA4" offset="0.0318877551%"></stop>
                      <stop stop-color="#224FBD" offset="100%"></stop>
                  </linearGradient>
              </defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Desktop-HD">
                      <g id="symbol" transform="translate(0.000000, 25.000000)">
                          <path d="M103.875471,124.14041 C116.369532,124.14041 126.497407,134.268992 126.497407,146.763053 C126.497407,159.257115 116.369532,169.385696 103.875471,169.385696 C91.3807023,169.385696 81.2528278,159.257115 81.2528278,146.763053 C81.2528278,134.268992 91.3807023,124.14041 103.875471,124.14041" id="core" fill="#3C47A2"></path>
                          <path d="M183.910776,10.719598 C153.894064,28.0506634 140.020021,62.5975601 147.549119,94.6863653 L147.549119,94.6863653 C165.539069,94.4170145 182.289723,83.5489554 188.781714,65.6374778 L188.781714,65.6374778 L188.78737,65.6466683 C191.567127,57.8998269 196.99444,51.0571844 204.680483,46.6189046 L204.680483,46.6189046 C221.924593,36.6621139 243.976014,42.5708654 253.932805,59.815682 L253.932805,59.815682 C263.888182,77.0604986 257.980137,99.1112129 240.735321,109.067297 L240.735321,109.067297 C233.049278,113.50487 224.426516,114.812741 216.326903,113.347218 L216.326903,113.347218 C197.736746,110.043605 180.092498,118.913095 170.793885,134.102079 L170.793885,134.102079 C194.833271,155.853043 231.062727,160.717619 260.650316,143.636109 L260.650316,143.636109 C285.202953,129.459489 298.958934,103.762287 299.032458,77.3164173 L299.032458,77.3164173 L299.032458,76.9014331 C298.99711,63.94997 295.679358,50.8288371 288.738448,38.8077302 L288.738448,38.8077302 C274.525773,14.1907598 248.729597,0.427002387 222.20879,0.425588472 L222.20879,0.425588472 C209.188752,0.425588472 195.996923,3.74192654 183.910776,10.719598" id="red-circle" fill="#FF007F"></path>
                          <path d="M147.549119,94.6863653 C165.539069,94.4170145 182.289723,83.5489554 188.781714,65.6374778 C191.567127,57.8998269 196.99444,51.0571844 204.680483,46.6189046 C221.924593,36.6621139 243.976014,42.5708654 253.932805,59.815682 C263.888182,77.0604986 257.980137,99.1112129 240.735321,109.067297 C233.049278,113.50487 224.426516,114.812741 216.326903,113.347218 C197.736746,110.043605 180.092498,118.913095 170.793885,134.102079 C194.833271,155.853043 231.062727,160.717619 260.650316,143.636109 C285.202953,129.459489 298.958934,103.762287 299.032458,77.3164173 C298.99711,63.94997 295.679358,50.8288371 288.738448,38.8077302 C274.525773,14.1907598 248.729597,0.427002387 222.20879,0.425588472 C209.188752,0.425588472 195.996923,3.74192654 183.910776,10.719598 C153.894064,28.0506634 140.020021,62.5975601 147.549119,94.6863653 Z" id="shadow" fill="url(#linearGradient-1)"></path>
                          <path d="M0,146.233471 C0.0353478797,163.955484 4.46585112,181.501465 13.7467904,197.574853 C32.7229461,230.442725 67.2260115,248.832813 102.671451,248.849073 C120.127648,248.844124 137.736548,244.417156 153.858009,235.109352 C190.825529,213.767009 209.322367,172.969194 204.373664,133.053661 C204.373664,133.053661 201.743075,116.404103 214.531231,113.0609 C209.829256,112.319302 205.201511,112.721561 202.377923,113.123112 C200.668499,113.366306 199.620081,113.609499 199.617253,113.598895 C181.241304,117.467367 166.49629,133.012657 164.26796,153.257095 C162.345035,172.385247 151.561811,190.347625 133.637608,200.696777 C104.051433,217.77758 66.2185969,207.640515 49.1370876,178.055047 C32.0555782,148.467457 42.1919362,110.636036 71.7795254,93.5538193 C89.7037282,83.205374 110.650882,82.8490674 128.179895,90.7514394 C146.923462,98.9832536 167.893945,93.9044702 180.413457,79.7575418 C180.413457,79.7575418 185.420838,74.3811293 188.163126,67.2493411 C178.291877,75.6833452 165.276788,65.3165191 165.276788,65.3165191 C147.231695,51.3279491 125.020502,43.8327847 102.41624,43.8313708 C85.0264968,43.8299569 67.4069927,48.2639949 51.2551325,57.5894726 C18.4409888,76.5338152 0.0685748866,110.887006 0,146.233471 Z" id="blue-circle" fill="url(#linearGradient-2)"></path>
                      </g>
                  </g>
              </g>
            </svg>
            <!-- .end of some sample content you can happily erase -->
          </cells-myb-ui-theme>
        </cells-demo-mobile>
    </template>
    <script src="js/demo.js"></script>
  </body>
</html>
