<dom-module id="example-data-manager">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

  </template>
  <script>
    Polymer({
      is: 'example-data-manager',
      properties: {
        users: {
          type: Array,
          notify: true,
          value: function() {
            return {
              'userId': 1,
              'id': 1,
              'title': 'Payload enviado por el DM'
            };
          }
        }
      }
    });
  </script>
</dom-module>
