<link rel="import" href="../polymer/polymer.html" />
<link rel="import" href="./moment-import.html" />
<!--
# cells-glomo-dashboard-manager

## Example:

```html
<cells-glomo-dashboard-manager></cells-glomo-dashboard-manager>
```

@demo demo/index.html
-->
<dom-module id="cells-glomo-dashboard-manager">
  <template></template>
  <script>
    (function(Polymer) {
      'use strict';

      Polymer({

        is: 'cells-glomo-dashboard-manager',

        properties: {
          /**
           * User Info
           * @type {Object}
           */
          userInfo: Object,
          /**
           * Delay on nottfy event if dashboard loaded
           * @type {Number|String}
           */
          delay: Number,
          /**
           * Products
           * @type {Array}
           */
          products: Array,
          /**
           * Started component
           * @type {Boolean}
           */
          started: Boolean,
          /**
           * State Accounts
           * @type {Boolean}
           */
          stateAccounts: {
            type: Boolean,
            notify: true
          },
          /**
           * State Accounts
           * @type {Boolean}
           */
          stateCards: {
            type: Boolean,
            notify: true
          },
          /**
           * State Accounts
           * @type {Boolean}
           */
          stateDeposits: {
            type: Boolean,
            notify: true
          },
          /**
           * State Accounts
           * @type {Boolean}
           */
          stateFunds: {
            type: Boolean,
            notify: true
          },
          /**
           * State Accounts
           * @type {Boolean}
           */
          stateLoans: {
            type: Boolean,
            notify: true
          }
        },

        /*
        * Checked if has user info and set grettings message
        */
        init: function(navigation) {

          // if (navigation && navigation.detail && navigation.detail.page === 'dashboard') {
            this.stateManager();

            if (!this.started) {

              this.fire('init-services');
              this.getDashoardGreeting();
              this.started = true;
            }
          //}
        },
        /*
        * Notify event if dashboard it's loaded
        */
        notifyLoaded: function() {

          this.fire('dashboard-loaded');
          this.async(function() {
            
            this.fire('dashboard-loaded');
          }, this.delay);
        },
        /*
        * State manager products
        */
        stateManager: function() {
          if (this.products && this.products.length) {
            this.products.forEach(function(product) {
              var prop = 'state' + this._capitalize(product);
              if (this[prop]) {
                this.fire('dashboard-refresh-' + product);
                this[prop] = false;
              }
            }, this);
          }
        },
        /*
        * Dashboard Greeting Message
        */
        getDashoardGreeting: function() {
          var currentTime = this._getTime();
          var morning = this._getTime().hour(5).minutes(0).seconds(0);
          var noon = this._getTime().hour(13).minutes(0).seconds(0);
          var night = this._getTime().hour(21).minutes(0).seconds(0);

          if (currentTime.isBetween(morning, noon, null, '[)')) {
            this.dispatchEvent(new CustomEvent('dashboard-color', {
              detail: 'morning',
              bubbles: true,
              composed: true
            }));
            this.dispatchEvent(new CustomEvent('dashboard-header-color', {
              detail: 'header--morning',
              bubbles: true,
              composed: true
            }));
            this.dispatchEvent(new CustomEvent('dashboard-greeting', {
              detail: 'cells-greeting-morning',
              bubbles: true,
              composed: true
            }));
          } else if (currentTime.isBetween(noon, night, null, '[)')) {
            this.dispatchEvent(new CustomEvent('dashboard-color', {
              detail: 'evening',
              bubbles: true,
              composed: true
            }));
            this.dispatchEvent(new CustomEvent('dashboard-header-color', {
              detail: 'header--evening',
              bubbles: true,
              composed: true
            }));
            this.dispatchEvent(new CustomEvent('dashboard-greeting', {
              detail: 'cells-greeting-evening',
              bubbles: true,
              composed: true
            }));
          } else {
            this.dispatchEvent(new CustomEvent('dashboard-color', {
              detail: 'night',
              bubbles: true,
              composed: true
            }));
            this.dispatchEvent(new CustomEvent('dashboard-header-color', {
              detail: 'header--night',
              bubbles: true,
              composed: true
            }));
            this.dispatchEvent(new CustomEvent('dashboard-greeting', {
              detail: 'cells-greeting-night',
              bubbles: true,
              composed: true
            }));
          }
        },
        /*
        * Get time now
        */
        _getTime: function() {
          /* global moment */
          return moment(new Date());
        },
        /*
        * Util - Capitalize string
        */
        _capitalize: function(string) {
          return string.substr(0, 1).toUpperCase() + string.substring(1).toLowerCase();
        }

        // @event dasboard-color
        // @event dasboard-greeting
      });
    }(Polymer));
  </script>
</dom-module>
