<link rel="import" href="../polymer/polymer.html">
<script src="../moment/min/moment-with-locales.min.js"></script>


<!--
`<moment-element>` description. A moment JS library wrapper.

Example:

```html
<moment-element></moment-element>
```
```javascript
var myEl = document.querySelector('moment-element');
document.querySelector('#version').innerHTML = myEl.m.version;
```
@demo demo/index.html
-->
<script type="text/javascript" charset="utf-8">
/* global moment */
Polymer({
  is: 'moment-element',

  properties: {
    version: {
      type: String,
      value: function() {
        return moment.version;
      }
    },

    defaultFormat: {
      type: String,
      value: function() {
        return moment.defaultFormat;
      }
    },

    defaultFormatUtc: {
      type: String,
      value: function() {
        return moment.defaultFormatUtc;
      }
    },

    defaultZone: {
      type: String,
      value: function() {
        return moment.defaultZone;
      }
    },

    suppressDeprecationWarnings: {
      type: Boolean,
      value: function() {
        return moment.suppressDeprecationWarnings;
      }
    }
  },

  m: function() {
    console.warn('"m" method is going to be deprecated, please use "time" instead.');
    return this.time.apply(this, arguments);
  },

  created: function() {
    this.time = moment;

    // To overwrite a method to the following
    /*
    time.prototype.toString = function(){
      return this.format('YYYY-MM-DD')
    }
    */
  }
});
</script>
