<link rel="import" href="../polymer/polymer.html"/>
<link rel="import" href="../bgadp-cards/bgadp-cards.html"/>
<link rel="import" href="../cells-global-apis-behaviors/cells-global-apis-behaviors.html"/>

<!--
# cells-dm-global-apis-cards

## Example:

```html
<cells-dm-global-apis-cards></cells-dm-global-apis-cards>
```

@demo demo/index.html
-->
<dom-module id="cells-dm-global-apis-cards">
  <template></template>
  <script>
    /*global BGADPCards*/
    /*eslint new-cap: 0*/
    (function(Polymer, CellsBehaviors) {

      'use strict';

      Polymer({

        is: 'cells-dm-global-apis-cards',

        behaviors: [
          CellsBehaviors.CellsGlobalApisHandleRequest,
          CellsBehaviors.CellsGlobalApisHandleRequestSign,
          CellsBehaviors.CellsGlobalApisHandleRequestError
        ],

        properties: {
          /**
           * Chosen domain to make requests.
           */
          host: String,
          /**
          * Card Id
          */
          cardId: String,
          /**
           * Card
           */
          card: {
            type: Object,
            notify: true
          },
          /**
           * Cards list
           */
          cards: {
            type: Array,
            value: function() {
              return [];
            },
            notify: true
          },
          /**
           * Balances
           */
          balances: {
            type: Array,
            notify: true
          },
          /**
          * Card transactions
          */
          transactions: {
            type: Array,
            notify: true
          },
          /**
          * Transaction id
          */
          transactionsId: String,
          /**
          * Transaction detail object
          */
          transactionDetail: {
            type: Object,
            notify: true
          },
          /**
          * Cards API version
          */
          cardsApiVersion: {
            type: String,
            value: '0'
          }
        },

        /**
         * Get cards
         */
        getCards: function(params) {
          var service = this._serviceCards({
            host: this.host,
            params: params,
            version: this.cardsApiVersion,
            requiresTsec: true
          });

          service.generateRequest().then(
            function() {
              var response = this._parseResponse(service.getLastResponse());
              this.set('cards', response);
              this.fire('set-cards', response);
            }.bind(this),
            this._generateErrorFireEventHandler('error-on-get-cards')
          );
        },
        /**
         * Get Card
         */
        getCard: function(id, params) {
          var service = this._serviceCard({
            host: this.host,
            params: Object.assign({'card-id': id}, params),
            version: this.cardsApiVersion,
            requiresTsec: true
          });

          service.generateRequest().then(
            function() {
              var response = this._parseResponse(service.getLastResponse());
              this.set('card', response);
              this.fire('set-card', response);
            }.bind(this),
            this._generateErrorFireEventHandler('error-on-get-card')
          );
        },

        /**
         * Cards balances
         */
        getCardsBalances: function(params) {
          var service = this._serviceCardsBalances({
            host: this.host,
            params: params,
            version: this.cardsApiVersion,
            requiresTsec: true
          });

          return service.generateRequest().then(
            function() {
              var response = this._parseResponse(service.getLastResponse()) || [];
              this.set('balances', response);
              this.fire('set-cards-balances', response);
            }.bind(this),
            this._generateErrorFireEventHandler('error-on-get-cards-balances')
          );
        },
        /**
        * Update alias
        */
        patchCardAlias: function(alias) {
          var service = this._servicePatchCard({
            host: this.host,
            body: {alias: alias},
            params: Object.assign({'card-id': this.cardId}),
            version: this.cardsApiVersion,
            requiresTsec: true
          });

          return service.generateRequest().then(
            function() {
              var response = this._parseResponse(service.getLastResponse());
              this.set('card', response);
              this.fire('patch-alias', alias);
              this.fire('patch-card', response);
            }.bind(this),
            this._generateErrorFireEventHandler('error-on-patch-card')
          );
        },
        /**
        * Get card transactions
        */
        getTransactions: function(params) {
          var service = this._serviceCardTransactions({
            host: this.host,
            params: Object.assign({'card-id': this.cardId}, params),
            version: this.cardsApiVersion,
            requiresTsec: true
          });

          service.generateRequest().then(
            function() {
              var response = this._parseResponse(service.getLastResponse());
              this.set('transactions', response);
              this.fire('set-card-transactions', response);
            }.bind(this),
            this._generateErrorFireEventHandler('error-on-get-card-transactions')
          );
        },
        /**
        * Get more pages transactions service
        */
        getMoreTransactions: function() {
          if (this.pagination && this.page <= this.totalPages && this.nextKey) {
            this.fire('get-more-data', true);
            this.getTransactions({expand: '&paginationKey=' + this.nextKey});
          }
        },
        /**
        * Get card transaction detail
        */
        getTransactionDetail: function() {
          var service = this._serviceCardTransactionDetail({
            host: this.host,
            params: Object.assign({ 'card-id': this.cardId, 'transaction-id': this.transactionId }),
            requiresTsec: true
          });
          service.generateRequest().then(
            function() {
              var response = this._parseResponse(service.getLastResponse());
              this.set('transactionDetail', response);
              this.fire('set-card-transaction-detail', response);
            }.bind(this),
            this._generateErrorFireEventHandler('error-on-get-card-transaction-detail')
          );
        },
        /**
         * Service Cards
         * /cards/v0/cards
         */
        _serviceCards: function(params) {
          var service =  new BGADPCards.cards.get(params);
          this._addSignListener(service);
          return service;
        },
        /**
         * Service Card
         * /cards/v0/cards/{card-id}
         */
        _serviceCard: function(params) {
          var service = new BGADPCards.cards.card.get(params);
          this._addSignListener(service);
          return service;
        },
        /**
         * Service Card
         * /cards/v0/cards/{card-id}
         */
        _servicePatchCard: function(params) {
          var service =  new BGADPCards.cards.card.patch(params);
          this._addSignListener(service);
          return service;
        },
        /**
         * Service Card
         * /cards/v0/cards/{card-id}/transactions
         */
        _serviceCardTransactions: function(params) {
          var service =  new BGADPCards.cards.card.transactions.get(params);
          this._addSignListener(service);
          return service;
        },
        /**
         * Service Card

         * /cards/v0/cards/{card-id}/transactions/{transaction-id}
         */
        _serviceCardTransactionDetail: function(params) {
          return new BGADPCards.cards.card.transactions.transaction.get(params);
        },
        /**
         * Service Cards
         * /cards/v0/balances
         */
        _serviceCardsBalances: function(params) {
          var service =  new BGADPCards.cards.balances.get(params);
          this._addSignListener(service);
          return service;
        }
      });
    }(Polymer, window.CellsBehaviors));
  </script>
</dom-module>
