<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>cells-dm-global-apis-cards demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../../polymer/polymer.html" />
    <link rel="import" href="../cells-dm-global-apis-cards.html"/>
    <link rel="import" href="../../cells-demo-helper/cells-demo-helper.html">
    <link rel="import" href="../../cells-demo-dm-helper/cells-demo-dm-helper.html">
  </head>

  <body unresolved ontouchstart>
    <cells-demo-helper
      breakpoints='{ "desktop": { "width": 1200, "height": 800, "name": "desktop" } }'
      resolution="desktop"
      events='["set-cards", "set-cards-balances", "error-on-get-cards", "error-on-get-card", "error-on-get-cards-balances"]'>
      <cells-demo-case heading="Default">
        <template>
          <template is="dom-bind" id="demo">
            <cells-demo-dm-helper
              loading-data="[[loadingData]]"
              json-data="[[response]]"
              on-get-cards="getDmCards"
              on-get-card="getDmCard"
              on-get-cards-balances="getDmBalances"
              on-get-card-transactions="getDmCardTransactions"
              on-get-card-transaction-detail="getDmCardTransactionDetail"
              on-patch-card-alias="getDmPatchCardAlias"
              dm-methods="[[dmMethods]]">
            </cells-demo-dm-helper>

            <cells-dm-global-apis-cards id="dm"
              host="https://bbvalabs.com:8001"
              cards="{{response}}"
              card="{{response}}"
              balances="{{response}}"
              transactions="{{response}}"
              transaction-detail="{{response}}"
              on-cards-changed="setLoading"
              on-card-changed="setLoading"
              on-transactions-changed="setLoading"
              on-transaction-detail-changed="setLoading">
            </cells-dm-global-apis-cards>
          </template>
          <script>
            (function(demo) {
              demo.dmMethods = [
                {
                  'event': 'get-cards',
                  'label': 'Get Cards',
                  'method': 'getCards()'
                },
                {
                  'event': 'get-card',
                  'label': 'Get Card',
                  'method': 'getDmCard()'
                },
                {
                  'event': 'patch-card-alias',
                  'label': 'Patch Card Alias',
                  'method': 'getDmPatchCardAlias()'
                },
                {
                  'event': 'get-card-transactions',
                  'label': 'Get Card Transactions',
                  'method': 'getDmCardTransactions()'
                },
                {
                  'event': 'get-card-transaction-detail',
                  'label': 'Get Card Transaction Detail',
                  'method': 'getDmCardTransactionDetail()'
                },
                {
                  'event': 'get-cards-balances',
                  'label': 'Get Cards Balances',
                  'method': 'getCardsBalances()'
                }
              ];

              demo.getDmCards = function() {
                demo.loadingData = true;
                demo.$.dm.getCards();
              };

              demo.getDmCard = function() {
                demo.loadingData = true;
                demo.$.dm.getCard('2102');
              };

              demo.getDmPatchCardAlias = function() {
                demo.$.dm.card = {};
                demo.loadingData = true;
                demo.$.dm.cardId = '2102';
                demo.$.dm.patchCardAlias('Edit alias changed');
              };

              demo.getDmCardTransactions = function() {
                demo.loadingData = true;
                demo.$.dm.cardId = '2102';
                demo.$.dm.getTransactions();
              };

              demo.getDmCardTransactionDetail = function() {
                demo.loadingData = true;
                demo.$.dm.cardId = '2102';
                demo.$.dm.transactionId = '999A1112';
                demo.$.dm.getTransactionDetail();
              };

              demo.getDmBalances = function() {
                demo.loadingData = true;
                demo.$.dm.getCardsBalances();
              };

              demo.setLoading = function() {
                demo.loadingData = false;
                demo.loading = false;
              };

            }(document.getElementById('demo')));
          </script>
        </template>
      </cells-demo-case>
    </cells-demo-helper>
  </body>
</html>