@import "bower_components/cells-sass/main";
:host {
  display: block;
  background-color: var(--cells-group-product-item-background, #fff);
  text-align: left;
  overflow-x: hidden;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply(--cells-group-product-item);

}

.scrollable-list {
  overflow:hidden;
  @apply(--cells-group-product-item-scrollable-list);
}

.transaction-group {
  border-bottom: 1px solid var(--cells-group-product-item-transaction-group-border-bottom, #F4F4F4);
  @apply(--cells-group-product-item-transaction-group);
}

.transaction-group__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: rem(25px) 0 0 rem(30px);
  @apply(--cells-group-product-item-transaction-group-container);
}

.transaction-group__date {
  z-index: 1;
  font-size: rem(12px);
  color: var(--cells-group-product-item-transaction-group-date-color, #d8be75);
  font-weight: 600;
  font-style: italic;
  @apply(--cells-group-product-item-transaction-group-date);

}

.transaction-group__info {
  color: var(--cells-group-product-item-transaction-group-info-color, #2A86CA);
  font-weight: 500;
  text-decoration: none;
  background-color: var(--cells-group-product-item-transaction-group-info-color, transparent);
  border: 0;
  padding: rem(10px) rem(30px);
  font-size: rem(13px);
  @apply(--cells-group-product-item-transaction-group-info);
}

.transaction-group__date--year {
    text-align: center;
    font-size: rem(20px);
    background-color: var(--cells-group-product-item-transaction-group-year-bg-color, #F5F5F5);
    padding: rem(5px);
    font-style: normal;
    font-weight: normal;
    box-shadow: 0 2px 0 0 #D3D3D3;
    border-radius: 2px;
    @apply(--cells-group-product-item-transaction-group-year);
}

.transaction-list {
  padding: 0;
  margin: 0;
  @apply(--cells-group-product-item-transaction-list);
  &__item {
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    @apply(--cells-group-product-item-transaction-list-item);

    &__content {
      border-bottom: 1px solid var(--cells-group-product-item-transaction-list-item-content-border-bottom, #F4F4F4);
      padding: rem(15px) rem(30px) rem(15px) 0;
      margin-left: rem(30px);
      @apply(--cells-group-product-item-transaction-list-item-content);

      &__button {
        background-color: transparent;
        border: 0;
        width: 100%;
        padding: 0;
        @apply(--cells-group-product-item-transaction-list-item-content-button);
      }
    }
    &:first-of-type &__content {
      padding: rem(25px) rem(30px) rem(15px) 0;
    }

    &:last-of-type &__content {
      border: 0;
    }
  }
}
:host([hidden]), [hidden] {
  display: none;
}

cells-atom-subheader {
  @apply(--cells-group-product-item-header);
}

cells-atom-subheader span {
  padding: rem(10px) rem(30px);
  display: block;
  @apply(--cells-group-product-item-header-span);
}

cells-atom-subheader button {
  color: var(--cells-group-product-item-header-link-color, #2A86CA);
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
  font-size: rem(13px);
  padding: rem(10px) rem(30px);
  border: 0;
  @apply(--cells-group-product-item-header-link)
}

cells-product-item {
  --cells-product-item-title-color: var(--cells-group-product-item-product-item-title-color, #121212);
  --cells-product-item-active-background-color: var(--cells-group-product-item-product-item-active-bg-color, #fff);
  --cells-product-item-color: var(--cells-group-product-item-product-item-description-color, #797979);
  --cells-product-item-description-value: unquote("{ font-style: normal; }");
  --cells-product-item: unquote("{
    padding: 0;
  }");
  @apply(--cells-group-product-item-product-item);
}

.text-below-image {
  text-align: left;
  padding-top: rem(15px);
  color: var(--cells-group-product-item-text-color, #121212);
  font-style: italic;
  @apply(--cells-group-product-item-text)
}

.financiable {
  text-transform: uppercase;
  font-style: normal;
  color: var(--cells-group-product-item-text-financiable-color, #00B2B3);
  @apply(--cells-group-product-item-text-financiable)
}
