<dom-module id="cells-group-product-item-styles"><template><style>
:host {
  display: block;
  background-color: var(--cells-group-product-item-background, #fff);
  text-align: left;
  overflow-x: hidden;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply (--cells-group-product-item); }

.scrollable-list {
  overflow: hidden;
  @apply (--cells-group-product-item-scrollable-list); }

.transaction-group {
  border-bottom: 1px solid var(--cells-group-product-item-transaction-group-border-bottom, #F4F4F4);
  @apply (--cells-group-product-item-transaction-group); }

.transaction-group__container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5625rem 0 0 1.875rem;
  @apply (--cells-group-product-item-transaction-group-container); }

.transaction-group__date {
  z-index: 1;
  font-size: 0.75rem;
  color: var(--cells-group-product-item-transaction-group-date-color, #d8be75);
  font-weight: 600;
  font-style: italic;
  @apply (--cells-group-product-item-transaction-group-date); }

.transaction-group__info {
  color: var(--cells-group-product-item-transaction-group-info-color, #2A86CA);
  font-weight: 500;
  text-decoration: none;
  background-color: var(--cells-group-product-item-transaction-group-info-color, transparent);
  border: 0;
  padding: 0.625rem 1.875rem;
  font-size: 0.8125rem;
  @apply (--cells-group-product-item-transaction-group-info); }

.transaction-group__date--year {
  text-align: center;
  font-size: 1.25rem;
  background-color: var(--cells-group-product-item-transaction-group-year-bg-color, #F5F5F5);
  padding: 0.3125rem;
  font-style: normal;
  font-weight: normal;
  box-shadow: 0 2px 0 0 #D3D3D3;
  border-radius: 2px;
  @apply (--cells-group-product-item-transaction-group-year); }

.transaction-list {
  padding: 0;
  margin: 0;
  @apply (--cells-group-product-item-transaction-list); }
  .transaction-list__item {
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    @apply (--cells-group-product-item-transaction-list-item); }
    .transaction-list__item__content {
      border-bottom: 1px solid var(--cells-group-product-item-transaction-list-item-content-border-bottom, #F4F4F4);
      padding: 0.9375rem 1.875rem 0.9375rem 0;
      margin-left: 1.875rem;
      @apply (--cells-group-product-item-transaction-list-item-content); }
      .transaction-list__item__content__button {
        background-color: transparent;
        border: 0;
        width: 100%;
        padding: 0;
        @apply (--cells-group-product-item-transaction-list-item-content-button); }
    .transaction-list__item:first-of-type .transaction-list__item__content {
      padding: 1.5625rem 1.875rem 0.9375rem 0; }
    .transaction-list__item:last-of-type .transaction-list__item__content {
      border: 0; }

:host([hidden]), [hidden] {
  display: none; }

cells-atom-subheader {
  @apply (--cells-group-product-item-header); }

cells-atom-subheader span {
  padding: 0.625rem 1.875rem;
  display: block;
  @apply (--cells-group-product-item-header-span); }

cells-atom-subheader button {
  color: var(--cells-group-product-item-header-link-color, #2A86CA);
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
  font-size: 0.8125rem;
  padding: 0.625rem 1.875rem;
  border: 0;
  @apply (--cells-group-product-item-header-link); }

cells-product-item {
  --cells-product-item-title-color: var(--cells-group-product-item-product-item-title-color, #121212);
  --cells-product-item-active-background-color: var(--cells-group-product-item-product-item-active-bg-color, #fff);
  --cells-product-item-color: var(--cells-group-product-item-product-item-description-color, #797979);
  --cells-product-item-description-value: { font-style: normal; };
  --cells-product-item: { padding: 0; };
  @apply (--cells-group-product-item-product-item); }

.text-below-image {
  text-align: left;
  padding-top: 0.9375rem;
  color: var(--cells-group-product-item-text-color, #121212);
  font-style: italic;
  @apply (--cells-group-product-item-text); }

.financiable {
  text-transform: uppercase;
  font-style: normal;
  color: var(--cells-group-product-item-text-financiable-color, #00B2B3);
  @apply (--cells-group-product-item-text-financiable); }

</style></template></dom-module>