<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-list/iron-list.html">
<link rel="import" href="../cells-moment-import/cells-moment-import.html">
<link rel="import" href="../cells-atom-subheader/cells-atom-subheader.html">
<link rel="import" href="../cells-heading/cells-heading.html">
<link rel="import" href="../cells-product-item/cells-product-item.html">
<link rel="import" href="cells-group-product-item-styles.html">

<!--
`<cells-group-product-item>` is a component with a header in top, and a list of `<cells-product-item>` transactions grouped by date. This component uses the component `cells-atom-subheader` for main heading, `cells-moment-import` is used for dates formatting and `cells-product-item` for showing transactions, and `iron-list` for the list of transactions.

## Array

Receives `transactions` array:

```js
[{
  'transactionId': '503A0028',
  'localAmount': {
    'amount': 53.29,
    'currency': 'EUR'
  },
  'description': {
    'value': 'Cuenta corriente',
    'masked': false
  },
  'availableDate': '2016-12-08',
  'name': 'Vodafone',
  'status': {
    'value': 'Pendiente',
    'class': ''
  }
},
{
  'transactionId': '401A6462',
  'localAmount': {
    'amount': 105,
    'currency': 'EUR'
  },
  'description': {
    'value': 'Cuenta corriente',
    'masked': false
  },
  'availableDate': '2016-08-16',
  'name': 'Amazon',
  'status': {
    'value': 'Financiable',
    'class': 'financiable'
  }
}]
```

It´s necessary set the `availableDate` in all array items. If any item doesn't get an `availableDate`, that item won't be painted in the page.

With the property `transactionDatePropName`, it´s possible to change the property (availableDate) to use for the array. If `transactionDatePropName` is changed, the array will use the name setted in `transactionDatePropName` instead of `availableDate`.

In `description`, it´s possible to add an account number with mask; for more information:

[cells-product-item](http://bbva-files.s3.amazonaws.com/cells/bbva-catalog/index.html#/elements/cells-product-item).

You can use `status` to add a class in the content of `cells-product-item`.

## Examples

Basic example:
```html
<cells-molecule-group-transactions-list>
</cells-molecule-group-transactions-list>
```

Example with header:
```html
<cells-molecule-group-transactions-list heading="last movements" heading-link="view all">
</cells-molecule-group-transactions-list>
```

You can use the property `limit` for adding a limit to the number of elements that is shown; default value is 10.

Example with limit:
```html
<cells-molecule-group-transactions-list limit="10">
</cells-molecule-group-transactions-list>
```

You can use the property `show-year-separator` for grouping the items by year.

Example with show-year-separator:
```html
<cells-molecule-group-transactions-list show-year-separator>
</cells-molecule-group-transactions-list>
```

It´s possible to format the date using the moment format with the property `transaction-date-format`

Example with transaction-date-format:
```html
<cells-molecule-group-transactions-list transaction-date-format"LL">
</cells-molecule-group-transactions-list>
```
For more information about the types of date format, check:
[formating a date with momentJS](https://momentjs.com/).

As this component uses headings, it´s possible to set the property `heading-level` with the initial heading level for the component. Each transaction date, and also `heading` (if setted) and year separators (if `showYearSeparator` is true), will receive an hierarchically appropiate aria-level based on this `heading-level`.

If `heading-level` is not set, by default its value is 1.

Example with heading-level:
```html
<cells-molecule-group-transactions-list heading-level"2" heading="header" show-year-separator>
</cells-molecule-group-transactions-list>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property                                                         | Description                                           | Default     |
|:-----------------------------------------------------------------------:|:-----------------------------------------------------:| :----------:|
| --cells-group-product-item-background                                   | var :host background-color                            | #fff        |
| --fontDefault                                                           | var :host font family                                 | sans-serif  |
| --cells-group-product-item                                              | empty mixin :host                                     | {}          |
| --cells-group-product-item-scrollable-list                              | empty mixin scrollable list                           | {}          |
| --cells-group-product-item-transaction-group-border-bottom              | border bottom for transaction group                   | #F4F4F4     |
| --cells-group-product-item-transaction-group                            | empty mixin for transaction group                     | {}          |
| --cells-group-product-item-transaction-group-container                  | empty mixin for container inside of transaction group | {}          |
| --cells-group-product-item-transaction-group-date-color                 | color for transaction group date                      | #d8be75     |
| --cells-group-product-item-transaction-group-date                       | empty mixin for transaction group date                | {}          |
| --cells-group-product-item-transaction-group-info                       | empty mixin for transaction group link                | {}          |
| --cells-group-product-item-transaction-group-info-color                 | color for transaction group link                      | #2A86CA     |
| --cells-group-product-item-transaction-group-info-bg-color              | background color for transaction group link           | transparent |
| --cells-group-product-item-transaction-group-year-bg-color              | background color for transaction group year           | #F5F5F5     |
| --cells-group-product-item-transaction-group-year                       | empty mixin for transaction group link                | {}          |
| --cells-group-product-item-transaction-list                             | empty mixin for transaction list                      | {}          |
| --cells-group-product-item-transaction-list-item                        | empty mixin for transaction list item                 | {}          |
| --cells-group-product-item-transaction-list-item-content-border-bottom  | border bottom for transaction list item content       | #F4F4F4     |
| --cells-group-product-item-transaction-list-item-content                | empty mixin for transaction list item content         | {}          |
| --cells-group-product-item-transaction-list-item-content-button         | empty mixin for transaction list item content button  | {}          |
| --cells-group-product-item-header                                       | empty mixin for cells-tom-subheader                   | {}          |
| --cells-group-product-item-header-span                                  | empty mixin for cells-tom-subheader span              | {}          |
| --cells-group-product-item-header-link-color                            | color for cells-tom-subheader link                    | #2A86CA     |
| --cells-group-product-item-header-link                                  | empty mixin for cells-tom-subheader link              | {}          |
| --cells-group-product-item-product-item-title-color                     | color for title of cells-product-item                 | #121212     |
| --cells-group-product-item-product-item-active-bg-color                 | background color for active cells-product-item        | #fff        |
| --cells-group-product-item-product-item-description-color               | color for description cells-product-item              | #797979     |
| --cells-group-product-item-product-item                                 | empty mixin for cells-product-item                    | {}          |
| --cells-group-product-item-text-color                                   | color for cells-product-item text                     | #121212     |
| --cells-group-product-item-text                                         | empty mixin for cells-product-item text               | {}          |
| --cells-group-product-item-text-financiable-color                       | color for cells-product-item financiable              | #00B2B3     |
| --cells-group-product-item-text-financiable                             | empty mixin for cells-product-item financiable        | {}          |


@demo demo/index.html
@hero cells-group-product-item.png
-->
<dom-module id="cells-group-product-item">
  <template>
    <style include="cells-group-product-item-styles transaction-list-shared-styles"></style>
    <template is="dom-if" if="[[heading]]">
      <cells-atom-subheader id="headingTop" heading-level="{{headingLevel}}">
        <span class="heading">[[heading]]</span>
        <template is="dom-if" if="[[headingLink]]">
          <button class="button-information" on-tap="_headingLink">[[headingLink]]</button>
        </template>
      </cells-atom-subheader>
    </template>
    <div class="scrollable-list" id="scrollable-list">
      <iron-list items="[[_transactionsGroups]]" as="transactionsSameYear" scroll-target="scrollable-list">
        <template>
          <div>
            <template is="dom-if" if="[[showYearSeparator]]">
              <cells-heading class="transaction-group__date--year" level="[[_computedHeadingYear(heading, headingLevel)]]">[[transactionsSameYear.year]]</cells-heading>
            </template>
            <template is="dom-repeat" items="[[transactionsSameYear]]" as="transactionsSameDate" index-as="sameDateIndex">
              <div class="transaction-group">
                <div class="transaction-group__container">
                  <cells-heading class="transaction-group__date" level="[[_computedHeadingDate(heading, showYearSeparator, headingLevel)]]">[[transactionsSameDate.date]]</cells-heading>
                  <button class="transaction-group__info" hidden$="[[!showDayLink]]" on-tap="_dayLinkAction">[[dayLinkText]]</button>
                </div>
                <ul class="transaction-list">
                  <template is="dom-repeat" items="[[transactionsSameDate]]">
                    <li class="transaction-list__item">
                      <button class="transaction-list__item__content__button" on-tap="_transactionLinkAction">
                        <div class="transaction-list__item__content">
                          <cells-product-item name="[[item.name]]" primary-amount="[[item.localAmount]]" description='[[item.description]]'>
                            <div class$="text-below-image [[item.status.class]]">
                              <span>[[item.status.value]]</span>
                            </div>
                          </cells-product-item>
                        </div>
                      </button>
                    </li>
                  </template>
                </ul>
              </div>
            </template>
          </div>
        </template>
      </iron-list>
    </div>
  </template>
  <script src="cells-group-product-item.js"></script>
</dom-module>
