<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
  />
  <title>Demo cells-contact-avatar</title>

  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  <script>
    window.Polymer = {
      dom: 'shadow',
      lazyRegister: true,
      useNativeCSSProperties: true
    };
  </script>
  <link rel="import" href="../../cells-demo-helper/cells-demo-helper.html">
  <link rel="import" href="../../coronita-icons/coronita-icons.html">
  <link rel="import" href="../../cells-molecule-input/cells-molecule-input.html">
  <link rel="import" href="../cells-contact-avatar.html">
  <link rel="import" href="css/demo-styles.html">

</head>

<body unresolved ontouchstart>
  <cells-demo-helper available-themes='["cells-coronita-theme"]'>
    <cells-demo-case heading="Single name" description="One words name">
      <template>
        <template is="dom-bind" id="tbind">
            <cells-molecule-input label="Name to display in avatar" value="{{name}}"></cells-molecule-input>
            <cells-contact-avatar id="single" alt="[[name]]">
            </cells-contact-avatar>
          <script>
            var demo = document.getElementById('tbind');
            demo.name = 'John';
          </script>
        </template>
      </template>
    </cells-demo-case>

    <cells-demo-case heading="Composed name" description=" More than one words name">
      <template>
        <template is="dom-bind" id="tbind">
          <cells-molecule-input label="Name to display in avatar" value="{{name}}"></cells-molecule-input>
          <cells-contact-avatar alt="[[name]]">
          </cells-contact-avatar>
          <script>
            var tbind = document.getElementById('tbind');
            tbind.name = 'John Smith';
          </script>
        </template>
      </template>
    </cells-demo-case>

    <cells-demo-case heading="Avatar + composed name" description="In case of source invalid, it will display the initials of the given name">
      <template>
        <template is="dom-bind" id="tbind">
          <cells-molecule-input label="Name to display in avatar" value="{{name}}"></cells-molecule-input>
          <cells-molecule-input label="Image source" value="{{randomSource}}"></cells-molecule-input>
          <cells-contact-avatar src="[[randomSource]]" alt="[[name]]"></cells-contact-avatar>
          <cells-molecule-input label="Image source" value="{{invalidSource}}"></cells-molecule-input>
          <cells-contact-avatar src="[[invalidSource]]" alt="[[name]]"></cells-contact-avatar>
          <script>
            var demo2 = document.getElementById('tbind');
            var random = Math.floor(Math.random() * (20 - 1) + 1);
            demo2.name = 'Emma Watson';
            demo2.randomSource = 'https://randomuser.me/api/portraits/women/' + random + '.jpg';
            demo2.invalidSource = 'http://invalidUrl';
          </script>
        </template>
      </template>
    </cells-demo-case>
</html>
