@import "bower_components/cells-sass/main";

:host {
    .transaction-history-header {
        padding: 1.875em 1.875em 1.25em 1.875em;
        h4 {
            &.total-operaciones {
                font-family: var(--cells-fontSecondary);
                height: auto;
                margin: auto;
                text-transform: uppercase;
                color: var(--cells-myb-ui-theme-color-dark-grey, #666);
                @apply(--cells-text-size-m-mini);

            @apply(--cells-myb-transaction-history-total-operaciones);
            }

            /*         &.total-comisiones {
            font-family: var(--cells-fontDefault);
            height: auto;
            margin: auto;
            text-align: right;
            color: var(--cells-myb-ui-theme-color-grey, #bdbdbd);
            @apply(--cells-text-size-xs);
            @apply(--cells-myb-transaction-history-total-comisiones);
        } */
        }
        @apply(--cells-myb-transaction-history-ui-header);
    }
    .loading-page-zone {
      height: var(--cells-myb-transaction-history-loading-page-zone, 6.125rem);
      width: var(--cells-myb-transaction-history-loading-page-zone, 100%);
      @apply(--cells-myb-transaction-history-loading-page-zone);
    }
    @apply(--cells-myb-transaction-history);
}
