<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="./moment-import.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../cells-molecule-group-transactions-list/cells-molecule-group-transactions-list.html">
<link rel="import" href="../cells-myb-transaction-item/cells-myb-transaction-item.html">
<link rel="import" href="../cells-skeleton-item/cells-skeleton-item.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="cells-myb-transaction-history-styles.html">

<!--
` This component shows the transaction history`

```html
<cells-myb-transaction-history
    transactions="[[ operationList ]]">
</cells-myb-transaction-history>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-myb-transaction-history  | empty mixin for your own styles on :host | {}             |
| --cells-myb-transaction-history-total-operaciones  | empty mixin for h4 .total-operaciones | {}             |
| --cells-myb-transaction-history-ui-header  | empty mixin  .transaction-history-header | {}             |

@demo demo/index.html
-->
<dom-module id="cells-myb-transaction-history">
    <template>
        <style include="iron-flex cells-myb-transaction-history-styles cells-myb-transaction-history-shared-styles">
        </style>
          <div class="skeleton" hidden$="[[ !loadingState ]]">
            <cells-skeleton-item show-title></cells-skeleton-item>

            <cells-skeleton-item show-transaction-item></cells-skeleton-item>
            <cells-skeleton-item show-transaction-item></cells-skeleton-item>
            <cells-skeleton-item show-transaction-item></cells-skeleton-item>
            <cells-skeleton-item show-transaction-item></cells-skeleton-item>
            <cells-skeleton-item show-transaction-item></cells-skeleton-item>
          </div>

          <div class="wrapper" hidden$="[[ loadingState ]]">
            <section class="layout horizontal transaction-history-header">
              <h4 class="flex total-operaciones" hidden$="[[!transactions.length]]">
                [[ totalElements ]] [[ t('cells-myb-transaction-history-operations-text') ]]
              </h4>
            </section>

            <cells-molecule-group-transactions-list
              id="transactionList-{{period}}"
              transactions="{{ transactions }}"
              transaction-date-prop-name="{{ transactionDatePropName }}"
              group-by-month="{{ groupByMonth }}"
              reverse-order="{{ reverseOrder }}"
              >
              <template>
                <cells-myb-transaction-item
                id = "transactionItem"
                transaction="[[ transaction ]]"
                hidden-range="[[ transaction.hiddenRange ]]"
                view="[[ period ]]">
              </cells-myb-transaction-item>
            </template>
          </cells-molecule-group-transactions-list>
          <section class="loading-zone">
            <div class="loading-page-zone" hidden="[[!_isLoadingZoneVisible]]"></div>
            <cells-spinner-stripes hidden="[[!_isLoadingMore]]"></cells-spinner-stripes>
          </section>
        </div>
    </template>
    <script src="cells-myb-transaction-history.js"></script>
</dom-module>
