<dom-module id="cells-myb-transaction-history-styles"><template><style>
:host {
  display: block;
  font-family: var(--fontDefault);
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

:host {
  @apply (--cells-myb-transaction-history); }
  :host .transaction-history-header {
    padding: 1.875em 1.875em 1.25em 1.875em;
    @apply (--cells-myb-transaction-history-ui-header); }

    :host .loading-page-zone {
      height: var(--cells-myb-transaction-history-loading-page-zone, 6.125rem);
      width: var(--cells-myb-transaction-history-loading-page-zone, 100%);
      @apply(--cells-myb-transaction-history-loading-page-zone);
    }

    :host .transaction-history-header h4 {
      /*         &.total-comisiones {
            font-family: var(--cells-fontDefault);
            height: auto;
            margin: auto;
            text-align: right;
            color: var(--cells-myb-ui-theme-color-grey, #bdbdbd);
            @apply(--cells-text-size-xs);
            @apply(--cells-myb-transaction-history-total-comisiones);
        } */ }
      :host .transaction-history-header h4.total-operaciones {
        font-family: var(--cells-fontSecondary);
        height: auto;
        margin: auto;
        text-transform: uppercase;
        color: var(--cells-myb-ui-theme-color-dark-grey, #666);
        @apply (--cells-text-size-m-mini);
        @apply (--cells-myb-transaction-history-total-operaciones); }

</style></template></dom-module>
