<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-iconset-svg/iron-iconset-svg.html">

<!--
@composer
@description Coronita iconset
@type CC
@platforms android, ios, desktop
@family cells-catalog-themes-family
-->
<iron-iconset-svg name="coronita" size="260">
  <svg>
    <defs>

<g id="BBVAcontigo" fill-rule="evenodd">
<g><path class="cls-1" d="M125.43 114.3l8.93-13.54c2.26-3.39 2.74-5.34 2.74-7.72a12.35 12.35 0 0 0-12.38-12H111v80h7.6c12.73 0 22.39-7.17 22.39-23.53.01-13.51-6.23-20.92-15.56-23.21z"/><path class="cls-1" d="M241 31H21c-5.53 0-10 4.07-10 9.56v210.06L51 211h190a10.3 10.3 0 0 0 10-10.31V40.56c0-5.49-4.49-9.56-10-9.56zM135 171H91V71h45.57c21.36 0 28.81 16.44 18 31.78l-5.11 7.34C185.29 127.9 173.63 171 135 171z"/></g>
</g>
<g id="account" fill-rule="evenodd">
<path class="cls-1" d="M219 40H-1v140h220zM29 70h60L69 90H29zm120.06 70H29v-20h140zM239 100v100H39l-20 20h240V80z"/><path class="cls-1" d="M219 40H-1v140h220zM29 70h60L69 90H29zm120.06 70H29v-20h140zM239 100v100H39l-20 20h240V80z"/><path class="cls-1" d="M219 40H-1v140h220zM29 70h60L69 90H29zm120.06 70H29v-20h140zM239 100v100H39l-20 20h240V80z"/>
</g>
<g id="add" fill-rule="evenodd">
<path class="st0" d="M129.5 9.5c-66.3 0-120 53.7-120 120s53.7 120 120 120 120-53.7 120-120-53.7-120-120-120zm50 130.5H139v50h-20v-50H69v-20h50V70h20v50h60.5l-20 20z"/>
</g>
<g id="addnotes" fill-rule="evenodd">
<g><path class="cls-1" d="M185.25 109.75a84.71 84.71 0 0 1 24.75 3.69V20a10 10 0 0 0-9.93-10H190l-10 10h-10V10h-10l-10 10h-10V10h-10l-10 10h-10V10h-10L90 20H80V10H70L60 20H50V10H39.93A10 10 0 0 0 30 20v220a10 10 0 0 0 9.93 10H50l10-10h10v10h10l10-10h10v10h10l6-6a84.93 84.93 0 0 1 69.23-134.23zM60 60h110l-20 20H60zm0 60v-20h80l-20 20z"/><path class="cls-1" d="M185 130a65 65 0 1 0 65 65 65 65 0 0 0-65-65zm33.33 73.12h-25.2V235h-16.25v-31.88H145v-16.25h31.88V155h16.25v31.87H225z"/></g>
</g>
<g id="aeroplane" fill-rule="evenodd">
<path class="cls-1" d="M242.94 17.17a23.58 23.58 0 0 0-33.35 0l-45 45L39.66 38.11a11.32 11.32 0 0 0-10.22 3.1l-9.06 9.06L118 108.81l-45.71 45.66-52.15 1.48a11.32 11.32 0 0 0-5.78 3.1l-4.25 4.25 58.61 28.1 28.1 58.6 4.25-4.25a11.32 11.32 0 0 0 3.1-5.78l1.48-52.15 45.66-45.66 58.55 97.57 9.06-9.06a11.32 11.32 0 0 0 3.1-10.22L197.93 95.53l45-45a23.58 23.58 0 0 0 .01-33.36z"/>
</g>
<g id="agenda" fill-rule="evenodd">
<path class="cls-1" d="M210 40v190.15H67.72C50.6 230.12 51 210 67.9 210H190V12h.22v-2H55.14C41.36 10 30 21.85 30 35.69V50h20v20H30v8.47c0 .36.11.54.12.89l.1 20.64H50v20H30.22v30H50v20H30.21v52.79c0 13 13.88 23.63 26.41 26.61a31.57 31.57 0 0 0 7.24.76c57.64 0 108.49.07 166.14.07V40zM81 130h79l-18.47 20H81z"/>
</g>
<g id="alarm" fill-rule="evenodd">
<path class="cls-1" d="M65.83 121.32L88 117l56 56.41-6.11 20.48-72-72.53zm105 63.2l40.65-40.92a69.1 69.1 0 0 0 20.3-48.27 67.17 67.17 0 0 0-11.89-38.93L240 36.12 224 20l-19.95 20.07a65.08 65.08 0 0 0-39.87-12.73A68.64 68.64 0 0 0 116.51 48L75.9 88.89l-52.63 14.05c-3.57 1-4.34 3.84-1.72 6.45l39.59 39.42c-.21.2-.43.4-.64.61a34.7 34.7 0 0 0 0 48.78 34.14 34.14 0 0 0 48.45 0l.61-.65 40.1 40.86c2.59 2.64 5.5 1.89 6.5-1.67l14.64-52.24zm0 0"/>
</g>
<g id="alert" fill-rule="evenodd">
<g><path class="cls-1" d="M130 190a15 15 0 1 0 15 15 15 15 0 0 0-15-15zm10-20h-20V90l20 20zm98.81 58.88L135.62 24.61c-3.11-6.15-8.13-6.14-11.23 0L21.19 228.88c-3.11 6.12.08 11.12 7.1 11.12h203.42c7.03 0 10.2-5 7.1-11.12z"/></g>
</g>
<g id="alphabeticalorder" fill-rule="evenodd">
<g><path class="cls-1" d="M53.27 68.72L10.57 189.8H35l9.29-26.89h41.08L95 191.75l25.59-3.91-42-119.13zm-2.44 75L65 102.61h.33l13.85 41.07zM246.68 167.31h-59.35l61.3-79.78V68.72H154.9l3.89 21.89h56.59l-62.59 79.94v18.17h97.78l-3.89-21.41z"/><path class="cls-1" d="M164.94 118.72h-50v20h40l10-20z"/></g>
</g>
<g id="appstore" fill-rule="evenodd">
<path class="cls-1" d="M137.06 72.83q6 0 19.55-4.65t23.53-4.65a50.17 50.17 0 0 1 29.12 8.78A72.93 72.93 0 0 1 223.49 86q-10.64 9-15.56 16.09a48.17 48.17 0 0 0-8.93 28.18 52 52 0 0 0 9.44 30.45q9.44 13.56 21.54 17.15-5.05 16.35-16.75 34.17-17.68 26.72-35.1 26.72-6.91 0-19.08-4.39T138.52 230q-8.38 0-19.48 4.59t-18 4.59q-20.88 0-41-35.37Q40 168.82 40 135.19q0-31.24 15.36-50.92t38.76-19.69q10 0 24.13 4.12t18.81 4.13zm41.62-54.91a51.06 51.06 0 0 1-4 18.61 55.17 55.17 0 0 1-12.63 18.75q-7.45 7.31-14.76 9.84a70.28 70.28 0 0 1-14.09 2.26q.27-20.21 10.57-35t34.1-20.21a16.13 16.13 0 0 1 .66 3.06q.15 1.36.15 2.68z"/>
</g>
<g id="atm" fill-rule="evenodd">
<path class="cls-1" d="M10 20v80h40v130.07A10 10 0 0 0 60 240h140a10 10 0 0 0 10-9.93V100h40V20zm90 190l-20-20v-50h20zM230 80h-20V60h-30v150l-20-20V60H50v20H30V40h200z"/>
</g>
<g id="audio" fill-rule="evenodd">
<g><path class="cls-1" d="M132.93 21.62L60.89 80h-40a10 10 0 0 0-10 10v80a10 10 0 0 0 10 10h40l72 58.33c4.4 3.3 8 1.58 8-4.05V25.67c0-5.53-3.64-7.29-7.96-4.05z"/><path class="cls-2" d="M182.39 88.81l-21.26 21.25a30 30 0 0 1 0 42.5l21.26 21.25a60.09 60.09 0 0 0 0-85z"/><path class="cls-2" d="M224.91 46.31l-21.26 21.25a90.13 90.13 0 0 1 0 127.5l21.26 21.25a120.17 120.17 0 0 0 0-170z"/></g>
</g>
<g id="auto" fill-rule="evenodd">
<path class="cls-1" d="M239.08 110h-11.37l-19.8-67.9a3.09 3.09 0 0 0-2.79-2.1H55.62a3.13 3.13 0 0 0-2.81 2.08L32.14 110H20.92A10.91 10.91 0 0 0 10 120.9v10.93A11.14 11.14 0 0 0 20.92 143H30v86.08A10.91 10.91 0 0 0 40.9 240h12.65c6 0 10.45-4.89 10.45-10.92V220h131v9.08A10.88 10.88 0 0 0 205.87 240h10.93c6 0 13.19-4.89 13.19-10.92V143h9.08A11.14 11.14 0 0 0 250 131.83V120.9a10.91 10.91 0 0 0-10.92-10.9zM70 60h120l15 50H55zm-5 110a15 15 0 1 1 15-15 15 15 0 0 1-15 15zm130 0a15 15 0 1 1 15-15 15 15 0 0 1-15 15z"/>
</g>
<g id="autobank" fill-rule="evenodd">
<g><path class="cls-1" d="M240 10H10v230h22.27V32.34H240V10z"/><path class="cls-2" d="M244.72 129h-9.67l-16.83-57.47a2.41 2.41 0 0 0-2.37-1.53H88.77a2.44 2.44 0 0 0-2.39 1.52L68.82 129h-9.54c-5.13 0-9.28 4.65-9.28 9.76v9.29a9 9 0 0 0 9.28 8.95H67v73.72a9.27 9.27 0 0 0 9.26 9.28H87a9 9 0 0 0 9-9.28V223h111v7.72a9.47 9.47 0 0 0 9.49 9.28h9.29c5.11 0 11.21-4.15 11.21-9.28V157h7.72a9 9 0 0 0 9.28-8.94v-9.29c.01-5.12-4.14-9.77-9.27-9.77zM101 87h102l12.75 42H88.25zm-2 98a15 15 0 1 1 15-15 15 15 0 0 1-15 15zm106 0a15 15 0 1 1 15-15 15 15 0 0 1-15 15z"/></g>
</g>
<g id="back" fill-rule="evenodd">
<path class="cls-1" transform="rotate(135 125.355 151.215)" d="M115.36 111.21h20v80h-20z"/><path class="cls-1" transform="rotate(135 125.356 108.787)" d="M85.36 98.79h80v20h-80z"/>
</g>
<g id="bakery" fill-rule="evenodd">
<path class="cls-1" d="M231.08 28.08C210.7 7.7 162.34 21.72 114.59 59H170l-16.67 20H91.45q-2.89 2.76-5.76 5.62-7.1 7.1-13.53 14.38H140l-16.67 20H55.9c-5 6.7-9.49 13.4-13.51 20H101l-16.67 20H31.61c-14.28 30.58-16.25 57.2-2.45 71 24.53 24.53 89.62-.78 145.38-56.54s81.07-120.85 56.54-145.38z"/>
</g>
<g id="balance" fill-rule="evenodd">
<path class="cls-1" d="M138.45 190h.93v-16.87C152 169.93 160 161 160 148.9c0-13-6-19.39-25.49-27.37-13.2-5.43-16.14-7.9-16.14-13.22 0-5.68 4.54-9.05 12.87-9.05a32.47 32.47 0 0 1 18 5.7l1.9 1.31 1.27.87.25-1.42.38-2.13 2-11.32.15-.88.1-.58-.57-.3-.86-.44a43.86 43.86 0 0 0-14.47-4.49v-8.14L123.87 70h-.93v15.89c-13.31 2.59-21.79 11.26-21.79 23.27 0 12.23 5.93 18.23 25.36 26.17 13.42 5.46 16.27 8 16.27 14.42s-5.3 10.5-14.08 10.5a45.86 45.86 0 0 1-22.91-6.75l-1.88-1.12-1.25-.74-.22 1.34-.33 2-1.87 11.56-.15.9-.1.6.59.28.89.43a61.32 61.32 0 0 0 21.46 5.46v8.36zM50 70a100 100 0 0 1 174.24 26.5l29.83-5.42A130 130 0 0 0 28.63 48.63L10 30 0 100l70-10zm140 100l20 20a100 100 0 0 1-174.24-26.5l-29.83 5.42a130 130 0 0 0 225.44 42.45L250 230l10-70z"/>
</g>
<g id="bank" fill-rule="evenodd">
<g><path class="cls-1" d="M20 220h220v20H20z"/><path class="cls-2" d="M129.62 10L20 70v20h220V70L129.62 10z"/><path class="cls-1" d="M40 110h40v90H40zM110 110h40v90h-40zM180 110h40v90h-40z"/></g>
</g>
<g id="bar" fill-rule="evenodd">
<path class="cls-1" d="M243.39 52.41l-56.39.11v-25.2c0-3.8-2.75-7.32-6.56-7.32H16.67C12.86 20 10 23.51 10 27.32v215.36c0 3.8 2.86 7.32 6.67 7.32h163.77c3.81 0 6.56-3.51 6.56-7.32v-44l56.39.11a6.56 6.56 0 0 0 6.61-6.28V58.69a6.57 6.57 0 0 0-6.61-6.28zM62 140h-.7L41 119.91V51h21zm157 26h-32V83h32z"/>
</g>
<g id="barcode" fill-rule="evenodd">
<path class="cls-1" d="M244.46 40H15.54A5.44 5.44 0 0 0 10 45.34v169.32a5.45 5.45 0 0 0 5.54 5.34h228.92a5.44 5.44 0 0 0 5.54-5.34V45.34a5.45 5.45 0 0 0-5.54-5.34zM60 190H40V70h20zm40 0H80v-20h20zm0-40H80V70h20zm40 40h-20v-20h20zm0-40h-20V70h20zm40 40h-20v-20h20zm0-40h-20V70h20zm40 40h-20V70h20z"/>
</g>
<g id="bbvaofice" fill-rule="evenodd">
<path class="st0" d="M129.4 109.7l8.9-13.5c2.3-3.4 2.7-5.5 2.7-7.9-.2-6.7-5.6-12.2-12.4-12.2H115v80h7.6c12.7 0 22.4-7 22.4-23.3 0-13.6-6.2-20.8-15.6-23.1z"/><path class="st0" d="M130 10C74.8 10 30 54.8 30 110v3c2 88.3 91.6 144.7 91.6 144.7 4.6 3.1 12 3.1 16.5.1 0 0 89.8-56.5 91.8-144.8v-3c0-55.2-44.7-100-99.9-100zm9 156H95V66h45.6c21.4 0 28.8 16.6 18 32l-5.1 7.2C189.3 123 177.6 166 139 166z"/>
</g>
<g id="bill" fill-rule="evenodd">
<path class="cls-1" d="M210.07 10H200l-10 10h-10V10h-10l-10 10h-10V10h-10l-10 10h-10V10h-10l-10 10H90V10H80L70 20H60V10H49.93A10 10 0 0 0 40 20v220a10 10 0 0 0 9.93 10H60l10-10h10v10h10l10-10h10v10h10l10-10h10v10h10l10-10h10v10h10l10-10h10v10h10.07a10 10 0 0 0 9.93-10V20a10 10 0 0 0-9.93-10zM140 178.76V200l-20-10v-10.5a72.42 72.42 0 0 1-22.5-6.3l2.9-17.14c8.4 4.82 18.82 8.64 28.81 8.64 8.83 0 14.91-4.11 14.91-11.9 0-7.22-3.47-10.2-18-16.29-19.4-7.79-27.22-14-27.22-29.18 0-13.57 8.4-22.69 21.05-26V60l20 10v10.53a51.8 51.8 0 0 1 17.58 5.42l-2.9 17c-7.24-4.67-15.78-7.65-23.6-7.65-9.55 0-13.75 4.53-13.75 10.48 0 6.23 3.18 9.21 17.08 14.87C155 128.87 162.5 135.81 162.5 151s-9.09 24.56-22.5 27.76z"/>
</g>
<g id="bizum" fill-rule="evenodd">
<path class="cls-1" d="M187.54 51.36a19.06 19.06 0 0 0-26.87 4.31L70.21 182.08a19.73 19.73 0 0 0 4.25 27.28 19 19 0 0 0 26.87-4.36L191.8 78.65a19.74 19.74 0 0 0-4.26-27.29zM76.27 41.46A19.5 19.5 0 1 0 49 45.78a19.49 19.49 0 0 0 27.27-4.32zM84.31 95.93a19 19 0 0 0 26.87-4.32L133.8 60a19.71 19.71 0 0 0-4.25-27.27A19.06 19.06 0 0 0 102.67 37L80.05 68.65a19.73 19.73 0 0 0 4.26 27.28zM177.68 164.8a19 19 0 0 0-26.87 4.32l-22.61 31.6a19.74 19.74 0 0 0 4.26 27.28 19.06 19.06 0 0 0 26.88-4.34l22.61-31.6a19.71 19.71 0 0 0-4.27-27.26zM212 214.22a19.5 19.5 0 1 0 4.31 27.24 19.5 19.5 0 0 0-4.31-27.24z"/>
</g>
<g id="block" fill-rule="evenodd">
<path class="cls-1" d="M130 10a120 120 0 1 0 120 120A120 120 0 0 0 130 10zM40 130a90 90 0 0 1 142.85-72.85l-125.7 125.7A89.59 89.59 0 0 1 40 130zm90 90a89.59 89.59 0 0 1-52.85-17.15l125.7-125.7A90 90 0 0 1 130 220z"/>
</g>
<g id="blockcard" fill-rule="evenodd">
<path class="cls-1" d="M79 220h160a10 10 0 0 0 10-9.93V50zm120-40h-40v-20h60zM19 250L229 40V10l-30 30H19a10 10 0 0 0-10 9.93V80h150l-20 20H9v110.07A10 10 0 0 0 19 220z"/>
</g>
<g id="blog" fill-rule="evenodd">
<path class="cls-1" d="M130 10a120 120 0 1 0 120 120A120 120 0 0 0 130 10zm-6 171H60v-60.94L90.15 81h28.65l-30.65 40H124zm76 0h-64v-60.94L166.15 81h28.65l-30.65 40H200z"/>
</g>
<g id="bluetooth" fill-rule="evenodd">
<path class="cls-1" d="M187.36 82.6L104.6 10.25v96.09L57.36 65.48V94.1l43 36.87-43 38V195l47.25-40.85v96.09l82.75-72.35-55.1-47.65zM126 203.4V153l29.13 25zm29.16-120.8L126 108.35V57.09z"/>
</g>
<g id="bonusaccount" fill-rule="evenodd">
<path class="cls-1" d="M240 100v100H40l-20 20h240V80l-20 20z"/><path class="cls-1" d="M220 40H0v140h220zM70 90H30V70h60zm104.72 50.42L150 126.67l-24.72 13.75 6.56-25.91L110 97.07l28.76-2.25L150 70.39l11.24 24.44L190 97.07l-21.84 17.44z"/>
</g>
<g id="bookstore" fill-rule="evenodd">
<path class="cls-1" d="M210 40v189.9c-1 0-94.2.1-147.19.1-17.22 0-16.92-20 .06-20H190V10H54.24c-2.9 1-6 1.58-8.67 3C36.24 17.72 30.74 25.55 30 36v186.7c0 13 9 23.58 21.57 26.56a31.86 31.86 0 0 0 7.28.73h171.14V40zM70 50h80l-20 20H70z"/>
</g>
<g id="build" fill-rule="evenodd">
<path class="cls-1" d="M40 20v213c0 3.64 4 7 7.64 7H101v-47h49v47h54.46c3.61 0 5.54-3.33 5.54-10V10zm50 140H60v-30h30zm0-51H60V80h30zm50 51h-30v-30h30zm0-51h-30V80h30zm50 51h-30v-30h30zm0-51h-30V80h30z"/>
</g>
<g id="bulb" fill-rule="evenodd">
<g><path class="cls-1" d="M80.01 170h100v20h-100zM80 200h100v20H80zM140.67 250H100v-20h60.67l-20 20zM130 10a80.07 80.07 0 0 0-77.48 100L80 160h100l27.48-50A80.07 80.07 0 0 0 130 10zm30 135h-10l16.36-45H93.64L110 145h-10L80 90h100z"/></g>
</g>
<g id="bus" fill-rule="evenodd">
<path class="cls-1" d="M227.6 79.37h-8.8V29.63a10.26 10.26 0 0 0-10.26-10.26H49.07a10.26 10.26 0 0 0-10.26 10.26v49.74h-9.59a10.54 10.54 0 0 0-10.54 10.54v18.92a10.54 10.54 0 0 0 10.54 10.54h9.58v80a10 10 0 0 0 10 10v21.37a8.63 8.63 0 0 0 8.63 8.63h16.74a8.6 8.6 0 0 0 8.6-8.6v-21.4h91v20.85a9.15 9.15 0 0 0 9.15 9.15h15.63a10.26 10.26 0 0 0 10.26-10.26v-19.74a10 10 0 0 0 10-10v-80h8.8a10.54 10.54 0 0 0 10.54-10.54V89.91a10.54 10.54 0 0 0-10.55-10.54zM89.48 29.24h80.31l-10.55 20H89.48zM76.8 185.84a13 13 0 0 1-6.26 6.26c-13.51 6.3-26.66-6.85-20.36-20.36a13 13 0 0 1 6.26-6.26c13.56-6.3 26.66 6.85 20.36 20.36zm-18-36.42V67.48a5.75 5.75 0 0 1 6-5.46h128a5.75 5.75 0 0 1 6 5.46v81.94zm148.6 36.42a13 13 0 0 1-6.26 6.26c-13.51 6.3-26.66-6.85-20.36-20.36a13 13 0 0 1 6.26-6.26c13.52-6.3 26.66 6.85 20.36 20.36z"/>
</g>
<g id="butchershop" fill-rule="evenodd">
<g><path class="cls-1" d="M202.26 10.88s12-3.31 19.42 4.13S225 33.6 225 33.6l-68.13 68.13-22.43-23.38z"/><path class="cls-2" d="M30.59 182.32a14.41 14.41 0 0 0 0 20.38L87 259.13l101.9-101.9-66.6-66.62zm17.25 1.15a12.9 12.9 0 1 1 0 18.24 12.9 12.9 0 0 1 0-18.24zM214.08 27.78l-65.17 65-14.47-14.43 65.17-65a10 10 0 0 1 14.13 0l.35.35a10 10 0 0 1-.01 14.08z"/></g>
</g>
<g id="calculator" fill-rule="evenodd">
<path class="cls-1" d="M220 26a6 6 0 0 0-6-6H46a6 6 0 0 0-6 6v208a6 6 0 0 0 6 6h168a6 6 0 0 0 6-6zM69 50h120l-20 25H69zm26 166H70v-25h25zm0-45H70v-25h25zm0-45H70v-25h25zm47 90h-25v-25h25zm0-45h-25v-25h25zm0-45h-25v-25h25zm48 90h-25v-25h25zm0-45h-25v-25h25zm0-45h-25v-25h25z"/>
</g>
<g id="calendar" fill-rule="evenodd">
<path class="cls-1" d="M140 190h20v20h-20zm-40 0h20v20h-20zm-40 0h20v20H60zm120-80h20v20h-20zm-40 0h20v20h-20zm-40 0h20v20h-20zm80 40h20v20h-20zm-40 0h20v20h-20zm-40 0h20v20h-20zm-40 0h20v20H60zM50 70h161l-20 20H50zm160-30h21c5.54 0 9 3.29 9 8.66v180.16c0 5.48-3.39 11.18-9 11.18H31c-5.54 0-11-5.82-11-11.18V48.66C20 43.18 25.39 40 31 40h19V20h20v20h120V20h20z"/>
</g>
<g id="camera" fill-rule="evenodd">
<path class="cls-1" d="M240 59.94h-50v-30h-90l-30 30H20a10 10 0 0 0-10 10v150a10 10 0 0 0 10 10h220a10 10 0 0 0 10-10v-150a10 10 0 0 0-10-10zm-200 50v-20h60l-20 20zm125 100a65 65 0 1 1 65-65 65 65 0 0 1-65 65zm0-111a45.22 45.22 0 0 0-8 .72v20.59a25 25 0 0 1 32.5 28.68h20.22a45 45 0 0 0-44.72-50z"/>
</g>
<g id="carplus" fill-rule="evenodd">
<g><path class="cls-1" d="M214.64 128.76a65 65 0 0 1 18.27 2.62 11.29 11.29 0 0 0 6.73-10.29v-10.93a10.91 10.91 0 0 0-10.92-10.9h-11.37l-19.8-67.9a3.09 3.09 0 0 0-2.79-2.1H45.26a3.13 3.13 0 0 0-2.81 2.08L21.79 99.26H10.56a10.91 10.91 0 0 0-10.92 10.9v10.93a11.14 11.14 0 0 0 10.92 11.17h9.08v86.08a10.91 10.91 0 0 0 10.9 10.92h12.65c6 0 10.45-4.89 10.45-10.92v-9.08h97.87a65 65 0 0 1 63.13-80.5zm-160 30.5a15 15 0 1 1 15-15 15 15 0 0 1-15 15zm-10-60l15-50h120l15 50z"/><path class="cls-1" d="M222.91 185.5v-32.42h-16.53v32.42h-25.64l-6.78 16.53h32.42v32.42h16.53v-32.42h32.42V185.5h-32.42z"/></g>
</g>
<g id="cash" fill-rule="evenodd">
<path class="cls-1" d="M239 100v100H39l-20 20h240V80zm-20-60H-1v140h220zM70.26 120H19l20-20h31.26a40.3 40.3 0 0 0 0 20zM109 130a20 20 0 1 1 20-20 20 20 0 0 1-20 20zm70-10h-31.26a40.3 40.3 0 0 0 0-20H199z"/>
</g>
<g id="cashregister" fill-rule="evenodd">
<path class="cls-1" d="M239.67 124a6 6 0 0 0 .33-2V26a6 6 0 0 0-6-6H113.87a6 6 0 0 0-6 6v64H26a6 6 0 0 0-6 6v138a6 6 0 0 0 6 6h207.68a6 6 0 0 0 6-6V124zM45 115h20v20H45v-20zm32 0h20v20H77v-20zm32 0h20v20h-20v-20zm-64 32h20v20H45v-20zm32 0h20v20H77v-20zm32 0h20v20h-20v-20zm-64 32h20v20H45v-20zm32 0h51.92v20H76.91v-20zm131.3-39a12.5 12.5 0 1 1 12.48-12.5 12.49 12.49 0 0 1-12.57 12.5zM128.83 40h91.86v44.58h-91.86V40zm59.81 31.84l18.91-19v-1H144v20zm0 0"/>
</g>
<g id="chargecard" fill-rule="evenodd">
<path class="cls-1" d="M239 40H19a10 10 0 0 0-10 9.93V80h120l-20 20H9v110.07A10 10 0 0 0 19 220h220a10 10 0 0 0 10-9.93V49.93A10 10 0 0 0 239 40zm-50 80v50l-20 20v-70h-20l30-40 30 40z"/>
</g>
<g id="chargemovil" fill-rule="evenodd">
<path class="cls-1" d="M120 230a10 10 0 1 1 10 10 10 10 0 0 1-10-10zm-30-60l80-80v100H90zM70 30h120v180H70zM50 20a10 10 0 0 1 10-10h140a10 10 0 0 1 10 10v220a10 10 0 0 1-10 10H60a10 10 0 0 1-10-10z"/><path class="cls-1" d="M90 150l80-80V50l-80 80v20z"/>
</g>
<g id="checkmark" fill-rule="evenodd">
<path class="cls-1" d="M42 140.78l14.14-14.14 49.5 49.5L218.78 63l14.14 14.14-112.38 112.38-14.9 14.9L42 140.78z"/>
</g>
<g id="cinema" fill-rule="evenodd">
<g><path class="cls-1" d="M50.41 110.87h26.67l8.89 140H68.19l-17.78-140zM94.86 110.87h26.66v140h-17.77l-8.89-140zM139.3 110.87h26.67l-8.89 140H139.3v-140zM183.75 110.87h26.66l-17.78 140h-17.77l8.89-140zM200.6 73a27.9 27.9 0 0 0 .92-7.14c0-12.35-8-22.61-18.43-24.63a14.29 14.29 0 0 0-8.56-9.63c-1.8-11.77-10.91-20.74-21.89-20.74s-20.23 9.09-21.93 21a11.84 11.84 0 0 0-9.66.08c-1.54-6.37-6.7-11.07-12.85-11.07s-11.1 4.49-12.76 10.65a14.25 14.25 0 0 0-8.81 9.72 22 22 0 0 0-14 9.63c-7.36 0-13.33 6.72-13.33 15a16.44 16.44 0 0 0 1.48 6.84c-6.11 3.16-10.37 10.1-10.37 18.16h160c0-7.82-4-14.57-9.81-17.87z"/></g>
</g>
<g id="clock" fill-rule="evenodd">
<path class="cls-1" d="M130 10a120 120 0 1 0 120 120A120 120 0 0 0 130 10zm40 130h-50V50l20 20v50h50z"/>
</g>
<g id="close" fill-rule="evenodd">
<path class="cls-1" d="M61 216.06L45.44 200.5l70.71-70.71-69.3-69.29L61 46.35l69.29 69.3L201 44.94l15.56 15.56-70.71 70.71 70.71 70.71-14.14 14.14-70.71-70.71L61 216.06z"/>
</g>
<g id="cloud" fill-rule="evenodd">
<path class="cls-1" d="M251 155a65 65 0 0 0-65-65c-1.44 0-2.87.06-4.29.16A90 90 0 0 0 101 40h-4.73c-47.34 0-85.71 40.3-85.71 90s38.37 90 85.71 90h94.29c29.09 0 53.34-21.74 58.83-50.58A65.14 65.14 0 0 0 251 155z"/>
</g>
<g id="coffeshop" fill-rule="evenodd">
<g><path class="cls-1" d="M10 220h220v24H10zM243.73 20H20v137c0 28.53 22.93 44 51.24 44h74.22c28.31 0 54.54-15.45 54.54-44v-47h43.73a6.44 6.44 0 0 0 6.27-6.46V28.31c0-3.47-2.82-8.31-6.27-8.31zM50 97.86V50h20v70zM230 90h-30V40h30z"/></g>
</g>
<g id="collapse" fill-rule="evenodd">
<path class="cls-1" d="M170 140H60v-20h130l-20 20z"/>
</g>
<g id="color" fill-rule="evenodd">
<g><path class="cls-1" d="M207.25 227.2c0-16.49 18.34-29.35 21.38-45.6 3.07 16.27 21.38 29.21 21.38 45.6 0 12.59-9.57 22.8-21.38 22.8s-21.38-10.21-21.38-22.8zM228 141.44l-4.42-5.36-74.09-89.9-34-41.28-18.66 15.37 27.94 33.89-101.29 83.5c-4.26 3.51-4.6 9-1.09 13.3l78.53 95.27c3.51 4.26 9.11 5.1 13.37 1.6l111.55-92c4.26-3.48 5.69-10.13 2.16-14.39zm-180 4.41l91.51-75.44 61.65 75.38z"/></g>
</g>
<g id="communication" fill-rule="evenodd">
<g><path class="cls-1" d="M210 174.6V29c0-5-4.89-9-9.92-9H9a9 9 0 0 0-9 9v191l37.36-38h162.72c5.03 0 9.92-2.41 9.92-7.4zM120 120H40v-20h100zm40-40H40V60h140z"/><path class="cls-1" d="M253.77 110H230v65.69A24.53 24.53 0 0 1 205.14 200H100v21.81c0 3.54 3.08 8.19 6.66 8.19h123.73L260 260V116.53a6.35 6.35 0 0 0-6.23-6.53z"/></g>
</g>
<g id="communicationpublic" fill-rule="evenodd">
<g><path class="cls-1" d="M87.74 44.05c-3.06-3.08-5.39-2.68-6 1.52L72 119.39l51.62 52.42 71.38-9.57c4.25-.61 5.92-4.2 2.81-7.34zM168.37 104h23.48a47.11 47.11 0 0 0-47-47.29v23.68A23.56 23.56 0 0 1 168.37 104z"/><path class="cls-1" d="M144.91 9.44v23.65c38.91 0 70.44 31.75 70.43 70.94h23.48c.01-52.26-42.04-94.6-93.91-94.59zM97.73 197l12.93-13-52.19-52.63-45.8 46.13c-3.07 3.09-2.06 9.05.75 11.88l40.84 41.13c2.75 2.77 7.55 2.62 10.6-.45L78 216.81l29 29.25a11.47 11.47 0 0 0 16.25 0l3.47-3.49a11.67 11.67 0 0 0 0-16.37z"/></g>
</g>
<g id="confectionery" fill-rule="evenodd">
<g><path class="cls-1" d="M230.41 103.09s-13.18-13.22-47.18-23.56c-2.1-.64-4.22-1.21-6.33-1.75a25 25 0 1 1-49.48-6.72l-7-.69-88.22 66.27a6.25 6.25 0 0 0-1.83 4.42v103.06a6.25 6.25 0 0 0 7.65 6.1l187.54-43a6.25 6.25 0 0 0 4.86-6.1v-98.03zm-20.67 91L47.6 231.24v-20.69l171.63-39.27zm0-41.36L47.6 189.87v-20.68l171.63-39.27z"/><path class="cls-1" d="M152 90.6a15 15 0 1 1 15-15 15 15 0 0 1-15 15z"/><path class="cls-1" d="M155.62 60.18l-.06.19s14.25-2.43 24.35-6.87 15.77-22.64 15.77-22.64-22.24 4.45-29.52 11.73l-.35.37c.75-1.56 1.44-3.12 2-4.66C171.86 28 163 11.13 163 11.13S150.41 30 150.41 40.29s5.08 20.08 5.08 20.08z"/></g>
</g>
<g id="configuration" fill-rule="evenodd">
<path class="cls-1" d="M130.23 180.23a25 25 0 1 0 25 25 25 25 0 0 0-25-25zm0-75a25 25 0 1 0 25 25 25 25 0 0 0-25-25zm0-25a25 25 0 1 0-25-25 25 25 0 0 0 25 25z"/>
</g>
<g id="consult" fill-rule="evenodd">
<path class="cls-1" d="M218.43 203.88a65.48 65.48 0 1 0-14.55 14.55L245.45 260 260 245.45zm-23.88-38.43a29.09 29.09 0 0 0-29.09-29.09v-14.54a43.64 43.64 0 0 1 43.64 43.64z"/><path class="cls-1" d="M100.27 220H56a6 6 0 0 1-6-6V36a6 6 0 0 1 6-6h138a6 6 0 0 1 6 6v51.57a85.2 85.2 0 0 1 20 12.7V16a6 6 0 0 0-6-6H36a6 6 0 0 0-6 6v218a6 6 0 0 0 6 6h89.05a85.55 85.55 0 0 1-24.78-20z"/>
</g>
<g id="continue" fill-rule="evenodd">
<path class="cls-1" d="M130 10a120 120 0 1 0 120 120A120 120 0 0 0 130 10zm14.14 145.86L130 170l-56.57-56.57 14.14-14.14L130 141.72l42.43-42.43 14.14 14.14z"/>
</g>
<g id="copy" fill-rule="evenodd">
<path class="cls-1" d="M200 189.83V29.7a9.94 9.94 0 0 0-9.93-9.93H29.93A9.94 9.94 0 0 0 20 29.7v160.13a9.94 9.94 0 0 0 9.93 9.93h160.14a9.94 9.94 0 0 0 9.93-9.93zm20-110.06v140H80l-20 20h170.07a9.93 9.93 0 0 0 9.93-9.93V59.77z"/>
</g>
<g id="copycard" fill-rule="evenodd">
<path class="cls-1" d="M220 180V40a10 10 0 0 0-10-10H10A10 10 0 0 0 0 40v20h180l-20 20H0v100a10 10 0 0 0 10 10h200a10 10 0 0 0 10-10zm-60-20h-40v-20h60zm80-90v140H40l-20 20h240V50z"/>
</g>
<g id="correct" fill-rule="evenodd">
<path class="cls-1" d="M130 10a120 120 0 1 0 120 120A120 120 0 0 0 130 10zm-9.53 157.81L105.25 183l-42.43-42.39L77 126.46l28.28 28.28L183 77l14.14 14.14z"/>
</g>
<g id="correctlocation" fill-rule="evenodd">
<path class="st0" d="M130 10C74.8 10 30 54.8 30 110v3c2 88.3 91.6 144.7 91.6 144.7 4.6 3.1 12 3.1 16.5.1 0 0 89.8-56.5 91.8-144.8v-3c0-55.2-44.7-100-99.9-100zm-19.2 150l-46-46L79 99.9l31.8 31.8 65-65.1L190 80.8 110.8 160z"/>
</g>
<g id="couple" fill-rule="evenodd">
<g><path class="cls-1" d="M164.23 59.97l-30 120h19.83v70h20v-70h20v70h20v-70h20.17l-30-120h-40zM250.43 139.3l-21-79.33h-15.4l20.15 73.81 16.25 5.52zM140.43 133.78l-3.13-11.02 17.13-62.79h-15.4l-9.2 36.53-10.4-36.53h-15.4l18.2 66.68-1.8 7.13h20zM35.43 59.97v190h20v-100h20v100h20v-190h-60z"/><circle class="cls-1" cx="65.43" cy="29.85" r="20"/><path class="cls-1" d="M10.43 149.97l15-15v-75h-15v90zM170.38 44.25a19.95 19.95 0 0 0 27.71 0H204c0-3.58.42-8.46.18-13.41 0-.33.05-.66.05-1a19.93 19.93 0 0 0-1.09-6.47c-1.87-7.31-6.7-13.32-18.55-13.52H184c-24.1 0-20 23.36-20 34.4z"/></g>
</g>
<g id="creditcard" fill-rule="evenodd">
<path class="cls-1" d="M139 160h70l-20 20h-50zM9 80h200l-20 20H9zm0-30.07A10 10 0 0 1 19 40h220a10 10 0 0 1 10 9.93v160.14a10 10 0 0 1-10 9.93H19a10 10 0 0 1-10-9.93z"/>
</g>
<g id="currencyexchange" fill-rule="evenodd">
<path class="cls-1" d="M76.86 188.54a60 60 0 0 1 0-117.08A110.58 110.58 0 0 1 105 41.25a90 90 0 1 0 0 177.49 110.58 110.58 0 0 1-28.14-30.2z"/><path class="cls-1" d="M170 40a90 90 0 1 0 90 90 90 90 0 0 0-90-90zm9 133.13V190h-.55L163 182.56v-8.36a60.42 60.42 0 0 1-21.48-5.46l-.92-.43-.6-.31.1-.6.15-.9 1.87-11.5.33-2 .22-1.34 1.25.74 1.88 1.12a45.86 45.86 0 0 0 22.91 6.75c8.77 0 14.08-4 14.08-10.5s-2.84-9-16.26-14.42c-19.42-7.93-25.34-13.94-25.34-26.17 0-12 8.82-20.68 21.82-23.27V70h.87L179 77.44v8.15a40.21 40.21 0 0 1 14.66 4.49l1 .44.57.3-.1.58-.15.88-2 11.32-.38 2.13-.25 1.42-1.27-.87-1.87-1.28a32.47 32.47 0 0 0-18-5.7c-8.33 0-12.87 3.37-12.87 9.05 0 5.32 2.94 7.79 16.14 13.22 19.48 8 25.3 14.34 25.3 27.37.03 12.06-7.78 20.99-20.78 24.19z"/>
</g>
<g id="deposit" fill-rule="evenodd">
<path class="cls-1" d="M200 60H60v20h30l-20 20H60v60h30l-20 20H60v20h140zm-40 90a20 20 0 1 1 20-20 20 20 0 0 1-20 20zm70-130H30a10 10 0 0 0-10 10v200a10 10 0 0 0 10 10h200a10 10 0 0 0 10-10V30a10 10 0 0 0-10-10zm-10 200H40V40h180z"/>
</g>
<g id="desktop" fill-rule="evenodd">
<path class="cls-1" d="M240.23 20h-220a10 10 0 0 0-10 10v160a10 10 0 0 0 10 10h220a10 10 0 0 0 10-10V30a10 10 0 0 0-10-10zm-10 160h-200V40h200z"/><path class="cls-2" d="M200.23 60h-150v100h50l100-100z"/><path class="cls-1" d="M.23 220h260v20H.23z"/>
</g>
<g id="digitalcard" fill-rule="evenodd">
<path class="cls-1" d="M170 190v20H50V30h120v20h20V20a9.73 9.73 0 0 0-9.68-10h-140A10.27 10.27 0 0 0 30 20v220a10.29 10.29 0 0 0 10.34 10h140a9.71 9.71 0 0 0 9.66-10v-50zm-59.67 50a10 10 0 1 1 10-10 10 10 0 0 1-10 10z"/><path class="cls-1" d="M234 70H106a6 6 0 0 0-6 6v14h120l-20 20H100v54a6 6 0 0 0 6 6h128a6 6 0 0 0 6-6V76a6 6 0 0 0-6-6z"/>
</g>
<g id="dischargecard" fill-rule="evenodd">
<path class="cls-1" d="M240 40H20a10 10 0 0 0-10 9.93V80h120l-20 20H10v110.07A10 10 0 0 0 20 220h220a10 10 0 0 0 10-9.93V49.93A10 10 0 0 0 240 40zm-60 150l-30-40h20v-50l20-20v70h20z"/>
</g>
<g id="discount" fill-rule="evenodd">
<path class="cls-1" d="M250 97.13V46.51c0-3.74-1.43-7.51-5-7.51H18c-3.62 0-8 3.78-8 7.51v50.62c17 0 31.64 14.61 31.64 32.62S27 162.38 10 162.38V213c0 3.74 4.43 6 8 6h227c3.62 0 5-2.27 5-6v-50.62c-17 0-31.64-14.61-31.64-32.63S233 97.13 250 97.13zM91.5 78.88A20.11 20.11 0 1 1 71.5 99a20.06 20.06 0 0 1 20-20.12zm80 100.56a20.11 20.11 0 1 1 20-20.11 20.06 20.06 0 0 1-20 20.11zm-70-.44h-30l90-101h30z"/>
</g>
<g id="document" fill-rule="evenodd">
<path class="cls-1" d="M160.23 10H46.6a6.54 6.54 0 0 0-6.6 6.28v227.45a6.53 6.53 0 0 0 6.61 6.27h167.24a6.12 6.12 0 0 0 6.15-6.26V70zm24.33 83H140V10h20v63h44.56z"/>
</g>
<g id="dollar" fill-rule="evenodd">
<path class="cls-1" d="M129 10a120 120 0 1 0 120 120A120 120 0 0 0 129 10zm10 178.87V210l-20-10v-10.44a81.24 81.24 0 0 1-27.5-7.72l3.34-20.57c9.69 5.78 21.71 10.37 33.24 10.37 10.19 0 17.2-4.93 17.2-14.28 0-8.67-4-12.24-20.71-19.55-22.38-9.35-31.4-16.83-31.4-35 0-16.86 10.37-28 25.83-31.56V50l20 10v10.44a58.31 58.31 0 0 1 21.82 6.69l-3.34 20.4c-8.35-5.61-18.21-9.18-27.23-9.18-11 0-15.87 5.44-15.87 12.58 0 7.48 3.67 11 19.71 17.85 23.72 9.86 32.41 18.19 32.41 36.37 0 18.85-11.18 30.26-27.5 33.72z"/>
</g>
<g id="donation" fill-rule="evenodd">
<path class="cls-1" d="M130 10a120 120 0 1 0 120 120A120 120 0 0 0 130 10zm47 60a20 20 0 1 1-20 20 20 20 0 0 1 20-20zm-94 0a20 20 0 1 1-20 20 20 20 0 0 1 20-20zm113.44 87.6a69 69 0 0 1-132.53 0 6 6 0 0 1 5.79-7.6h120.95a6 6 0 0 1 5.79 7.6z"/>
</g>
<g id="download" fill-rule="evenodd">
<path class="cls-1" d="M130 10a120 120 0 1 0 120 120A120 120 0 0 0 130 10zm-.31 200L68 148.34l14.26-14.28 37.37 37.5L119.3 50 139 70v101.83l38.4-38.2 14.43 14.26z"/>
</g>
<g id="edit" fill-rule="evenodd">
<path class="cls-1" d="M236.08 58.81l-35.72-35.88a9.9 9.9 0 0 0-14.08 0L154.39 55l34.85 35h-29.87l-19.91-20L20 190v50h49.77L236.05 73a10 10 0 0 0 .03-14.19zM120 220l-20 20h140v-20z"/>
</g>
<g id="education" fill-rule="evenodd">
<path class="cls-1" d="M55.45 143.49V189L135 232.55 214.55 189v-45.51L135 187zM135 27.55L10 95.89l125 68.33 102.27-55.92V187H260V95.89z"/>
</g>
<g id="email" fill-rule="evenodd">
<path class="cls-1" d="M244.46 40H15.54A5.52 5.52 0 0 0 10 45.51v169a5.53 5.53 0 0 0 5.54 5.49h228.92a5.52 5.52 0 0 0 5.54-5.51v-169a5.53 5.53 0 0 0-5.54-5.49zM129.93 150L30 89.9V66l100 60.3L230 66v23.9L130 150"/>
</g>
<g id="entretainment" fill-rule="evenodd">
<path class="cls-1" d="M250 92.47V41.85a6.72 6.72 0 0 0-6.54-6.85H90v40H70V35H16.54A6.73 6.73 0 0 0 10 41.85v50.62c17 0 31.64 14.61 31.64 32.62S27 157.72 10 157.72v50.62a6.56 6.56 0 0 0 6.54 6.66H70v-40h20v40h153.46a6.57 6.57 0 0 0 6.54-6.66v-50.62c-17.47 0-31.64-14.61-31.64-32.63S232.53 92.47 250 92.47zM90 145H70v-42h20z"/>
</g>
<g id="error" fill-rule="evenodd">
<path class="cls-1" d="M130 10a120 120 0 1 0 120 120A120 120 0 0 0 130 10zm64.35 170.2l-14.15 14.15-49.5-49.5-49.5 49.5-15.55-15.56 49.5-49.5-48.08-48.08 14.14-14.14 48.08 48.08 49.5-49.5 15.56 15.56-49.5 49.5z"/>
</g>
<g id="euro" fill-rule="evenodd">
<path class="cls-1" d="M129 10a120 120 0 1 0 120 120A120 120 0 0 0 129 10zm10 95l-20 20H79.25c-.16 1.64-.25 3.31-.25 5s.09 3.36.25 5H139l-20 20H85.71a50 50 0 0 0 78.65 10.36l14.14 14.14A70 70 0 0 1 59 130c0-1.68.08-3.35.2-5H59l.21-.21A70 70 0 0 1 178.5 80.5l-14.14 14.14A50 50 0 0 0 85.71 105z"/>
</g>
<g id="excel" fill-rule="evenodd">
<path class="cls-1" d="M160.63 10H47c-3.51 0-7 2.82-7 6.28v227.45c0 3.47 3.49 6.27 7 6.27h167.25c3.54 0 5.75-2.8 5.75-6.26V70zm-68 149l-9.43-16.27L74.33 159H59.14l16.49-27.87L60.29 106H76.7l8 14 7.3-14h14.8L92 131.28 108.68 159zm60.37 0h-37v-53h14v41h23zm26.74 1c-12.17 0-19.44-5.47-24-12.75l10.66-6.62a16.49 16.49 0 0 0 14 8.06c4.39 0 7.71-1.3 7.71-4.61s-4.25-4.68-9.5-6c-8.71-2.23-20.31-4.46-20.31-16.56 0-10.87 8.21-16.85 20.31-16.85 11.31 0 18.07 5.26 22.32 10.44l-9.65 7.92c-3-3.6-8.14-6.7-12.74-6.7-4.11 0-6.19 1.37-6.19 3.89 0 3.53 4.18 4.82 9.43 6.12 8.71 2.09 20.38 4.75 20.38 16.71-.03 8.53-6.01 16.95-22.42 16.95z"/>
</g>
<g id="executive" fill-rule="evenodd">
<g><circle class="cls-1" cx="130" cy="70.04" r="50.04"/><path class="cls-1" d="M161.36 132.66a72.29 72.29 0 0 1-21.36 6.72v.72l10 70.06-20 20-20-20 10-70.06v-.72a64.78 64.78 0 0 1-21.36-6.72A90 90 0 0 0 30 220.17V240h200v-19.83a90.08 90.08 0 0 0-68.64-87.51z"/></g>
</g>
<g id="expand" fill-rule="evenodd">
<path class="cls-1" d="M200 120h-60V70h-20v50H70v20h50v50h20v-50h40l20-20z"/>
</g>
<g id="exploration" fill-rule="evenodd">
<path class="st0" d="M130 10C63.7 10 10 63.7 10 130s53.7 120 120 120 120-53.7 120-120S196.3 10 130 10zm21.2 140.5L59.3 200l49.8-92.2 91.6-49.2-49.5 91.9z"/><ellipse transform="rotate(-45.001 129.997 130.002)" class="st0" cx="130" cy="130" rx="15" ry="15"/>
</g>
<g id="expressaccount" fill-rule="evenodd">
<path class="cls-1" d="M234.53 100l-17.59 99.71H22.58L-1 220h235.31L259 80l-24.47 20z"/><path class="cls-1" d="M23.69 40L-1 180h202.37l24.68-140zM48.4 70h60L84.87 90h-40zm107.72 70H36.05l3.53-20h140z"/>
</g>
<g id="facebook" fill-rule="evenodd">
<path class="cls-1" d="M130 10a120 120 0 1 0 120 120A120 120 0 0 0 130 10zm33 73h-13.94C138.75 83 137 88.19 137 95.34V111h24.4l-3.28 25H137v64h-25v-64H90v-25h22V92.9c0-21.3 13-32.9 31.91-32.9A174.26 174.26 0 0 1 163 61z"/>
</g>
<g id="facebook2" fill-rule="evenodd">
<path class="cls-1" d="M169.33 56.44c-16.18 0-19.21 7.8-19.21 19v24.94h38.57l-5.14 39.07h-33.43v100.23h-40.27V139.46H76.29v-39.07h33.56V71.62C109.85 38.21 130.25 20 160 20a255.71 255.71 0 0 1 30 1.59v34.85z"/>
</g>
<g id="fastfood" fill-rule="evenodd">
<g><path class="cls-1" d="M20.41 224.12a16.25 16.25 0 0 0 16.25 16.25h104.17a16.25 16.25 0 0 0 16.25-16.25v-3.75H20.41zM157.08 176.62a16.25 16.25 0 0 0-16.25-16.25H36.66a16.25 16.25 0 0 0-16.25 16.25v3.75h136.67z"/><rect class="cls-1" x="10.41" y="190.37" width="160" height="20" rx="8.13" ry="8.13"/><path class="cls-1" d="M100.41 50.37v20h140v-20h-140zM180.41 10.37h20v30h-20zM123.27 100.37h57.14l-10 20h-44.28l3.33 28h14.7a27.28 27.28 0 0 1 27.25 27.25v5.07a19.14 19.14 0 0 1 10 16.8v3.75a19.14 19.14 0 0 1-10 16.8v5.07a27.12 27.12 0 0 1-6.17 17.25h35.17l20-160h-100z"/></g>
</g>
<g id="favorite" fill-rule="evenodd">
<path class="cls-1" d="M129.39 75C125.24 43.91 100.23 20 70 20c-33.14 0-60 28.73-60 64.17a69.13 69.13 0 0 0 .61 9.17H10C10 166.67 130 240 130 240s120-73.33 120-146.67h-.61a69.15 69.15 0 0 0 .61-9.17C250 48.73 223.14 20 190 20c-30.23 0-55.24 23.91-59.39 55h-1.21z"/>
</g>
<g id="favoritestar" fill-rule="evenodd">
<path class="cls-1" d="M164 83.38L129 9.95 95 83.52a11.05 11.05 0 0 1-8.33 6.3L10 101.79 66.37 159a11.05 11.05 0 0 1 3 9.45l-12.6 81.19 68.28-38.14a11.05 11.05 0 0 1 10.7 0l68.89 37.75-13.85-81.11a11.05 11.05 0 0 1 2.94-9.53l55.45-57.51-76.87-11.55a11.05 11.05 0 0 1-8.31-6.17z"/>
</g>
<g id="filter" fill-rule="evenodd">
<g><path class="cls-1" d="M79.17 147.97l-24.25 24.26V64.9H35.48v107.33l-24.26-24.26L-.1 159.29l33.97 33.98L45.2 204.6l45.3-45.31-11.33-11.32z"/><path class="cls-2" d="M99.67 175.1v25h99.72l9.62-25H99.67zM99.67 120v25h124.29l9.58-25H99.67zM99.67 64.9v25h149.85l9.48-25H99.67z"/></g>
</g>
<g id="fingerprint" fill-rule="evenodd">
<path class="cls-1" d="M120 100a10 10 0 0 1 20 0v60a10 10 0 0 1-20 0zm-20 0a30 30 0 0 1 60 0v60a30 30 0 0 1-60 0zm-20 0a50 50 0 0 1 100 0v60a50 50 0 0 1-100 0zm140 50v10a90 90 0 0 1-178.16 18.16L60 160a70 70 0 0 0 140 0v-30zm0-30v-19.95a90 90 0 1 0-180 0V150l20-20v-30a70 70 0 0 1 140 0z"/>
</g>
<g id="firstpage" fill-rule="evenodd">
<path class="cls-1" transform="rotate(135 145.051 150.504)" d="M135.05 110.51h20v80h-20z"/><path class="cls-1" transform="rotate(135 145.05 108.08)" d="M105.05 98.08h80v20h-80z"/><path class="cls-1" transform="rotate(180 79.765 129.645)" d="M69.76 69.65h20v120h-20z"/>
</g>
<g id="florist" fill-rule="evenodd">
<path class="cls-1" d="M118.61 211.55v-69.2a53.42 53.42 0 0 1-39.55-51.58V11h1.81l33.78 33.8V11h1.81l33.78 33.8V11h1.81l33.8 34.12v45.65A53.42 53.42 0 0 1 145 142.69V209l75.23-75.36s5.66 58.59-12.76 86.39c-15.79 23.83-52.35 29.67-62.47 30.85v.12h-1c-1.06.11-1.65.15-1.65.15V251h-23.67v.15S72 247.8 53.58 220s-12.76-86.39-12.76-86.39l77.79 77.93zm0 0"/>
</g>
<g id="fold" fill-rule="evenodd">
<path class="cls-1" transform="rotate(-135 108.787 125.356)" d="M98.79 85.36h20v80h-20z"/><path class="cls-1" transform="rotate(-135 151.215 125.355)" d="M111.21 115.36h80v20h-80z"/>
</g>
<g id="football" fill-rule="evenodd">
<path class="cls-1" d="M249.64 119.26A120 120 0 0 0 63.32 30.62l-.15-.21-8.08 5.9.17.23a120.61 120.61 0 0 0-28.43 32.69 119.23 119.23 0 0 0-16.16 49.86c-.34 3.69-.52 7.42-.52 11.19a120 120 0 0 0 4.45 32.48l-.32.1 3.11 9.5.32-.1a119.89 119.89 0 0 0 107.44 77.9v.12h10v-.1a120 120 0 0 0 115-119.88c-.01-3.74-.15-7.41-.51-11.04zm-223.53 1.57a12 12 0 0 1-3.77-11.12 108.89 108.89 0 0 1 8.38-25.91 12 12 0 0 1 9.62-6.85l41.25-4.35 15.8 21.65a6 6 0 0 1 .86 5.39l-12 37.08a6 6 0 0 1-3.84 3.85l-25.17 8.24zm62.58 105.29a12 12 0 0 1-11.79.12 110 110 0 0 1-22-16.06A12 12 0 0 1 51.47 199l8.63-40.6 28.36-9.28a6 6 0 0 1 5.39.85l28.65 20.81a6 6 0 0 1 2.5 4.82l.07 29.53zm20.26-137.17a6 6 0 0 1-4.85-2.46L89.79 66.88l17.11-38.44a12 12 0 0 1 9.41-7 110.59 110.59 0 0 1 27-.08 12 12 0 0 1 9.46 7l17 38.16-14.38 19.94a6 6 0 0 1-4.86 2.48zm95.91 121.7a110.06 110.06 0 0 1-21.77 15.77 12 12 0 0 1-11.76-.14L135 205.32v-29.51a6 6 0 0 1 2.47-4.87l29-21a6 6 0 0 1 5.37-.86l27.79 9 8.8 41.39a12 12 0 0 1-3.58 11.18zm29.24-90.23l-31.25 28.14-25-8.06a6 6 0 0 1-3.86-3.86L161.74 99a6 6 0 0 1 .84-5.37l15.2-21L220 77a12 12 0 0 1 9.59 6.78 108.91 108.91 0 0 1 8.3 25.48 12 12 0 0 1-3.79 11.16z"/>
</g>
<g id="forward" fill-rule="evenodd">
<path transform="rotate(-45.001 134.64 108.793)" class="st0" d="M124.6 68.8h20v80h-20z"/><path transform="rotate(-45.001 134.635 151.219)" class="st0" d="M94.6 141.2h80v20h-80z"/>
</g>
<g id="fraud" fill-rule="evenodd">
<path class="st0" d="M240 30c0-5.5-4.5-10-10-10H30c-5.5 0-10 4.4-10 9.9V100c0 140 110 150 110 150s110-10 110-150V30zm-74 134.1l-35.4-35.3-36.7 36.7-14.1-14.1 36.7-36.7-35.3-35.5L95.3 65l35.3 35.3L166 65l14.1 14.1-35.3 35.4 35.4 35.4-14.2 14.2z"/>
</g>
<g id="frequency" fill-rule="evenodd">
<path class="cls-1" d="M195 131.25A63.75 63.75 0 1 0 258.75 195 63.75 63.75 0 0 0 195 131.25zm21.25 69.06h-26.56V152.5l10.63 10.63v26.56h26.56z"/><path class="cls-2" d="M79.19 204.28a90 90 0 1 1 139.26-91A84.88 84.88 0 0 1 250 130.26V130a120 120 0 1 0-190.42 97.16L40 250h80l-20-70z"/>
</g>
<g id="frozen" fill-rule="evenodd">
<g><path class="cls-1" d="M60.03 226.41l25.99 15M245 175.02l-5.52-29.37-43.73 8.12-36.9-22.36 37.49-22.76 43.13 7.99 5.5-29.38-34.52-6.39 6.58-35.21-29.53-5.46-8.19 43.78-34.27 20.8-.01-42.46 31.36-31.19L155.14 10l-25.46 25.32-24.82-24.69-21.25 21.13 31.37 31.2.02 41.87-34.34-20.81-8.23-43.78-29.53 5.49 6.61 35.2L15 87.34l5.52 29.38 43.12-8.02 37.51 22.73-36.88 22.39-43.74-8.09-5.5 29.38 34.52 6.38-6.58 35.21 29.53 5.46 8.09-43.24 34.43-20.9.02 39.59-31.43 31.26L104.86 250l25.46-25.32 24.82 24.69 21.25-21.13-31.31-31.13-.01-39.06 34.38 20.83 8.12 43.24 29.53-5.49-6.61-35.2 34.51-6.41z"/></g>
</g>
<g id="furniture" fill-rule="evenodd">
<g><path class="cls-1" d="M102.13 160.6l19.55 20.85 30.22-35.75 47.91 64.3h10.13V90H49.77v120h13.52zm-23.89-56.06a13.32 13.32 0 1 1-13.33 13.32 13.08 13.08 0 0 1 13.33-13.32z"/><path class="cls-1" d="M243.18 50h-43.25L135.67 1.75A9.57 9.57 0 0 0 130.16 0a9.29 9.29 0 0 0-5.44 1.76L59.78 50H16.31a6.58 6.58 0 0 0-6.57 6.56v186.88a6.58 6.58 0 0 0 6.57 6.56h226.87a6.58 6.58 0 0 0 6.57-6.56V56.56a6.58 6.58 0 0 0-6.57-6.56zm-113-29.33L169.9 50H89.82zM230 230l-200 .29V72l200-.26z"/></g>
</g>
<g id="getout" fill-rule="evenodd">
<path class="cls-1" d="M131 10a120 120 0 1 0 120 120A120 120 0 0 0 131 10zm18.34 182l-14.28-14.26 37.5-37.37L51 140.7 71 121h101.83l-38.2-38.4 14.26-14.43L211 130.31z"/>
</g>
<g id="googleplus" fill-rule="evenodd">
<path class="cls-1" d="M129.59 10a119.59 119.59 0 1 0 119.59 119.59A119.59 119.59 0 0 0 129.59 10zm-24.91 175.09a55.5 55.5 0 1 1 37.44-96.46l-16.36 16a32.63 32.63 0 1 0-21.08 57.52c14 0 25.87-8.17 30.54-21.17H104V118h55a57.63 57.63 0 0 1 1.22 11.59 55.5 55.5 0 0 1-55.54 55.5zM205 134v19h-14v-19h-20v-14h20v-20h14v20h19v14z"/>
</g>
<g id="googleplus2" fill-rule="evenodd">
<path class="cls-1" d="M85.18 109.9v31.81h42.87a44.84 44.84 0 1 1-13-50.12l22.44-22a75.94 75.94 0 1 0 23.11 40.29zm138.31 2.41v-26.5h-19.27v26.51h-26.51v19.28h26.51v26.5h19.28v-26.51H250v-19.28z"/>
</g>
<g id="gooplay2" fill-rule="evenodd">
<g><path class="cls-1" d="M148.41 142.13L71.65 218.9 172 165.72l-23.59-23.59zM41 34.74a8.43 8.43 0 0 0-.93 3.78v182.83a8.6 8.6 0 0 0 10.42 8.4L143.27 137zM148.41 131.85l29.66-29.66L52.92 31.05a8.42 8.42 0 0 0-6.16-.87zM219.39 125.66l-34.75-19.75L153.56 137l25.16 25.16 40.44-21.43a8.59 8.59 0 0 0 .23-15.07z"/></g>
</g>
<g id="graphics" fill-rule="evenodd">
<path class="cls-1" d="M229.74 20.23h-200a10 10 0 0 0-10 10v200a10 10 0 0 0 10 10h200a10 10 0 0 0 10-10v-200a10 10 0 0 0-10-10zm-140 190h-40v-40l40-40zm60 0h-40v-120l40-40zm60 0h-40v-80l40-40z"/>
</g>
<g id="hashtag" fill-rule="evenodd">
<path class="cls-1" d="M250 100V70h-33.64L230 20h-30l-13.64 50h-70L130 20h-30L86.36 70H50l-30 30h58.18l-16.36 60H20v30h33.64L40 240h30l13.64-50h70L140 240h30l13.64-50H220l30-30h-58.18l16.36-60zm-88.18 60h-70l16.36-60h70z"/>
</g>
<g id="health" fill-rule="evenodd">
<path class="cls-1" d="M130 10a120 120 0 1 0 120 120A120 120 0 0 0 130 10zm60 140h-40v40h-40v-40H70v-40h40V70h40v40h40z"/>
</g>
<g id="help" fill-rule="evenodd">
<path class="cls-1" d="M130 10a120 120 0 1 0 120 120A120 120 0 0 0 130 10zm0 190a15 15 0 1 1 15-15 15 15 0 0 1-15 15zm22.5-70.39c-13.5 7.87-13.35 11.22-13.35 27.79h-19.58a113.47 113.47 0 0 1-.59-12.06c0-12.73 7-20.09 15.72-25.45 8.16-5.19 11.86-8.87 11.86-17.08 0-6.7-5-11.39-13.94-11.39-9.79 0-19.73 6.86-25.51 14.57L92.73 90.76c9-11.39 22.84-20.76 42.42-20.76C157.69 70 170 82.89 170 100.64c0 15.57-7.86 23.11-17.5 28.97z"/>
</g>
<g id="hide" fill-rule="evenodd">
<path class="cls-1" d="M170 135l-40 40a40 40 0 0 0 40-40zm52-52l-34.61 34.61a60 60 0 0 1-74.84 74.84l-21.34 21.34A120 120 0 0 0 130 220c90 0 120-90 120-90a155.75 155.75 0 0 0-28-47zm-73.11 43.11l13.92-13.92L192 83l15-15 13-13V25l-30.59 30.59C173.44 46.31 153.83 40 130 40c-90 0-120 90-120 90s11.86 35.56 43 62l-23 23v30l51.73-51.73 11.15-11.15zm-70.1 40.1a60 60 0 0 1 82.43-82.43l-14.76 14.76a40 40 0 0 0-52.92 52.92z"/>
</g>
<g id="historic" fill-rule="evenodd">
<path class="cls-1" d="M120 136.77v-50l20-20v70"/><path class="cls-1" d="M116.5 159.84l-28.32.03 37.68-37.67L140 136.34l-23.5 23.5z"/><path class="cls-2" d="M130 10.77a119.82 119.82 0 0 0-97.15 49.58L10 40.77v80l70-20L55.72 80a90 90 0 1 1-11.12 79.24l-28.47 9.49A120 120 0 1 0 130 10.77z"/>
</g>
<g id="home" fill-rule="evenodd">
<path class="cls-1" d="M30 160v80a9.94 9.94 0 0 0 9.92 10H130v-80h60v80h30.08a10 10 0 0 0 9.92-10v-80L130 80zm60 40H60v-20h50zm40-180L0 130l20 20 110-90 110 90 20-20z"/>
</g>
<g id="hotel" fill-rule="evenodd">
<path class="cls-1" d="M220 16a6 6 0 0 0-6-6H46a6 6 0 0 0-6 6v228a6 6 0 0 0 6 6h168a6 6 0 0 0 6-6zM106.24 196l-5.48 5.34 1.24 7.46a3.13 3.13 0 0 1 0 .42c0 .29-.23.78-.52.78-.08 0-.17-.27-.24-.31L94.53 206l-6.77 3.5a.53.53 0 0 1-.55-.07.55.55 0 0 1-.21-.53l1.29-7.55-5.48-5.35a.53.53 0 0 1 .29-.9l7.57-1.1 3.38-6.86a.52.52 0 0 1 .94 0l3.39 6.86 7.57 1.1a.52.52 0 0 1 .29.89zm34.8 0l-5.48 5.34 1.28 7.45a3.13 3.13 0 0 1 0 .42c0 .29-.23.78-.52.78-.08 0-.17-.27-.24-.31l-6.75-3.68-6.77 3.5a.53.53 0 0 1-.55-.07.55.55 0 0 1-.21-.53l1.29-7.55-5.48-5.35a.53.53 0 0 1 .29-.9l7.57-1.1 3.38-6.86a.52.52 0 0 1 .94 0l3.38 6.86 7.57 1.1a.52.52 0 0 1 .29.89zm-26-67v41H85V60h30v40h30V60h30v110h-30v-41zm61.22 67l-5.48 5.34 1.22 7.46a3.15 3.15 0 0 1 0 .42c0 .29-.23.78-.52.78-.08 0-.17-.27-.24-.31l-6.73-3.69-6.77 3.5a.53.53 0 0 1-.55-.07.55.55 0 0 1-.21-.53l1.29-7.55-5.47-5.35a.53.53 0 0 1 .29-.9l7.57-1.1 3.38-6.86a.52.52 0 0 1 .94 0l3.38 6.86 7.57 1.1a.52.52 0 0 1 .29.89z"/>
</g>
<g id="icecream" fill-rule="evenodd">
<g><path class="cls-1" d="M70.51 140.6h9.23l45.1 106a5.82 5.82 0 0 0 10.77-.15l44.15-105.85h10.14l5-20.53H65.51zM124.17 50.61a49.59 49.59 0 0 1 33.28-15.74 40.09 40.09 0 0 0-77.12 14.22 50 50 0 0 1 43.85 1.52zM140 94.85a40.1 40.1 0 1 0-77.24 15.1h74.34a40 40 0 0 0 2.9-15.1z"/><path class="cls-1" d="M150 94.85a49.86 49.86 0 0 1-2.33 15.1h43.59A40.09 40.09 0 0 0 131.9 56.3 50 50 0 0 1 150 94.85z"/></g>
</g>
<g id="idcard" fill-rule="evenodd">
<path class="cls-1" d="M240.23 40h-220A10.17 10.17 0 0 0 10 49.93v160.14A10.17 10.17 0 0 0 20.24 220h220a9.77 9.77 0 0 0 9.77-9.93V49.93a9.77 9.77 0 0 0-9.78-9.93zM94.55 70a27.27 27.27 0 1 1-27.28 27.27A27.27 27.27 0 0 1 94.55 70zM149 190H40v-10.91a49.08 49.08 0 0 1 37.43-47.69 38.07 38.07 0 0 0 34.19 0A49.07 49.07 0 0 1 149 179.09zm51.23-50H160v-20h60.23zm0-40H160V80h60.23z"/>
</g>
<g id="identifiedcall" fill-rule="evenodd">
<g><path class="cls-1" d="M228.24 208.72l-50.78-42.62a6.7 6.7 0 0 0-8.86.37l-7.41 7.41-1.47 1.47-15.28 15.28a143.22 143.22 0 0 1-51.76-33.14 141.33 141.33 0 0 1-33.14-51.77l15.27-15.27L76.28 89l7.41-7.41a6.8 6.8 0 0 0 .31-8.96L41.41 21.88a5.38 5.38 0 0 0-8.08-.33l-19.1 19.1a6.18 6.18 0 0 0-1.13 1.13l-2.28 2.28-.06-.06h-.17a184.73 184.73 0 0 0 195.55 195.55l-.07-.21 2.28-2.28 1.13-1.13 19.1-19.11a5.43 5.43 0 0 0-.34-8.1zM173 105.31l76.71-76.7-14.15-14.15-77.78 77.79-28.28-28.29-14.14 14.15 42.42 42.42L173 105.31z"/></g>
</g>
<g id="illustration" fill-rule="evenodd">
<g><path class="cls-1" d="M240 80V20h-60v20H80V20H20v60h20v100H20v60h60v-20h100v20h60v-60h-20V80zM40 40h20v20H40zm20 180H40v-20h20zm120-20H80v-20H60V80h20V60h100v20h20v100h-20zm40 20h-20v-20h20z"/><path class="cls-1" d="M89 169.74l31.44-89.16h18.6l31 87.72-18.84 2.88-7.08-21.24h-30.23l-6.89 19.8zm29.64-34h20.88l-10.2-30.24h-.24z"/></g>
</g>
<g id="info" fill-rule="evenodd">
<g><path class="cls-1" d="M130 90a15 15 0 1 0-15-15 15 15 0 0 0 15 15zm-10 20h20v90l-20-20zm10 140A120 120 0 1 0 10 130a120 120 0 0 0 120 120z"/></g>
</g>
<g id="instagram" fill-rule="evenodd">
<g><circle class="cls-1" cx="130.03" cy="130.34" r="25"/><path class="cls-2" d="M188.49 86.1a24.84 24.84 0 0 0-14.23-14.23c-2.64-1-6.61-2.25-13.93-2.58-7.91-.36-10.28-.44-30.31-.44s-22.4.08-30.31.44c-7.31.33-11.28 1.56-13.93 2.58A24.84 24.84 0 0 0 71.56 86.1c-1 2.64-2.25 6.61-2.58 13.93-.36 7.91-.44 10.28-.44 30.31s.08 22.4.44 30.31c.33 7.31 1.56 11.28 2.58 13.93a24.84 24.84 0 0 0 14.23 14.22c2.64 1 6.61 2.25 13.93 2.58 7.91.36 10.28.44 30.31.44s22.4-.08 30.31-.44c7.31-.33 11.28-1.56 13.93-2.58a24.84 24.84 0 0 0 14.23-14.23c1-2.64 2.25-6.61 2.58-13.93.36-7.91.44-10.28.44-30.31s-.08-22.4-.44-30.31c-.34-7.3-1.56-11.27-2.59-13.92zM130 168.85a38.51 38.51 0 1 1 38.51-38.51A38.51 38.51 0 0 1 130 168.85zm40-69.55a9 9 0 1 1 9-9 9 9 0 0 1-8.94 9z"/><path class="cls-2" d="M130 10.34a120 120 0 1 0 120 120 120 120 0 0 0-120-120zm74.55 150.92a55 55 0 0 1-3.49 18.21 38.35 38.35 0 0 1-21.93 21.93 55.06 55.06 0 0 1-18.13 3.49c-8 .36-10.55.45-30.92.45s-22.92-.09-30.92-.45a55.06 55.06 0 0 1-18.26-3.49A38.35 38.35 0 0 1 59 179.47a55 55 0 0 1-3.49-18.21c-.37-8-.45-10.55-.45-30.92s.09-22.92.45-30.92A55 55 0 0 1 59 81.21a38.35 38.35 0 0 1 21.9-21.94 55.06 55.06 0 0 1 18.21-3.49c8-.37 10.55-.45 30.92-.45s22.92.09 30.92.45a55.06 55.06 0 0 1 18.21 3.49 38.35 38.35 0 0 1 21.93 21.93 55 55 0 0 1 3.49 18.21c.37 8 .45 10.55.45 30.92s-.09 22.93-.45 30.93z"/></g>
</g>
<g id="instagram2" fill-rule="evenodd">
<g><path class="cls-1" d="M130 78.65A51.35 51.35 0 1 0 181.35 130 51.35 51.35 0 0 0 130 78.65m0 84.68A33.33 33.33 0 1 1 163.33 130 33.33 33.33 0 0 1 130 163.33M195.38 76.62a12 12 0 1 1-12-12 12 12 0 0 1 12 12"/><path class="cls-1" d="M130 48c26.7 0 29.86.1 40.41.58 9.75.44 15 2.07 18.57 3.44a33.11 33.11 0 0 1 19 19c1.37 3.52 3 8.82 3.44 18.57.48 10.55.58 13.71.58 40.41s-.1 29.86-.58 40.41c-.44 9.75-2.07 15-3.44 18.57a33.11 33.11 0 0 1-19 19c-3.52 1.37-8.82 3-18.57 3.44-10.54.48-13.71.58-40.41.58s-29.87-.1-40.41-.58c-9.75-.44-15-2.07-18.57-3.44a33.11 33.11 0 0 1-19-19c-1.37-3.52-3-8.82-3.44-18.57C48.12 159.86 48 156.7 48 130s.1-29.86.58-40.41C49 79.84 50.68 74.55 52 71a33.11 33.11 0 0 1 19-19c3.52-1.37 8.82-3 18.57-3.44C100.14 48.12 103.3 48 130 48m0-18c-27.16 0-30.56.11-41.23.6s-17.91 2.18-24.27 4.65A51.13 51.13 0 0 0 35.25 64.5c-2.47 6.36-4.16 13.63-4.65 24.27S30 102.84 30 130s.11 30.56.6 41.23 2.18 17.91 4.65 24.27a51.13 51.13 0 0 0 29.25 29.25c6.36 2.47 13.63 4.16 24.27 4.65s14.07.6 41.23.6 30.56-.12 41.23-.6 17.91-2.18 24.27-4.65a51.13 51.13 0 0 0 29.25-29.25c2.47-6.36 4.16-13.63 4.65-24.27s.6-14.07.6-41.23-.11-30.56-.6-41.23-2.18-17.91-4.65-24.27a51.13 51.13 0 0 0-29.25-29.25c-6.36-2.47-13.63-4.16-24.27-4.65S157.16 30 130 30"/></g>
</g>
<g id="insurance" fill-rule="evenodd">
<path class="cls-1" d="M60 130a69.65 69.65 0 0 1 11.53-38.47L35.74 55.74a120 120 0 0 0 0 148.53l35.79-35.79A69.65 69.65 0 0 1 60 130zm164.26-74.26l-35.79 35.79a70 70 0 0 1 0 76.94l35.79 35.79a120 120 0 0 0 0-148.53zM130 60a69.65 69.65 0 0 1 38.47 11.53l35.79-35.79a120 120 0 0 0-148.53 0l35.8 35.79A69.65 69.65 0 0 1 130 60zm0 140a69.65 69.65 0 0 1-38.47-11.53l-35.79 35.79a120 120 0 0 0 148.53 0l-35.79-35.79A69.65 69.65 0 0 1 130 200z"/>
</g>
<g id="international" fill-rule="evenodd">
<path class="cls-1" d="M130 10a120 120 0 1 0 120 120A120 120 0 0 0 130 10zM29.75 130a99.69 99.69 0 0 1 9.7-42.73L90 149.33v.67h20v44h12v35.72c-51-3.84-92.25-47.01-92.25-99.72zM147 228.47V194h33v-50h-40v-34H90V90h30V60h30V32a100 100 0 0 1-3 196.47z"/>
</g>
<g id="investment" fill-rule="evenodd">
<path class="cls-1" d="M230 20H30a10 10 0 0 0-10 10v110l50-50 50 50 50-50-20-20h60v60l-20-20-70 70-50-50-50 50v50a10 10 0 0 0 10 10h200a10 10 0 0 0 10-10V30a10 10 0 0 0-10-10z"/>
</g>
<g id="jewel" fill-rule="evenodd">
<path class="cls-1" d="M22.3 80L10 120l120.54 120L250 120l-29.87-90H40.58L28.19 60h101.88l-20 20zM20 85.08"/>
</g>
<g id="jpg" fill-rule="evenodd">
<path class="cls-1" d="M122.5 114H114v16h8.5c7.5 0 10.3-2.8 10.3-8.1-.1-5.1-2.8-7.9-10.3-7.9z"/><path class="cls-1" d="M160 10H46.4a6.18 6.18 0 0 0-6.4 6v227.5a6.53 6.53 0 0 0 6.4 6.5h167.2a6.53 6.53 0 0 0 6.4-6.5V69.8zM92 143c0 10.2-5.2 17.2-18.3 17.2-7.3 0-11.9-2.5-15.2-5.4l5.2-8.8c2.6 2.4 5.9 4.6 9.5 4.6 4.3 0 6.8-2.7 6.8-9.4V104h12zm30-3h-8v19h-12v-55h20.2c11.7 0 22.3 3.5 22.3 17.9 0 14.7-11.5 18.1-22.5 18.1zm76 19h-10v-6h-.1c-2.2 4-7.6 7.1-14.5 7.1-16.4 0-23.8-12.1-23.8-28.6 0-17.2 9.5-28.2 24.7-28.2 8.3 0 17.2 3.4 22 13.1l-10.2 4.6c-2.1-4.6-5.8-7.7-11.2-7.7-4.9 0-13.2 2.6-13.2 18s7.4 19.3 13.2 19.3c6 0 10.1-3.7 11.2-9.7h-8.7l-1.8-9H198z"/>
</g>
<g id="keyboard" fill-rule="evenodd">
<path class="cls-1" d="M244.46 40H15.54A5.44 5.44 0 0 0 10 45.34v169.32a5.45 5.45 0 0 0 5.54 5.34h228.92a5.44 5.44 0 0 0 5.54-5.34V45.34a5.45 5.45 0 0 0-5.54-5.34zm-81.13 35.44h22.22v22.23h-22.22zm-44.44 0h22.22v22.23h-22.22zm44.44 44.44v22.22h-22.22v-22.21zM74.44 75.44h22.23v22.23H74.44zm44.44 44.44v22.22H96.67v-22.21zM30 75.44h22.22v22.23H30zm0 44.44h44.44v22.22H30zm22.22 66.67H30v-22.22h22.22zm133.33 0H74.44v-22.22h111.12zm44.44 0h-22.21v-22.22H230zm0-66.67v22.22h-44.43v-22.21h22.22V75.44H230z"/>
</g>
<g id="language" fill-rule="evenodd">
<path class="cls-1" d="M170 40l-20-20H30v220h30v-89h70.69L150 171h80V40zM60 130V50l80 80z"/>
</g>
<g id="lastpage" fill-rule="evenodd">
<path class="cls-1" transform="rotate(-45 105.113 108.79)" d="M95.12 68.79h20v80h-20z"/><path class="cls-1" transform="rotate(-45 105.117 151.22)" d="M65.12 141.21h80v20h-80z"/><path class="cls-1" d="M160.41 69.65h20v120h-20z"/>
</g>
<g id="law" fill-rule="evenodd">
<g><path class="cls-1" d="M239.9 217.88L141.33 119l14.14-14.14-63.63-63.65-49.5 49.5L106 154.35l14.14-14.14 98.73 98.73s10.35 3.84 17.24-3 3.79-18.06 3.79-18.06zM175.5 84.83a11.86 11.86 0 0 0-.24-16.77l-46.63-46.63a11.86 11.86 0 0 0-16.77-.24L106 27.07l63.64 63.64zM69.08 174a12 12 0 0 0 17 .24l5.77-5.77-63.65-63.62-3.54 3.54c-5.86 5.86-6.25 15-.87 20.34zM20 210h130v30H20z"/></g>
</g>
<g id="limits" fill-rule="evenodd">
<path class="cls-1" d="M227.47 220a120 120 0 1 0-194.94 0zM150 170a20 20 0 1 1-20-20c.64 0 1.26 0 1.89.1L180 110l10 10-40.1 48.11c.1.63.1 1.25.1 1.89zm70-40a10 10 0 1 1-10 10 10 10 0 0 1 10-10zm0 60a10 10 0 1 1-10-10 10 10 0 0 1 10 10zM130 50a99.77 99.77 0 0 1 75.53 34.47l-14.18 14.18A80 80 0 0 0 67.55 200H43.38A100 100 0 0 1 130 50z"/>
</g>
<g id="link" fill-rule="evenodd">
<path class="cls-1" d="M70 140h90l30-30h-90zm-30-15a45 45 0 0 1 45-45h55l30-30H85a75 75 0 0 0-21.78 146.78L90 170h-5a45 45 0 0 1-45-45zm164.13-69.13l-24.38 24.38A45 45 0 0 1 175 170h-45l-30 30h75a75 75 0 0 0 29.13-144.13z"/>
</g>
<g id="linkedin" fill-rule="evenodd">
<path class="cls-1" d="M130.41 10.82A119.59 119.59 0 1 0 250 130.41 119.59 119.59 0 0 0 130.41 10.82zM100 180H72V97h28zM85.92 85.83c-8.8 0-15.92-6.46-15.92-14.41S77.12 57 85.92 57s15.91 6.46 15.91 14.42-7.12 14.41-15.91 14.41zM200 180h-28v-45c0-9.15-4-18.3-14.71-18.3S141 125.85 141 135.23V180h-27V97h27v11.93C149 99.32 155.95 95 167.77 95S200 100.92 200 133.17z"/>
</g>
<g id="linkedin2" fill-rule="evenodd">
<path class="cls-1" d="M31.81 218.93H75V93.5H31.81zM178.26 90.38c-18 0-29 6.59-40.41 21.19V93.5H95.71v125.43h42.15v-67.41c0-14.24 7.94-28.14 24.17-28.14s21.76 13.9 21.76 27.8v67.75H227v-70.54c0-48.99-30.78-58.01-48.74-58.01zM53.57 32.69c-13.36 0-24.18 9.82-24.18 21.9s10.82 21.89 24.18 21.89 24.17-9.81 24.17-21.89-10.82-21.9-24.17-21.9z"/>
</g>
<g id="listview" fill-rule="evenodd">
<path class="cls-1" d="M40.49 80.6V50H10v30.6h30.49zM40.49 145.13v-30.6H10v30.6h30.49zM40.49 210v-30.6H10V210h30.49zM210 80H70.37V50H240l-30 30zM180 145H70.37v-30H210l-30 30zM210 210H70.37v-30H240l-30 30z"/>
</g>
<g id="loan" fill-rule="evenodd">
<path class="cls-1" d="M107.36 144.22l-28.55.04 37.98-37.98 14.26 14.25-23.69 23.69z"/><path class="cls-1" d="M110.89 120.97V70.56l20.16-20.16v70.57M195 130a65 65 0 1 0 65 65 65 65 0 0 0-65-65zm7 96.06V238h-.77L191 232.66v-5.85a34 34 0 0 1-13.28-3.81l-.45-.3-.32-.2.09-.42.11-.63 1.19-8.09.21-1.4.14-.94.79.52 1.18.78a26.79 26.79 0 0 0 14.43 4.68c5.52 0 8.86-2.79 8.86-7.35s-1.79-6.27-10.24-10.09c-12.23-5.55-16.2-9.75-16.2-18.31 0-8.4 5.49-14.47 13.49-16.28V154h1.05l9.95 5.11v5.7a21.37 21.37 0 0 1 9 3.14l.49.31.34.21-.08.41-.1.61-1.27 7.92-.24 1.49-.16 1-.8-.61-1.2-.92a19.06 19.06 0 0 0-11.31-4c-5.24 0-8.1 2.36-8.1 6.33 0 3.72 1.85 5.45 10.16 9.25 12.26 5.58 16.14 10 16.14 19.15.02 8.49-4.87 14.73-12.87 16.96z"/><path class="cls-1" d="M113.2 218.1a98.33 98.33 0 1 1 104.9-104.9 84.53 84.53 0 0 1 21.9 9.68V120a120 120 0 1 0-120 120h2.88a84.53 84.53 0 0 1-9.68-21.9z"/>
</g>
<g id="lock" fill-rule="evenodd">
<path class="cls-1" d="M90 170h80l-20 20H90zm90-60V79.9a50 50 0 0 0-100 0V110zm20 0V79.91a70 70 0 0 0-140 0V110H49.93A10 10 0 0 0 40 120.07v119.86A10 10 0 0 0 49.93 250h160.14a10 10 0 0 0 9.93-10.07V120.07a10 10 0 0 0-9.93-10.07z"/>
</g>
<g id="man" fill-rule="evenodd">
<g><path class="cls-1" d="M99.3 120v129.84h20v-100h20v100h20v-190h-60V120z"/><circle class="cls-1" cx="129.3" cy="29.72" r="20"/><path class="cls-1" d="M74.39 149.84l15-15v-75h-15v90zM168.8 59.84v75l15 15v-90h-15z"/></g>
</g>
<g id="mapa" fill-rule="evenodd">
<path class="st0" d="M232.2 22.2L170 40 90 20 24.4 38.7c-2.6.7-4.4 3.1-4.4 5.9v186.1c0 3.4 2.7 6.1 6.1 6.1.8 0 1.6-.2 2.4-.5L90 210l80 30 66.3-28.4c2.2-1 3.7-3.2 3.7-5.6V28.1c0-3.4-2.8-6.1-6.1-6.1-.6 0-1.2.1-1.7.2zM170 220l-80-30V40l80 20v160z"/>
</g>
<g id="medicalkit" fill-rule="evenodd">
<path class="cls-1" d="M240 60h-50V30a10 10 0 0 0-10-10H80a10.07 10.07 0 0 0-10 10v30H20a10 10 0 0 0-10 9.93v160.14A10 10 0 0 0 20 240h220a10 10 0 0 0 10-9.93V69.93A10 10 0 0 0 240 60zM90 40h80v20H90zm90 127h-33v33h-34v-33H80v-34h33v-33h34v33h33z"/>
</g>
<g id="menu" fill-rule="evenodd">
<path class="cls-1" d="M210 80H20V50h220l-30 30zM180 145H20v-30h190l-30 30zM150 210H20v-30h160l-30 30z"/>
</g>
<g id="microphone" fill-rule="evenodd">
<path class="cls-1" d="M119.94 130H80.71a50.34 50.34 0 0 0 99.61-10.09V50.09a50.31 50.31 0 0 0-100.63 0V70h60.38l-20.13 20H79.69v20h60.38zM220 130h-20.29a70.49 70.49 0 0 1-139.41 0H40c4.65 41.72 38 74.81 79.94 79.43V230H69.62v20h120.76v-20h-50.32v-20.57C182 204.81 215.35 171.72 220 130z"/>
</g>
<g id="mobile" fill-rule="evenodd">
<symbol><g class="st0"><path class="st1" d="M-130 119.5h260M-130 109.5h260M-130 99.5h260M-130 89.5h260M-130 79.5h260M-130 69.5h260M-130 59.5h260M-130 49.5h260M-130 39.5h260M-130 29.5h260M-130 19.5h260M-130 9.5h260M-130-10.5h260M-130-20.5h260M-130-30.5h260M-130-40.5h260M-130-50.5h260M-130-60.5h260M-130-70.5h260M-130-80.5h260M-130-90.5h260M-130-100.5h260M-130-110.5h260M-130-120.5h260M-130-.5h260M-99.5 130v-260M-70.5 130v-260M-60.5 130v-260M-50.5 130v-260M-40.5 130v-260M-30.5 130v-260M-20.5 130v-260M-10.5 130v-260M9.5 130v-260M19.5 130v-260M29.5 130v-260M39.5 130v-260M49.5 130v-260M59.5 130v-260M69.5 130v-260M79.5 130v-260M89.5 130v-260M99.5 130v-260M109.5 130v-260M119.5 130v-260M-110.5 130v-260M-80.5 130v-260M-120.5 130v-260M-90.5 130v-260"/><path class="st2" d="M-.5 130v-260M-130-.5h260M-.5 130v-260"/></g><path class="st3" d="M-129.4 129.4l258.8-258.8"/><path class="st3" d="M-129.3-129.4l258.6 258.7"/><path class="st4" d="M-130 130h260v-260h-260z"/><g><path class="st5" d="M0 49c27 0 49-22 49-49S27-49 0-49-49-27-49 0s22 49 49 49m0 1c-27.6 0-50-22.4-50-50s22.4-50 50-50S50-27.6 50 0 27.6 50 0 50z"/><path class="st5" d="M.5 79c20.9 0 40.5-8.2 55.4-23.1C70.8 41 79 21.4 79 .5 79-43.3 43.8-79 .5-79c-21.3 0-41.3 8.2-56.3 23.2S-79-20.8-79 .5C-79 43.8-43.3 79 .5 79m0 1C-44.2 80-80 44.2-80 .5-80-44.2-44.2-80 .5-80 44.2-80 80-44.2 80 .5 80 44.2 44.2 80 .5 80z"/><path class="st5" d="M0 119c31.8 0 61.7-12.4 84.1-34.9S119 31.8 119 0s-12.4-61.7-34.9-84.1S31.8-119 0-119s-61.7 12.4-84.1 34.9S-119-31.8-119 0s12.4 61.7 34.9 84.1S-31.8 119 0 119m0 1c-66.3 0-120-53.7-120-120S-66.3-120 0-120 120-66.3 120 0 66.3 120 0 120z"/></g><g><path class="st5" d="M100 109c5 0 9-4 9-9v-200c0-5-4-9-9-9h-200c-5 0-9 4-9 9v200c0 5 4 9 9 9h200m0 1h-200c-5.5 0-10-4.5-10-10v-200c0-5.5 4.5-10 10-10h200c5.5 0 10 4.5 10 10v200c0 5.5-4.5 10-10 10z"/><path class="st5" d="M80 119c5 0 9-4 9-9v-220c0-5-4-9-9-9H-80c-5 0-9 4-9 9v220c0 5 4 9 9 9H80m0 1H-80c-5.5 0-10-4.5-10-10v-220c0-5.5 4.5-10 10-10H80c5.5 0 10 4.5 10 10v220c0 5.5-4.5 10-10 10z"/><path class="st5" d="M110 89c5 0 9-4 9-9V-80c0-5-4-9-9-9h-220c-5 0-9 4-9 9V80c0 5 4 9 9 9h220m0 1h-220c-5.5 0-10-4.5-10-10V-80c0-5.5 4.5-10 10-10h220c5.5 0 10 4.5 10 10V80c0 5.5-4.5 10-10 10z"/></g></symbol><use xlink:href="#grid-26" width="260" height="260" x="-130" y="-130" transform="matrix(1 0 0 -1 130.233 130.233)" overflow="visible" class="st0"/><g><path class="st6" d="M120.2 230c0-5.5 4.4-10 10-10 5.5 0 10 4.4 10 10 0 5.5-4.4 10-10 10-5.5 0-10-4.4-10-10zm-50-200h120v180h-120V30zm-20-10c0-5.5 4.4-10 10-10h140c5.5 0 10 4.5 10 10v220c0 5.5-4.4 10-10 10h-140c-5.5 0-10-4.5-10-10V20z"/><path class="st6" d="M170.2 90l-80 80V50h80z"/></g>
</g>
<g id="mobilecashdollar" fill-rule="evenodd">
<path class="cls-1" d="M200 10H60a10 10 0 0 0-10 10v220a10 10 0 0 0 10 10h140a10 10 0 0 0 10-10V20a10 10 0 0 0-10-10zm-70 230a10 10 0 1 1 10-10 10 10 0 0 1-10 10zm60-30H70V30h120zm-60.8-55.3c-10 0-20.41-3.82-28.81-8.64L97.5 163.2a72.42 72.42 0 0 0 22.5 6.3V180l20 10v-21.24c13.41-3.2 22.5-12.58 22.5-27.8s-7.53-22.1-28.08-30.31c-13.9-5.67-17.08-8.64-17.08-14.87 0-5.95 4.2-10.48 13.75-10.48 7.82 0 16.36 3 23.6 7.65l2.9-17A51.8 51.8 0 0 0 140 70.53V60l-20-10v21.36c-12.65 3.29-21.05 12.4-21.05 26 0 15.16 7.82 21.39 27.22 29.18 14.48 6.09 18 9.06 18 16.29-.06 7.76-6.17 11.87-14.97 11.87z"/>
</g>
<g id="mobilecasheuro" fill-rule="evenodd">
<path class="cls-1" d="M200 10H60a10 10 0 0 0-10 10v220a10 10 0 0 0 10 10h140a10 10 0 0 0 10-10V20a10 10 0 0 0-10-10zm-70 230a10 10 0 1 1 10-10 10 10 0 0 1-10 10zm60-30H70V30h120zm-46.44-107.87l-13.39 13.39h-26.61c-.11 1.1-.17 2.22-.17 3.35s.06 2.25.17 3.35h40l-13.39 13.38h-22.29a33.47 33.47 0 0 0 52.65 6.93L170 152a46.86 46.86 0 0 1-80-33.14c0-1.13.05-2.24.13-3.35H90l.14-.14A46.85 46.85 0 0 1 170 85.73l-9.47 9.47a33.47 33.47 0 0 0-52.65 6.93z"/>
</g>
<g id="mobiledisconnected" fill-rule="evenodd">
<g><path class="cls-1" d="M210 20v-.23A9.81 9.81 0 0 0 200 10H60a9.79 9.79 0 0 0-10 9.77V180l-20 20v30l20-20 20-20L190 70l20-20 20-20V0zM70 160V30h120v10zM190 210H80.23L50 240.22A10 10 0 0 0 60 250h140a10.19 10.19 0 0 0 10-10.24V80l-20 20zm-60 29.77a10 10 0 1 1 10-10 10 10 0 0 1-10 10z"/></g>
</g>
<g id="mobilepayment" fill-rule="evenodd">
<path class="cls-1" d="M200.07 10h-140A10.27 10.27 0 0 0 50 20.26v220A9.87 9.87 0 0 0 60.09 250h140a9.71 9.71 0 0 0 9.93-9.76v-220A10.15 10.15 0 0 0 200.07 10zm-70 230.25a10 10 0 1 1 10-10 10 10 0 0 1-9.99 10zM190 210H70V30h120z"/><path class="cls-1" d="M160.32 118.83a65.32 65.32 0 0 1-22.79 49.78l11.87 9.05a80.41 80.41 0 0 0 0-117.66l-11.87 9.05a65.32 65.32 0 0 1 22.79 49.78z"/><path class="cls-1" d="M111.79 149l12.52 9.55a56.16 56.16 0 0 0 0-79.4l-12.52 9.55a39 39 0 0 1 0 60.3zM86.75 129.89l10.52 8a24.34 24.34 0 0 0 0-38.16l-10.52 8a14.6 14.6 0 0 1 0 22.12z"/>
</g>
<g id="mooncar" fill-rule="evenodd">
<g><g data-name="text"><path class="cls-1" d="M239 100.44h-11.38l-19.8-67.9a3.09 3.09 0 0 0-2.79-2.1H55.53a3.13 3.13 0 0 0-2.81 2.08l-20.66 67.92H20.83a10.91 10.91 0 0 0-10.92 10.9v10.93a11.14 11.14 0 0 0 10.92 11.17h9.08v86.08a10.91 10.91 0 0 0 10.9 10.92h12.65c6 0 10.45-4.89 10.45-10.92v-9.08h131v9.08a10.88 10.88 0 0 0 10.84 10.92h11c6 0 13.19-4.89 13.19-10.92v-86.08H239a11.14 11.14 0 0 0 10.92-11.17v-10.93a10.91 10.91 0 0 0-10.92-10.9zm-169.08-50h120l15 50h-150zm-5 110a15 15 0 1 1 15-15 15 15 0 0 1-15 15zm134.5.5a15 15 0 1 1 15-15 15 15 0 0 1-15 15z"/><path class="cls-1" d="M109.41 84.72l19.77-19.77H77.41l-6 20M188.41 84.95l-6-20h-33.37l-19.77 19.77"/></g></g>
</g>
<g id="more" fill-rule="evenodd">
<path class="cls-1" d="M55 105a25 25 0 1 0 25 25 25 25 0 0 0-25-25zm75 0a25 25 0 1 0 25 25 25 25 0 0 0-25-25zm75 0a25 25 0 1 0 25 25 25 25 0 0 0-25-25z"/>
</g>
<g id="mortaje" fill-rule="evenodd">
<path class="cls-1" d="M30 149v80a9.94 9.94 0 0 0 9.92 10H130v-80h60v80h30.08a10 10 0 0 0 9.92-10v-80L130 69zm60 40H60v-20h50zM130 9L0 119l20 20 110-90 110 90 20-20z"/>
</g>
<g id="mylocation" fill-rule="evenodd">
<path class="st0" d="M130 90c-22.1 0-40 17.9-40 40s17.9 40 40 40 40-17.9 40-40-17.9-40-40-40z"/><path class="st0" d="M227.5 120C222.4 73.9 186 37.6 140 32.6V10h-20v22.5C74 37.6 37.6 74 32.5 120H10v20h22.5c5 46.1 41.4 82.4 87.4 87.5V250h20v-22.5c46.1-5.1 82.5-41.5 87.5-87.5H250v-20h-22.5zM130 206.4c-42.2 0-76.3-34.2-76.3-76.4s34.2-76.3 76.4-76.3c42.1 0 76.3 34.2 76.3 76.3.1 42.1-34.1 76.3-76.2 76.4h-.2z"/>
</g>
<g id="myprofile" fill-rule="evenodd">
<path class="cls-1" d="M161.38 132.34a70 70 0 0 1-62.76 0A90 90 0 0 0 30 219.77v20h200v-20a90 90 0 0 0-68.62-87.43zM160 209.77h-30v-20h50zm-30-90a50 50 0 1 0-50-50 50 50 0 0 0 50 50z"/>
</g>
<g id="navigation" fill-rule="evenodd">
<path class="cls-1" d="M250 120V40l-22.84 19.58A120 120 0 1 0 243.87 168l-28.47-9.49a90 90 0 1 1-11.12-79.28L180 100z"/>
</g>
<g id="nearme" fill-rule="evenodd">
<path class="st0" d="M231.3 20.5L15.6 105.2c-2.8 1.1-4.6 3.8-4.6 6.8v4.3c0 3 1.9 5.7 4.7 6.8l85.4 33c1.9.7 3.5 2.3 4.2 4.2l33 85.4c1.1 2.8 3.8 4.7 6.8 4.7h4.3c3 0 5.7-1.8 6.8-4.6L240.8 30c1.5-3.8-.4-8-4.2-9.5-1.7-.6-3.6-.6-5.3 0zm-84.1 178.4l-21.9-64.3 77.8-77.8-55.9 142.1z"/>
</g>
<g id="nfcconnect" fill-rule="evenodd">
<path class="cls-1" d="M167.79 10l-24.22 18.46a134.14 134.14 0 0 1 0 203.07L167.79 250a164 164 0 0 0 0-240zm-51.18 39L91.07 68.5a79.47 79.47 0 0 1 0 123l25.54 19.5a114.55 114.55 0 0 0 0-162zM61.45 91.08L40 107.44a29.78 29.78 0 0 1 0 45.11l21.45 16.36a49.64 49.64 0 0 0 0-77.84z"/>
</g>
<g id="nfcdisconnect" fill-rule="evenodd">
<path class="cls-1" d="M98.28 201.72l15.68 12a113.7 113.7 0 0 0 33.92-61.58zm-61.37-46.94l21.44 16.4a50 50 0 0 0 0-82.36l-21.44 16.4a30 30 0 0 1 0 49.56zm151.8-43.49A136.74 136.74 0 0 1 190 130c0 42.66-19.75 80.51-49.22 104.22l24.38 18.64A164 164 0 0 0 220 130a165.91 165.91 0 0 0-5.93-44.07zM196 44a161.24 161.24 0 0 0-30.8-36.9l-24.42 18.68A131.06 131.06 0 0 1 174 66l-29.3 29.3a113.17 113.17 0 0 0-30.7-49L88.1 66.07a79.92 79.92 0 0 1 31.35 54.48L40 200v30l76.49-76.49 33.11-33.11L230 40V10z"/>
</g>
<g id="noclient" fill-rule="evenodd">
<g><path class="cls-1" d="M140.17 198.89h30l20-20h-50v20z"/><path class="cls-2" d="M176.18 122.74L70 228.89h170.2v-20a90 90 0 0 0-64.02-86.15zm-6 76.15h-30v-20h50zM20 249.14L229.94 39.42V9.3l-40.6 40.59a50 50 0 1 0-58.18 58.18l-13.39 13.39h-9a90 90 0 0 0-68 77L20 219.24v29.9z"/></g>
</g>
<g id="nurseryroom" fill-rule="evenodd">
<g><path class="cls-1" d="M178 98H82a12 12 0 0 0-12 12v30h50l-20 20H70v20h50l-20 20H70v44a6 6 0 0 0 6 6h108a6 6 0 0 0 6-6V110a12 12 0 0 0-12-12zM90 80h80a10 10 0 0 0 0-20h-.25c-1.85-18.77-13.94-34.06-29.86-38.61A9.92 9.92 0 0 0 140 20V10a10 10 0 0 0-20 0v10a9.92 9.92 0 0 0 .11 1.39C104.19 25.94 92.1 41.23 90.25 60H90a10 10 0 0 0 0 20z"/></g>
</g>
<g id="on" fill-rule="evenodd">
<path class="cls-1" d="M194.74 66.47a90 90 0 1 1-127.69.21L45.84 45.46A120 120 0 1 0 216 45.25z"/><path class="cls-1" d="M116 10v104.56l28-28.29V10h-28z"/>
</g>
<g id="oneclick" fill-rule="evenodd">
<path class="cls-1" d="M130.23 10a120 120 0 1 0 120 120 120 120 0 0 0-120-120zm0 220a100 100 0 1 1 100-100 100 100 0 0 1-100 100z"/><path class="cls-1" d="M130.23 60a70 70 0 1 0 70 70 70 70 0 0 0-70-70zm0 120a50 50 0 1 1 50-50 50 50 0 0 1-50 50z"/>
</g>
<g id="pacifier" fill-rule="evenodd">
<g><path class="cls-1" d="M101.52 135.92c-2.28-2.28-6.23-3.05-8.51-.78-19.74 19.74-37.16 6.34-58.76 27.93A44.51 44.51 0 0 0 97.2 226c21.59-21.59 8.19-39 27.93-58.76 2.28-2.28 1.5-6.23-.78-8.51zM223.09 115.87a55.64 55.64 0 1 0-91.14-19L120.81 108 80.67 67.86a10 10 0 0 0-14.14 0l-1.59 1.59a10 10 0 0 0 0 14.14l111.74 111.76a10 10 0 0 0 14.14 0l1.59-1.59a10 10 0 0 0 0-14.14l-40.14-40.14 11.15-11.15a55.64 55.64 0 0 0 59.67-12.46zm-62.94-62.95a33.38 33.38 0 1 1 0 47.21 33.38 33.38 0 0 1 0-47.21z"/></g>
</g>
<g id="partner" fill-rule="evenodd">
<g><path class="cls-1" d="M133.87 211.69a61.28 61.28 0 0 1-84.56-84.56A113 113 0 0 1 47.82 85 91.92 91.92 0 1 0 176 213.18a112.94 112.94 0 0 1-42.13-1.49zM160.14 97.6L168 85.75c2-3 2.4-4.67 2.4-6.75a10.81 10.81 0 0 0-10.83-10.54h-12v70h6.65c11.14 0 19.59-6.27 19.59-20.59-.06-11.8-5.51-18.27-13.67-20.27z"/><path class="cls-1" d="M223.85 38.46a91.92 91.92 0 1 0 0 130 91.92 91.92 0 0 0 0-130zm-55.37 108.75H130v-87.5h39.87c18.69 0 25.21 14.38 15.74 27.81l-4.47 6.42c31.37 15.56 21.17 53.27-12.66 53.27z"/></g>
</g>
<g id="pastafactory" fill-rule="evenodd">
<path class="cls-1" d="M170.33 80.82V40.18l-80 40.64V40.18l-80 40.64v120h19.82v-43a6.55 6.55 0 0 1 6.55-6.55h26.54a6.55 6.55 0 0 1 6.55 6.55v43h180.54V40.18zM199.24 131H170v-19.36h49.45zm-69 0H100v-19.36h50.45z"/>
</g>
<g id="pause" fill-rule="evenodd">
<g><path class="cls-1" d="M130 10a120 120 0 1 0 120 120A120 120 0 0 0 130 10zm0 220a100 100 0 1 1 100-100 100 100 0 0 1-100 100z"/><path class="cls-1" d="M90 80h30v100H90zM140 80h30v100h-30z"/></g>
</g>
<g id="pdf" fill-rule="evenodd">
<path class="cls-1" d="M160 10H46.37A6.33 6.33 0 0 0 40 16.28v227.45a6.32 6.32 0 0 0 6.38 6.27h167.24a6.31 6.31 0 0 0 6.38-6.26V70zM79.95 143H74v17H60v-53h19.95c11.38 0 23 2.23 23 18s-12.56 18-23 18zm46.87 17H109v-53h17.82c15.84 0 29.31 5.91 29.31 26.14 0 20.95-13.68 26.86-29.31 26.86zM200 119h-22v10h15v12h-15v19h-15v-53h37z"/><path class="cls-1" d="M80.45 118H74v14h6.45c6.7 0 8.5-3 8.5-7s-1.8-7-8.5-7zM127.47 119H124v29h3.61c10.87 0 14.11-4.1 14.11-14.9.01-9.86-3.31-14.1-14.25-14.1z"/>
</g>
<g id="pets" fill-rule="evenodd">
<path class="cls-1" d="M44.88 143.62c13.74 0 24.88-15.3 24.88-34.16S58.62 75.3 44.88 75.3 20 90.59 20 109.46s11.14 34.16 24.88 34.16zM94.1 88.33c13.74 0 24.9-15.33 24.9-34.17S107.84 20 94.1 20 69.23 35.3 69.23 54.16 80.37 88.33 94.1 88.33zm121 55.3c13.74 0 24.88-15.3 24.88-34.16S228.86 75.3 215.12 75.3s-24.88 15.3-24.88 34.16 11.14 34.16 24.88 34.16zm-50.25-55.3c13.74 0 24.88-15.3 24.88-34.16S178.61 20 164.87 20 140 35.3 140 54.16s11.14 34.16 24.88 34.16zm-35 141.28c46 0 83.21 31.28 83.21-14.71s-37.25-104.52-83.21-104.52S46.68 168.9 46.68 214.9s37.25 14.71 83.21 14.71zm0 0"/>
</g><g id="phishing" fill-rule="evenodd"><path class="st3" d="M260 80h-30.9c-19-41.3-60.7-70-109.1-70C53.7 10 0 63.8 0 130s53.7 120 120 120c59.5 0 108.8-43.2 118.3-100H260V80zM120 30c37 0 69.3 20.1 86.6 50H33.4C50.7 50.1 83 30 120 30zm60 76v20h-30l-10-20h40zm-60 124c-48.4 0-88.7-34.4-98-80h196c-9.3 45.7-49.6 80-98 80zM90 105.6v20H60l-10-20h40z"/><path class="st3" d="M80 180h70v20H80z"/></g>
<g id="pinpadconnect" fill-rule="evenodd">
<path class="cls-1" d="M130 10a120 120 0 1 0 120 120A120 120 0 0 0 130 10zM94 196H64v-30h30zm0-51H64v-30h30zm0-51H64V64h30zm51 102h-30v-30h30zm0-51h-30v-30h30zm0-51h-30V64h30zm51 102h-30v-30h30zm0-51h-30v-30h30zm0-51h-30V64h30z"/>
</g>
<g id="pinpaddisconnected" fill-rule="evenodd">
<g><path class="cls-1" d="M228.52 61.48L175 115h21v30h-30v-21l-42 42h21v30h-30v-21l-53.52 53.52a120 120 0 0 0 167-167zM196 196h-30v-30h30zM94 166l21-21 30-30 21-21 64-64V0l-31.48 31.48a120 120 0 0 0-167 167L10 220v30zm21-102h30v21l-9 9h-21zm-51 0h30v30H64zm0 51h30v21l-9 9H64z"/></g>
</g>
<g id="pinterest" fill-rule="evenodd">
<path class="cls-1" d="M129.8 10a120 120 0 1 0 120 120 120 120 0 0 0-120-120zm9.75 153.79c-9.13-.71-13-5.23-20.13-9.58-3.94 20.65-8.75 40.45-23 50.79-4.4-31.21 6.46-54.65 11.5-79.54C99.33 111 109 81.87 127.09 89c22.31 8.83-19.32 53.8 8.62 59.42 29.18 5.86 41.09-50.63 23-69-26.14-26.53-76.1-.6-70 37.37 1.49 9.29 11.09 12.1 3.83 24.92-16.68-3.71-21.68-16.86-21.04-34.46 1-28.8 25.87-49 50.79-51.75 31.51-3.5 61.08 11.57 65.17 41.21 4.6 33.46-14.22 69.69-47.92 67.08z"/>
</g>
<g id="pinterest2" fill-rule="evenodd">
<path class="cls-1" d="M113.58 172.12c-6 31.66-13.42 62-35.28 77.88-6.75-47.86 9.91-83.8 17.64-122-13.18-22.19 1.59-66.84 29.4-55.84 34.22 13.54-29.64 82.49 13.23 91.1 44.76 9 63-77.63 35.28-105.8-40.1-40.67-116.73-.93-107.31 57.31 2.29 14.24 17 18.56 5.88 38.21-25.66-5.69-33.33-25.92-32.34-52.9C41.67 56 79.77 25 118 20.77c48.33-5.41 93.69 17.74 100 63.18 7.05 51.3-21.81 106.86-73.5 102.86-14.06-1.08-19.94-8.02-30.92-14.69z"/>
</g>
<g id="place" fill-rule="evenodd">
<path class="st0" d="M130 10C74.8 10 30 54.8 30 110v3c2 88.3 91.6 144.7 91.6 144.7 4.6 3.1 12 3.1 16.5.1 0 0 89.8-56.5 91.8-144.8v-3c0-55.2-44.7-100-99.9-100zm0 150c-27.6 0-50-22.4-50-50s22.4-50 50-50 50 22.4 50 50-22.4 50-50 50z"/>
</g>
<g id="play" fill-rule="evenodd">
<path class="cls-1" d="M130 10a120 120 0 1 0 120 120A120 120 0 0 0 130 10zm-23 174V76l72 54z"/>
</g>
<g id="plusmenu" fill-rule="evenodd">
<path class="st0" d="M210.8 142.9h16.5v81.4h-16.5z"/><path class="st0" d="M185.1 175.3l-6.7 16.6h81.3v-16.6zM9.5 169.9v25h123.7l9.6-25zM9.7 114.8v25H158l9.6-25zM9.9 59.7v25h173.9l8.6-22.5.9-2.5z"/>
</g>
<g id="point" fill-rule="evenodd">
<path class="cls-1" d="M130.15 220.46L99.91 250v-87.2A79.33 79.33 0 0 1 50 89.3C50 45.5 85.82 10 130 10s80 35.5 80 79.3a79.33 79.33 0 0 1-49.6 73.38V250l-30.25-29.54m.69-102.25a31.67 31.67 0 1 1 32-31.67 31.83 31.83 0 0 1-32 31.67z"/>
</g>
<g id="previousapointment" fill-rule="evenodd">
<g><path class="cls-1" d="M90.07 191.14V171h19.67a88.13 88.13 0 0 1 60.39-69.34V90.54h20v7.39c2-.14 4-.21 6-.21a87 87 0 0 1 34 6.87V28.83c0-5.4-3.49-8.71-9-8.71h-21V0h-20v20.12H60V0H40v20.12H21c-5.63 0-11 3.2-11 8.71v181.24c0 5.4 5.49 11.25 11 11.25h94.85a88 88 0 0 1-7.23-30.18zm20-40.24h-20v-20.12h20zm0-40.24h-20V90.54h20zm40 0h-20V90.54h20zM40 50.3h161.16l-20 20.12H40zm30 140.84H50V171h20zm0-40.24H50v-20.12h20z"/><path class="cls-1" d="M229.6 129.28a64.75 64.75 0 0 0-81.6 10.13 65.57 65.57 0 0 0-18.07 45.2c0 1.81.09 3.6.24 5.37a65.06 65.06 0 1 0 99.47-60.7zM189.52 141l10.84 10.9v27.25h27.11l-10.84 10.9h-27.11z"/></g>
</g>
<g id="print" fill-rule="evenodd">
<path class="cls-1" d="M220.23 70V20a10 10 0 0 0-9.93-10H50.17a10 10 0 0 0-9.93 10v50h-30v110a10.06 10.06 0 0 0 10 10h20v50a10 10 0 0 0 9.93 10H210.3a10 10 0 0 0 9.93-10v-50h20a10 10 0 0 0 10-10V70zm-160-40h140v40h-140zm140 200h-140v-60h140zm10-110h-30v-20h50zm-50 70h-80v20h60z"/>
</g>
<g id="productportfolio" fill-rule="evenodd">
<path class="cls-1" d="M240 60h-50V30a10 10 0 0 0-10-10H80a10.07 10.07 0 0 0-10 10v30H20a10 10 0 0 0-10 9.93v160.14A10 10 0 0 0 20 240h220a10 10 0 0 0 10-9.93V69.93A10 10 0 0 0 240 60zm-130 60H50v-20h80zm60-60H90V40h80z"/>
</g>
<g id="promotion" fill-rule="evenodd">
<path class="cls-1" d="M130 10a120 120 0 1 0 120 120A120 120 0 0 0 130 10zm42.37 179.44l-41.56-25.3-41.56 25.3 11-47.69-36.68-32.08 48.35-4.14 18.9-45 18.9 45 48.35 4.14-36.72 32.09z"/>
</g>
<g id="quotemark" fill-rule="evenodd">
<g><path class="cls-1" d="M110 40H60l-50 80v110h110V120H60l50-80zM190 120l50-80h-50l-50 80v110h110V120h-60z"/></g>
</g>
<g id="reademail" fill-rule="evenodd">
<path class="cls-1" d="M138.06 12.51a14.2 14.2 0 0 0-16.12 0L10 100v139.93A10 10 0 0 0 20 250h220a10 10 0 0 0 10-10.07V100zm-.21 181.21a13.19 13.19 0 0 1-15.69 0L30 120a10 10 0 0 1 9.92-10h180.16a10 10 0 0 1 9.92 10z"/>
</g>
<g id="receiptok" fill-rule="evenodd">
<path class="cls-1" d="M210.07 10H200l-10 10h-10V10h-10l-10 10h-10V10h-10l-10 10h-10V10h-10l-10 10H90V10H80L70 20H60V10H49.93C44.45 10 40 14 40 19.51v220C40 245 44.45 250 49.93 250H60l10-10h10v10h10l10-10h10v10h10l10-10h10v10h10l10-10h10v10h10l10-10h10v10h10.07c5.48 0 9.93-5 9.93-10.51v-220c0-5.49-4.45-9.49-9.93-9.49zm-89.6 157.31l-15.22 15.22-42.43-42.42L77 126l28.28 28.28L183 76.47l14.14 14.14z"/>
</g>
<g id="reply" fill-rule="evenodd">
<path class="cls-1" d="M115 89.53v-50l-105 90 105 90v-49.34a146.27 146.27 0 0 1 16.5-.68c50.69 0 95.69 22.34 124 60v-2c0-76.82-63.87-137.17-140.5-137.98z"/>
</g>
<g id="restaurant" fill-rule="evenodd">
<g><path class="cls-1" d="M170.09 140l-.3 110h29.75L200 10c-44.63 0-50.35 40-50.35 40v90M115 10v51.43L102 70V10H88v51.43L75 70V10H60v100h20v140h30V110h20V10h-15z"/></g>
</g>
<g id="retail" fill-rule="evenodd">
<path class="cls-1" d="M90.76 20H56.84a5.94 5.94 0 0 0-3 .8V20L20 52l29.83 27.19V234c-2.45 3.32.23 6 3.53 6h152.36c3.31 0 3.45-2.69 3.45-6V78.31L240 52l-30.65-29a6 6 0 0 0-2.54-2.4l-.66-.62v.34a6 6 0 0 0-2-.34h-34.91L130 52 90.76 20zM125 94h65v.87L171 114h-46z"/>
</g>
<g id="retirement" fill-rule="evenodd">
<g><path class="cls-1" d="M250 0l-59 59H60v20l79 80v81h-39v20h100v-20h-38v-81l78-80V59h-20.72L250 28.28zm-60 99h-80L90 79h120z"/><path class="cls-1" d="M45 0a45 45 0 0 0-5 89.72V40h49.72A45 45 0 0 0 45 0z"/></g>
</g>
<g id="return-12" fill-rule="evenodd">
<path class="cls-1" d="M67.45 144.38l56.59 56.46L102.91 222 10.9 129.67 102.24 38l21.16 21.16-55.55 55.45 183.05.02-28.85 29.75H67.45z"/>
</g>
<g id="return-15" fill-rule="evenodd">
<path class="cls-1" d="M228 20H32a12 12 0 0 0-12 12v196a12 12 0 0 0 12 12h196a12 12 0 0 0 12-12V32a12 12 0 0 0-12-12zm-57.53 135.93l.09-53L95.28 179h-29l90.39-90.31-54 .07V68.58l87.9.07.07 87.28z"/>
</g>
<g id="return" fill-rule="evenodd">
<path class="cls-1" d="M130 10a119.82 119.82 0 0 0-97.15 49.58L10 40v80l70-20-24.28-20.81a90 90 0 1 1-11.12 79.28L16.13 168A120 120 0 1 0 130 10z"/>
</g>
<g id="retweet" fill-rule="evenodd">
<g><path class="cls-1" d="M220 131V51.5c0-.1-17.27-.16-39.39-.2L180 51v.3c-39.38-.06-93.66-.05-93.66-.05L120.5 91H180v40h-40l60 70 60-70zM139.52 171.17a.5.5 0 0 0-.38-.17H80v-40h40L60 61 0 131h40v80h132.57a.5.5 0 0 0 .38-.83z"/></g>
</g>
<g id="rewards" fill-rule="evenodd">
<g><path class="cls-1" d="M30 70h89.42v50.54H30zM140.58 70H230v50.54h-89.42z"/><path class="cls-1" d="M140 70h89.42v50.54H140zM129.38 60L170 10l40 30-48.79 30H97.87L50 40l40-30 39.7 50h-.32zM40 140h80v100H40zM140 140h80v100h-80z"/></g>
</g>
<g id="safeforlater" fill-rule="evenodd">
<path class="cls-1" d="M167.93 20H27.27C24 20 20 21.19 20 24.5v208c0 3.32 4 7.5 7.26 7.5h208c3.32 0 4.73-4.19 4.73-7.5V91.83zm-38.24 190L68 148.34l14.26-14.28 37.37 37.5L119.3 50 139 70v101.83l38.4-38.2 14.43 14.26z"/>
</g>
<g id="sales" fill-rule="evenodd">
<path class="cls-1" d="M230.08 20h-94.67a14.06 14.06 0 0 0-8.57 3.58l-81.1 81.1 84.68 84.68h-29.89l-69.74-69.74-12.89 12.89a10 10 0 0 0 0 14.05l95.54 95.54a10 10 0 0 0 14.05 0l108.93-108.94a13.64 13.64 0 0 0 3.58-8.57V29.92a9.91 9.91 0 0 0-9.92-9.92zm-49.85 79.69a19.92 19.92 0 1 1 19.92-19.92 19.92 19.92 0 0 1-19.92 19.92z"/>
</g>
<g id="savings" fill-rule="evenodd">
<g><circle class="cls-1" cx="145.18" cy="45" r="35"/><path class="cls-1" d="M240 130h-10.35c-4.12-23.53-17.44-44.13-36.36-58.38A55 55 0 0 1 91.87 58.56a93.72 93.72 0 0 0-4.1 1.77L61.84 40 61 78.05a94.46 94.46 0 0 0-22.71 32L38 110H22a12 12 0 0 0-12 12v36a12 12 0 0 0 12 12h12.4c6.92 24.44 24 45 46.6 57.36V244a6 6 0 0 0 6 6h18a6 6 0 0 0 6-6v-5.89a106.68 106.68 0 0 0 40 0V244a6 6 0 0 0 6 6h18a6 6 0 0 0 6-6v-16.64c28.61-15.63 48.25-44.27 49.89-77.36H240a10 10 0 0 0 0-20zm-154 0a15 15 0 1 1 15-15 15 15 0 0 1-15 15z"/></g>
</g>
<g id="seachinglocation" fill-rule="evenodd">
<path class="cls-1" d="M130 10A100 100 0 0 0 30 110v3c2 88.3 91.6 144.71 91.6 144.71 4.56 3.09 12 3.1 16.54.12 0 0 89.79-56.52 91.77-144.83v-3A100 100 0 0 0 130 10zM85 120a15 15 0 1 1 15-15 15 15 0 0 1-15 15zm45 0a15 15 0 1 1 15-15 15 15 0 0 1-15 15zm45 0a15 15 0 1 1 15-15 15 15 0 0 1-15 15z"/>
</g>
<g id="search" fill-rule="evenodd">
<path class="cls-1" d="M182.85 162.85a90 90 0 1 0-20 20L220 240l20-20zM150 110a40 40 0 0 0-40-40V50a60 60 0 0 1 60 60z"/>
</g>
<g id="security" fill-rule="evenodd">
<path class="cls-1" d="M110 150h30l10-10h-40v10zM130 80a19.94 19.94 0 0 0-20 20v10h40v-10a19.94 19.94 0 0 0-20-20z"/><path class="cls-1" d="M240 30a10 10 0 0 0-10-10H30a9.94 9.94 0 0 0-10 10v70c0 140 110 150 110 150s110-10 110-150zm-70 140a10 10 0 0 1-10 10h-60a9.93 9.93 0 0 1-10-10v-50a10 10 0 0 1 10-10v-10a30 30 0 1 1 60 0v10a9.93 9.93 0 0 1 10 10z"/>
</g>
<g id="seecvv" fill-rule="evenodd">
<path class="cls-1" d="M240 40H20a10 10 0 0 0-10 9.93V80h100l-20 20H10v110.07A10 10 0 0 0 20 220h220a10 10 0 0 0 10-9.93V49.93A10 10 0 0 0 240 40zm-60 130a50 50 0 1 1 50-50 50 50 0 0 1-50 50zm-20-40h30l20-20h-50z"/>
</g>
<g id="send" fill-rule="evenodd">
<path class="cls-1" d="M245.62 123.29L33.25 30.61a7.27 7.27 0 0 0-8.06 1.54l-3.05 3.06a7.33 7.33 0 0 0-1.51 8.14L57.68 127a7.34 7.34 0 0 1 0 5.94l-37.05 83.71a7.34 7.34 0 0 0 1.51 8.14l3.05 3.06a7.27 7.27 0 0 0 8.06 1.54l212.37-92.69a7.33 7.33 0 0 0 0-13.41zM60 190l30-61h110z"/>
</g>
<g id="services" fill-rule="evenodd">
<g><path class="cls-1" d="M239.93 178c-2.1-58-50.42-104.34-109.71-104.34S22.6 120 20.5 178H20v22h220v-22zm-47.34-31a78.86 78.86 0 0 0-11.78-14.21 79.78 79.78 0 0 0-25.81-16.5v-15.92a94.7 94.7 0 0 1 36.17 21.56A93.48 93.48 0 0 1 209.9 147zM130 60a20 20 0 1 0-20-20 20 20 0 0 0 20 20z"/><path class="cls-2" d="M0 220h260v20H0z"/></g>
</g>
<g id="settings" fill-rule="evenodd">
<path class="cls-1" d="M247.15 156.08a120.79 120.79 0 0 0 .31-50.71l-28.19-3.67A93 93 0 0 0 214 88.56l17.61-22.48A120.62 120.62 0 0 0 195 29.15l-22.61 17.4a93.2 93.2 0 0 0-12.65-5.32l-3.44-28.32a120.77 120.77 0 0 0-52.61 0L101 41a93.15 93.15 0 0 0-14.08 5.92l-23.15-17A120.64 120.64 0 0 0 29 65.24l17.52 22.38a93 93 0 0 0-5.85 14.22l-28.18 3.7a120.93 120.93 0 0 0 .51 51.12l28.28 3.21a93.08 93.08 0 0 0 5.29 12.56l-17.3 22.81a120.64 120.64 0 0 0 36.51 36.14L88.65 214a93 93 0 0 0 11.87 4.87l3.25 28.24a120.74 120.74 0 0 0 51.63.18l4.44-28.54a92.9 92.9 0 0 0 12.24-5.12l21.8 18a120.63 120.63 0 0 0 36.48-35.79L212.67 174a93 93 0 0 0 5.95-13.71zM130 180a50 50 0 1 1 50-50 50 50 0 0 1-50 50z"/>
</g>
<g id="share" fill-rule="evenodd">
<g><path class="cls-1" d="M108.14 142.09l50.2 33.46A40 40 0 1 1 150 200q0-1.64.13-3.25l-54.31-36.2a40 40 0 1 1 0-61.1l54.31-36.2Q150 61.64 150 60a40 40 0 1 1 8.33 24.44l-50.2 33.46a40.23 40.23 0 0 1 0 24.19z"/></g>
</g>
<g id="shop" fill-rule="evenodd">
<g><path class="cls-1" d="M255.33 90l-30-51h-180l-40 51h250zM210 109v80H50v-80H30v114a6.29 6.29 0 0 0 6.33 6h188a5.72 5.72 0 0 0 5.67-6V109z"/><path class="cls-1" d="M70.33 149h100l-16.66 20H70.33v-20z"/></g>
</g>
<g id="shopping" fill-rule="evenodd">
<path class="cls-1" d="M190 60v-.06a60 60 0 0 0-120 0V60H30v170a10 10 0 0 0 9.92 10h180.16a10 10 0 0 0 9.92-10V60zM90 130l-20 20v-50h20zm0-70a40 40 0 1 1 80 0zm100 70l-20 20v-50h20z"/>
</g>
<g id="slideshare" fill-rule="evenodd">
<g><path class="cls-1" d="M188 77c0-9.46-3-14-11.73-14H84.59C75.39 63 72 66.91 72 77v55.48c20 10.23 36.72 8.42 45.88 8.13 3.85-.19 6.53.66 8 2.24.26.22.64.46.92.73a51.41 51.41 0 0 0 5.1 4.16c.34-4.53 2.87-7.47 9.71-7.13 9.3.29 26.35 2.17 46.35-8.6zm-77.35 56.55c-9.56 0-17.3-7.32-17.3-16.35s7.75-16.35 17.3-16.35 17.3 7.32 17.3 16.35-7.74 16.31-17.3 16.31zm40.92 0c-9.56 0-17.3-7.32-17.3-16.35s7.75-16.35 17.3-16.35 17.3 7.32 17.3 16.35-7.74 16.31-17.3 16.31z"/><path class="cls-1" d="M130 10a120 120 0 1 0 120 120A120 120 0 0 0 130 10zm71.45 121.6c-5.27 6.45-15.28 14.47-30.63 20.77 16.28 55.34-39.65 64.13-38.79 35.75 0 .51 0-15.21-.05-26.92-1.2-.29-2.47-.63-3.94-1 0 11.79-.05 28.43-.05 27.9.85 28.37-55 19.58-38.8-35.75-15.36-6.29-25.37-14.35-30.64-20.75-2.71-4-.28-8.2 4.13-5.12.6.43 1.32.83 1.32 1.23V70.47A14.75 14.75 0 0 1 78.24 56h103.59c7.35 0 13.17 6.54 13.17 14.47v57.18c0-.38 1.21-.77 1.78-1.18 4.41-3.07 7.38 1.12 4.67 5.13z"/></g>
</g>
<g id="slideshare2" fill-rule="evenodd">
<g><path class="cls-1" d="M44.3 140V48.46c0-15.17 3.86-19.93 17.75-19.93h138.36c13.15 0 17.8 5.65 17.8 19.93v88.72l10.7-7.39V38.66c0-12-9-21.66-20.1-21.66H52.47c-11.08 0-20.1 9.68-20.1 21.66v93.93L44.3 140"/><path class="cls-1" d="M133.52 156.88c0-7.78 3.58-13 14.72-12.43 16.06.5 47.63 4.14 83.23-21.27 6.66-4.65 11 1.68 6.94 7.72-7.95 9.74-23.06 21.83-46.23 31.35 24.57 83.52-59.84 96.78-58.55 54 0 1.23-.11-59.33-.11-59.33"/><path class="cls-1" d="M167.78 151c-11.64 16-25.52 13-41.81-2.07-.43-.4-.84-.76-1.24-1.1-2.26-2.39-6-3.67-11.81-3.38-16.06.5-47.63 4.14-83.23-21.27-6.66-4.65-11 1.68-6.94 7.72 7.95 9.74 23.06 21.83 46.23 31.35-24.52 83.52 59.84 96.78 58.55 54 0 .8 0-24.3.08-42.11 9.82 2.31 13.94 4.44 27.46 1.35A31 31 0 0 0 177 156.71c4.49-10.91-3.23-13.99-9.22-5.71z"/><ellipse class="cls-1" cx="163.14" cy="109.12" rx="26.11" ry="24.68"/><ellipse class="cls-1" cx="101.38" cy="109.12" rx="26.11" ry="24.68"/></g>
</g>
<g id="stairs" fill-rule="evenodd">
<path class="cls-1" d="M20 20v220h220V20zm200 60h-40v40h-40v40h-40v40H40v-20h40v-40h40v-40h40V60h60z"/>
</g>
<g id="stock" fill-rule="evenodd">
<path class="cls-1" d="M90 120l-70 70v40a10 10 0 0 0 10 10h200a10 10 0 0 0 10-10V90l-90 90zM230 20H30a10 10 0 0 0-10 10v120l70-70 60 60 90-90V30a10 10 0 0 0-10-10z"/>
</g>
<g id="substract" fill-rule="evenodd">
<path class="st0" d="M129 10C62.7 10 9 63.7 9 130s53.7 120 120 120 120-53.7 120-120S195.3 10 129 10zm50 130H69v-20h130l-20 20z"/>
</g>
<g id="sun" fill-rule="evenodd">
<g><circle class="cls-1" cx="130.05" cy="130.58" r="70"/><path class="cls-2" d="M258.16 129.14L212 94.65l7.45-57.13-57 8.25L127.3.09 92.81 46.25 35.68 38.8l8.25 57L-1.75 131l46.15 34.49-7.4 57.09 57-8.25L129.11 260l34.49-46.15 57.13 7.45-8.25-57zM128.21 220a89.93 89.93 0 1 1 89.93-90 89.93 89.93 0 0 1-89.93 90z"/></g>
</g>
<g id="supermarket" fill-rule="evenodd">
<path class="cls-1" d="M243.85 90h-52.91c-.63-47-25.34-70-60.94-70-34.45 0-59.41 23-60 70H16.1c-3.85 0-6.55 4.12-6 7.93l19.35 134.94a8.43 8.43 0 0 0 7.93 7.13h184.75a7.89 7.89 0 0 0 7.87-6.64l19.94-135.55c.49-3.81-2.23-7.81-6.09-7.81zM90 200l-20-12.93V140h20zm40-161.39c22.9 0 39.49 13.39 40 51.39H90.94c.47-38 17.31-51.39 39.06-51.39zM140 200l-20-12.93V140h20zm50 0l-20-12.93V140h20z"/>
</g>
<g id="support" fill-rule="evenodd">
<path class="cls-1" d="M240 30H20a10 10 0 0 0-10 10v210l40-40h190a10 10 0 0 0 10-10V40a10 10 0 0 0-10-10zM130 130H50v-20h100zm40-40H50V70h140z"/>
</g>
<g id="tablet" fill-rule="evenodd">
<path class="cls-1" d="M120.23 230a10 10 0 1 1 10 10 10 10 0 0 1-10-10zm-60-190h140v170h-140zm-20-20a10 10 0 0 1 10-10h160a10 10 0 0 1 10 10v220a10 10 0 0 1-10 10h-160a10 10 0 0 1-10-10z"/><path class="cls-1" d="M180.23 80l-100 100V60h100v20z"/>
</g>
<g id="team" fill-rule="evenodd">
<circle class="cls-1" cx="105.41" cy="90.91" r="40.91"/><path class="cls-2" d="M131.77 140a60.33 60.33 0 0 1-26.63 6.15A61.09 61.09 0 0 1 78.33 140C44.95 148 20 177.36 20 212.42V230h170v-17.58c0-35.06-24.88-64.42-58.23-72.42zM161.32 90.91a55.94 55.94 0 0 1-1.19 11.49 36.36 36.36 0 1 0-24-58.2 55.9 55.9 0 0 1 25.19 46.71z"/><path class="cls-2" d="M240 174.38c0-31.17-22.06-57.3-51.7-64.37a53.5 53.5 0 0 1-23.64 5.47 54.89 54.89 0 0 1-8.69-.71 56.13 56.13 0 0 1-9.52 14.07A89.89 89.89 0 0 1 202.12 190H240z"/>
</g>
<g id="telephone" fill-rule="evenodd">
<path class="cls-1" d="M237.24 209.41l-50.78-42.62a6.7 6.7 0 0 0-8.86.37l-7.41 7.41-1.48 1.43-15.28 15.28a143.22 143.22 0 0 1-51.76-33.14 141.33 141.33 0 0 1-33.14-51.77l15.28-15.24 1.47-1.47 7.41-7.41a6.8 6.8 0 0 0 .31-8.94L50.41 22.56a5.38 5.38 0 0 0-8.08-.33l-19.1 19.11a6.18 6.18 0 0 0-1.13 1.13l-2.28 2.28-.06-.05h-.17a184.73 184.73 0 0 0 195.55 195.54l-.07-.21 2.28-2.28 1.13-1.13 19.1-19.11a5.43 5.43 0 0 0-.34-8.1z"/>
</g>
<g id="theater" fill-rule="evenodd">
<g><path class="cls-1" d="M110 10v90c0 50 20 90 70 90s70-40 70-90V10zm35 30a15 15 0 1 1-15 15 15 15 0 0 1 15-15zm35 120a50 50 0 0 1-50-50h20a30 30 0 0 0 60 0h20a50 50 0 0 1-50 50zm35-90a15 15 0 1 1 15-15 15 15 0 0 1-15 15z"/><path class="cls-1" d="M130 210h-20a30 30 0 1 0-60 0H30a50 50 0 0 1 71.51-45.15C94.1 150.88 90 133 90 110V70H10v105c0 45 28 75 70 75 36 0 60-20 60-50a99 99 0 0 1-13.07-7.29A49.89 49.89 0 0 1 130 210zM45 100a15 15 0 1 1-15 15 15 15 0 0 1 15-15z"/></g>
</g>
<g id="ticket" fill-rule="evenodd">
<path class="cls-1" d="M210.07 10H200l-10 10h-10V10h-10l-10 10h-10V10h-10l-10 10h-10V10h-10l-10 10H90V10H80L70 20H60V10H49.93A10 10 0 0 0 40 20v220a10 10 0 0 0 9.93 10H60l10-10h10v10h10l10-10h10v10h10l10-10h10v10h10l10-10h10v10h10l10-10h10v10h10.07a10 10 0 0 0 9.93-10V20a10 10 0 0 0-9.93-10zM70 100h90l-20 20H70zm90 60H70v-20h110zm10-80H70V60h120z"/>
</g>
<g id="ticketoffice" fill-rule="evenodd">
<path class="cls-1" d="M110.6 169.7A79.72 79.72 0 0 1 210 92.47V20a10 10 0 0 0-9.93-10H190l-10 10h-10V10h-10l-10 10h-10V10h-10l-10 10h-10V10h-10L90 20H80V10H70L60 20H50V10H39.93A10 10 0 0 0 30 20v220a10 10 0 0 0 9.93 10H50l10-10h10v10h10l10-10h10v10h10l10-10h10v10h10l2.93-2.93c-15.74-17.69-31.56-43.28-32.29-75.1-.03-.75-.04-1.51-.04-2.27zM60 60h120l-20 20H60zm0 60v-20h70l-20 20z"/><path class="cls-1" d="M190 169.51l5.33-8.08a7.76 7.76 0 0 0 1.63-4.72 7.47 7.47 0 0 0-7.39-7.3h-8.2v47.76h4.54c7.6 0 13.37-4.17 13.37-13.93-.02-8.07-3.75-12.36-9.28-13.73z"/><path class="cls-1" d="M190.3 110a59.7 59.7 0 0 0-59.7 59.7v1.76c1.18 52.72 54.68 86.39 54.68 86.39a9.64 9.64 0 0 0 9.87.07s53.61-33.74 54.79-86.46v-1.76A59.7 59.7 0 0 0 190.3 110zm5.36 93.13h-26.25v-59.7h27.21c12.75 0 17.2 9.93 10.74 19.09l-3.05 4.33c21.39 10.61 14.43 36.28-8.65 36.28z"/>
</g>
<g id="titleview" fill-rule="evenodd">
<path class="cls-1" d="M79.44 80V40h-40v40h40zM150 80V40h-40v40h40zM220 80V40h-40v40h40zM150 150v-40h-40v40h40zM220 150v-40h-40v40h40zM79.44 220v-40h-40v40h40zM150 220v-40h-40v40h40zM79.44 150v-40h-40v40h40zM220 220v-40h-40v40h40z"/>
</g>
<g id="tools" fill-rule="evenodd">
<g><path class="cls-1" d="M246.46 204.24l-62-62-14.17 14.17 63.47 63.47h-28.39l-49.3-49.3-14.17 14.11 62 62a12 12 0 0 0 17 0l25.5-25.5a12 12 0 0 0 .06-16.95zM62.67 77.13l29.34 29.34 14.17-14.17-29.34-29.34 1.42-26.92L21.59 7.7 7.42 21.87l28.33 56.67 26.92-1.41z"/><path class="cls-1" d="M234 104.51c15.23-15.28 19-36.51 12.74-55.77l-34.15 34.15a12.08 12.08 0 0 1-17 0l-18.48-18.45a12.08 12.08 0 0 1 0-17l34.15-34.15C192 7 170.77 10.76 155.49 26A55.47 55.47 0 0 0 142 82.53L13.41 211.1a12.08 12.08 0 0 0 0 17l18.45 18.45a12.08 12.08 0 0 0 17 0L177.47 118A55.47 55.47 0 0 0 234 104.51zM51.56 229.71a15 15 0 1 1 0-21.21 15 15 0 0 1 0 21.21z"/></g>
</g>
<g id="toys" fill-rule="evenodd">
<path class="cls-1" d="M250 55.5V54h-20.72a50.27 50.27 0 1 0-84.81 42.28 139 139 0 0 1-133.54 31.14 108.55 108.55 0 1 0 205.31-33.1 50.21 50.21 0 0 0 9.23-14zm-68.15-14.35a10.39 10.39 0 1 1-10.41 10.39 10.4 10.4 0 0 1 10.41-10.39zM147 180H80l20-20h47z"/>
</g>
<g id="transfer" fill-rule="evenodd">
<path class="cls-1" d="M80 100h80l40-40H80V20L10 80l70 60zm170 80l-70-60v40h-80l-40 40h120v40z"/>
</g>
<g id="transferaccount" fill-rule="evenodd">
<path class="cls-1" d="M219 40H-1v140h220zM29 70h60L69 90H29zm60 90v-20H29l20-20h40v-20l40 30zm150-60v100H39l-20 20h240V80z"/>
</g>
<g id="transfercard" fill-rule="evenodd">
<path class="cls-1" d="M239 40H19a10 10 0 0 0-10 9.93V80h200l-20 20H9v110.07A10 10 0 0 0 19 220h220a10 10 0 0 0 10-9.93V49.93A10 10 0 0 0 239 40zm-50 160v-20h-60l20-20h40v-20l40 30z"/>
</g>
<g id="trash" fill-rule="evenodd">
<path class="cls-1" d="M190.23 220v-90h-20v70zm-50 0v-90h-20v70zm-50 0v-90h-20v70zm-25-190h25v-9.91A10.08 10.08 0 0 1 100.2 10h60.06a10 10 0 0 1 10 10.09V30h70v30h-20v180a10 10 0 0 1-9.93 10H50.17a9.92 9.92 0 0 1-9.93-10V60h-20V30z"/>
</g>
<g id="travel" fill-rule="evenodd">
<g><path class="cls-1" d="M100.15 230H190M244 56h-38.6l.1-30.29c0-3.16-3.29-5.71-6.43-5.71h-87.64c-3.05 0-5.8 2-5.93 5h-.5v31H66a6 6 0 0 0-6 6v122a6 6 0 0 0 6 6h178a6 6 0 0 0 6-6V62a6 6 0 0 0-6-6zM126 40h60v16h-60zm14.5 66H90V86h70.5z"/><path class="cls-1" d="M260 210H40V28.4a8.16 8.16 0 0 0-8.25-8.4H0v20h20v181.27a8.85 8.85 0 0 0 8.73 8.73H60a20 20 0 0 0 40 0h90a20 20 0 0 0 40 0h30z"/></g>
</g>
<g id="turnbox" fill-rule="evenodd">
<path class="cls-1" d="M190.8 10l-43 40.83a25.81 25.81 0 0 1-35.68 0L69.09 10H50v161.56a13.42 13.42 0 0 0 3.64 8.59l69.11 66.94a10.47 10.47 0 0 0 14.48 0l69.11-66.94a13.83 13.83 0 0 0 3.65-8.59V10zM91.53 156.15c-14 0-22.18-11-22.18-27.65s8.21-27.65 22.18-27.65 22.11 11 22.11 27.65-8.07 27.65-22.11 27.65zm49.51 0c-14 0-22.18-11-22.18-27.65s8.21-27.65 22.18-27.65 22.11 11 22.11 27.65-8.07 27.65-22.15 27.65zm49.52-1.15h-11v-42.56l-10 2.45-1.31-9.51 12.12-3.38h10.19z"/><path class="cls-1" d="M141 110.21c-6.91 0-10.51 6.12-10.51 18.29S134.3 147 141 147s10.51-6.34 10.51-18.51-3.81-18.28-10.51-18.28zM91.49 110.21c-6.91 0-10.51 6.12-10.51 18.29S84.79 147 91.49 147 102 140.67 102 128.5s-3.81-18.29-10.51-18.29z"/>
</g>
<g id="tv" fill-rule="evenodd">
<g><path class="cls-1" d="M240.79 39.88h-97.92L179.78 3h-20l-30 30-30-30h-20l36.91 36.91H20.81a10 10 0 0 0-10 10v140a10 10 0 0 0 10 10h220a10 10 0 0 0 10-10v-140a10 10 0 0 0-10.02-10.03zm-10 140H30.8v-120h200z"/><path class="cls-1" d="M180.8 79.97h-130v80h50l80-80zM61 219.88h140v20H61z"/></g>
</g>
<g id="twitter" fill-rule="evenodd">
<path class="cls-1" d="M130 10a120 120 0 1 0 120 120A120 120 0 0 0 130 10zm59.73 91.59c.09 1.24.09 2.48.09 3.71 0 37.8-31 81.35-87.69 81.35a92.09 92.09 0 0 1-47.32-12.84 67.09 67.09 0 0 0 7.44.36A64.78 64.78 0 0 0 100.51 162c-13.55-.27-24.9-8.51-28.81-19.83a40.82 40.82 0 0 0 5.82.45 20.22 20.22 0 0 0 6.15-1C69.55 138.94 57 127.43 57 113.54v-.36c0 2.13 10.84 3.46 15.89 3.64-8.29-5.14-12.75-13.91-12.75-23.82 0-5.32 2-10.18 4.68-14.44C80 95.92 103 107.25 128.62 108.49a29.35 29.35 0 0 1-.64-6.56c0-15.76 13.8-28.58 30.87-28.58a32 32 0 0 1 22.55 9 63.64 63.64 0 0 0 19.6-6.88 28.91 28.91 0 0 1-13.54 15.76 65.49 65.49 0 0 0 17.75-4.42 64.11 64.11 0 0 1-15.48 14.78z"/>
</g>
<g id="twitter2" fill-rule="evenodd">
<path class="cls-1" d="M212.94 91.4c0 52.66-43.19 113.34-122.16 113.34a128.29 128.29 0 0 1-65.93-17.89 93.47 93.47 0 0 0 10.37.5 90.25 90.25 0 0 0 53.29-17c-18.87-.38-34.69-11.85-40.14-27.63a56.86 56.86 0 0 0 8.1.63A48.68 48.68 0 0 0 67.78 142c-19.67-3.69-34.42-19.72-34.42-39.08v-.5a45.87 45.87 0 0 0 19.4 5.07c-11.55-7.15-19.12-19.36-19.12-33.17a37.44 37.44 0 0 1 5.83-20.12c21.14 24.18 52.91 40 88.54 41.69a41 41 0 0 1-1.01-9.18c0-22 19.14-39.82 42.92-39.82a44.43 44.43 0 0 1 31.37 12.57 88.53 88.53 0 0 0 27.25-9.62 40.29 40.29 0 0 1-18.87 22 91.2 91.2 0 0 0 24.73-6.16 89.34 89.34 0 0 1-21.53 20.6c.07 1.67.07 3.39.07 5.12z"/>
</g>
<g id="unfold" fill-rule="evenodd">
<path class="cls-1" transform="rotate(45 151.218 134.646)" d="M141.21 94.64h20v80h-20z"/><path class="cls-1" transform="rotate(45 108.79 134.642)" d="M68.79 124.64h80v20h-80z"/>
</g>
<g id="unlock" fill-rule="evenodd">
<path class="cls-1" d="M120 140h20v80l-20-20zm72.2-92.2A70 70 0 0 0 60 79.91V110H49.93A10 10 0 0 0 40 120.07v119.86A10 10 0 0 0 49.93 250h160.14a10 10 0 0 0 9.93-10.07V120.07a10 10 0 0 0-9.93-10.07H80V79.9A50 50 0 0 1 177 63z"/>
</g>
<g id="upload" fill-rule="evenodd">
<path class="cls-1" d="M10 130A120 120 0 1 0 130 10 120 120 0 0 0 10 130zm182-18.34l-14.26 14.28-37.37-37.5.33 121.56-19.7-20V88.17l-38.4 38.2-14.43-14.26L130.31 50z"/>
</g>
<g id="videochat" fill-rule="evenodd">
<path class="cls-1" d="M240 30H20a10 10 0 0 0-10 9.93V250l40-40h190a10 10 0 0 0 10-9.93V39.93A10 10 0 0 0 240 30zm-40 120l-30-20v20a10 10 0 0 1-10 10H80a10 10 0 0 1-10-10V90a10 10 0 0 1 10-10h80a10 10 0 0 1 10 10v20l30-20z"/>
</g>
<g id="videoplayline" fill-rule="evenodd">
<g><path class="cls-1" d="M130 10a120 120 0 1 0 120 120A120 120 0 0 0 130 10zm0 220a100 100 0 1 1 100-100 100 100 0 0 1-100 100z"/><path class="cls-1" d="M109 184V76l72 54-72 54z"/></g>
</g>
<g id="virtualemail" fill-rule="evenodd">
<path class="cls-1" d="M5.5 130.94c0-69.38 49.69-120.63 123.13-120.63 73.12 0 121.87 48.75 121.87 116.87 0 41.88-22.19 71.25-61.56 71.25-24.69 0-36.25-11.25-41.56-27.81-11.25 11.88-26.25 23.75-49.06 23.75-25.63 0-41.87-17.19-41.87-48.12 0-51.56 27.19-83.75 59.69-83.75 20 0 29.06 7.19 36.25 15.94L154.56 65h38.13l-15.31 93.12c-2.5 12.81 2.5 19.69 17.19 19.69 19.69 0 33.75-17.81 33.75-49.38 0-57.19-39.37-96.56-100-96.56-60.94 0-99.06 40.94-99.06 99.06 0 57.81 36.88 100 97.5 100 23.12 0 42.5-5 58.75-15.94l10.62 15.31c-18.12 12.81-43.44 20-70.94 20C51.44 250.31 5.5 200 5.5 130.94zm134.69 21.88l7.81-48.13c-6.87-7.5-12.81-10.63-22.5-10.63-20.63 0-30.63 24.06-30.63 48.12 0 14.69 4.69 23.12 20 23.12 9.07.01 18.13-5.3 25.32-12.49z"/>
</g>
<g id="virtualreality" fill-rule="evenodd">
<g><path class="cls-1" d="M99.83 150.89a34.89 34.89 0 1 0 59.55-24.67l-24.67 24.67V116a34.89 34.89 0 0 0-34.88 34.89zM96.47 51.68h-6.24V63h6.24c5.28 0 7.81-1.52 7.81-5.73s-2.53-5.59-7.81-5.59z"/><path class="cls-1" d="M140 94V36a6 6 0 0 0-6-6H26a6 6 0 0 0-6 6v58a6 6 0 0 0 6 6h108a6 6 0 0 0 6-6zm-77.48-8h-8.65L39.76 44.88l8.82-1.35 9.72 30.4h.11l9.83-29.72h8.6zm42.6.51l-9.61-16.4h-5.28v15.68h-9V44.21h15.63c10.23 0 16.35 3.65 16.35 12.87 0 6.57-3.09 10.17-8.65 11.86L114 85.12z"/><path class="cls-1" d="M160 75.35v29.73A52.34 52.34 0 1 1 92.48 120H46.54a132 132 0 0 0-16.48 30.89s26.16 78.49 104.66 78.49 104.66-78.49 104.66-78.49S218.93 89.6 160 75.35z"/></g>
</g>
<g id="visualize" fill-rule="evenodd">
<path class="cls-1" d="M130 130V90a40 40 0 1 0 28.28 11.72zm0-90c-90 0-120 90-120 90s30 90 120 90 120-90 120-90-30-90-120-90zm0 150a60 60 0 1 1 60-60 60 60 0 0 1-60 60z"/>
</g>
<g id="walkingdirections" fill-rule="evenodd">
<path class="st0" d="M149 122.3l9.4 18.2 42.7 17L210 130l-30-11-15.3-46.6S158 74.7 157 75c-5.3 1.2-10.9 1.5-16.3.8-4.5-.6-8.8-2-12.7-4.2-1.8-1-8.4-6-8.4-6l-38 19.3L49 124.5l22.4 17.2 23.7-32c.4-.7 16-8.9 16-8.9l-11.9 49.3 42.5 47.4 17.7 52.5h40.2l-24.3-60.6-31.7-44 5.4-23.1zm-4.4-58.2c14.9.1 27.2-11.9 27.3-26.9S160 10.1 145 10s-27.2 11.9-27.3 26.9v.2c0 14.9 12.1 27 26.9 27zM118.5 194l1-2.3-1.7-1.9L98.3 169l-4.2-4.4-2.2 5.7-13.7 35.9.8-1.2-33.5 38.6L40 250h38.7l1.1-1.2 26.5-28 .4-.5.3-.6 11.5-25.7z"/>
</g>
<g id="wallet" fill-rule="evenodd">
<path class="cls-1" d="M230 40H30V26a6 6 0 0 1 6-6h188a6 6 0 0 1 6 6zm20 22v156a12 12 0 0 1-12 12H22a12 12 0 0 1-12-12V62a12 12 0 0 1 12-12h216a12 12 0 0 1 12 12zm-138.57 59H30v82.27a7.76 7.76 0 0 0 7.78 7.73H60zM140 71H37.78A7.75 7.75 0 0 0 30 78.73V101h92.86zm80 69a20 20 0 1 0-20 20 20 20 0 0 0 20-20z"/>
</g>
<g id="watch" fill-rule="evenodd">
<path class="cls-1" d="M210 130a79.83 79.83 0 0 0-30.47-62.8L170 10H90l-9.53 57.2a79.95 79.95 0 0 0 0 125.59L90 250h80l9.53-57.2A79.83 79.83 0 0 0 210 130zm-140 0a60 60 0 1 1 60 60 60 60 0 0 1-60-60z"/>
</g>
<g id="weather" fill-rule="evenodd">
<path class="cls-1" d="M166.18 20.21L155.88 10h-.55v34.93h10.85V20.21zM106 37.88H91.4l-.39.38L115.94 63l7.67-7.6L106 37.88zm143.7 77.45l10.3-10.21v-.54h-35.25v10.75zm-23.83-68.77V32.12l-.39-.38-24.93 24.7 7.67 7.6 17.64-17.48zm-12 62.14c0-29-23.79-52.48-53.14-52.48a53.2 53.2 0 0 0-48.09 30.18c-.19.41-.51 1.35-.69 1.76 18.63 6.85 35 20.54 41.69 37.31a36.57 36.57 0 0 1 11.85-.67c14.6 1 27 7.06 36.18 17.41a51.88 51.88 0 0 0 12.23-33.5zM160.49 240c27.7 0 50.16-22.74 50.16-50.78s-22.46-50.78-50.16-50.78a49.25 49.25 0 0 0-12.49 1.65 71.66 71.66 0 0 0-66.34-45.18C42.08 94.91 10 127.39 10 167.45S42.08 240 81.66 240zm0 0"/>
</g>
<g id="wellness" fill-rule="evenodd">
<path class="cls-1" d="M130 10a120 120 0 1 0 120 120A120 120 0 0 0 130 10zm68.42 110c0 39-68.5 78.29-68.5 78.29S61.42 159 61.42 120h.35a28.05 28.05 0 0 1-.35-4.82 34.25 34.25 0 0 1 68.15-4.84h.69a34.25 34.25 0 0 1 68.15 4.82 28.07 28.07 0 0 1-.35 4.82z"/>
</g>
<g id="withoutlocation" fill-rule="evenodd">
<path class="cls-1" d="M129.83 10a100 100 0 0 0-100 100v3c2 88.3 91.6 144.71 91.6 144.71 4.56 3.09 12 3.1 16.54.12 0 0 89.79-56.52 91.77-144.83v-3a100 100 0 0 0-99.91-100zm49.5 135.36l-14.14 14.14-35.36-35.36-35.35 35.36-14.14-14.14L115.69 110 80.34 74.64 94.48 60.5l35.35 35.36 35.36-35.36 14.14 14.14L144 110z"/>
</g>
<g id="woman" fill-rule="evenodd">
<g><path class="cls-1" d="M109.5 59.4l-30 120h19.83v70h20v-70h20v70h20v-70h20.17l-30-120h-40zM195.7 138.73l-21-79.33h-15.4l20.14 73.82 16.26 5.51zM99.7 59.4H84.3l-21 79.33 16.26-5.51L99.7 59.4zM115.42 43.48a20 20 0 0 0 28.15 0h5.93c0-11 4.06-34.4-20-34.4s-20 23.36-20 34.4z"/></g>
</g>
<g id="womenshoe" fill-rule="evenodd">
<g><path class="cls-1" d="M130 230h120v-8.18a35.31 35.31 0 0 0-19.52-31.58L190 170a34.14 34.14 0 0 1-24.14 10H159a32.77 32.77 0 0 1-28.45-16.51l-13.23-23.16c-11.5-20.13-25.64-58.64-42-75L40 30 11.71 70a12 12 0 0 0-.85 10.63L30 130h20l70.4 95.2a12 12 0 0 0 9.6 4.8z"/><path class="cls-1" d="M30 150h20v80H30z"/></g>
</g>
<g id="word" fill-rule="evenodd">
<path class="cls-1" d="M129.42 117.35c-7.56 0-11.81 6-11.81 15.77s4.25 16.13 11.81 16.13 11.74-6.34 11.74-16.13-4.26-15.77-11.74-15.77zM70 118.77h-4v29h4.16c10.87 0 14.11-4.1 14.11-14.9 0-9.87-3.27-14.1-14.27-14.1z"/><path class="cls-1" d="M160.1 10.77H46.47A6.42 6.42 0 0 0 40 17v227.5a6.41 6.41 0 0 0 6.48 6.27h167.24a6.23 6.23 0 0 0 6.28-6.27V70.77zm-90.73 149H52v-53h17.37c15.84 0 29.31 5.91 29.31 26.14-.01 20.95-13.68 26.86-29.31 26.86zm60 1c-12.89 0-26.21-8.14-26.21-27.65s13.32-27.65 26.21-27.65 26.14 8.14 26.14 27.65-13.28 27.65-26.09 27.65zm55.66 0c-14 0-25-8.14-25-27.65s11.45-27.65 25-27.65c14.54 0 20.31 7.49 22.54 17l-13.61 4c-1.44-5.11-3.46-9.15-9-9.15-7.13 0-10.51 5.83-10.51 15.77s3.53 16.13 10.66 16.13c5.62 0 7.92-3.53 9.58-10.15l13.61 3c-2.56 10.85-8.68 18.7-23.23 18.7z"/>
</g>
<g id="xml" fill-rule="evenodd">
<path class="cls-1" d="M159.7 9.9H46.1c-3.5 0-7 2.8-7 6.3v227.5c0 3.5 3.5 6.3 7 6.3h167.2c3.5 0 5.7-2.8 5.7-6.3V69.9zM86.4 160.7l-10.9-18.2-10.2 17.3H50.8l17.3-28.4L52.9 107l14.2-2 9.2 15.6 8.3-14.7h14.2l-15.4 25.6 16.8 27.3zm74.3-.9h-13v-28.2c-.3 1.1-.7 2.3-1 3.5l-.1.2-8 24.6H127l-8.1-24.9c-.4-1.4-.8-2.5-1.1-3.7V160h-12.3v-54h16.8l10.9 35.9 10.2-35.9h17.2v53.8zm8.7 0v-54h13.4v42.7h21.9l2 11.3z"/>
</g>
<g id="youtube" fill-rule="evenodd">
<g><path class="cls-1" d="M116 149.86l41.41-21.45L116 106.8v43.06z"/><path class="cls-1" d="M130.84 10.39a120 120 0 1 0 120 120 120 120 0 0 0-120-120zM208 135.77a178.53 178.53 0 0 1-2 24.8s-1.73 10.56-6.33 15.21c-5.83 6.11-12.48 6.14-15.47 6.49-21.45 1.55-53.71 1.6-53.71 1.6s-39.88-.36-52.14-1.54c-3.41-.64-11.08-.45-16.91-6.55-4.59-4.65-5-15.21-5-15.21s-.44-12.4-.44-24.8v-11.63c0-12.4.43-24.8.43-24.8s.95-10.56 5.57-15.21a24 24 0 0 1 15.08-7.53C98.5 75 130.4 74 130.4 74h.07s32.17 1 53.62 2.59c3 .36 9.53.91 15.36 7C204 88.26 206 99.08 206 99.08a184.82 184.82 0 0 1 2 25.07z"/></g>
</g>
<g id="youtube2" fill-rule="evenodd">
<path class="cls-1" d="M247.6 86.67s-2.35-16.66-9.54-24c-9.13-9.63-19.35-9.68-24-10.24-33.59-2.45-84-2.45-84-2.45h-.1s-50.38 0-84 2.45c-4.69.56-14.92.61-24 10.24-7.19 7.33-9.54 24-9.54 24A368.31 368.31 0 0 0 10 125.79v18.34a368.23 368.23 0 0 0 2.4 39.12s2.34 16.66 9.54 24c9.13 9.63 21.12 9.32 26.46 10.33C67.6 219.43 130 220 130 220s50.43-.07 84-2.52c4.69-.56 14.92-.61 24-10.24 7.2-7.33 9.54-24 9.54-24a368.69 368.69 0 0 0 2.4-39.12v-18.33a368.76 368.76 0 0 0-2.34-39.12zm-142.38 79.68V98.44l64.85 34.07z"/>
</g>
    </defs>
  </svg>
</iron-iconset-svg>
