<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-template-paper-header-panel-styles.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../cells-template-animation-behavior/cells-template-animation-behavior.html">

<!--

## cells-template-paper-header-panel

__cells-template-paper-header-panel__ contains a header, main, footer and overlay section. It uses the __paper-header-panel__ to have different header and scrolling behaviors.

It includes:

  ```app__header``` - A container element for top app.

  ```app__main``` - A container element main content.

  ```app__footer``` - A container element for bottom app.

  ```app__overlay``` - A container element for overlay all content.

Example cells context: *(view demo for declarative app)*

```html
<cells-template-paper-header-panel></cells-template-paper-header-panel>
```

The __mode__ property is necessary to the different header and scrolling behaviors. See [paper-header-panel](https://elements.polymer-project.org/elements/paper-header-panel).

```html
<cells-template-paper-header-panel mode="standard"></cells-template-paper-header-panel>
```

In the third example, it is used the __tallClass__ property to add a style to header section. This class is used with the __waterfall-tall__ mode.

```html
<cells-template-paper-header-panel mode="waterfall-tall" tall-class="medium-tall"></cells-template-paper-header-panel>
```
In the fourth example, it is used the gradient-transparent property to add a style to header section. This class is used with the seamed mode.

```html
<cells-template-paper-header-panel mode="seamed" gradient-transparent></cells-template-paper-header-panel>
```


## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-template-paper-header-panel-scope      | scope description | default value  |
| --cells-template-paper-header-panel | empty mixin | {} |
| --cells-template-paper-header-panel-app__header | .app__header empty mixin | {} |
| --cells-template-paper-header-panel-app__container | .app__container empty mixin | {} |
| --cells-template-paper-header-panel-app__section | .app__section empty mixin  | {} |
| --cells-template-paper-header-panel-app__main | .app__main empty mixin | {} |
| --cells-template-paper-header-panel-app__footer | .app__footer empty mixin | {} |
| --cells-template-paper-header-panel-paper-header-waterfall-tall | .paper-header empty mixin in waterfall-tall mode | {} |
| --cells-template-paper-header-panel-app__header-background | .app__header background | transparent |
| --cells-template-paper-header-panel-app__main-max-width | .app__main max-width | 768px |
| --cells-template-paper-header-panel-app__main-padding | .app__main padding | 0 |
| --cells-template-paper-header-panel-paper-header-height | .paper-header height in waterfall-tall mode | 100px |
| --app__overlay-zindex | .app__overlay z-index | 0 |
| --cells-template-paper-drawer-panel-overlay | .app__overlay empty mixin | {} |

@demo demo/index.html
@hero cells-template-paper-header-panel.jpg
-->

<dom-module id="cells-template-paper-header-panel">
  <template>
    <style include="cells-template-paper-header-panel-styles cells-template-paper-header-panel-shared-styles cells-template-animation-behavior-styles"></style>
    <paper-header-panel class="flex" mode="[[mode]]" tall-class="[[tallClass]]">
      <header class="app__header paper-header" slot="header" id="app__header">
        <slot name="app__header"></slot>
      </header>
      <section class="app__section" id="app__section">
        <div class="app__main" id="app__main">
          <slot name="app__main"></slot>
        </div>
        <div class="app__footer" id="app__footer">
          <slot name="app__footer"></slot>
        </div>
      </section>
    </paper-header-panel>
    <div class="app__overlay" id="app__overlay">
      <slot name="app__overlay"></slot>
    </div>
  </template>

  <script>
    (function() {

      'use strict';

      Polymer({
        is: 'cells-template-paper-header-panel',

        behaviors: [
          Polymer.CellsTemplateAnimationBehavior
        ],

        properties: {
          /**
           * Controls header and scrolling behavior. Options are 'standard', 'seamed', 'transparent', 'waterfall', 'waterfall-tall', 'scroll' and 'cover'. Default is `standard`. It's necessary to paper-header-panel component.
           * @type {String}
           */
          mode: {
            type: String,
            value: 'standard',
            reflectToAttribute: true
          },

          /**
           * The class used in waterfall-tall mode. Change this if the header accepts a different class for toggling height, e.g. "medium-tall". It's necessary to paper-header-panel component.
           * @type {String}
           */
          tallClass: {
            type: String,
            value: 'tall'
          },

          /**
           * Property to set the header transparent with a gradient.
           * @type {Boolean}
           */
          gradientTransparent: {
            type: String,
            reflectToAttribute: true
          },
          /**
           * Footer height in px.
           * Can be set either by using a custom CSS property (--app__footer-height) or by setting
           * footerHeight. Default value for --app__footer-height is 60px.
           */
          footerHeight: {
            type: Number,
            observer: '_updateFooterHeight'
          },
          /**
           * Set to true if the template has footer or coexists with a external footer
           */
          hasFooter: {
            type: Boolean,
            value: false,
            reflectToAttribute: true
          }
        },

        _updateFooterHeight: function(footerHeight) {
          this.updateStyles({'--app__footer-height': footerHeight + 'px'});
        }

      });

    }());
  </script>
</dom-module>
