<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>cells-glomo-dashboard-manager demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../../polymer/polymer.html" />
    <link rel="import" href="../cells-glomo-dashboard-manager.html"/>
    <link rel="import" href="../../cells-demo-helper/cells-demo-helper.html">
    <link rel="import" href="../../cells-demo-dm-helper/cells-demo-dm-helper.html">
  </head>

  <body unresolved ontouchstart>
    <cells-demo-helper
      breakpoints='{ "desktop": { "width": 1200, "height": 800, "name": "desktop" } }'
      resolution="desktop"
      events='["set-banks"]'>
      <cells-demo-case heading="Default">
        <template>
          <template is="dom-bind" id="demo">
            <cells-demo-dm-helper
              loading-data="[[loadingData]]"
              json-data="[[response]]"
              on-get-deposits="getDmDeposits"
              on-get-deposits-balances="getDmBalances"
              dm-methods="[[dmMethods]]">
            </cells-demo-dm-helper>

            <cells-glomo-dashboard-manager id="dm"
              host="https://bbvalabs.com:8001"
              deposits="{{response}}"
              balances="{{response}}"
              on-deposits-changed="setLoading">
            </cells-glomo-dashboard-manager>
          </template>
          <script>
            (function(demo) {
              demo.dmMethods = [
                {
                  'event': 'get-deposits',
                  'label': 'Get Deposits',
                  'method': 'getDeposits()'
                }
              ];

              demo.getDmDeposits = function() {
                demo.loadingData = true;
                demo.$.dm.getDeposits();
              };

              demo.setLoading = function() {
                demo.loadingData = false;
                demo.loading = false;
              };

            }(document.getElementById('demo')));
          </script>
        </template>
      </cells-demo-case>
    </cells-demo-helper>
  </body>
</html>