@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  opacity: 0;
  will-change: opacity;
  transition: opacity 150ms linear;
  position: fixed;
  top: rem(60px);
  height: 100%;
  left: 0;
  width: 100%;
  pointer-events: none;
  @apply(--cells-skeleton-cards-page);
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:host([visible]) {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0s;
  @apply(--cells-skeleton-cards-page-visible);
}

.wrapper {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255,0));
    transform: translate3d(100%, 0, 0) skewX(160deg);
    animation: progress 2s ease-in-out 1.3s infinite;
    @apply(--cells-skeleton-cards-page-wrapper-anim);
  }

  @apply(--cells-skeleton-cards-page-wrapper);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  z-index: 1;
  position: relative;
  @apply(--cells-skeleton-cards-page-list);
}

.list-item {
  flex: 0 0 100%;
  transform: translateY(100vh);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 800ms;
  transition-delay: 150ms;
  will-change: transform;
  @apply(--cells-skeleton-cards-page-list-item);
}

:host([visible]:not([no-entry-animation])) .list-item {
  @for $i from 1 through 6 {
    &:nth-of-type(#{$i}) {
      transition-delay: calc(var(--cells-skeleton-cards-page-list-item-delay, 70ms) * #{$i - 1});
    }
  }
  @apply(--cells-skeleton-cards-page-list-item-anim);
}

@media (min-width: 576px) and (max-width: 991px) {
  .list-item {
    flex-basis: 50%;
    @apply(--cells-skeleton-cards-page-medium-list-item);
  }
}

@media (min-width: 992px) {
  .list-item {
    flex-basis: 25%;
    @apply(--cells-skeleton-cards-page-large-list-item);
  }
}

:host([visible]) .list-item {
  transform: translateY(0);
  @apply(--cells-skeleton-cards-page-visible-list-item);
}

.card {
  padding: 2rem 0;
  margin: 0 1rem 1rem;
  background-color: var(--cells-skeleton-cards-page-card-bg-color, #004481);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(0, 68, 129, 0.5), rgba(0, 68, 129, 0));
    transform: translate3d(100%, 0, 0) skewX(160deg);
    animation: progress 2s ease-in-out 1.3s infinite;
    @apply(--cells-skeleton-cards-page-card-anim);
  }
  @apply(--cells-skeleton-cards-page-card);
}

.box {
  width: 45%;
  height: rem(18px);
  background-color: var(--cells-skeleton-cards-page-box-bg-color, #1464A5);
  margin: 0 -5px;
  transform: skewX(160deg);
  @apply(--cells-skeleton-cards-page-box);
}

@keyframes progress {
  0% {
    transform: translate3d(100%, 0, 0) skewX(160deg);
  }
  100% {
    transform: translate3d(-100%, 0, 0) skewX(160deg);
  }
}

.header,
.title,
.content-top,
.content-bottom {
  display: flex;
  justify-content: center;
  overflow: hidden;
  @apply(--cells-skeleton-cards-page-blocks);
}

.header {
  padding: 0.9375rem 1.25rem;
  justify-content: flex-start;

  .box {
    background-color: var(--cells-skeleton-cards-page-header-box-bg-color, #E9E9E9);
    height: rem(15px);
    @apply(--cells-skeleton-cards-page-header-box);
  }
  @apply(--cells-skeleton-cards-page-header);
}

.title {
  margin-bottom: rem(12px);

  .box {
    width: 55%;
    height: rem(18px);
    @apply(--cells-skeleton-cards-page-title-box);
  }
  @apply(--cells-skeleton-cards-page-title);
}

.content {
  &-top {
    margin-bottom: rem(4px);

    .box {
      width: 20%;
      height: rem(14px);
      @apply(--cells-skeleton-cards-page-content-top-box);
    }
    @apply(--cells-skeleton-cards-page-content-top);
  }
  &-bottom {
    margin-bottom: rem(6px);

    .box {
      height: rem(22px);
      @apply(--cells-skeleton-cards-page-content-bottom-box);
    }
    @apply(--cells-skeleton-cards-page-content-bottom);
  }
  @apply(--cells-skeleton-cards-page-content);
}
