<dom-module id="cells-iron-transactions-list-styles"><template><style>
:host {
  display: block;
  position: relative;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  --cells-skeleton-loading-page-visible: { background: var(--cells-iron-transactions-list-skeleton-bg-color, var(--bbva-white, #fff)); @apply(--cells-iron-transactions-list-skeleton-visible); };
  @apply (--cells-iron-transactions-list); }

:host([hidden]), [hidden] {
  display: none; }

*, *:before, *:after {
  box-sizing: inherit; }

cells-skeleton-loading-page.skeleton {
  position: absolute;
  top: 0;
  @apply (--cells-iron-transactions-list-skeleton-loading-page); }

cells-atom-subheader {
  padding: 0.9375rem 1.25rem;
  @apply (--cells-iron-transactions-list-atom-subheader); }

.error {
  margin: auto;
  margin-top: 2em;
  @apply (--cells-iron-transactions-list-error); }

.empty {
  margin: auto;
  margin-top: 2em;
  @apply (--cells-iron-transactions-list-empty); }

cells-icon-message {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  @apply (--cells-iron-transactions-list-messages); }

</style></template></dom-module>