<link rel="import" href="../cells-atom-subheader/cells-atom-subheader.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../cells-icon-message/cells-icon-message.html">
<link rel="import" hreF="../cells-product-item/cells-product-item.html">
<link rel="import" href="../cells-skeleton-loading-page/cells-skeleton-loading-page.html">
<link rel="import" href="../iron-list/iron-list.html">
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-iron-transactions-list-styles.html">
<!--
`<cells-iron-transactions-list>` is a component that shows a list of transactions with `<iron-list>`.

This component has the component `cells-product-item` for show a transactions list. for his use, it´s neccessary to set the property transactions with data JSON.

```
[{
  name: 'Amazon Product 1',
  description: {
    value: '0000123173568',
    masked: true,
    content: 'Cuenta Infinita'
  },
  primaryAmount: {
    amount: 123.32,
    currency: 'EUR'
  }
},
{
  name: 'Amazon Product 2',
  description: {
    value: '0000123103827',
    masked: true,
    content: 'Cuenta Infinita'
  },
  primaryAmount: {
    amount: 23.44,
    currency: 'EUR'
  }
}]
```

__Example with header:__

```html
<cells-iron-transactions-list header="transactions"></cells-iron-transactions-list>
```

It´s possible add other container or element to show scroll instead of `iron-list` with the properties `scrollTarget` and `scrollTargetType`.

In `scrollTarget` use the component that will have the scroll and in `scrollTargetType` set the type of selector `attribute | id | class`

__Example with scrollTarget__

```html
<div class="target">
  <cells-iron-transactions-list scroll-target="target" scroll-target-type="class"></cells-iron-transactions-list>
</div>
```


## Styling

The following custom properties and mixins are available for styling:

| Custom property                                      | Description             | Default    |
|:-----------------------------------------------------|:------------------------|:----------:|
| --cells-iron-transactions-list                       | Mixin applied to :host  | {}         |
| --cells-iron-transactions-list-skeleton-bg-color     | Background color for skeleton   | #fff       |
| --cells-iron-transactions-list-skeleton-visible      | Extends --cells-skeleton-loading-page-visible  | #fff       |
| --cells-iron-transactions-list-skeleton-loading-page | Mixin applied to .skeleton  | {}       |
| --cells-fontDefault                                  | Font family of :host    | sans-serif |
| --cells-iron-transactions-list-error                 | mixin applied to error  |  |
| --cells-iron-transactions-list-messages              | mixin applied to the messages   |  |
| --cells-iron-transactions-list-empty                 | mixin applied to empty case  | |

@demo demo/index.html
@hero cells-iron-transactions-list.png
@composer
@description displays Movements information.
@type UI
@platforms android, ios, desktop
@family cells-catalog-distributors-family
-->
<dom-module id="cells-iron-transactions-list">
  <template>
    <style include="cells-iron-transactions-list-styles cells-iron-transactions-list-shared-styles"></style>

    <div id="loadingContainer" class="content-loading">
      <slot name="skeleton">
        <cells-skeleton-loading-page no-entry-animation class="skeleton" visible="[[loading]]" repeat="3"></cells-skeleton-loading-page>
      </slot>
    </div>

    <div hidden$="[[loading]]">
      <cells-atom-subheader hidden$="[[!header]]">
        <span class="heading" slot="heading">[[t(header, header)]]</span>
      </cells-atom-subheader>
    </div>
    <div class="error" id="errorMessage" hidden$="[[!error]]">
      <slot name="slot-error-message">
        <cells-icon-message
          class="inline"
          message="[[t(errorMessage, errorMessage)]]"
          type="[[typeError]]"
          icon="[[iconError]]"
          icon-size="[[iconSize]]">
        </cells-icon-message>
      </slot>
    </div>

    <div class="error" id="emptyMessage" hidden$="[[!_dataEmpty]]">
      <slot name="slot-empty-message">
        <cells-icon-message
          class="inline"
          message="[[t(emptyMessage, emptyMessage)]]"
          type="[[typeEmpty]]"
          icon="[[iconEmpty]]"
          icon-size="[[iconSize]]">
        </cells-icon-message>
      </slot>
    </div>

    <iron-list id="ironList"
      hidden$="[[!_ironListVisibility]]"
      scroll-target="[[_scrollTarget]]"
      items="[[transactions]]"
      scroll-offset="[[_requiredNumber(scrollOffset)]]"
      as="transaction">
      <template>
        <div>
          <cells-product-item
            name="[[transaction.name]]"
            description="[[transaction.description]]"
            primary-amount="[[transaction.primaryAmount]]"
            scale="[[scale]]"
            local-currency="[[localCurrency]]"
            on-tap="_onItemTap">
          </cells-product-item>
        </div>
      </template>
    </iron-list>
  </template>
  <script src="cells-iron-transactions-list.js"></script>
</dom-module>
