<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-collapse/iron-collapse.html">
<link rel="import" href="../cells-atom-icon/cells-atom-icon.html">
<link rel="import" href="../cells-atom-amount/cells-atom-amount.html">
<link rel="import" href="cells-accordion-step-styles.html">

<!--
`cells-accordion-step` is a component for a collapsable step. Each instance of the component contains a header with a title, an optional text placed at the right side of the header, and a content of the step.

The optional text can show information about the validation state, the step result (eg: selected account) or if the step is optional.

Long step titles are automatically trimmed.

The content placed inside the tag is shown/hidden when the user taps or click the step title. This content is hidden by default unless the `opened` attribute is used.

If the component has siblings of its same type, each component instance will show step icons in the left part of the header.
The component automatically shows the appropiate step icon (first step, last step, or intermediate one).

`disabled` property can be used to prevent the element from being focusable and opened/closed. `disabledKeyPress` just prevents keyboard toggling.

__Examples:__

Three components.
First one will show a "first" step icon, last one will show a "last" step icon.
Second component has no secondary text (message), and is disabled.
Third component has another component as content.
```html
<cells-accordion-step title="Step title" message="Optional message">
    <p>Step contents</p>
</cells-accordion-step>
<cells-accordion-step title="Step title specially long" message="" disabled>
    <p>Step contents</p>
</cells-accordion-step>
<cells-accordion-step title="Step with a dropdown" message="Optional message">
    <cells-molecule-dropdown id="dropdown"></cells-molecule-dropdown>
</cells-accordion-step>
```

Single component. As it has no siblings, it won't show any icon:
```html
<cells-accordion-step title="Step title" message="Optional message">
    <p>Step contents</p>
</cells-accordion-step>
```

Two components:
First one will show a "first" step icon, last one will show a "last" step icon.
```html
<cells-accordion-step title="Step title" message="Optional message">
    <p>Step contents</p>
</cells-accordion-step>
<cells-accordion-step title="Step title" message="Optional message">
    <p>Step contents</p>
</cells-accordion-step>
```

With amount:
```html
<cells-accordion-step title="Step title" is-amount amount="12345" currency-code="EUR">
    <p>Step contents</p>
</cells-accordion-step>
<cells-accordion-step title="Step title" is-amount amount="12.3" currency-code="EUR">
    <p>Step contents</p>
</cells-accordion-step>
<cells-accordion-step title="Step title" is-amount amount="666" currency-code="GBP">
    <p>Step contents</p>
</cells-accordion-step>
```

With validation:
```html
<cells-accordion-step title="Step title" message="Required" has-validation is-valid>
    <p>Step contents</p>
</cells-accordion-step>
<cells-accordion-step title="Step title" is-amount amount="12345" currency-code="EUR" has-validation>
    <p>Step contents</p>
</cells-accordion-step>
<cells-accordion-step title="Step title" is-amount amount="12345" currency-code="EUR" has-validation is-valid>
    <p>Step contents</p>
</cells-accordion-step>
```

With item initially opened:
```html
<cells-accordion-step title="Step title" is-amount amount="12345" currency-code="EUR" opened>
    <p>Step initially visible</p>
</cells-accordion-step>
<cells-accordion-step title="Step title" is-amount amount="12.3" currency-code="EUR">
    <p>Step contents</p>
</cells-accordion-step>
<cells-accordion-step title="Step title" is-amount amount="666" currency-code="GBP">
    <p>Step contents</p>
</cells-accordion-step>
```

## Icons

Since this component uses icons, it will need an [iconset](https://bbva.cellsjs.com/guides/best-practices/cells-icons.html) in your project as an [application level dependency](https://bbva.cellsjs.com/guides/advanced-guides/application-level-dependencies.html). In fact, this component uses an iconset in its demo.

## Styling

__Notice: The component is using the `font-family` from `cells-coronita-theme` in the demo__

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------| :-------------:|
| --cells-fontDefault | font family of :host     | sans-serif |
| --cells-fontSecondary | font family of message    | sans-serif |
| --cells-accordion-step | Mixin applied to :host     | {} |
| --cells-accordion-step-bg-color | Background color of :host     | #fff |
| --cells-accordion-step-disabled | Mixin applied when :host is disabled  | {} |
| --cells-accordion-step-disabled-header | Mixin applied to header when :host is disabled  | {} |
| --cells-accordion-step-disabled-header-bg-color | Background color of header when :host is disabled  | #fff |
| --cells-accordion-step-disabled-title | Mixin applied to title of header when :host is disabled  | {} |
| --cells-accordion-step-disabled-title-color | Color of title when :host is disabled  | #dbdcdf |
| --cells-accordion-step-disabled-message | Mixin applied to message when :host is disabled  | {} |
| --cells-accordion-step-disabled-message-color | Color of message when :host is disabled  | {} |
| --cells-accordion-step-disabled-icons | Mixin applied to icons when :host is disabled  | {} |
| --cells-accordion-step-disabled-icons-color | Color of icons when :host is disabled  | {} |
| --cells-accordion-step-opened | Mixin applied to :host when opened     | {} |
| --cells-accordion-step-opened-header-bg-color | Background color of header when opened     | #fff |
| --cells-accordion-step-opened-header | Mixin applied to header when opened     | {} |
| --cells-accordion-step-opened-title-color | Color of title when opened     | #121212 |
| --cells-accordion-step-opened-title | Mixin applied to title when opened     | {} |
| --cells-accordion-step-opened-icons-color | Color of icons when opened     | #121212 |
| --cells-accordion-step-opened-icons | Mixin applied to icons when opened     | {} |
| --cells-accordion-step-opened-icon-right-color | Color of right icon when opened     | #2a86ca |
| --cells-accordion-step-opened-icon-right | Mixin applied to right icon when opened     | {} |
| --cells-accordion-step-invalid | Mixin applied to invalid step    | {} |
| --cells-accordion-step-invalid-message-color | Color of invalid message    | #9D004A |
| --cells-accordion-step-invalid-message | Mixin applied to invalid message     | {} |
| --cells-accordion-step-valid | Mixin applied to valid step    | {} |
| --cells-accordion-step-valid-message-color | Color of valid message    | #347201 |
| --cells-accordion-step-valid-message | Mixin applied to valid message     | {} |
| --cells-accordion-step-header | Mixin applied to header     | {} |
| --cells-accordion-step-header-focusable | Mixin applied to header when focused     | {} |
| --cells-accordion-step-header-unfocusable | Mixin applied to header when not focused     | {} |
| --cells-accordion-step-lefticons | Mixin applied to left icons     | {} |
| --cells-accordion-step-icons-color | Color of left icons     | #121212 |
| --cells-accordion-step-icons | Mixin applied to left icons     | {} |
| --cells-accordion-step-icon-firstlast | Mixin applied to first and last left icons (iconFirst and iconLast)     | {} |
| --cells-accordion-step-icon-middle | Mixin applied to middle icons (iconMid)     | {} |
| --cells-accordion-step-icon-right-color | Color of right icon     | #2a86ca |
| --cells-accordion-step-icon-right | Mixin applied to right icon     | {} |
| --cells-accordion-step-title-color | Color of title     | #121212 |
| --cells-accordion-step-title | Mixin applied to title     | {} |
| --cells-accordion-step-message-color | Color of message     | #717780 |
| --cells-accordion-step-message | Mixin applied to message     | {} |
| --cells-accordion-step-message-amount | Mixin applied to message's cells-atom-amount     | {} |
| --cells-accordion-step-content | Mixin applied to opened content     | {} |
| --cells-accordion-step-content-before-after | Mixin applied to opened content ::before and ::after     | {} |
| --cells-accordion-step-content-before | Mixin applied to opened content ::before     | {} |
| --cells-accordion-step-content-after | Mixin applied to opened content ::after     | {} |


@demo demo/index.html
@hero cells-accordion-step.png
-->
<dom-module id="cells-accordion-step">
  <template>
    <style include="cells-accordion-step-styles cells-accordion-step-shared-styles"></style>
    <header class="header js-button" role="button" tabindex$="[[_disabledFocus]]" aria-disabled$="[[disabled]]" role="button" aria-controls="collapse" aria-expanded="false">
      <div class="step-icons-wrapper" aria-hidden="true">
        <cells-atom-icon icon="[[iconFirst]]" class="icon icon--top"></cells-atom-icon>
        <cells-atom-icon icon="[[iconMid]]" class="icon icon--middle"></cells-atom-icon>
        <cells-atom-icon icon="[[iconLast]]" class="icon icon--bottom"></cells-atom-icon>
      </div>
      <span class="title">[[title]]</span>
      <small class="message" hidden$="[[isAmount]]">{{message}}</small>
      <cells-atom-amount class="message" hidden$="[[!isAmount]]" amount="[[amount]]" currency-code="[[currencyCode]]"></cells-atom-amount>
      <cells-atom-icon hidden$="[[!iconRight]]" icon="[[iconRight]]" class="icon icon--right"></cells-atom-icon>
    </header>

    <iron-collapse id="collapse" opened$="[[opened]]">
      <div class="js-content content">
        <slot></slot>
      </div>
    </iron-collapse>
  </template>
  <script src="cells-accordion-step.js"></script>
</dom-module>
