@import "bower_components/cells-sass/main";

@include reset(h1);

:host([hidden]), [hidden] {
  display: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:host {
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-family: var(--cells-fontDefault, sans-serif);
  background-color: var(--cells-accordion-step-bg-color, #fff);
  @apply(--cells-accordion-step);
}

:host([disabled]) {
  @apply(--cells-accordion-step-disabled);

  .header {
    background-color: var(--cells-accordion-step-disabled-header-bg-color, #fff);
    @apply(--cells-accordion-step-disabled-header);
  }
  .title {
    font-weight: lighter;
    color: var(--cells-accordion-step-disabled-title-color, #dbdcdf);
    @apply(--cells-accordion-step-disabled-title);
  }
  .message {
    color: var(--cells-accordion-step-disabled-message-color, #dbdcdf);
    @apply(--cells-accordion-step-disabled-message);
  }
  .icon {
    color: var(--cells-accordion-step-disabled-icons-color, #dbdcdf);
    @apply(--cells-accordion-step-disabled-icons);
  }
}

:host([icon-first]) {

  .step-icons-wrapper {
    align-items: flex-end;
  }
  .icon--top {
    display: inline-flex;
    justify-content: center;
  }
  .icon--middle,
  .icon--bottom {
    display: none;
  }
}

:host([icon-last]) {

  .step-icons-wrapper {
    align-items: flex-start;
  }
  .icon--bottom {
    display: inline-flex;
    justify-content: center;
  }
  .icon--middle,
  .icon--top {
    display: none;
  }
}

:host(.is-open) {
  @apply(--cells-accordion-step-opened);

  .header {
    background-color: var(--cells-accordion-step-opened-header-bg-color, #fff);
    @apply(--cells-accordion-step-opened-header);
  }
  .title{
    font-weight: 700;
    color: var(--cells-accordion-step-opened-title-color, #121212);
    @apply(--cells-accordion-step-opened-title);
  }
  .message {
    display: none;
  }
  .icon {
    color: var(--cells-accordion-step-opened-icons-color, #121212);
    @apply(--cells-accordion-step-opened-icons);
    &--right {
      color: var(--cells-accordion-step-opened-icon-right-color, #2a86ca);
      @apply(--cells-accordion-step-opened-icon-right);
    }
  }
}

:host([has-validation]:not(.is-valid)) {
  @apply(--cells-accordion-step-invalid);

  .message {
    color: var(--cells-accordion-step-invalid-message-color, #9D004A);
    font-weight: bolder;
    @apply(--cells-accordion-step-invalid-message);
  }
}
:host(.is-valid) {
  @apply(--cells-accordion-step-valid);

  .message {
    color: var(--cells-accordion-step-valid-message-color, #347201);
    @apply(--cells-accordion-step-valid-message);
  }
}

.iron-collapse-opened {
  visibility: visible;
  overflow: visible;
}

.iron-collapse-closed {
  visibility: collapse;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: rem(80px);
  font-size: rem(13px);
  line-height: rem(18px);
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #fff;
  transition: all .2s;
  @apply(--cells-accordion-step-header);

  &[tabindex="0"] {
    cursor: pointer;
    @apply(--cells-accordion-step-header-focusable);
  }
  &[tabindex="-1"] {
    outline: none;
    @apply(--cells-accordion-step-header-unfocusable);
  }
}

.step-icons-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  padding: rem(20px) rem(10px) rem(20px) rem(15px);
  box-sizing: border-box;
  @apply(--cells-accordion-step-lefticons);
}

.icon {
  color: var(--cells-accordion-step-icons-color, #121212);
  width: rem(20px);
  height: auto;
  text-align: center;
  @apply(--cells-accordion-step-icons);

  &--top,
  &--bottom {
    display: none;
    @apply(--cells-accordion-step-icon-firstlast);
  }
  &--middle {
    @apply(--cells-accordion-step-icon-middle);
  }
  &--right {
    width: rem(40px);
    margin-right: rem(30px);
    color: var(--cells-accordion-step-icon-right-color, #2a86ca);
    @apply(--cells-accordion-step-icon-right);
  }
}
.title {
  flex: 4;
  text-overflow: ellipsis;
  font-weight: normal;
  font-size: rem(18px);
  color: var(--cells-accordion-step-title-color, #121212);
  @apply(--cells-accordion-step-title);
}
.message {
  flex: 1;
  text-align: right;
  font-family: var(--cells-fontSecondary, sans-serif);
  font-weight: normal;
  font-size: 100%;
  padding-right: rem(12px);
  color: var(--cells-accordion-step-message-color, #717780);
  @apply(--cells-accordion-step-message);
}

cells-atom-amount {
  padding-right: 0;
  @apply(--cells-accordion-step-message-amount);
}

.content {
  border: 1px solid #E9E9E9;
  border-width: 1px 0;
  margin: 0 rem(15px);
  padding: rem(30px) 0 rem(45px);
  position: relative;
  overflow: hidden;
  @apply(--cells-accordion-step-content);
}

.content::before, .content::after {
  content: " ";
  display: block;
  width: 150%;
  height: 100px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  border-radius: 50%;
  @apply(--cells-accordion-step-content-before-after);
}

.content::before {
  top: -62%;
  box-shadow: 0 5px 15px 2px rgba(0,0,0,0.1);
  @apply(--cells-accordion-step-content-before);
}

.content::after {
  top: 102%;
  box-shadow: 0 -2px 15px 2px rgba(0, 0, 0, 0.1);
  @apply(--cells-accordion-step-content-after);
}
