<dom-module id="cells-product-card-light-dom-styles">
  <template>
    <style>
      .card-icon-link {
        font-size: 15px;
        @apply(--cells-fontDefaultMedium);
      }

      cells-product-card[row-layout] .card-icon-link {
        flex-direction: row-reverse;
        justify-content: flex-start;
        --cells-molecule-link-icon-label: {
          margin-right: 0.5rem;
        };
      }

      .card-button {
        min-height: initial;
        border: 0;
        padding: 0;
        background-color: transparent;
        color: var(--bbva-medium-blue);
      }

      .message-ok {
        @apply(--cells-fontDefaultMediumItalic);
        color: var(--bbva-green);
        font-size: 12px;
        display: flex;
        align-items: center;
      }

      .message-ok cells-atom-icon { margin-right: 4px; }

      cells-product-card[row-layout] .message-ok {
        position: absolute;
        top: 12px;
        right: 20px;
      }
    </style>
  </template>
</dom-module>
