<dom-module id="cells-select-item-styles"><template><style>
:host {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 0.625rem*2);
  height: auto;
  margin: 0 0.625rem;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  font-family: var(--cells-fontDefault, sans-serif);
  font-weight: 400;
  font-size: 1rem;
  color: var(--cells-select-item-color, var(--bbva-500, #666));
  letter-spacing: -0.19px;
  text-align: left;
  border-top: 1px solid var(--cells-select-item-border-top-color, #E5E5E5);
  @apply --cells-select-item; }
  :host:last-child {
    border-bottom: none;
    @apply --cells-select-item-lastchild; }
  :host + :host {
    @apply --cells-select-item-sibling; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  box-sizing: inherit; }

p {
  margin: 0; }

:host(.custom) {
  @apply --cells-select-custom; }
  :host(.custom) .title {
    @apply --cells-select-custom-title; }
  :host(.custom) .icon {
    @apply --cells-select-custom-icon; }

.icon {
  vertical-align: sub;
  @apply --cells-select-icon; }

:host-context(.header) {
  padding: 0;
  border-top: 0;
  list-style: none;
  line-height: 1rem;
  @apply --cells-select-item-inheader; }
  :host-context(.header) .title {
    padding-left: 0;
    @apply --cells-select-item-inheader-title; }
  :host-context(.header) .icon {
    @apply --cells-select-item-inheader-icon; }
  :host-context(.header):host(:focus)::before {
    opacity: 0; }

:host([selected]) {
  color: var(--cells-select-item-selected-color, var(--bbva-600, #121212));
  @apply --cells-select-item-selected; }

:host([selected])::before, :host(:focus)::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--cells-select-item-selected-before-bg-color, transparent);
  border-top: 64px solid var(--cells-select-item-selected-before-border-top-color, var(--bbva-200, #e9e9e9));
  border-right: 8.5px solid transparent;
  padding-right: 20px;
  margin-left: -10px;
  @apply --cells-select-item-selected-before; }

:host(:hover) {
  @apply --cells-select-item-hover; }

:host(:hover):before {
  @apply --cells-select-item-hover-before; }

:host(:focus) {
  outline: none;
  @apply --cells-select-item-focused; }

.title {
  padding-left: 0.625rem;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  @apply --cells-select-item-title; }

.description:not(:empty) {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 30px 0 0;
  text-align: right;
  color: var(--cells-select-item-description-color, #434A58);
  @apply --cells-select-item-description; }

</style></template></dom-module>