<dom-module id="cells-select-styles"><template><style>
:host {
  display: block;
  position: relative;
  font-family: var(--cells-fontDefault, sans-serif);
  box-sizing: border-box;
  border-radius: 1px;
  color: var(--cells-select-color, var(--bbva-600, #121212));
  background-color: var(--cells-select-bg-color, var(--bbva-100, #F4F4F4));
  @apply --cells-select; }

/**
 * Empty mixins to set outline for :focus and :active states.
 * These mixins are meant to be set in an application's theme.
 * --cells-global-focus, --cells-global-active
 */
:host(:focus) {
  @apply --cells-global-focus; }

:host(:active) {
  @apply --cells-global-active; }

:host([opened]) {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  @apply --cells-select-opened; }

:host([disabled]) {
  @apply --cells-select-disabled; }
  :host([disabled]) .header {
    opacity: 0.5;
    cursor: default;
    color: var(--cells-select-disabled-header-color, var(--bbva-500, #666));
    @apply --cells-select-disabled-header; }
    :host([disabled]) .header__icon {
      color: var(--cells-select-disabled-header-icon-color, var(--bbva-400, #bdbdbd)); }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  box-sizing: inherit; }

p {
  margin: 0; }

.header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2.25rem;
  height: 3.75rem;
  padding: 0 1.25rem;
  border-radius: 1px;
  cursor: pointer;
  @apply --cells-select-header; }
  .header__icon {
    width: 2.6rem;
    height: 100%;
    color: var(--cells-select-header-icon-color, var(--bbva-medium-blue, #2A86CA));
    @apply --cells-select-header-icon; }

.header-texts {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  @apply --cells-select-headertexts; }

.label {
  margin-bottom: 5px;
  font-size: 0.75rem;
  line-height: 0.75rem;
  color: var(--cells-select-label-color, var(--bbva-500, #666));
  @apply --cells-select-label; }

.placeholder {
  width: 100%;
  margin: 0;
  font-size: 1rem;
  line-height: 1rem;
  text-align: left;
  color: var(--cells-select-placeholder-color, var(--bbva-600, #121212));
  @apply --cells-select-placeholder; }

.options {
  width: 100%;
  max-height: 12.5rem;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  z-index: 1;
  cursor: pointer;
  font-size: 1rem;
  line-height: 4rem;
  @apply --cells-select-options; }
  .options__item {
    @apply --cells-select-options-item; }

</style></template></dom-module>