<link rel="import" href="../polymer/polymer.html">


<link rel="import" href="../../../components/cells-atom-icon/cells-atom-icon.html">
<link rel="import" href="../../../components/cells-button-group/cells-button-group.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../../components/wombat-video-carousel/wombat-video-carousel.html">
<link rel="import" href="../../../components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../../../components/cells-product-summary/cells-product-summary.html">
<link rel="import" href="../../../components/cells-navigation-bar/cells-navigation-bar.html">

<link rel="import" href="../../../components/product-card/product-card.html">
<link rel="import" href="../../../components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../../components/iron-icon/iron-icon.html">

<link rel="import" href="..//cajeros/cajeros-ui.html">

<link rel="import" href="../../../components/cells-iron-transactions-list/cells-iron-transactions-list.html">
<link rel="import" href="../../../components/cells-molecule-group-transactions-list/cells-molecule-group-transactions-list.html">
<link rel="import" href="../../../components/cells-i18n-behavior/cells-i18n-behavior.html">

<!--
`<cells-myb-period-balances>` description.

Example:

```html
<cells-myb-period-balances></cells-myb-period-balances>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-myb-period-balances-scope      | scope description | default value  |
| --cells-myb-period-balances  | empty mixin     | {}             |

@demo demo/index.html
-->
<dom-module id="new-contract">
  <template>
  <style>

  .blue {
    --cells-navigation-bar-background-color: #3296F1;
    --cells-navigation-bar-link-color: #fff;
    --cells-navigation-bar: {
      border-top: none;
    };
    --cells-navigation-bar-link-active: {
      background-color: #256CB0;
      color: #fff;
    };
  }
  .new-design__wrapper {
    display: flex;
    justify-content: center;
  }

  .new-design__item {
    --cells-molecule-date-input: {
      border: 0;
      border-radius: 0;
      background-image: none;
      min-height: auto;
    };
    --cells-molecule-date-input-date: {
      display: flex;
      flex-direction: column-reverse;
    }
    --cells-molecule-date-input-icon: {
      color: #C0C2C4;
      margin: 0 0 .5rem 0;
    }
  }

  .new-design__item--description {
    color: #256CB0;
    margin: 0 0 .5rem 0;
  }

  .divider {
    width: 1px;
    height: 72px;
    display: block;
    background: #256CB0;
    margin: 0 1rem;
    transform: rotate(15deg);
  }

  .custom {

    color: #256CB0;

    }

  .custom_button {
    background-color: #C0C2C4;
  }

  section {

margin: 0 auto;
display: flex;
}

.column {
margin: 10px;
flex-grow: 1;
flex-shrink: 1;
flex-basis: 0;
}

section:nth-of-type(5) .column:first-of-type {
flex-grow: 2;
flex-shrink: 2;
flex-basis: 22px;
}

section:nth-of-type(6) .column:nth-of-type(2) {
flex-grow: 4;
flex-shrink: 4;
flex-basis: 66px;
}

/* OTHER STYLES */

html, body {
height: 100%;
box-sizing: border-box;
}

body {
font-family: 'Raleway', sans-serif;
padding: 10px;
background: linear-gradient(135deg, #b04, #f80) fixed;
}

.column {
padding: 10px 0;
background-color: white;
text-align: center;

border: 1px solid transparentize(white, 0.25);
background-color: transparentize(white, 0.8);
color: transparentize(white, 0.1);
}
  </style>
<!-- AIzaSyA7bFrjsbr2UcZC-uWxJPG_YwKnoBCI4EE -->
  <div slot="main">
    <section>
      <div class="column">
        <product-card id="demo-2" decimals-hidden heading="Tarjeta Ahora" heading-level="3" additional-info="" image-src="../../images/cards/card0.png" product-iban="">
            <input on-click="fastTransfer" class ="send" slot="card-button" width=200px type="image" src="../../images/transactionDetail/transfer.png"/>
        </product-card>
      </div>
      <div class="column">
        <product-card id="demo-2" decimals-hidden heading="Tarjeta a tu ritmo" heading-level="3" additional-info="" image-src="../../images/cards/card1.png" product-iban="">
            <input on-click="fastTransfer" class ="send" slot="card-button" width=200px type="image" src="../../images/transactionDetail/transfer.png"/>
        </product-card>
      </div>
      <div class="column">
        <product-card id="demo-2" decimals-hidden heading="Tarjeta black" heading-level="3" additional-info="" image-src="../../images/cards/card2.png" product-iban="">
            <input on-click="fastTransfer" class ="send" slot="card-button" width=200px type="image" src="../../images/transactionDetail/transfer.png"/>
        </product-card>
      </div>
      <div class="column">
        <product-card id="demo-2" decimals-hidden heading="Rarjeta Revo" heading-level="3" additional-info="" image-src="../../images/cards/card3.png" product-iban="">
            <input on-click="fastTransfer" class ="send" slot="card-button" width=200px type="image" src="../../images/transactionDetail/transfer.png"/>
        </product-card>
      </div>
      <cajeros-ui></cajeros-ui>
    </section>
  </div>
  </template>

  <script src="new-contract.js"></script>
</dom-module>
