<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="../../../components/cells-organism-menu-sidebar/cells-organism-menu-sidebar.html">
<link rel="import" href="../../../components/cells-atom-icon/cells-atom-icon.html">
<link rel="import" href="../../../components/cells-button-group/cells-button-group.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">

<link rel="import" href="../../../components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../../../components/cells-product-summary/cells-product-summary.html">
<link rel="import" href="../../../components/cells-navigation-bar/cells-navigation-bar.html">
<link rel="import" href="../../../components/app-datepicker/app-datepicker.html">
<link rel="import" href="../../../components/app-datepicker/app-datepicker-icons.html">
<link rel="import" href="../../../components/app-datepicker/app-datepicker-dialog.html">

<link rel="import" href="../../../components/cells-product-card/cells-product-card.html">
<link rel="import" href="../../../components/cells-module-skeleton/cells-modele-skeleton.html">
<link rel="import" href="../../../components/cells-product-item-list/cells-product-item-list.html">
<link rel="import" href="../../../components/cells-molecule-input/cells-molecule-input.html">

<link rel="import" href="../../../components/iron-icon/iron-icon.html">
<link rel="import" href="../../../components/cells-accordion-step/cells-accordion-step.html">
<link rel="import" href="../../../components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../../components/cells-st-button/cells-st-button.html">
<link rel="import" href="../../../components/banking-icons/banking-icons.html">
<link rel="import" href="../../../components/cells-middle-modal/cells-middle-modal.html">
<link rel="import" href="../../../components/cells-atom-subheader/cells-atom-subheader.html">

<link rel="import" href="../../../components/cells-iron-transactions-list/cells-iron-transactions-list.html">
<link rel="import" href="../../../components/cells-molecule-group-transactions-list/cells-molecule-group-transactions-list.html">
<link rel="import" href="../../../components/cells-product-card-list/cells-product-card-list.html">
<link rel="import" href="../../../components/nvd3-elements/nvd3-elements.html">
<link rel="import" href="../../../components/pf-calendar-events/pf-calendar-events.html">
<link rel="import" href="../../../components/cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../../../components/cells-select/cells-select.html">
<link rel="import" href="./moment-import.html">

<!--
`<cells-myb-period-balances>` description.

Example:

```html
<cells-myb-period-balances></cells-myb-period-balances>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-myb-period-balances-scope      | scope description | default value  |
| --cells-myb-period-balances  | empty mixin     | {}             |

@demo demo/index.html
-->
<dom-module id="my-products">
  <template>
  <style>

    --cells-accordion-step-header: {
      height: 43px;
    };
    --cells-accordion-step-content: {
      border: none;
    };
    --cells-accordion-step-icon-firstlast: {
      height: 24px;
    };
    --cells-accordion-step-lefticons: {
      padding: 0 15px;
    };
    --cells-accordion-step-icons: {
      width: 44px;
    };

  .blue {
    --cells-navigation-bar-background-color: #3296F1;
    --cells-navigation-bar-link-color: #fff;
    --cells-navigation-bar: {
      border-top: none;
    };
    --cells-navigation-bar-link-active: {
      background-color: #256CB0;
      color: #fff;
    };
  }
  .new-design__wrapper {
    display: flex;
    justify-content: center;
  }

  .new-design__item {
    --cells-molecule-date-input: {
      border: 0;
      border-radius: 0;
      background-image: none;
      min-height: auto;
    };
    --cells-molecule-date-input-date: {
      display: flex;
      flex-direction: column-reverse;
    }
    --cells-molecule-date-input-icon: {
      color: #C0C2C4;
      margin: 0 0 .5rem 0;
    }
  }
  .header2 {
    padding: 0.9375rem 1.25rem;
    @apply --cells-product-item-list-header; }

  .new-design__item--description {
    color: #256CB0;
    margin: 0 0 .5rem 0;
  }

  .divider {
    width: 1px;
    height: 72px;
    display: block;
    background: #256CB0;
    margin: 0 1rem;
    transform: rotate(15deg);
  }

  .custom {

    color: #256CB0;

    }

  .custom_button {
    background-color: #C0C2C4;
  }

  section {

margin: 0 auto;
display: flex;
}

.column {
margin: 10px;
flex-grow: 1;
flex-shrink: 1;
flex-basis: 0;
}
.send {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
section:nth-of-type(5) .column:first-of-type {
flex-grow: 2;
flex-shrink: 2;
flex-basis: 22px;
}

section:nth-of-type(1) .column:nth-of-type(2) {
flex-grow: 4;
flex-shrink: 4;
flex-basis: 66px;
}

/* OTHER STYLES */

html, body {
height: 100%;
margin: 0;
}

body {
font-family: 'Raleway', sans-serif;
padding: 10px;
background: linear-gradient(135deg, #b04, #f80) fixed;
}

paper-header-panel {
height: 100%;
}

.label {
  -webkit-box-shadow: 14px 21px 76px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 14px 21px 76px 1px rgba(0,0,0,0.75);
box-shadow: 14px 21px 76px 1px rgba(0,0,0,0.75);
}

.column {
padding: 10px 0;
background-color: white;
text-align: center;

border: 1px solid transparentize(white, 0.25);
background-color: transparentize(white, 0.8);
color: transparentize(white, 0.1);
}
  </style>


  <div slot="main">
    <section>
      <div class="column">
        <!-- <cells-select id="selectAc" label="demo-label" right-icon="coronita:unfold" placeholder="demo-placeholder"></cells-select> -->
        <cells-product-item-list id="productlist" items="[[accounts]]" loading heading-level="3"></cells-product-item-list>
      </div>
      <div class="column">

        <cells-product-summary id="sumary" loading></cells-product-summary>

      </div>
      <div class="column">

      </div>
    </section>

    <!-- <section>
      <div class="column">
    <cells-navigation-bar class="blue" id="navigation" selected="2" prevent-navigation></cells-navigation-bar>
  </div>
</section> -->
    <section>
<div class="column">
  <div hidden$="false">
    <div class="new-design__wrapper">
    <span class="new-design__item--description">Desde</span>
  <paper-button toggles class="custom" on-tap="_openDialog"><iron-icon icon="coronita:calendar"></iron-icon>[[dynamicDate]]</paper-button>
  <app-datepicker-dialog class="new-design__item" id="datepicker"
  theme="dark-theme"
  view="vertical"
  first-day-of-week="1"
  min-date="2017/01/18"
  max-date="2018/01/18"
  format="yyyy/mm/dd"
  date="{{dynamicDate}}"
  entry-animation="datepicker-slide-from-bottom-animation"
  exit-animation="datepicker-slide-from-top-animation"
  locale="es-ES"></app-datepicker-dialog>
  <div class="divider"></div>
  <span class="new-design__item--description">Hasta</span>
<paper-button toggles class="custom" on-tap="_openDialog"><iron-icon icon="coronita:calendar"></iron-icon>[[dynamicDate]]</paper-button>
  <app-datepicker-dialog id="datepicker2"
  theme="dark-theme"
  view="vertical"
  first-day-of-week="1"
  min-date="2017/01/18"
  max-date="{{dynamicDate}}"
  format="yyyy/mm/dd"
  date="{{dynamicDate2}}"
  entry-animation="datepicker-slide-from-bottom-animation"
  exit-animation="datepicker-slide-from-top-animation"
  locale="es-ES"></app-datepicker-dialog>
  <cells-st-button class="composed">
  <button>
    <span class="btn-contents">
      <cells-atom-icon class="btn-icon icon-size-24" icon="coronita:search"></cells-atom-icon>
    </span>
  </button>
</cells-st-button>


</div>
    <cells-iron-transactions-list id="transactionsList0" scroll-target="target" scroll-target-type="class" header="Mis movimientos" loading>
    </cells-iron-transactions-list>
  </div>
</div>

<div class="column">
  <cells-atom-subheader class="header2" heading-level="[[headingLevel]]">
    <span slot="heading" class="heading">Realizar transferencia</span>
  </cells-atom-subheader>

  <div id="closingSteps">
  <cells-accordion-step title="Origen" message="{{value}}" icon-first="banking:B45">
    <cells-molecule-input label="" id="origen" disabled value="{{value}}"></cells-molecule-input>
  </cells-accordion-step>
  <cells-accordion-step title="Destino" message="{{valueDestino}}" has-validation is-valid=[[valueDestino]] icon-mid="banking:B46">
    <cells-molecule-input label="" id="destino" value="{{valueDestino}}" auto-validate error-message="You must enter" error-icon="coronita:alert"></cells-molecule-input>
  </cells-accordion-step>
  <cells-accordion-step title="Cantidad" is-amount amount="{{amount}}" currency-code="EUR" has-validation is-valid=[[amount]] icon-last="banking:B44">
    <cells-molecule-input label="" id="cantidad" type="number" value="{{amount}}" auto-validate error-message="You must enter" error-icon="coronita:alert"></cells-molecule-input>
  </cells-accordion-step>
</div>
  <cells-st-button class="primary">
  <button on-click="sendTransfer">Enviar</button>
</cells-st-button>

</div>
<div class="column">
  <cells-atom-subheader class="header2" heading-level="[[headingLevel]]">
    <span slot="heading" class="heading">Cuentas frecuentes</span>
  </cells-atom-subheader>
  <cells-product-card id="demo" decimals-hidden heading="Iria Dominguez" heading-level="3" additional-info="" image-src="https://randomuser.me/api/portraits/women/3.jpg" product-iban="ES54029990012312321">
      <input on-click="fastTransfer" slot="card-button" class="send" width=200px type="image" src="../../images/transactionDetail/transfer.png"/>
  </cells-product-card>
  <p>

  </p>
  <cells-product-card id="demo-2" decimals-hidden heading="Hugo Dominguez" heading-level="3" additional-info="" image-src="https://randomuser.me/api/portraits/men/89.jpg" product-iban="ES54029990012312321">
      <input on-click="fastTransfer" class ="send" slot="card-button" width=200px type="image" src="../../images/transactionDetail/transfer.png"/>
  </cells-product-card>
</div>
  </section>
</div>

<cells-middle-modal id="mensaje" aria-labelledby="aria-text" heading-level="2">
    <p class="body">La tranferencia se ha realizado correctamente</p>
    <cells-st-button>
      <button id="btnNo" data-action="hide">Aceptar</button>
    </cells-st-button>
</cells-middle-modal>


  </template>

  <script src="my-products.js">
  </script>
</dom-module>
