<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>Demo cells-myb-transaction-item</title>

    <script>
      /* this script must run before Polymer is imported */
      window.Polymer = {
        dom: 'shadow',
        lazyRegister: true,
        useNativeCSSProperties: true
      };
    </script>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../cells-myb-ui-theme/cells-myb-ui-theme.html">
    <link rel="import" href="../../cells-demo-lang-switcher/cells-demo-lang-switcher.html">
    <link rel="import" href="../../cells-atom-amount/cells-atom-amount.html">
    <link rel="import" href="../../cells-atom-icon/cells-atom-icon.html">
    <link rel="import" href="../../cells-demo-mobile/cells-demo-mobile.html">
    <link rel="import" href="../../coronita-icons/coronita-icons.html">
    <link rel="import" href="../../iron-ajax/iron-ajax.html">
    <link rel="import" href="../../iron-flex-layout/iron-flex-layout-classes.html">
    <link rel="import" href="../cells-myb-transaction-item.html">
    <link rel="import" href="css/demo-styles.html">

  </head>
  <body unresolved ontouchstart>
    <template is="dom-bind" id="tbind">

      <cells-demo-lang-switcher></cells-demo-lang-switcher>

        <style include="iron-flex iron-flex-alignment cells-myb-transaction-item-styles cells-myb-transaction-item-shared-styles"></style>

        <iron-ajax auto url="mocks/operation-detail.json" handle-as="json" last-response="{{transaction}}"></iron-ajax>
        <iron-ajax auto url="mocks/balances.json" handle-as="json" last-response="{{balance}}"></iron-ajax>
        <cells-demo-mobile>
          <div class="statics">
          <h3>Detail View</h3>
            <cells-myb-transaction-item
              class="demo"
              transaction="[[ transaction ]]"
              view="detail">
            </cells-myb-transaction-item>

          <h3>Daily View</h3>
            <cells-myb-transaction-item
              class="demo"
              transaction="[[ balance ]]"
              view="daily">
            </cells-myb-transaction-item>

            <h3>Monthly View</h3>
            <cells-myb-transaction-item
              class="demo"
              transaction="[[ balance ]]"
              view="monthly">
            </cells-myb-transaction-item>

            <h3>Annual View</h3>
            <cells-myb-transaction-item
              class="demo"
              transaction="[[ balance ]]"
              view="yearly">
            </cells-myb-transaction-item>
          </div>
        </cells-demo-mobile>
    </template>
    <script src="js/demo.js"></script>  </body>
</html>
