<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <title>Demo cells-apng-canvas</title>
    <script>
      window.Polymer = {
        dom: 'shadow',
        lazyRegister: true,
        useNativeCSSProperties: true
      };
    </script>
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../../cells-switch/cells-switch.html">
    <link rel="import" href="../../cells-demo-helper/cells-demo-helper.html">
    <link rel="import" href="../cells-apng-canvas.html">
    <link rel="import" href="css/demo-styles.html">
  </head>
  <body unresolved>
    <cells-demo-helper>
      <cells-demo-case heading="Basic configuration" description="with autoplay">
        <template>
            <cells-apng-canvas id="ui" src="images/elephant.png" autoplay></cells-apng-canvas>
        </template>
      </cells-demo-case>

      <cells-demo-case heading="Without autoplay">
        <template>
          <template is="dom-bind" id="demo">
            <cells-switch class="changing-label" label-on="Playing" checked="{{play}}">Stop</cells-switch>
            <cells-apng-canvas src="images/elephant.png" autoplay="[[play]]"></cells-apng-canvas>
          </template>
        </template>
      </cells-demo-case>
    </cells-demo-helper>


  </body>
</html>
