@import "bower_components/cells-sass/main";

:host {
    background: var(--bbva-navy, #072146);
    display: flex;
    align-items: center;
    position: relative;
    height: 90px;
    justify-content: space-between;
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
      display: flex;
      height: 170px;
      flex-direction: column;
      justify-content: space-evenly;
      @apply(--cells-menu-web-tablet-portrait);
    }

    --cells-menu-web-item__button: unquote("{
      font-size: 16px;
      margin-right: 10px;
    }");

    --cells-menu-web-item__button-icon--primary: unquote("{
      margin: 0 10px 0 0;
    }");
  @apply(--cells-menu-web);
}

.logo {
  height: 32px;
  @apply(--cells-menu-web-logo);
}

.logo img {
  height: 100%;
}

.sidebar-icon {
  display: none;
  @apply (--cells-menu-web-sidebar-icon);
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    display: block;
    position: absolute;
    bottom: 110px;
    left: 30px;
    z-index: 100;
    @apply (--cells-menu-web-sidebar-icon-tablet-portrait);
  }
}

.avatar {
  display: none;
  @apply (--cells-menu-web-avatar);

  .greeting {
    font-size: 14px;
    font-weight: 500;
    @apply (--cells-menu-web-greeting);
  }

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 20px;
    bottom: 100px;
    z-index: 100;
    @apply (--cells-menu-web-avatar-tablet-portrait);

    .greeting {
      margin-left: 10px;
      @apply (--cells-menu-web-greeting-tablet-portrait);
    }
  }
}

.nav{
    position: relative;
    display: flex;
    min-height: 3rem;
    @apply(--cells-menu-web__nav);

    @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
      padding: 0 20px;
      width: 100%;
      @apply(--cells-menu-web__nav-tablet-portrait);
    }

    &--mobile {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      @apply(--cells-menu-web__nav--mobile);

    .nav-bar{
        position: absolute;
        top: 100%;
        flex-wrap: wrap;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: all .35s ease-in-out;
        @apply(--cells-menu-web__nav-bar--mobile);

        &.active{
            max-height: 100vh;
            transition: all .35s ease-in-out;
        }

        &__item{
            width: 100%;
            height: 100%;
            @apply(--cells-menu-web__nav-bar__item--mobile);
        }

        &__sub{
            position: relative;
            display: block;
            max-height: 0;
            overflow: hidden;
            transition: all .35s ease-in-out;
            @apply(--cells-menu-web__nav-bar__sub--mobile);
        }
      }
    }
}

.nav-bar{
    display: flex;
    flex: 1;
    background: var(--bbva-navy, #072146);
    z-index: 99;
    @apply(--cells-menu-web__nav-bar);

    @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
      justify-content: space-evenly;
      @apply(--cells-menu-web__nav-bar-tablet-portrait);
    }

    &__sub{
        display: none;
        position: absolute;
        top: 100%;
        min-width: 200px;
        flex-direction: column;
        background: var(--cells-KM8_colour, #F4F7F5);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        z-index: 5;
        @apply(--cells-menu-web__nav-bar__sub);
    }

    &__item{
        position: relative;
        @apply(--cells-menu-web__nav-bar__item);

        &.active{
            background: var(--cells-BS2_colour, #4CBBEE);
            @apply(--cells-menu-web__nav-bar__item--active);
        }

        &.opened{
            @apply(--cells-menu-web__nav-bar__item--opened);

            .nav-bar__sub{
              max-height: 100vh !important;
              transition: all .35s ease-in-out;
            }
        }

        &:hover{
          background: var(--cells-BS2_colour, #4CBBEE);
          @apply(--cells-menu-web__nav-bar__item--hover);

          .nav-bar__sub{
            display: flex;
          }
        }
    }
}

.sub-menu{
    padding: .5rem;
}

.nav-bar-mobile{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
    color: var(--cells-KMW_colour, #FFFFFF);
    @apply(--cells-menu-web__nav-bar-mobile);

    &__title{
        line-height: 0;
        @apply(--cells-menu-web__nav-bar-mobile__title);
    }

    &[hidden]{
        display: none;
    }
}

button{
    padding: .5rem 0;
    color: var(--cells-KMW_colour, #FFFFFF);
    border: 0;
    background: transparent;
    outline: none;
    cursor: pointer;
    @apply(--cells-menu-web__button);
}

.item--view{
    position: absolute;
    top: .75rem;
    right: .65rem;
    color: #FFF;
    padding: 0;
    cursor: pointer;
    @apply(--cells-menu-web__item--view);
}

h4{
    margin: 0;
    padding: .5rem;
    font-weight: 300;
    color: var(--bbva-navy, #072146);
    @apply(--cells-menu-web__subTitle);
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}


