<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
  />
  <title>Demo cells-psv-login-dm</title>
    <script>
      window.Polymer = {
        dom: 'shadow',
        lazyRegister: true,
        useNativeCSSProperties: true
      };
    </script>
  <script src="js/demo-mocks.js"></script>
  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

  <link rel="import" href="../../polymer/polymer.html">
  <link rel="import" href="../../iron-flex-layout/iron-flex-layout-classes.html">
  <link rel="import" href="../../cells-demo-helper/cells-demo-helper.html">
  <link rel="import" href="../../cells-credentials-form/cells-credentials-form.html">
  <link rel="import" href="../../cells-icon-message/cells-icon-message.html">
  <link rel="import" href="../../cells-molecule-spinner-veil/cells-molecule-spinner-veil.html">
  <link rel="import" href="../../cells-st-button/cells-st-button.html">
  <link rel="import" href="../../iron-input/iron-input.html">
  <link rel="import" href="../../paper-input/paper-input.html">
  <link rel="import" href="../../coronita-icons/coronita-icons.html">
  <link rel="import" href="../../cells-molecule-input/cells-molecule-input.html">
  <link rel="import" href="../cells-psv-login-dm.html">
  <link rel="import" href="css/demo-styles.html">
</head>

<body unresolved ontouchstart>

  <cells-demo-helper resolution="tablet" events='["login-success", "login-error", "logout-success"]'>

    <cells-demo-case heading="JWT+GT Login" description="Login demo doing requests to the JWT and Granting ticket">
      <template>
        <template is="dom-bind" id="demo-jwt-dom-bind">
            <cells-molecule-spinner-veil id="spinnerJWT"></cells-molecule-spinner-veil>

            <div id="demo-jwt-container">
              <div class="layout horizontal">
                <cells-molecule-input class="flex" label="Base JWT Url" value="{{baseJWTUrl}}" ></cells-molecule-input>
                <cells-molecule-input class="flex" label="Base JWT path" value="{{baseJWTPath}}" ></cells-molecule-input>
              </div>
              <div class="layout horizontal">
                <cells-molecule-input class="flex" label="Base GT Url" value="{{baseGTUrl}}" ></cells-molecule-input>
                <cells-molecule-input class="flex" label="Base GT path" value="{{baseGTPath}}" ></cells-molecule-input>
              </div>
              <div class="layout horizontal">
                <cells-molecule-input class="flex" label="Consumer Id" value="{{consumerId}}" ></cells-molecule-input>
                <cells-molecule-input class="flex" label="Authentication Type" value="{{authenticationType}}" ></cells-molecule-input>
                <cells-molecule-input class="flex" label="Id Authentication data" value="{{idAuthenticationData}}" ></cells-molecule-input>
                <cells-molecule-input class="flex" label="API Version" value="V02" ></cells-molecule-input>
              </div>

              <div class="login-container">
                <cells-psv-login-dm id="loginJWTDM" base-gt-url="[[baseGTUrl]]" base-gt-path="[[baseGTPath]]"
                  base-jwt-url="[[baseJWTUrl]]" login-jwt-path="[[loginJWTPath]]"
                  user="[[user]]"
                  on-request-start="setLoadingTrue" on-request-complete="setLoadingFalse" on-login-success="showSuccessMessage"
                  on-login-error="showErrorMessage" on-logout-success="showLogoutMessage" on-user-logged="isLogged"
                  authentication-type="[[authenticationType]]" id-authentication-data="[[idAuthenticationData]]"
                  aso-request-wrap="[[asoRequestWrap]]">
                </cells-psv-login-dm>

                <template is="dom-if" if="{{!isLoggedValue}}">
                  <div class="layout vertical">
                    <cells-st-button class="secondary login-button">
                      <button id="loginButtonId" on-tap="doLogin">Login</button>
                    </cells-st-button>
                  </div>
                </template>

                <cells-icon-message
                  type="[[feedbackType]]"
                  icon="[[feedbackIcon]]"
                  message="[[feedbackMessage]]">
                </cells-icon-message>

                <template is="dom-if" if="{{isLoggedValue}}">
                  <cells-st-button class="link logout">
                    <button on-tap="doLogout">Logout</button>
                  </cells-st-button>
                </template>
              </div>
            </div>

        </template>
        <script>
          /* global customFunctions */

          (function(demo) {

            demo.baseGTUrl = 'http://localhost:2222/grantingTickets/';
            demo.baseGTPath = '';
            demo.baseJWTUrl = 'http://localhost:2222/';
            demo.loginJWTPath = 'KSZM_JWT/kszm_kszm_01/tf/jwt';
            demo.logoutJWTPath = 'pkmslogout';
            demo.consumerId = '00000102';
            demo.authenticationType = '59';
            demo.idAuthenticationData = 'iv_ticketService';
            demo.asoRequestWrap = '';
            demo.isValid = false;
            demo.userId = null;

            demo.doLogin = function(event) {
              demo.$.loginJWTDM.login();
            };

            demo.doLogout = function(event) {
              demo.$.loginJWTDM.logout();
            };

            demo.setLoadingTrue = function(ev) {
              customFunctions.setLoadingTrue(ev, demo.$.spinnerJWT, demo);
            };
            demo.setLoadingFalse = function(ev) {
              customFunctions.setLoadingFalse(ev, demo.$.spinnerJWT, demo);
            };

            demo.isEnable = function(userId) {
              return userId && userId.length > 0;
            };

            demo.isLoggedValue = false;
            demo.isLogged = customFunctions.isLogged;
            demo.showSuccessMessage = customFunctions.showSuccessMessage;
            demo.showErrorMessage = customFunctions.showErrorMessage;
            demo.showLogoutMessage = customFunctions.showLogoutMessage;

          }(document.getElementById('demo-jwt-dom-bind')));
        </script>
      </template>
    </cells-demo-case>

    <cells-demo-case heading="ASO R2 Login" description="Login/Logout demo doing requests to the ASO R2 Granting Ticket server">
      <template>
        <template is="dom-bind" id="demo-aso-dom-bind">
            <cells-molecule-spinner-veil id="spinnerASO"></cells-molecule-spinner-veil>

            <div id="demo-aso-container">
              <div class="layout horizontal">
                <cells-molecule-input class="flex" label="Base Url" value="{{baseUrl}}" ></cells-molecule-input>
                <cells-molecule-input class="flex" label="Base path" value="{{basePath}}" ></cells-molecule-input>
              </div>
              <div class="layout horizontal">
                <cells-molecule-input class="flex" label="Consumer Id" value="{{consumerId}}" ></cells-molecule-input>
                <cells-molecule-input class="flex" label="Authentication Type" value="{{authenticationType}}" ></cells-molecule-input>
                <cells-molecule-input class="flex" label="API Version" value="V02" ></cells-molecule-input>
              </div>

              <div class="login-container">
                <cells-psv-login-dm id="loginASODM" login-type="gt" base-gt-url="[[baseUrl]]" base-gt-path="[[basePath]]" user="[[user]]"
                  id-authentication-data="[[idAuthenticationData]]"
                  on-request-start="setLoadingTrue" on-request-complete="setLoadingFalse" on-login-success="showSuccessMessage"
                  on-login-error="showErrorMessage" on-logout-success="showLogoutMessage" on-user-logged="isLogged"
                  authentication-type="[[authenticationType]]">
                </cells-psv-login-dm>

                <template is="dom-if" if="{{!isLoggedValue}}">
                  <cells-credentials-form on-login="doLogin" id="credentialsFormASO" label-user-id="Usuario*" label-password="Contraseña*"
                    autofocus clear-id-icon="coronita:close" clear-pwd-icon="coronita:close" toggle-pwd-icon="coronita:visualize" toggle-pwd-icon-toggled="coronita:hide">
                  </cells-credentials-form>
                </template>

                <cells-icon-message
                  type="[[feedbackType]]"
                  icon="[[feedbackIcon]]"
                  message="[[feedbackMessage]]">
                </cells-icon-message>

                <template is="dom-if" if="{{isLoggedValue}}">
                  <cells-st-button class="link logout">
                    <button on-tap="doLogout">Logout</button>
                  </cells-st-button>
                </template>
              </div>
            </div>

        </template>
        <script>
          /* global customFunctions */

          (function(demo) {

            demo.baseUrl = 'http://localhost:2222/grantingTickets/';
            demo.basePath = '';
            demo.consumerId = '00000102';
            demo.authenticationType = '13';
            demo.idAuthenticationData = 'password';

            demo.doLogin = function(event) {
              demo.user = event.detail;
              demo.$.loginASODM.login();
            };

            demo.doLogout = function(event) {
              demo.$.loginASODM.logout();
            };

            demo.setLoadingTrue = function(ev) {
              customFunctions.setLoadingTrue(ev, demo.$.spinnerASO, demo);
            };
            demo.setLoadingFalse = function(ev) {
              customFunctions.setLoadingFalse(ev, demo.$.spinnerASO, demo);
            };

            demo.isLoggedValue = false;
            demo.isLogged = customFunctions.isLogged;
            demo.showSuccessMessage = customFunctions.showSuccessMessage;
            demo.showErrorMessage = customFunctions.showErrorMessage;
            demo.showLogoutMessage = customFunctions.showLogoutMessage;

          }(document.getElementById('demo-aso-dom-bind')));
        </script>
      </template>
    </cells-demo-case>

    <cells-demo-case heading="GLOBAL API Login" description="Login/Logout demo doing requests to the GLOBAL API Granting Ticket server">
      <template>
        <template is="dom-bind" id="demo-gapi-dom-bind">
            <cells-molecule-spinner-veil id="spinnerGAPI"></cells-molecule-spinner-veil>

            <div id="demo-gapi-container">
              <div class="layout horizontal">
                <cells-molecule-input class="flex" label="Base Url" value="{{baseUrl}}" ></cells-molecule-input>
                <cells-molecule-input class="flex" label="Base path" value="{{basePath}}" ></cells-molecule-input>
              </div>
              <div class="layout horizontal">
                <cells-molecule-input class="flex" label="Consumer Id" value="{{consumerId}}" ></cells-molecule-input>
                <cells-molecule-input class="flex" label="Authentication Type" value="{{authenticationType}}" ></cells-molecule-input>
                <cells-molecule-input class="flex" label="API Version" value="V02" ></cells-molecule-input>
              </div>

              <div class="login-container">
                <cells-psv-login-dm id="loginGAPIDM" login-type="gt" base-gt-url="[[baseUrl]]" base-gt-path="[[basePath]]" user="[[user]]"
                  id-authentication-data="[[idAuthenticationData]]" api-type="GLOBAL_API"
                  on-request-start="setLoadingTrue" on-request-complete="setLoadingFalse" on-login-success="showSuccessMessage"
                  on-login-error="showErrorMessage" on-logout-success="showLogoutMessage"
                  on-user-logged="isLogged" authentication-type="[[authenticationType]]">
                </cells-psv-login-dm>

                <template is="dom-if" if="{{!isLoggedValue}}">
                  <cells-credentials-form on-login="doLogin" id="credentialsFormGAPI" label-user-id="Usuario*" label-password="Contraseña*"
                    autofocus clear-id-icon="coronita:close" clear-pwd-icon="coronita:close" toggle-pwd-icon="coronita:visualize" toggle-pwd-icon-toggled="coronita:hide">
                  </cells-credentials-form>
                </template>

                <cells-icon-message
                  type="[[feedbackType]]"
                  icon="[[feedbackIcon]]"
                  message="[[feedbackMessage]]">
                </cells-icon-message>

                <template is="dom-if" if="{{isLoggedValue}}">
                  <cells-st-button class="link logout">
                    <button on-tap="doLogout">Logout</button>
                  </cells-st-button>
                </template>
              </div>
            </div>

        </template>
        <script>

          /* global customFunctions */
          (function(demo) {

            document.addEventListener('WebComponentsReady', function() {
              var form = this.getElementById('credentialsFormGAPI');
              if (form) {
                form._userId = '0777777779';
                form.userId = '0777777779';
                form.userName = 'Demo user for BBVA Global API';
              }
            });

            document.addEventListener('request-change-user', function(ev) {
              this.getElementById('credentialsFormGAPI').reset();
            });

            demo.baseUrl = 'https://bbvalabs.com:8001/TechArchitecture/cl/grantingTicket/';
            demo.basePath = '';
            demo.consumerId = '00000102';
            demo.authenticationType = '02';
            demo.idAuthenticationData = 'password';

            demo.doLogin = function(event) {
              demo.user = event.detail;
              demo.$.loginGAPIDM.login();
            };

            demo.doLogout = function(event) {
              demo.$.loginGAPIDM.logout();
            };

            demo.setLoadingTrue = function(ev) {
              customFunctions.setLoadingTrue(ev, demo.$.spinnerGAPI, demo);
            };

            demo.setLoadingFalse = function(ev) {
              customFunctions.setLoadingFalse(ev, demo.$.spinnerGAPI, demo);
            };

            demo.isLoggedValue = false;
            demo.isLogged = customFunctions.isLogged;
            demo.showSuccessMessage = customFunctions.showSuccessMessage;
            demo.showErrorMessage = customFunctions.showErrorMessage;
            demo.showLogoutMessage = customFunctions.showLogoutMessage;
          }(document.getElementById('demo-gapi-dom-bind')));
        </script>
      </template>
    </cells-demo-case>
  </cells-demo-helper>
</body>

</html>
