@import "bower_components/cells-sass/main";
:host {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  font-size: rem(12px);
  color: var(--cells-product-card-color, #121212);
  background-color: var(--cells-product-card-bg-color, #fff);
  box-shadow: var(--cells-product-card-box-shadow, 0 1px 1px 0 rgba(0, 0, 0, 0.20));
  border-radius: 1px;
  padding: rem(16px) rem(20px) rem(15px);
  contain: content;
  @apply(--cells-product-card);
}

:host([hidden]),
[hidden] {
  display: none;
}

:host([row-layout]) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: rem(40px);
  padding-bottom: rem(40px);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto rem(-10px) rem(11px);
  @apply(--cells-product-card-heading);
   :host([row-layout]) & {
    width: 53%;
    margin: 0 percentage(30/460) 0 0;
    justify-content: flex-end;
  }
  &__title {
    span{
      vertical-align: bottom;
    }
    @apply(--secondary-heading);
    color: var(--heading-title-color, #2A86CA);
    font-size: rem(16px);
    @apply(--cells-product-card-heading-title);
     :host([row-layout]) & {
      margin-bottom: rem(4px);
    }
  }
  &__img {
    margin-right: rem(9px);
    border-radius: rem(2px);
    width: rem(30px);
    @apply(--cells-product-card-heading-image);
     :host([row-layout]) & {
      margin-right: rem(18px);
      width: rem(40px);
    }
    &[hidden]+.heading__text {
      text-align: center;
      @apply(--cells-product-card-heading-text-without-image);
    }
  }
}

.balances {
  @include clearfix;
  flex: 1;
  margin: 0;
  @apply(--cells-product-card-balances);
   :host([row-layout]) & {
    margin-right: percentage(44/460);
  }
  dt {
    font-size: rem(12px);
    @apply(--cells-product-card-balances-dt);
  }
  &__amount {
    font-size: 1rem;
    margin-top: rem(2px);
    line-height: normal;
    @apply(--cells-product-card-balances-amount);
     :host([row-layout]) & {
      font-size: 0.9375rem;
      --cells-atom-amount-currency: unquote("{font-size: 0.9375rem;}");
    }
    --cells-atom-amount-currency: unquote("{ font-size: 1rem; @apply(--cells-product-card-balances-amount-currency); } ");
  }
  dt,
  dd {
    margin: 0;
    padding: 0;
    @apply(--cells-product-card-balances-dt-dd); // first label and amount of two balances
    &:not(:last-of-type) {
      float: left;
      @apply(--cells-product-card-balances-dt-dd-first-of-two);
    } // last label and amount of two balances
    &:not(:only-of-type):last-of-type {
      text-align: right;
      @apply(--cells-product-card-balances-dt-dd-last-of-two);
    } // only one balance
    &:only-of-type {
      text-align: center;
      margin-bottom: rem(2px);
      @apply(--cells-product-card-balances-dt-dd-only-child);
       :host([row-layout]) & {
        text-align: left;
      }
    }
  }
  dt {
    // first and last labels two balances
    &:not(:last-of-type),
    &:not(:only-of-type):last-of-type {
      margin-top: rem(3px);
      @apply(--cells-product-card-balances-dt-of-two);
    }
  }
  dd {
    // first amount of two balances
    &:not(:last-of-type) {
      clear: left;
      @apply(--cells-product-card-balances-dd-first-of-two);
    } // last amount of two balances
    &:not(:only-of-type):last-of-type {
      clear: right;
      @apply(--cells-product-card-balances-dd-last-of-two);
    } // first and last amount of two balances
    &:not(:last-of-type),
    &:not(:only-of-type):last-of-type {
      .balances__amount {
        --cells-atom-amount-integer: unquote("{ margin-left: 0; } ");
      }
    }
    &:only-of-type {
      @apply(--cells-product-card-balances-dd-only-child);
      .balances__amount {
        height: auto;
        line-height: 1;
        @apply(--cells-product-card-balances-amount-only-child);
        --cells-atom-amount-integer: unquote("{ font-size: 1.375rem; margin-left: 0.125rem; @apply(--cells-product-card-balances-amount-integer-only-child); } ");
         :host([row-layout]) & {
          --cells-atom-amount-integer: unquote("{ font-size: 1.75rem; } ");
          --cells-atom-amount-currency: unquote("{ font-size: 1rem; } ");
        }
      }
    }
  }
}

cells-molecule-mask {
  color: inherit;
  font-style: normal;
  --cells-molecule-mask-number-font-size: var(--cells-product-card-mask-number-font-size, rem(16px));
  --cells-molecule-mask-margin-right: var(--cells-product-card-mask-margin-right, rem(4px));
  @apply(--cells-product-card-mask);
}

.bottom-row {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  margin-top: rem(5px);
  @apply(--cells-product-card-bottom-row);
   :host([row-layout]) & {
    flex: 1 0 100%;
    margin-bottom: rem(-24px);
  }
  &__center {
    flex: 1;
    @apply(--cells-product-card-bottom-row-center);
     ::slotted(*) {
      flex: 1;
      justify-content: center;
    }
  }
  &__right {
    margin: rem(-1px) rem(-4px) rem(-5px) 0;
    @apply(--cells-product-card-bottom-right);
  }
}
