<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../cells-atom-amount/cells-atom-amount.html">
<link rel="import" href="../cells-molecule-mask/cells-molecule-mask.html">
<link rel="import" href="../cells-heading/cells-heading.html">
<link rel="import" href="cells-product-card-styles.html">

<!--
`<cells-product-card>` displays some banking product information, like the product name, image, IBAN and balances using
different layout depending on a configurable minimum width that will trigger the alternative layout.

__Example:__

```html
<cells-product-card
  min-width-for-row-layout="460"
  heading="Cuenta nómina"
  heading-level="3"
  balances="[[balances]]"
  currency-code="USD"
  local-currency="USD"
  product-iban="ES54029990012312321">
  <a href="#" slot="card-link" is="cells-molecule-link-icon" icon="coronita:return-15" class="icon-size-18 card-icon-link">Ir a Zona Nónima</a>
</cells-product-card>
```

It has three available slots that can be used for contextual actions, like a link or button or additional status information like success or warning messages about the product.

__Example:__

```html
<cells-product-card>
  <a href="#" slot="card-link">Ir a Zona Nónima</a>

  <button slot="card-button">...</button>

  <div slot="message" class="message-ok">
    Pagado este mes
  </div>
</cells-product-card>
```


## Styling

The following custom properties and mixins are available for styling.
Any of these mixins and vars can be overridden for row-layout using the `:host([row-layout]) selector in a shared style.

__Example:__

```css
--cells-product-card-heading-title: {
  color: blue;
};

:host([inline-layout]) {
  --cells-product-card-heading-title: {
    color: red;
  };
}
```

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| __Mixins__ |
| --cells-product-card  | empty mixin applied to the hole tag     | {}             |
| --cells-product-card-heading | empty mixin for the heading and image wrapper | {} |
| --cells-product-card-heading-title | empty mixin for the heading text | {} |
| --cells-product-card-heading-image | empty mixin for the heading image | {} |
| --cells-product-card-heading-text-without-image | empty mixin for the heading text when it appears without image | {} |
| --cells-product-card-balances | empty mixin for the balances definition list (`<dl>`) | {} |
| --cells-product-card-balances-dt | empty mixin for the balances definition term (`<dt>`) | {} |
| --cells-product-card-balances-amount | empty mixin for the balances amount | {} |
| --cells-product-card-balances-amount-currency | empty mixin for the currency in an amout | {} |
| --cells-product-card-balances-amount-fractional | empty mixin for the amount fractional part  | {} |
| --cells-product-card-balances-amount-separator | empty mixin for the amount separator | {} |
| --cells-product-card-balances-dt-dd | empty mixin for the balance label and description (`<dt>` and `<dd>`) | {} |
| --cells-product-card-balances-dt-dd-first-of-two | empty mixin for the first label and description of two balances | {} |
| --cells-product-card-balances-dt-dd-last-of-two | empty mixin for the last label and description of two balances | {} |
| --cells-product-card-balances-dt-dd-only-child | empty mixin for the label and description of only one balance | {} |
| --cells-product-card-balances-dt-of-two | empty mixin for the first and last labels of two balances | {} |
| --cells-product-card-balances-dd-first-of-two | empty mixin for the first description of two balances | {} |
| --cells-product-card-balances-dd-last-of-two | empty mixin for the last description of two balances | {} |
| --cells-product-card-balances-dd-only-child | empty mixin for the description of only one balance | {} |
| --cells-product-card-balances-amount-only-child | empty mixin for the amount of only one balance | {} |
| --cells-product-card-balances-amount-integer-only-child | empty mixin for the amount's integer part of only one balance | {} |
| --cells-product-card-mask | empty mixin for the product IBAN mask | {} |
| --cells-product-card-bottom-row | empty mixin for the bottom row container | {} |
| --cells-product-card-bottom-row-center | empty mixin for the centered child of the bottom row container | {} |
| --cells-product-card-bottom-right | empty mixin for the right aligned child of the bottom row container  | {} |
| __Variables__ |
| --cells-product-card-color | color for :host | #121212 |
| --cells-product-card-bg-color | background for :host | #121212 |
| --cells-product-card-box-shadow | background for :host | 0 1px 1px 0 rgba(0, 0, 0, 0.20) |
| --heading-title-color | color for .heading-title | #121212 |
| --cells-product-card-mask-number-font-size | font-size for the IBAN mask | 16px |
| --cells-product-card-mask-margin-right | margin-right for the IBAN mask | 4px |


@demo demo/index.html
@hero cells-product-card.png
-->

<dom-module id="cells-product-card">
  <template strip-whitespace>
    <style include="cells-product-card-styles cells-product-card-shared-styles"></style>

    <cells-heading class="heading" level="[[headingLevel]]">
      <img class="heading__img" src$="[[imageSrc]]" alt="" aria-hidden="true" hidden$="[[!imageSrc]]">
      <div class="heading__text">
        <div class="heading__title">
          <span>[[heading]]</span>
          <cells-molecule-mask value="[[productIban]]" masked mask-chars="[[maskChars]]" hidden$="[[!productIban]]"></cells-molecule-mask>
        </div>
        <template is="dom-if" if="[[rowLayout]]">
          <div class="additional-info" hidden$="[[!additionalInfo]]"><span>[[additionalInfo]]</span></div>
        </template>
      </div>
    </cells-heading>

    <dl class="balances">
      <template is="dom-repeat" items="[[balances]]">
        <dt>[[item.label]]</dt>
        <dd>
          <cells-atom-amount class="balances__amount amount-medium" decimals-hidden="[[decimalsHidden]]" amount="[[item.amount]]" local-currency="[[localCurrency]]"
            currency-code="[[currencyCode]]">
          </cells-atom-amount>
        </dd>
      </template>
    </dl>

    <div class="bottom-row">
      <template is="dom-if" if="[[!rowLayout]]">
        <div class="additional-info bottom-row__left" hidden$="[[!additionalInfo]]"><span>[[additionalInfo]]</span></div>
      </template>
      <div class="message bottom-row__center">
        <slot name="message"></slot>
        <slot name="card-link"></slot>
      </div>
      <div class="contextual-action bottom-row__right">
        <slot name="card-button"></slot>
      </div>
    </div>
  </template>

  <script src="cells-product-card.js"></script>
</dom-module>
