@import "bower_components/cells-sass/main";

:host {
  align-items: center;
  display: flex;
  font-family: var(--cells-fontDefault);
  box-sizing: border-box;
  @apply(--cells-date-range);
}

:host([hidden]) {
  display:none;
}

:host(.cells-date-range__column) {
    flex-direction: column;
    @apply(--cells-date-range-column);
}

.cells-date-range__separator {
  margin: 0 rem(5px);
  @apply(--cells-date-range-separator);
}

cells-atom-date {
    @apply(--cells-atom-date-wrapper);
}

*, *:before, *:after {
  box-sizing: inherit;
}
