<dom-module id="cells-date-range-styles"><template><style>
:host {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--cells-fontDefault);
  box-sizing: border-box;
  @apply (--cells-date-range); }

:host([hidden]) {
  display: none; }

:host(.cells-date-range__block) {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  @apply (--cells-date-range-block); }

.cells-date-range__separator {
  margin: 0 0.3125rem;
  @apply (--cells-date-range-separator); }

cells-atom-date {
  @apply (--cells-atom-date-wrapper); }

*, *:before, *:after {
  box-sizing: inherit; }

</style></template></dom-module>