<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../cells-atom-date/cells-atom-date.html">

<link rel="import" href="cells-date-range-styles.html">
<!--
`<cells-date-range>` Component to visualize a date (or range) of dates with custom formats.

The basic configuration needs a `date-multiple` and `format-multiple` parameters to work. The only requirement is the same name of properties of object `date-multiple` and `format-multiple` for matching elements.

The format dates is associated to Moment.js formats (See http://momentjs.com/docs/#/parsing/string/)

Example:

```javscript
var dates = {
  start: '2016-12-01',
  end: '2017-01-10'
};

var formats = {
  start: 'DD/MM/YYYY',
  end: 'DD/MM/YYYY'
};
```

```html
<cells-date-range
  date-multiple="[[ dates ]]"
  format-multiple="[[ formats ]]">
</cells-date-range>
```


```html
<cells-date-range
  date-multiple="<object dates>"
  format-multiple="<object formats>"
  separator="-">
</cells-date-range>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-date-range  | mixin for component container     | {}             |
| --cells-date-range-column  | mixin for put component in colum     | {}             |
| --cells-date-range-separator  | mixin for customize separator between dates     | {}             |
| --cells-atom-date-wrapper  | mixin for modify atom-amounts within component     | {}             |

@demo demo/index.html
-->
<dom-module id="cells-date-range">
  <template>
    <style include="cells-date-range-styles cells-date-range-shared-styles"></style>
    
    <template is="dom-repeat"
              items="[[ _dates ]]"
              as="_date">
        <template is="dom-if" if="[[ index ]]">
            <span class="cells-date-range__separator">[[ separator ]]</span>
        </template>
        <cells-atom-date date="[[ _date.date ]]"
                         format="[[ _date.format ]]"
                         locale="[[ locale ]]"
                         utc-offset="0">
        </cells-atom-date>
    </template>
  </template>
  <script src="cells-date-range.js"></script>
</dom-module>
