<dom-module id="demo-component">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

  </template>
  <script>
    Polymer({
      is: 'demo-component',
      behaviors: [
        Polymer.CellsRouterBehavior
      ]
    });
  </script>
</dom-module>
