<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
  />
  <title>Demo glomo-cards-dm</title>
  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="../../polymer/polymer.html">
  <link rel="import" href="../glomo-cards-dm.html">
  <link rel="import" href="../../cells-demo-helper/cells-demo-helper.html">
  <link rel="import" href="../../cells-demo-dm-helper/cells-demo-dm-helper.html">
  <script src="mocks/mocks.js"></script>
</head>

<body>
  <cells-demo-helper
    breakpoints='{ "desktop": { "width": 1200, "height": 800, "name": "desktop" } }'
    resolution="desktop"
    events='["on-cards-changed","error-on-get-cards"]'>
    <cells-demo-case heading="Generic case" description="Default description">
      <template>
        <template is="dom-bind" id="demo">
          <cells-demo-dm-helper
            loading-data="[[loadingData]]"
            json-data="[[response]]"
            on-get-cards="getDmCards"
            dm-methods="[[dmMethods]]"
            user="[[user]]">
          </cells-demo-dm-helper>

          <glomo-cards-dm
            id="dm" host="https://bbvalabs.com:8001"
            cards="{{response}}"
            on-cards-changed="setLoading">
          </glomo-cards-dm>
        </template>
        <script>
          (function(demo) {
            demo.dmMethods = [
              {
                'event': 'get-cards',
                'label': 'Get Cards',
                'method': 'getCards()'
              },
              {
                'event': 'get-cards',
                'label': 'Get Cards on change state',
                'method': 'getDmCardsOnChangeState()'
              }
            ];

            demo.getDmCards = function() {
              demo.loadingData = true;
              demo.$.dm.getCards();
            };

            demo.getDmCardsOnChangeState = function() {
              demo.loadingData = true;
              demo.$.dm.set('state', true);
            };

            demo.setLoading = function() {
              demo.loadingData = false;
              demo.loading = false;
              demo.$.dm.set('state', false);
            };
            demo.user = {
              userId: '0123456789',
              password: '112233'
            };

          }(document.getElementById('demo')));
        </script>
      </template>
    </cells-demo-case>
  </cells-demo-helper>
</body>

</html>