<link rel="import" href="../../components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../../../components/cells-organism-menu-sidebar/cells-organism-menu-sidebar.html">
<link rel="import" href="../../../components/cells-myb-period-balances/cells-myb-period-balances.html">
<dom-module id="router-example">
  <template>
    <style>
      :host {
        display: block;
      }

      h1 {
        font-family: Lato;
        font-size: 1.3rem;
        font-weight: 300;
        letter-spacing: 2px;
        color: #4a4a4a;
        background-color: #fff;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        text-transform: uppercase;
      }

      h1 strong {
        letter-spacing: normal;
        font-weight: 900;
        color: #224fbd;
        margin-left: 0.8rem;
      }


      button {
        display: flex;
        width: 100%;
        height: 90px;
        border: none;
        border-radius: 2px;
        color: #fff;
        background-color: #224fbd;
        font-size: 14px;
        cursor: pointer;
        padding: 0 40px;
      }

      button span {
        margin-left: 2rem;

      }

      article {
        width: 66%;
        margin: 3rem auto;

      }

      .params {
        background-color: #fff;
        color: #9b9b9b;
        font-weight: 400;

        padding: 80px 40px 40px 40px;

      }

      h2 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1rem;
        margin-top: 0;
        margin-bottom: 0.28rem;
      }

      h2 strong {
        text-transform: none;
      }

      p {
        margin: 0;
        margin-bottom: .68rem;
        text-transform: uppercase;

      }

      p+h2 {
        margin-top: 1.2rem;
      }

      pre {
        margin: 0;
        font-family: inherit;
        font-size: .95rem;
        white-space: pre-wrap;
        padding: 20px;
        background: #eeeeee;
        color: rgba(33, 33, 33, .8);
        margin-bottom: 1.8rem;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 1.8rem;
      }

      li span{
        margin-left: .35rem;
        display: inline-block;
        color: rgba(33, 33, 33, .8);
      }

    </style>

    <paper-drawer-panel id="men" force-narrow>

       <div class="drawer" slot="drawer">
         <cells-organism-menu-sidebar user="[[user]]" id="menu">
           </cells-organism-menu-sidebar>
       </div>
       <!-- <div class="main-content" slot="main">
         <app-header slot="header">
          <app-navigation-bar id="navigationBar" title="[[title]]"></app-navigation-bar>
          <template is="dom-if" if="true">
            <div class="avatar">
              <cells-contact-avatar
                src="https://randomuser.me/api/portraits/women/3.jpg"
                alt="irina">
              </cells-contact-avatar>
              <p class="greeting">"wellcome"</p>
            </div>
          </template>
          <button on-click="toggle">boton</button>
        </app-header>
         <div>
           <div id="app__container"></div>
       </div> -->



     </paper-drawer-panel>
    <!-- <article>
      <div class="params">
        <p>
          routerExample.json
        </p>
        <pre>
  "params": {
      "propertyQueryStringToPrettyUrl": "queryStringToPrettyUrl",
      "propertyQueryStringForUseInRouterPage": "queryStringForUseInRouterPage",
      "propertyOtherqueryStringForUseInRouterPage": "otherQueryStringForUseInRouterPage"
  }</pre>

        <h2>Valor que reciben la Propiedades de la URL</h2>
        <ul>
          <li>propertyQueryStringToPrettyUrl:
            <span>[[propertyQueryStringToPrettyUrl]]</span>
          </li>

          <li>propertyQueryStringForUseInRouterPage:
            <span>[[propertyQueryStringForUseInRouterPage]]</span>
          </li>

          <li>propertyOtherqueryStringForUseInRouterPage:
            <span>[[propertyOtherqueryStringForUseInRouterPage]]</span>
          </li>

        </ul>

      </div>

      <button on-tap="_goToHome">
        <svg width="24" height="18" viewBox="0 0 24 18" style="transform:scale(-1)">
          <path fill="#fff" fill-opacity=".5" fill-rule="evenodd" d="M23.104 6.826L16.72.692a1.021 1.021 0 0 0-1.427.015.975.975 0 0 0 .014 1.4L21.442 8H1.032C.462 8 0 8.43 0 9c0 .57.462 1 1.032 1h20.39l-6.117 5.894a.974.974 0 0 0-.012 1.399c.39.39 1.03.395 1.427.013l6.384-6.15A3.188 3.188 0 0 0 24 9c0-.782-.296-1.576-.896-2.174z"
          />
        </svg>
        <span>Volver a la home</span>
      </button>
    </article> -->
  </template>

  <script>
    (function() {
      Polymer({
        is: 'router-example',
        properties: {

          propertyQueryStringToPrettyUrl: {
            type: String
          },
          propertyQueryStringForUseInRouterPage: {
            type: Number
          },
          propertyOtherqueryStringForUseInRouterPage: {
            type: Number
          },
          user: {
            type: Array,
            value: {
              "firstName": 'María Rodriguez Gutierrez'
            }
          }
        },
        toggle: function() {
          console.log('toggle');
        this.$.men.togglePanel();
      },
        _goToHome: function() {
          this.fire('home-event');
        }
      });
    }());

  </script>

</dom-module>
